
/*used for AI6 Text*/
    /*#breathing-button {
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    text-align: center;    
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}*/






@keyframes float1 {
  from {
  transform:translateY(-4px) rotate3d(0,0,1,3deg);
  }

  to {
     transform:translateY(4px) rotate3d(0,0,1,0deg);
  }
}




.swims {
  position: absolute;
  z-index: 2;
  margin-top: 3px;
  margin-left: 4px;
  animation-duration: 6s;
  animation-name: float1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
}





@keyframes floats {
  from {
    transform:translateY(8px) rotate3d(0,0,1,3deg);
  }

  to {
     transform:translateY(-8px) rotate3d(0,0,1,0deg);
  }
}




.swim2 {
  position:absolute;
  z-index:2;
  animation-duration: 9s;
  animation-name: floats;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
}




@keyframes float {
  from {
    transform:translateY(8px) rotate3d(0,0,1,3deg);
  }

  to {
     transform:translateY(-8px) rotate3d(0,0,1,0deg);
  }
}

@import "compass/css3";


.swim {
  position:absolute;
  z-index:2;
  animation-duration: 5s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
}


/*used for AI5 Text*/

/*#bouncing_text {
	line-height:30px;
}

#bouncing_text p {
	
	-webkit-animation: bouncing 5s ;
	animation: bouncing 5s ;
}*/

/*@-webkit-keyframes bouncing {
	0% {
		-webkit-transform: scale(0.1);
		transform: scale(0.1);
	}

	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
  
  80% {
    -webkit-transform: scale(1);
		transform: scale(1);
  }
  
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes bouncing {
	0% {
		-webkit-transform: scale(0.1);
		transform: scale(0.1);
	}

	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
  
   80% {
    -webkit-transform: scale(1);
		transform: scale(1);
  }

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}*/























