/*
 * general common scss for all games should be added to this file
 * later we should refactor to bring in more common scss
 */

html {
	user-select: none;
	// the autoprefixer doesn't add these automatically
	-moz-user-drag: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img.hidden {
    display: none;
}

.screen:not(.READY) > div {
    display: none;
}
