$text-color: #ffffff;
$background-color: rgba(84,194,242,.7);

.pl-game.PAUSED {

	&:before {
		content: "";
		position: absolute;
		background-color: $background-color;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&:after {
		content: "PAUSED";
		position: absolute;
		font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
		color: $text-color;
		font-size: 72px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 2;
	}
}
