
@{
    ViewBag.Title = "AI6";
}




<style>
    #title img {
        margin-top: 66px;
        margin-left: 92px;
        margin-right: 0px;
        position: absolute;
        z-index: 1;
    }

    .bkg-image img {
        width: 616px;
        margin-left: -30px;
    }

    #sign img {
        float: right;
        margin-top: 384px;
        margin-left: 466px;
        position: absolute;
    }

    .close-Btn {
        margin-top: 10px;
        z-index: 1;
        left: 576px;
        position: absolute;
    }

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: hidden;
    }

   p {
  margin: 0 0 10px;
  position: absolute;
  width: 302px;
  margin-left: 143px;
  margin-top: 86px;
  z-index: 4;
  font-size: 32px;
  text-align: center;
  line-height: 39px;
  font-weight:600;
  font-family: Source Sans Pro;
}

    .flip-off img {
        position: absolute;
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
    }

        .flip-off img:hover {
            position: absolute;
            opacity: 0;
        }


        #video{position:absolute;}


</style>


<script type="text/javascript">




    $(document).ready(function () {
        slide_17.load();
        slide_17.play();

        $('#content2').hide();
        $('#content3').hide();
        $('#content4').hide();
        $('#btn1').hide();

        $('.close-Btn').click(function () {
            $('#retry-level').modal('show');
        });


        $("#Btn-hide1").click(function () {
            $('#retry-level').modal('hide');
        });

        $('#upload').click(function () {
            btn_upload.play()
            $('#content2').hide();
            $('#content3').show();
            slide_13.play();
           ;
        });

        $('#btn').click(function () {
            $('#btn').delay(1000).delay(1000, function () {
                document.location.href = "@Url.Content("~/ActionItem/AI7")";
            });
            btn_click.play();
        });

        $('#play').click(function () {
            $('#content').hide();
            btn_click.play();
            $('#content4').show();
            $('#btn1').delay(1000).fadeIn(2000);
            
        });

        $('#btn1').click(function () {
            $('#content4').hide();
            btn_click.play();
            $('#btn1').hide();
            $('#content2').show();

        });



    });




</script>




<div class="container body-content">
    <div class="col-md-12 content-box">
        <div class="row">
            <div class="close-Btn">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_exit_on.png" class="img-responsive" alt="Responsive image" style="width: 37px;"></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_exit.png" class="img-responsive" alt="Responsive image" style=" width: 37px; margin-top: -38px;"></div>
            </div>

            <div id="title-img">
                <div class="col-md-12 content-box">
                    <div class="col-md-12 bkg-image">
                        <img src="~/Content/images/Background/bkg_6.png" />
                    </div><!-- end bkg-image-->
                    <div id="content">
                        <div id="play">
                            <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_play_on.png" class="img-responsive" alt="Responsive image" style="width: 170px; margin-left: 212px; position: absolute; z-index: 8; margin-top: 238px;"></div>
                            <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_play.png" class="img-responsive" alt="Responsive image" style=" width: 170px; position: absolute; margin-left: 212px; z-index: 9; margin-top: 238px;"></div>
                        </div>
                        <img src="~/Content/images/Frames/frame_9.png" class="img-responsive" alt="Responsive image" style="position: absolute; z-index: 1; width: 511px;margin-left: 29px;margin-top: 42px;">
                        <img src="~/Content/images/Headers/header_meerkat_M.png" class="img-responsive" alt="Responsive image" style="position: absolute; z-index: 1; width: 338px;margin-left: 124px;margin-top: 139px;">
                        <p>Check out the</p>
                    </div>

                   
                    
                    <div id="content4">
                        <div id="video" style="display: block; margin-left: 38px; margin-top: 54px; z-index: 2;">
                            <iframe id="viddler-3aa3b15d" src="//www.viddler.com/embed/3aa3b15d/?f=1&player=mini&secret=104909881&make_responsive=0" width=" 505" height="285" frameborder="0" scrolling="no" allowfullscreen></iframe>
                        </div>
                        <div id="frame">
                            <img src="~/Content/images/frame_video.png" class="img-responsive" alt="Responsive image" style="position:absolute; margin-top: 46px;width: 525px;margin-left: 31px;height: 304px;">
                        </div>
                    </div>
                    <div id="btn1">
                        <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_next_on.png" class="img-responsive" alt="Responsive image" style="width: 88px; margin-left: 524px; position: absolute; z-index: 8; margin-top: 320px;"></div>
                        <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_next.png" class="img-responsive" alt="Responsive image" style=" width: 88px; position: absolute; margin-left: 524px; z-index: 9; margin-top: 320px;"></div>
                    </div>
                     
            



            <div id="content2">
                <div id="upload">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_upload_on.png" class="img-responsive" alt="Responsive image" style="width: 240px; margin-left: 176px; position: absolute; z-index: 8; margin-top: 248px;"></div>
                    <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_upload.png" class="img-responsive" alt="Responsive image" style=" width: 240px; position: absolute; margin-left: 176px; z-index: 9; margin-top: 248px;"></div>
                </div>
                <img src="~/Content/images/Frames/frame_9.png" class="img-responsive" alt="Responsive image" style="position: absolute; z-index: 1; width: 511px;margin-left: 29px;margin-top: 42px;">
                <img src="~/Content/images/Headers/header_meerkat_M.png" class="img-responsive" alt="Responsive image" style="position: absolute; z-index: 1; width: 267px;margin-left: 209px;margin-top: 93px;">
                <p style=" margin-left: 9px; margin-top: 96px;">Do the</p>
                <p style=" margin-top: 131px; margin-left: 29px; width: 510px; letter-spacing: 0px; font-size: 30px;">to show that you look out for others! Take a video and upload it here!</p>
            </div>


            <div id="content3">

                <img src="~/Content/images/Frames/frame_9.png" class="img-responsive" alt="Responsive image" style="position: absolute; z-index: 1; width: 511px;margin-left: 29px;margin-top: 42px;">
                <img src="~/Content/images/Headers/header_meerkat_L.png" class="img-responsive" alt="Responsive image" style="position: absolute; z-index: 1; width: 454px;margin-left: 59px;margin-top: 175px;">
                <p style=" margin-left: 85px; margin-top: 128px; width: 400px;">Thanks for sharing your</p>
                <div id="btn">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_next_on.png" class="img-responsive" alt="Responsive image" style="width: 88px; margin-left: 447px; position: absolute; z-index: 8; margin-top: 257px;"></div>
                    <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_next.png" class="img-responsive" alt="Responsive image" style=" width: 88px; position: absolute; margin-left: 447px; z-index: 9; margin-top: 257px;"></div>
                </div>
            </div>



        </div>
            </div>
            <div id="btn">
               <!-- <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_next_on.png" class="img-responsive" alt="Responsive image" style="width: 88px; margin-left: 469px; position: absolute; z-index: 8; margin-top: 257px;"></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_next.png" class="img-responsive" alt="Responsive image" style=" width: 88px; position: absolute; margin-left: 469px; z-index: 9; margin-top: 257px;"></div>
                  --> 
            </div>
        </div>
    </div>
</div>


<!--Start Correct Answer-->
<div class="modal fade" id="retry-level" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" style="position:absolute;">
    <div class="modal-dialog" style="margin-left: 44px;margin-top: 131px;position: absolute;">
        <div class="modal-content" style="width: 533px; height: 316px;opacity: .9;">
            <div class="blue-border" style="margin-left: -31px; margin-top: -23px; width: 589px; /* height: 408px; */">
                <div class="modal-body custom-font modal-text">

                    <a href="~/ActionItem/AI1">
                        <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_yes_on.png" class="img-responsive" alt="Responsive image" style="width: 93px; margin-left: 132px; position: absolute; z-index: 8; margin-top: 222px;"></div>
                        <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_yes.png" class="img-responsive" alt="Responsive image" style=" width: 93px; position: absolute; margin-left: 132px; z-index: 9; margin-top: 222px;"></div>
                    </a>

                    <div id="Btn-hide1">
                        <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_no_on.png" class="img-responsive" alt="Responsive image" style=" width: 83px; margin-left: 320px; position: absolute;  margin-top: 222px;"></div>
                        <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons//btn_no.png" class="img-responsive" alt="Responsive image" style="width: 83px;margin-left: 320px;  margin-top: 222px;"></div>
                    </div>


                    <div class="second-slide" style=" position: absolute; margin-top: 76px; margin-left: 125px; width: 311px; text-align: center;">
                        <h1>Are you sure you want to quit?</h1>
                    </div><!--end second-slide-->
                    <img src="~/Content/images/Frames/frame_9.png" class="img-responsive" alt="Responsive image" style=" width: 539px; margin-left: 13px;" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start Correct Answer-->

