@import 'variables';

#meet-the-team {
    img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        width: 100%;
    }

    .header {
        margin: 2% 0;

        span {
            text-shadow: -2px -2px 0 $color-gold,
                          2px -2px 0 $color-gold,
                          -3px 2px 0 $color-gold,
                           2px 2px 0 $color-gold;
            color: $color-white;
            font-size: 35px;
            font-weight: 900;
        }
    }

    .barkley,
    .shepherd,
    .wolf {
        position: relative;
        left: 0;
        margin: 0 auto;
        width: 25%;
        height: 100%;

        &::before {
            position: absolute;
            top: 80%;
            left: -5%;
            transform: scaleY(-1);
            opacity: .1;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% 70%;
            width: 110%;
            height: 100%;
            content: '';
            filter: FlipV;
        }

        &::after {
            position: absolute;
            bottom: -10%;
            left: 0;
            background-image: url('#{$media-server}SpritesAnimations/sprites.labels.png');
            background-size: 301%;
            width: 100%;
            height: 15%;
            content: '';
        }

        &.HIGHLIGHTED {
            opacity: .75;
        }
    }

    .barkley::before {
        background-image: url('#{$media-server}ImageAssets/officer.barkley.png');
    }

    .barkley::after {
        background-position: 0 0;
    }

    .shepherd::before {
        background-image: url('#{$media-server}ImageAssets/officer.shepherd.png');
    }

    .shepherd::after {
        background-position: 193px 0;
    }

    .wolf::before {
        background-image: url('#{$media-server}ImageAssets/officer.wolf.png');
    }

    .wolf::after {
        background-position: 386px 0;
    }

    .selectable {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .reveal {
        position: absolute;
        top: 0;
        left: 0;
        background: url('#{$media-server}ImageAssets/bkg.3.jpg');
        width: 100%;
        height: 100%;

        ul {
            position: absolute;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        li {
            opacity: 0;
        }

        &.open-none {
            display: none;
        }

        &.OPEN {
            .OPEN {
                opacity: 1;
            }
        }

        .barkley,
        .shepherd,
        .wolf {
            position: absolute;
        }

        .barkley {
            top: 50%;
            left: 15%;
            transform: translateY(-50%);
            width: 20%;
            height: 45%;
        }

        .shepherd {
            top: 40%;
            left: 40%;
            width: 20%;
            height: 45%;
        }

        .wolf {
            top: 50%;
            left: 65%;
            transform: translateY(-50%);
            width: 20%;
            height: 45%;
        }

        .frame {
            position: absolute;
            background: url('#{$media-server}SpritesAnimations/sprites.profile.png');
        }

        &.open-barkley {
            .frame {
                top: 50%;
                left: 40%;
                transform: translateY(-50%);
                background-size: auto 100%;
                width: 47%;
                height: 34%;

                span {
                    position: absolute;
                    top: 50%;
                    left: 4%;
                    transform: translateY(-60%);
                    width: 96%;
                }
            }
        }

        &.open-shepherd {
            .frame {
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
                background-position: 1060px 0;
                background-size: auto 100%;
                width: 57%;
                height: 34%;

                span {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-75%);
                    width: 100%;
                }
            }
        }

        &.open-wolf {
            .frame {
                top: 50%;
                right: 40%;
                transform: translateY(-50%);
                background-position: 450px 0;
                background-size: auto 100%;
                width: 47%;
                height: 34%;

                span {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-60%);
                    width: 96%;
                }
            }
        }

        button.close-reveal {
            display: block;
            position: absolute;
            right: 1%;
            bottom: 2%;
            transition: opacity 1s;
            z-index: 3;
            background-position: -665px -43px;
            width: 80px;
            height: 50px;

            &:hover {
                background-position: -667px -187px;
            }
        }
    }
}
