@import 'variables';

[id*='whos-at-the-door'] {
    .frame {
        position: absolute;
        width: 47%;
        height: 82%;
        left: 2%;
        top: 50%;
        transform: translateY(-55%);
        background: url('#{$media-server}SpritesAnimations/sprites.dogsinframes.png');
        background-size: auto 100%;

        &.grandpa {
            background-position: -27px 0;
        }

        &.delivery-person {
            background-position: -4107px 0;
        }

        &.sister {
            background-position: -534px 0;
        }

        &.new-neighbor {
            background-position: -2069px 0;
        }

        &.mother {
            background-position: -1049px 0;
        }

        &.brother {
            background-position: -1558px 0;
        }

        &.gas-man {
            background-position: -3082px 0;
        }

        &.close-friend {
            background-position: -2576px 0;
        }

        &.person-with-flat {
            background-position: -3241px 0;
        }

        &.cable-person {
            background-position: -4616px 0;
        }

        &.close-relative {
            background-position: -5127px 0;
        }

        > span {
            position: absolute;
            bottom: -9%;
            left: 50%;
            transform: translateX(-50%);
            color: $color-yellow;
            font-size: 60px;
            font-weight: 900;
            font-style: italic;
            width: 100%;
            line-height: 65px;
        }
    }

    .banner {
        right: 4%;
        top: 5%;
        width: 46%;
        height: 41%;
        background: url('#{$media-server}SpritesAnimations/sprites.h1.png');
        background-position: -632px 0;
        background-size: auto 100%;
        position: absolute;

        &::after {
            width: 100%;
            position: absolute;
            content: '';
            height: 102%;
            background: url('#{$media-server}SpritesAnimations/sprites.h1.png');
            background-position: -1254px 0;
            background-size: auto 100%;
            bottom: -56%;
            left: 0;
        }
    }

    .yes-btn,
    .no-btn {
        position: absolute;
        width: 25%;
        height: 31%;
        background: url('#{$media-server}SpritesAnimations/sprites.mainnav.png');
        background-size: auto 200%;
        top: 54%;
    }

    .yes-btn {
        background-position: -965px 4px;
        left: 49%;

        &:hover {
            background-position: -965px -165px;
        }
    }

    .no-btn {
        background-position: -1212px 4px;
        left: 74%;

        &:hover {
            background-position: -1212px -165px;
        }
    }

    *:not(.OPEN.reveal) {
        display: none;
    }

    .reveal {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: url('#{$media-server}ImageAssets/bkg.dooropened.jpg');
        background-size: 100%;

        ul {
            width: 100%;
            height: 100%;
            position: absolute;
            margin: 0;
        }

        li {
            opacity: 0;
        }

        &.open-none {
            display: none;
        }

        &.OPEN {
            .OPEN {
                opacity: 1;
            }
        }

        &.open-grandpa {
        }

        &.open-delivery-person {
            .frame {
                background-position: -3162px 0;
            }

            .prompt {
                &::before {
                    background-position: 101% 0;
                }
            }
        }

        &.open-sister {
            .frame {
                background-position: -419px 0;
            }
        }

        &.open-new-neighbor {
            .frame {
                background-position: -1595px 0;
            }

            .prompt {
                &::before {
                    background-position: 101% 0;
                }
            }
        }

        &.open-mother {
            .frame {
                background-position: -811px 0;
            }
        }

        &.open-brother {
            .frame {
                background-position: -1203px 0;
            }
        }

        &.open-gas-man {
            .frame {
                background-position: -2373px 0;
            }

            .prompt {
                &::before {
                    background-position: 101% 0;
                }
            }
        }

        &.open-close-friend {
            .frame {
                background-position: -1984px 0;
            }
        }

        &.open-person-with-flat {
            .frame {
                // background-position: -811px 0;
            }
        }

        &.open-cable-person {
            .frame {
                background-position: -3552px 0;
            }

            .prompt {
                &::before {
                    background-position: 101% 0;
                }
            }
        }

        &.open-close-relative {
            .frame {
                background-position: -3941px 0;
            }
        }

        .frame {
            left: 50%;
            transform: translateX(-50%);
            top: 0%;
            width: 35%;
            height: 63%;

            span {
                top: 50%;
                transform: translateY(-25%);
                left: 100%;
                font-size: 65px;
                width: 90%;
                text-shadow: -5px 5px 2px $color-black;
            }
        }

        .prompt {
            position: absolute;
            left: 50%;
            bottom: 4%;
            transform: translateX(-50%);
            width: 80%;
            height: 35%;
            background: url('#{$media-server}ImageAssets/frame.roundedrec.png');
            background-size: 100%;
            background-repeat: no-repeat;

            &::before {
                position: absolute;
                content: '';
                left: 5%;
                width: 33%;
                top: 50%;
                transform: translateY(-50%);
                height: 60%;
                background: url('#{$media-server}SpritesAnimations/sprites.yesno.png');
                background-size: 200%;
                background-repeat: no-repeat;
            }
        }

        .copy {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 26px;
            left: 40%;
            width: 50%;
        }

        img {
            width: 17%;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .barklines {
            width: 10%;
            position: absolute;
            height: 10%;
            right: 18%;
            bottom: 32%;
        }
    }
}
