
@{
    ViewBag.Title = "AI2";
}


<style type="text/css">

    .bad1 {
        position:absolute;
        z-index:10;    
    }


     .bad2 {
        position:absolute;
        z-index:10;    
    }

     .bad3 {
        position:absolute;
        z-index:10;    
    }


     .bad4 {
        position:absolute;
        z-index:10;    
    }


      .bad5 {
        position:absolute;
        z-index:10;    
    }


      .bad6 {
        position:absolute;
        z-index:10;    
    }


     .bad7 {
        position:absolute;
        z-index:10;    
    }


     .bad8 {
        position:absolute;
        z-index:10;    
    }


     .bad9 {
        position:absolute;
        z-index:10;    
    }


     .bad10 {
        position:absolute;
        z-index:10;    
    }


    .good1 {
        position:absolute;
        z-index:10;    
    }


     .good2 {
        position:absolute;
        z-index:10;    
    }

     .good3 {
        position:absolute;
        z-index:10;    
    }


     .good4 {
        position:absolute;
        z-index:10;    
    }


      .good5 {
        position:absolute;
        z-index:10;    
    }


      .good6 {
        position:absolute;
        z-index:10;    
    }


     .good7 {
        position:absolute;
        z-index:10;    
    }


     .good8 {
        position:absolute;
        z-index:10;    
    }


     .good9 {
        position:absolute;
        z-index:10;    
    }


     .good10 {
        position:absolute;
        z-index:10;    
    }




    .smile {
    position: absolute;
    width: 616px;
    height: 400px;
    z-index: 1;
    overflow: hidden;
}


 

</style>


<script type="text/javascript">

    var full;
    var correct_items = new Array();


    $(document).ready(function () {

        $('.nextBtn').hide();
       
        $('.nextBtn').click(function () {
            $('.nextBtn').delay(1000).delay(1000, function () {
                document.location.href = "@Url.Content("~/ActionItem/AI3")";
            });

        });


        $('.ball1').one("click", function () {
            $('.flip-off1').hide();
            correct_items.push(1);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });


        $('.ball2').one("click", function () {
            $('.flip-off2').hide();
            correct_items.push(2);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });


        $('.ball3').one("click", function () {
            $('.flip-off3').hide();
            correct_items.push(3);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });


        $('.ball4').one("click", function () {
            $('.flip-off4').hide();
            correct_items.push(4);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });


        $('.ball5').one("click", function () {
            $('.flip-off5').hide();
            correct_items.push(5);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });


        $('.ball6').one("click", function () {
            $('.flip-off6').hide();
            correct_items.push(6);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });

        $('.ball7').one("click", function () {
            $('.flip-off7').hide();
            correct_items.push(7);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });


        $('.ball8').one("click", function () {
            $('.flip-off8').hide();
            correct_items.push(8);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });


        $('.ball9').one("click", function () {
            $('.flip-off9').hide();
            correct_items.push(9);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });


        $('.ball10').one("click", function () {
            $('.flip-off10').hide();
            correct_items.push(10);
            if (correct_items.length === 10) {
                //pop or redirect your game complete screen
                $('.nextBtn').show();
            }
        });



    });
</script>




<div class="container body-content">
    <div class="col-md-12">
        <div class="row">

            <div class="close-Btn">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_exit_on.png" style="width:30px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_exit.png" style="width: 30px;margin-top: -30px;" /></div>
            </div>

            <img src="~/Content/images/Headers/header_bad_day_bubbles.png" style="width: 515px;margin-top: 8px;margin-left: 49px;position:absolute;z-index: 100; " />
                

            <div class="smile">



                <div class="bad1 ball1">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_1_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 5px;margin-left: 449px;" /></div>
                    <div class="flip-off1" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_1.png" style="width: 153px;margin-top: 5px;position:absolute;z-index: 2;margin-left: 449px;" /></div>
                </div>

                <div class="bad2 ball2">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_2_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 31px;margin-left: 149px;" /></div>
                    <div class="flip-off2" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_2.png" style="width: 153px;margin-top:30px;position:absolute;z-index: 2;margin-left: 149px;" /></div>
                </div>

                <div class="bad3 ball3">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_3_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 131px;margin-left: 49px;" /></div>
                    <div class="flip-off3" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_3.png" style="width: 153px;margin-top: 130px;position:absolute;z-index: 2;margin-left: 49px;" /></div>
                </div>

                <div class="bad4 ball4">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_4_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 31px;margin-left: 349px;" /></div>
                    <div class="flip-off4" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_4.png" style="width: 153px;margin-top: 30px;position:absolute;z-index: 2;margin-left: 349px;" /></div>
                </div>

                <div class="bad5 ball5">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_5_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 21px;margin-left: 9px;" /></div>
                    <div class="flip-off5" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_5.png" style="width: 153px;margin-top: 20px;position:absolute;z-index: 2;margin-left: 9px;" /></div>
                </div>


                <div class="bad6 ball6">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_6_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 3px;margin-left: 449px;" /></div>
                    <div class="flip-off6" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_6.png" style="width: 153px;margin-top: 2px;position:absolute;z-index: 2;margin-left: 449px;" /></div>
                </div>


                <div class="bad7 ball7">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_7_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 3px;margin-left: 249px;" /></div>
                    <div class="flip-off7" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_7.png" style="width: 153px;margin-top: 2px;position:absolute;z-index: 2;margin-left: 249px;" /></div>
                </div>

               
                <div class="bad8 ball8">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_8_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 143px;margin-left: 10px;" /></div>
                    <div class="flip-off8" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_8.png" style="width: 153px;margin-top: 142px;position:absolute;z-index: 2;margin-left: 10px;" /></div>
                </div>

                <div class="bad9 ball9">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_9_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 243px;margin-left: 110px;" /></div>
                    <div class="flip-off9" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_9.png" style="width: 153px;margin-top: 242px;position:absolute;z-index: 2;margin-left: 110px;" /></div>
                </div>

                <div class="bad10 ball10">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_bad_10_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 43px;margin-left: 410px;" /></div>
                    <div class="flip-off10" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_bad_10.png" style="width: 153px;margin-top: 42px;position:absolute;z-index: 2;margin-left: 410px;" /></div>
                </div>



                <div class="good1 ball11">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_1_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 231px;margin-left: 9px;" /></div>
                    <div class="flip-off11" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_1.png" style="width: 153px;margin-top: 230px;position:absolute;z-index: 2;margin-left: 9px;" /></div>
                </div>

                <div class="good2 ball12">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_2_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 31px;margin-left: 333px;" /></div>
                    <div class="flip-off12" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_2.png" style="width: 153px;margin-top:30px;position:absolute;z-index: 2;margin-left: 333px;" /></div>
                </div>

                <div class="good3 ball13">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_3_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 131px;margin-left: 149px;" /></div>
                    <div class="flip-off13" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_3.png" style="width: 153px;margin-top: 130px;position:absolute;z-index: 2;margin-left: 149px;" /></div>
                </div>

                <div class="good4 ball14">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_4_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 31px;margin-left: 353px;" /></div>
                    <div class="flip-off14" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_4.png" style="width: 153px;margin-top: 30px;position:absolute;z-index: 2;margin-left: 353px;" /></div>
                </div>

                <div class="good5 ball15">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_5_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 21px;margin-left: 291px;" /></div>
                    <div class="flip-off15" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_5.png" style="width: 153px;margin-top: 20px;position:absolute;z-index: 2;margin-left: 291px;" /></div>
                </div>


                <div class="good6 ball16">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_6_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 3px;margin-left: 409px;" /></div>
                    <div class="flip-off16" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_6.png" style="width: 153px;margin-top: 2px;position:absolute;z-index: 2;margin-left: 409px;" /></div>
                </div>


                <div class="good7 ball17">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_7_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 3px;margin-left: 320px;" /></div>
                    <div class="flip-off17" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_7.png" style="width: 153px;margin-top: 2px;position:absolute;z-index: 2;margin-left: 320px;" /></div>
                </div>


                <div class="good8 ball18">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_8_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 143px;margin-left: 210px;" /></div>
                    <div class="flip-off18" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_8.png" style="width: 153px;margin-top: 142px;position:absolute;z-index: 2;margin-left: 210px;" /></div>
                </div>

                <div class="good9 ball19">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_9_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 243px;margin-left: 30px;" /></div>
                    <div class="flip-off19" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_9.png" style="width: 153px;margin-top: 242px;position:absolute;z-index: 2;margin-left: 30px;" /></div>
                </div>

                <div class="good10 ball20">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Bubbles/bubble_good_10_on.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 43px;margin-left: 110px;" /></div>
                    <div class="flip-off20" style="z-index:9;"><img src="~/Content/images/Bubbles/bubble_good_10.png" style="width: 153px;margin-top: 42px;position:absolute;z-index: 2;margin-left: 110px;" /></div>
                </div>








            </div><!--end smile-->


                <div class="nextBtn">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_next_on.png" style="width: 129px;position:absolute;z-index: 2;margin-top: 334px;margin-left: 459px;" /></div>
                    <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_next.png" style="width: 129px;margin-top: 333px;position:absolute;z-index: 2;margin-left: 459px;" /></div>
                </div>

        </div>
    </div>
</div><!--end container body-content-->
