html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body {
	position: relative;
	width: 960px;
	margin: auto;
	font-size: 20px;
	background: url(../media/_BKG/BKG_2.png) bottom center no-repeat;
	background-size: cover;


	.background {
		opacity: 0;
		transition: opacity .5s;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center
	}

	.background.black {
		background-image: url(../media/_BKG/BKG_1.png);
	}

	.background.forrest {
		background-image: url(../media/_BKG/BKG_3.png);
	}

	&.black:not(.QUIT-SCREEN) > .background.black,
	&.forrest:not(.QUIT-SCREEN) > .background.forrest {
		opacity: 1;
	}
}

button {
	margin: 0;
	padding: 0;
	border: none;

	font-family: inherit;
	font-size: inherit;
	color: transparent;
	background-color: transparent;
	outline: none;
	cursor: pointer;

	background-image: url(../media/_Buttons/BU_1.png);
	background-size: auto 500px;
	background-position: left top;

	&.close {
		width: 30px;
		height: 30px;
		background-position: -231px 407px;
		position: absolute;
		right: 0;
		top: 0;
		margin: 5px;
		z-index: 2;

		&:hover {
			background-position: -231px 150px;
		}
	}

	&.next-screen,
	&.prev-screen {
		width: 60px;
		height: 60px;
	}

	&.next-screen {
		background-position: -125px 420px;

		&:hover {
			background-position: -125px 664px;
		}
	}

	&.prev-screen {
		background-position: -30px 420px;

		&:hover {
			background-position: -30px 664px;
		}
	}

	&.no {
		width: 230px;
		height: 235px;
		background-position: -300px 500px;

		&:hover {
			background-position: -300px 243px;
		}
	}

	&.accept {
		width: 230px;
		height: 130px;
		background-position: -1320px 450px;

		&:hover {
			background-position: -1320px 193px;
		}
	}

	&.commit {
		width: 230px;
		height: 130px;
		background-position: -1570px 450px;

		&:hover {
			background-position: -1570px 193px;
		}
	}

	&.quit-yes {
		width: 230px;
		height: 130px;
		background-position: -1820px 450px;

		&:hover {
			background-position: -1820px 193px;
		}
	}

	&.quit-no {
		width: 230px;
		height: 130px;
		background-position: -2080px 450px;

		&:hover {
			background-position: -2080px 193px;
		}
	}
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
	margin: 0;
}

p {
	font-size: 28px;
	margin: 0;
}

.spinner {
	position: relative;
	width: 60%; height: 60%;
	animation: pulse 0.5s infinite;
	background: rgba(0,0,0,0.5);
	border-radius: 50px;

}

.spinner > .spinner {
	position: absolute;
	top: 20%; left: 20%;
}

.spinner > .spinner > .spinner {

}

#loader {
	transition: opacity 0.5s;
	opacity: 0;
}

#loader.OPEN {
	opacity: 1;
}

#loader .group > .spinner {
	width: 80px; height: 80px;
	margin: auto;
}

.canvas-src { display: none; }

.screen {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	opacity: 0;
	display: none;
	transition: opacity 1s, transform 0.5s;
	transform: translateX(100%);
}

.screen.last {}

.screen.OPEN {
	opacity: 1;
	transform: translateX(0);
}

.screen.READY {
	display: block;
}

.screen.LEAVE {
	opacity: 1;
	transform: translateX(-100%);
}

	.screen .next-screen,
	.screen .prev-screen {
		position: absolute;
		display: block;
		bottom: 1%;

		z-index: 2;
	}

	.screen .next-screen {
		margin-right: 5px;
		right: 0;
		opacity: 0;
		transform: rotate(-180deg);
		transition: opacity 1s, transform 1s;
	}

	.screen.GATED .next-screen {
		opacity: 0;
		cursor: default;
	}

	.screen.COMPLETE .next-screen {
		opacity: 1;
		transform: rotate(0deg);
		cursor: pointer;
	}

	.screen .next-screen:hover {
		
	}

	.screen .prev-screen {
		margin-left: 5px;
		left: 0;
		
	}
	
	.screen .prev-screen:hover {
		
	}

.screen {
	&.no-frame {
		color: #fff;

		.frame {
			text-align: center;
		}
	}
}

// the following css is specific to this game

#title {
	
}

#quit {

	.frame {
		text-align: center;

		h2 {
			margin: 0;
		}

		button {
			margin: 20px 10px;
		}
	}
}
