.reveal {
  opacity: 0;
  z-index: -1;

  > div {
    height: 400px;
    width: 620px;
  }

  ul {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 0;
  }

  li {
    display: none;
    text-align: center;
    list-style: none;
    opacity: 0;
    transition: opacity 0.5s;

    &.OPEN {
      display: block;
      opacity: 1;
    }
  }

  img {
    width: 400px;
  }

  p {
    line-height: 1.4;
  }

  &.OPEN {
    z-index: 1;
    opacity: 1;
  }
}
