
@{
    ViewBag.Title = "AI1";
}
<link href="~/Content/animate.css" rel="stylesheet" />

<style type="text/css">
    
    .bkg-image {
    background-image: url('@Url.Content("~/Content/images/title_4.png")');
    background-repeat:no-repeat;
    background-size:616px 400px;
    background-color:white;
        height:400px;
        width:616px;
       margin-left:15px;
    }

    
        .flip-off img {
            position: absolute;
            -webkit-transition: opacity 0s ease-in-out;
            -moz-transition: opacity 0s ease-in-out;
            -o-transition: opacity 0s ease-in-out;
            transition: opacity 0s ease-in-out;
        }

            .flip-off img:hover {
                position: absolute;
                opacity: 0;
            }


    .design{position:absolute;z-index:2;}



</style>


<script type="text/javascript">
    $(document).ready(function () {

        titles.load();
        titles.play();


        $('.design').click(function () {
            $('.design').delay(3000).delay(2000, function () {
                document.location.href = "@Url.Content("~/ActionItem/AI2")";
            });
            designBtn.play();
        });





    });
</script>




<div class="container body-content">
    <div class="col-md-12">
        <div class="row">


            <div class="close-Btn">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_exit_on.png" style="width:50px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_exit.png" style="width:50px;margin-top: -52px;" /></div>
            </div>


            <div class="design animated bounce">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_design_on.png" style="width: 174px;position:absolute;z-index: 2;margin-top: 231px;margin-left: 226px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_design.png" style="width: 174px;margin-top: 231px;position:absolute;z-index: 2;margin-left: 226px;" /></div>
            </div>


        </div>
    </div>
</div><!--end container body-content-->