<IfDefine PROTECT>
	AuthType Basic
	AuthName "Password Protected Area"
	AuthUserFile /var/www/.htpasswd
	Require valid-user
</IfDefine>

Options +Indexes
IndexOptions FancyIndexing FoldersFirst SuppressIcon