@{
    ViewBag.Title = "AI2";
}


<link rel="stylesheet" href="~/Content/Arrow.css" />
<link rel="stylesheet" href="~/Content/blinkingCaptions.css" />
<style type="text/css">
    .scape-Btn {
        margin-top: 10px;
        position: absolute;
        z-index: 1;
        left: 563px;
        position: absolute;
        cursor: pointer;
        z-index: 99;
    }

    .scape-Btn img {
        width: 40px;
    }

    .scape-Btn img:first-child {
        position: absolute;
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
    }

    .scape-Btn img:first-child:hover {
        opacity: 0;
    }

    #myCarousel {
        position: absolute;
        z-index: 15;
        margin-left: 190px;
        margin-top: 48px;
        width: 163px;
    }

    .carousel-control.right {
        background-image: none;
    }

    .carousel-control.left {
        background-image: none;
    }

    /*.carousel-caption {
        position: absolute;
        top: 0px;
        text-align: left;
        left: inherit;
        right: inherit;
        width: 280px;
        color: #000;
    }

    .carousel-caption:not(#caption-0) {
        display: none;
    }

    #slider_captions {
        margin-left: 236px;
        margin-top: -120px;
    }*/

    #slider {
        margin-left: 47px;
    }

    .carousel-inner {
        margin-left: 17px;
        width: 334px;
        height:120px;
        top:-43px;
    }

    .item {
        margin-left: 45px;
        cursor: pointer;
        margin-top: 47px;
    }

    .carousel-control {
        margin-top: 30px;
    }

    #slider_captions h2 {
        font-size: 16px;
        margin-top: 1px;
        color: #FFF;
    }


    .dumpster {
        position: absolute;
        z-index: 10;
        margin-left: 118px;
        margin-top: -11px;
    }

    /* Second Carousel */

    #carousel_ul {
        list-style: none;
    }

        #carousel_ul li {
            float: left;
            width: 98px;
            padding: 0px;
            /*  height: 110px; */
            margin-top: 194px;
            margin-bottom: 10px;
            margin-left: 0px;
            margin-right: 0px;
        }

    #carousel_inner {
        overflow: hidden;
        width: 616px;
    }

    #carousel_ul {
        position: relative;
        left: -210px;
        list-style-type: none;
        margin: 0 250px;
        padding: 0px;
        width: 9999px;
        padding-bottom: 10px;
    }
    
    .Time {
        position: absolute;
        z-index: 1;
        margin-top: 10px;
    }
    #score p{
        position: absolute;
        z-index: 1;
        margin-left: 81px;
        color: white;
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    #score h1{
        position: absolute;
        z-index: 1;
        margin-top: 4px;
        color: white;
        font-size: 24px;
        font-family: 'cmwn', sans-serif;
    }
    .Time h1 {
        color: white;
        font-size: 24px;
        font-family: 'cmwn', sans-serif;
    }

    #recycle-li #recycle img{
        margin-left:-13px;
    }

    #trash-li #trash img{
        margin-left:-13px;
    }

    #compost-li #compost img{
        margin-left:-13px;
    }
    
    /*quit screen */
    .background p{
        font-family:'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size:36px;
        line-height:36px;
        color:#000;
    }

    .append-score p{
        font-family:'Source Sans Pro', sans-serif;
        position: absolute;
        left: 114px;
        top: 59px;
        font-weight: 700;
        font-size:48px;
        line-height:36px;
        color:#000;
    }
    
    /* Yes Button */
    #yes-btn {
        position:absolute;
        top: 192px;
        left: 104px;
        cursor:pointer;
    }

    #yes-btn img{
        width:126px;
    }

    #yes-btn img:first-child{
        position: absolute;
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
    }

    #yes-btn img:first-child:hover{
        opacity: 0;
    }

    /* No Button */
    #no-btn {
        position:absolute;
        top: 192px;
        left: 278px;
        cursor:pointer;
    }
    #no-btn img:first-child{
        position: absolute;
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
    }

    #no-btn img:first-child:hover{
        opacity: 0;
    }
    
    /* Exit modal for quit screen */

    .exit-Modal-Btn {
        margin-top: 24px;
        position: absolute;
        z-index: 1;
        left: 443px;
        cursor: pointer;
    }

    .exit-Modal-Btn img {
        width: 30px;
    }

    .exit-Modal-Btn img:first-child {
        position: absolute;
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
    }

    .exit-Modal-Btn img:first-child:hover {
        opacity: 0;
    }
    
    .animated-points{
        position:absolute;
        z-index:1;
        top:223px;
        left:249px;
        width:60px;
    }

    .animated-points h1{
        font-size:24px;
        font-family:'cmwn', sans-serif;
    }

    .animated-points .win h1{
        color:#FFF;
        position:absolute;
    }

    .animated-points .loose h1{
        color:#ff0000;
        position:absolute;
    }

    /* next button for final modal */
    #next-button2{
        position: absolute;
        margin-top:-29px;
        margin-left:279px;
        position:fixed;
        cursor:pointer;
    }

    #next-button2 img{
        position:absolute;
        left:50%;
        bottom:0;
        /*margin-top:-25px;
        margin-left:-25px;*/
        -webkit-animation:bounce 1s infinite;
        -moz-animation:bounce 1s infinite;
        -ms-animation:bounce 1s infinite;
        -o-animation:bounce 1s infinite;
    }

    #next-button2 img:first-child{
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
        position: absolute;
        z-index:10;
        
    }

    #next-button2 img:first-child:hover{
        opacity: 0;
        
    }

    /* last flip screen */

    #next-button3{
        position: absolute;
        margin-left:395px;
        margin-top:-34px;
        position:fixed;
        cursor:pointer;
    }

    #next-button3 img{
        width:62px;
        position:absolute;
        bottom:0;
        /*margin-top:-25px;
        margin-left:-25px;*/
        -webkit-animation:bounce 1s infinite;
        -moz-animation:bounce 1s infinite;
        -ms-animation:bounce 1s infinite;
        -o-animation:bounce 1s infinite;
    }

    #next-button3 img:first-child{
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
        position: absolute;
        z-index:10;
        
    }

    #next-button3 img:first-child:hover{
        opacity: 0;
        
    }

    /* replay button */

    #re-try img{
        position:absolute;
        
        
    }

    #re-try img:first-child{
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
        position: absolute;
        z-index:10;
        
    }

    #re-try img:first-child:hover{
        opacity: 0;
        
    }
    
    /* blink captions */
    .item h2 {
         -webkit-animation-name: blinker;
         -webkit-animation-duration: 1s;
         -webkit-animation-timing-function: linear;
         -webkit-animation-iteration-count: infinite;
    
         -moz-animation-name: blinker;
         -moz-animation-duration: 1s;
         -moz-animation-timing-function: linear;
         -moz-animation-iteration-count: infinite;
    
         animation-name: blinker;
         animation-duration: 1s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;

    }

    
    /*.A {
        width: 100px;
        height: 100px;
        background: blue;
        position: absolute;
        z-index: 1;
        top: 100px;
        left: 100px;
    }

    .B {
        width: 100px;
        height: 100px;
        background: red;
        position: absolute;
        z-index: 1;
        top: 100px;
        left: 250px;
    }*/
</style>



<script src="~/Scripts/jquery.timer.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.touchSwipe.min.js"></script>
<script type="text/javascript">
    
    var start = document.getElementById("start1");
    var runout = document.getElementById("runout4");
    var $countdown;
    var $form;
    var incrementTime = 1000;
    var currentTime;
    var correct_items = new Array();
    //var clicked_item = $(this).attr("#compost");
    //var currentSlide;
    //var rand;


    
    
    $(document).ready(function () {
        try
        {
            Background.load();
            Background.play();
        }
        catch (err)
        {
            //no sound - log error
        }
        $('.carousel-inner').parent().carousel({ pause: true, interval: false });

        currentSlide = Math.floor((Math.random() * $('.item').length));
        rand = currentSlide;
        $('#myCarousel').carousel(currentSlide);
        setInterval(function () {
            while (rand == currentSlide) {

                rand = Math.floor((Math.random() * $('.item').length));
            }
            currentSlide = rand;
            $('#myCarousel').carousel(rand);

        }, 900000);
        // close window
        $('.scape-Btn').click(function () {

            $('#quit-game').modal('show');
        });

        $('#no-btn').click(function () {

            $('#quit-game').modal('hide');
        });

        $('.exit-Modal-Btn').click(function () {
            $('#quit-game').modal('hide');

        });

        // hide Good job sorting screen message
        $('#retry-screen').modal('hide');
        // hide points animation
        $('.win').hide();
        $('.loose').hide();
        // Control dumpster carousel and captions
        

        //$("#slider").on('slide.bs.carousel', function (evt) {

        //    var step = $(evt.relatedTarget).index();

        //    $('#slider_captions .carousel-caption:not(#caption-' + step + ')').fadeOut('fast', function () {
        //        $('#caption-' + step).fadeIn();
        //    });
        //    //Enable swiping...
           
        //});
        //Enable swiping...
        //$(".carousel-inner").swipe( {
        //    //Generic swipe handler for all directions
        //    swipeLeft:function(event, direction, distance, duration, fingerCount) {
        //        $(this).parent().carousel('prev'); 
        //    },
        //    swipeRight: function() {
        //        $(this).parent().carousel('next'); 
        //    },
        //    //Default is 75px, set to 0 for demo so any distance triggers swipe
        //    threshold: 0

        //});
        function playCorrect() {
            try
            {
                correct.load();
                correct.play();
            }
            catch (err) {
                //no sound - log error
            }
        }
        function playWrong() {
            try
            {
                wrong.load();
                wrong.play();
            }
            catch (err) {
                //no sound - log error
            }
        }
        $('.item').click(function () {
            //stop the main carousel
            $('#carousel_ul').carousel().animate('pause',1000);
        });
        ////// click and shoot item to trash cans
        $(".Hit_One,.Hit_two,.Hit_three,.Hit_four,.Hit_five,.Hit_six,.Hit_seven,.Hit_eight,.Hit_nine,.Hit_ten,.Hit_eleven,.Hit_twelve,.Hit_thirteen,.Hit_fourteen,.Hit_fifteen,.Hit_sixteen,.Hit_seventeen,.Hit_eighteen,.Hit_nineteen,.Hit_twenty,.Hit_twentyone,.Hit_twentytwo,.Hit_twentythree,.Hit_twentyfour,.Hit_twentyfive,.Hit_twentysix,.Hit_twentyseven,.Hit_twentyeight,.Hit_twentynine,.Hit_thirty,.Hit_thirtyone,.Hit_thirtytwo,.Hit_thirtythree,.Hit_thirtyfour,.Hit_thirtyfive,.Hit_thirtysix,.Hit_thirtyseven,.Hit_thirtyeight,.Hit_thirtynine,.Hit_forty").dblclick(function (event) {
              
            var click_item = $(this).attr('id');
            var click_correct = $(this).attr('data-correct');
            var item_animate = click_item + "#"
            var current = $('.item');


            //check to see where the carousel paused and find the selected item id
            
                var selected_item = $("#carousel_ul li")[2].id;
                selected_item = selected_item.replace("-li", "");
                
               
                
                if (click_correct === selected_item) {
                    //remove the correct item so ite does not diplay again
                    $(this).remove();
                    
                    //play correct sound
                    //alert('You hit Compost bin');
                    
                    correct_items.push(selected_item);

                    if (correct_items.length === 1) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top : -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 10);
                        
                    }

                    if (correct_items.length === 2) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                        
                    }

                    if (correct_items.length === 3) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                       
                    }

                    if (correct_items.length === 4) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                       
                    }

                    if (correct_items.length === 5) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15});
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                
                    }

                    if (correct_items.length === 6) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                        $('.carousel-inner').carousel({ pause: true, interval: false });
                    }

                    if (correct_items.length === 7) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
       
                    }

                    if (correct_items.length === 8) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                 
                    }

                    if (correct_items.length === 9) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                 
                    }

                    if (correct_items.length === 10) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
   
                    }

                    if (correct_items.length === 11) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                
                    }

                    if (correct_items.length === 12) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
               
                    }

                    if (correct_items.length === 13) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
               
                    }

                    if (correct_items.length === 14) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
             
                    }

                    if (correct_items.length === 15) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
               
                    }

                    if (correct_items.length === 16) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
            
                    }

                    if (correct_items.length === 17) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);

                    }

                    if (correct_items.length === 18) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                   
                    }

                    if (correct_items.length === 19) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                 
                    }

                    if (correct_items.length === 20) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                 
                    }

                    if (correct_items.length === 21) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                  
                    }

                    if (correct_items.length === 22) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                   
                    }

                    if (correct_items.length === 23) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                   
                    }

                    if (correct_items.length === 24) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                
                    }

                    if (correct_items.length === 25) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                
                    }

                    if (correct_items.length === 26) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
               
                    }

                    if (correct_items.length === 27) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
  
                    }

                    if (correct_items.length === 28) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                 
                    }

                    if (correct_items.length === 29) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                  
                    }

                    if (correct_items.length === 30) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                     
                    }

                    if (correct_items.length === 31) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                
                    }

                    if (correct_items.length === 32) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                    
                    }

                    if (correct_items.length === 33) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                     
                    }

                    if (correct_items.length === 34) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                     
                    }

                    if (correct_items.length === 35) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                      
                    }

                    if (correct_items.length === 36) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                     
                    }

                    if (correct_items.length === 37) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
             
                    }

                    if (correct_items.length === 38) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
             
                    }

                    if (correct_items.length === 39) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                   
                    }

                    if (correct_items.length === 40) {
                        playCorrect();
                        $('#score p').html(function (i, val) { return val * 1 + 15 });
                        $('.win').show().animate({ top: -10 }, 800).hide(1000);
                        $('.carousel-inner').parent().carousel('next', 1);
                   
                    }
                    
                }

                else {
                    //play incorrect sound
                    playWrong();
                    $('#score p').html(function (i, val) { return val * 1 - 30 });
                    $('.loose').show().animate({ top: -10 }, 800).hide(1000);
                    $('.carousel-inner').parent().carousel('next', 1);

                }
                
            //});

            $("#" + click_item + "1").animate({
                    'marginTop': "+=220px"  //moves down
                }, 800).hide(1);

            $("#" + click_item + "2").animate({
                    'marginTop': "+=220px"  //moves down
                }, 800).hide(1);

            $("#" + click_item + "3").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "4").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "5").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "6").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "7").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "8").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "9").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "10").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "11").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "12").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "13").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "14").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "15").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "16").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "17").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "18").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "19").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "20").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "21").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "22").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "23").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "24").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "25").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "26").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "27").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "28").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "29").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "30").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "31").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "32").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "33").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "34").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "35").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "36").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "37").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "38").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "39").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            $("#" + click_item + "40").animate({
                'marginTop': "+=220px"  //moves down
            }, 800).hide(1);

            //$("#" + click_item + "").delay(1).fadeTo("2000", 1, function () {

            //    $("#" + click_item + "").css({ 'margin-top': "40px" }).slideDown(1);

            $('#myCarousel').carousel().animate();

            });

            $('#carousel_ul').carousel().animate();
            

        //});

        

        
        startGame();

    });

    function playStart()
    {
        try
        {
            start.loop = true;
            start.play();
        }
        catch (err)
        {
            //no sound - log error
        }
    }
    function pauseStart()
    {
        try {
            start.pause();
        }
        catch (err) {
            //no sound - log error
        }
    }

    function startGame() {
        startTimer();
        
        playStart();
        
    }

    var $countdown;
    var $form;
    var incrementTime = 1000;
    var currentTime;

    var timer1 = new (function () {
        currentTime = '90000'; // 24 hours (in milliseconds)
    });

    function delayTimerStart(delayLength) {


        $('#counter').slideUp(300).delay(delayLength).queue(function () {

        });
    }



    function startTimer() {
        $countdown = $('#counter');
        $countdown.show();

        timer1.Timer = $.timer(updateTimer, incrementTime, true);


    }

    function playWonGame()
    {
        try {
            wongame.load();
            wongame.play();
        }
        catch (err) {
            //no sound - log error
        }
    }

    function playFlip()
    {
        try {
            flip.load();
            flip.play();
        }
        catch (err) {
            //no sound - log error
        }
    }

    function playRunOut()
    {
        try {
            runout.load();
            runout.play();
        }
        catch (err) {
            //no sound - log error
        }
    }

    function updateTimer() {

        // Output timer position
        var timeString = currentTime.toString();
        $countdown.html(displayTime(timeString));

        // If timer is complete, trigger alert
        if (currentTime == 0) {
            timer1.Timer.stop();
            //alert('Times up!');
            try
            {
                start.currentTime = 0;
            }
            catch(err)
            {
                //no sound - log error
            }
            
            pauseStart();
           
           

            setTimeout(function () {
                try
                {
                    Background.pause();
                }
                catch(err)
                {
                    //no sound - log error
                }
                
                $('#carousel_ul').carousel().animate('pause');
                if (correct_items.length >= 10) {
                    //alert('You Win');
                    $('#retry-screen').modal('show');
                    playWonGame();
                    
                    $('#next-button2').click(function () {
                        
                        $('#flip-screen').modal('show');
                        playFlip();

                        //need to tell the system that is is time to award flip
                        $.ajax({
                            url: '@Url.Action("AI3", "ActionItem")',
                            type: 'POST',
                            success: function (data)
                            {
                                //alert('it worked');
                            },
                            error: function (result)
                            {
                                //alert('oopsy');
                            }
                        });

                        $('#retry-screen').modal('hide');
                    });
                    $("#button-replay").click(function () {
                        $('#retry-screen').modal('hide');
                        setTimeout(function () { location.reload(); }, 1000);
                        try
                        {
                            startGame.load();
                        }
                        catch (err) {
                            //no sound - log error
                        }
                        startGame();
                    });
                    
                } else {
                    playRunOut();
                    $('#retry-screen').modal('hide');
                    $('#fail-screen').modal('show');
                }
                
            });



        }
        // Increment timer position
        currentTime -= incrementTime;
        if (currentTime < 0) currentTime = 0;
    }

    function displayTime(timeString) {
        var seconds = ~~((timeString / 1000) % 60);
        var minutes = ~~((timeString / (1000 * 60)) % 60);
        var hours = ~~((timeString / (1000 * 60 * 60)) % 24);

        //alert('hours: ' + hours + ' minutes: ' + minutes + ' seconds: ' + seconds);

        if (seconds < 10) seconds = "0" + seconds;
        if (minutes < 10) minutes = "" + minutes;
        if (hours < 10) hours = "0" + hours;

        //if (hours = 0) hours = "00";
        //if (minutes = 0) minutes = "00";

        return minutes.toString() + seconds.toString();

       

    }

    


    //options( 1 - ON , 0 - OFF)
    var auto_slide = 1;

 

    //speed of auto slide(
    var auto_slide_seconds = 1300;
    /* IMPORTANT: i know the variable is called ...seconds but it's
    in milliseconds ( multiplied with 1000) '*/

    /*move the last list item before the first item. The purpose of this is
    if the user clicks to slide left he will be able to see the last item.*/
    $('#carousel_ul li:first').before($('#carousel_ul li:last'));

    //check if auto sliding is enabled
    if (auto_slide == 1) {
        /*set the interval (loop) to call function slide with option 'right'
        and set the interval time to the variable we declared previously */
        var timer = setInterval('slide("right")', auto_slide_seconds);

        /*and change the value of our hidden field that hold info about
        the interval, setting it to the number of milliseconds we declared previously*/
        $('#hidden_auto_slide_seconds').val(auto_slide_seconds);

    }

  

    function slide(where) {

        //get the item width
        var item_width = $('#carousel_ul li').outerWidth() + 10;


        if (where == 'left') {
            //...calculating the new left indent of the unordered list (ul) for left sliding
            var left_indent = parseInt($('#carousel_ul').css('left')) + item_width;
        } else {
            //...calculating the new left indent of the unordered list (ul) for right sliding
            var left_indent = parseInt($('#carousel_ul').css('left')) - item_width;

        }

        ////make the sliding effect using jQuery's animate function... '
        $('#carousel_ul:not(:animated)').animate({ 'left': left_indent }, 450, function () {

            /* when the animation finishes use the if statement again, and make an ilussion
            of infinity by changing place of last or first item*/
            if (where == 'left') {
                //...and if it slided to left we put the last item before the first item
                $('#carousel_ul li:first').before($('#carousel_ul li:last'));
            } else {
                //...and if it slided to right we put the first item after the last item
                $('#carousel_ul li:last').after($('#carousel_ul li:first'));
            }

            //...and then just get back the default left indent
            $('#carousel_ul').css({ 'left': '-210px' });
        });

    }


    
</script>

<div class="container body-content">
    <div class="col-md-12">
        <div class="row">
            <div class="container">

                <div class="scape-Btn">
                    <img src="~/Content/images/btn_exit_on.png" />
                    <img src="~/Content/images/btn_exit.png" />

                </div>

                @*<div class="A"></div>
            <div class="B"></div>*@

                <!-- SORE -->
                <div id="score">
                    <h1>SCORE:</h1>
                    <p>0</p>
                </div>

                <div class="animated-points">
                    <div class="win"><h1>+ 15</h1></div>
                    <div class="loose"><h1>- 30</h1></div>
                </div>

                <!-- dumpster carousel starts here -->

                <div id="myCarousel" class="carousel slide" data-interval="false">
                    <div class="row">
                       

                            <div class="carousel-inner">


                                <div class="item active">
                                    <div id="apple-core" data-correct="compost" class="Hit_One">
                                        <img src="~/Content/images/Compost/big_apple_core.png" alt="applecore" class="img-responsive" />
                                        <h2 style="margin-left: 196px;margin-top: -104px;color:white;font-size:14px;">Apple Core</h2>
                                    </div>
                                </div><!-- composed -->


                                <div class="item">
                                    <div id="batteries" data-correct="trash" class="Hit_three">
                                        <img src="~/Content/images/Trash/batteries.png" alt="batteries" class="img-responsive" />
                                        <h2 style="margin-left: 196px;margin-top: -104px;color:white;font-size:14px;">Batteries</h2>
                                    </div>
                                </div><!-- trash -->



                                <div class="item">
                                    <div id="computer" data-correct="recycle" class="Hit_five">
                                        <img src="~/Content/images/Recycle/computer.png" alt="computer" class="img-responsive" />
                                        <h2 style="margin-left: 196px;margin-top: -104px;color:white;font-size:14px;">Computer</h2>
                                    </div>
                                </div><!-- recycle -->

                                <div class="item">
                                    <div id="carton-boxes" data-correct="recycle" class="Hit_two">
                                        <img src="~/Content/images/Recycle/carton_boxes.png" alt="carton" class="img-responsive" />
                                        <h2 style="margin-left: 196px;margin-top: -104px;color:white;font-size:14px;">Cardboard</h2>
                                    </div>
                                </div><!-- recycle -->

                                <div class="item">
                                    <div id="banana-peel" data-correct="compost" class="Hit_four">
                                        <img src="~/Content/images/Compost/bannana_peal.png" alt="banana" class="img-responsive" />
                                        <h2 style="margin-left: 196px;margin-top: -104px;color:white;font-size:14px;">Banana peel</h2>
                                    </div>
                                </div><!-- composed -->

                                <div class="item">
                                    <div id="bulb" data-correct="trash" class="Hit_six">
                                        <img src="~/Content/images/Trash/big_bulb.png" alt="bulb" class="img-responsive" />
                                        <h2 style="margin-left: 196px;margin-top: -104px;color:white;font-size:14px;">Light Bulb</h2>
                                    </div>
                                </div><!-- trash -->



                                <div class="item">
                                    <div id="carrot" data-correct="compost" class="Hit_seven">
                                        <img src="~/Content/images/Compost/carrot.png" alt="carrot" class="img-responsive" />
                                        <h2 style="margin-left: 208px;margin-top: -104px;color:white;font-size:14px;">Carrot</h2>
                                    </div>
                                </div><!-- composed -->


                                <div class="item">
                                    <div id="diaper" data-correct="trash" class="Hit_nine">
                                        <img src="~/Content/images/Trash/diaper.png" alt="diaper" class="img-responsive" />
                                        <h2 style="margin-left: 205px;margin-top: -104px;color:white;font-size:14px;">Diapers</h2>
                                    </div>
                                </div><!-- trash -->

                                <div class="item">
                                    <div id="metal-can" data-correct="recycle" class="Hit_eight">
                                        <img src="~/Content/images/Recycle/food_can.png" alt="mtalCan" class="img-responsive" />
                                        <h2 style="margin-left: 196px;margin-top: -104px;color:white;font-size:14px;">Metal Can</h2>
                                    </div>
                                </div><!-- recycle -->

                                <div class="item">
                                    <div id="oatmeal" data-correct="compost" class="Hit_ten">
                                        <img src="~/Content/images/Compost/cereal_bowl.png" alt="oatmeal" class="img-responsive" />
                                        <h2 style="margin-left: 205px;margin-top: -104px;color:white;font-size:14px;">Oatmeal</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="paper-box" data-correct="recycle" class="Hit_eleven">
                                        <img src="~/Content/images/Recycle/juice_carton.png" alt="Paper box" class="img-responsive" />
                                        <h2 style="margin-left:188px;margin-top: -104px;color:white;font-size:14px;">Paper Carton</h2>
                                    </div>
                                </div><!-- recycle -->


                                <div class="item">
                                    <div id="chicken" data-correct="trash" class="Hit_thirteen">
                                        <img src="~/Content/images/Compost/chicken_drum.png" alt="chicken" class="img-responsive" />
                                        <h2 style="margin-left:203px;margin-top: -104px;color:white;font-size:14px;">Chicken</h2>
                                    </div>
                                </div><!-- composed -->


                                <div class="item">
                                    <div id="milk-carton" data-correct="recycle" class="Hit_fourteen">
                                        <img src="~/Content/images/Recycle/milk_carton.png" alt="Milk carton" class="img-responsive" />
                                        <h2 style="margin-left:196px;margin-top: -104px;color:white;font-size:14px;">Milk Carton</h2>
                                    </div>
                                </div><!-- recycle -->



                                <div class="item">
                                    <div id="mirror" data-correct="trash" class="Hit_fifteen">
                                        <img src="~/Content/images/Trash/mirror.png" alt="mirror" class="img-responsive" />
                                        <h2 style="margin-left:209px;margin-top: -104px;color:white;font-size:14px;">Mirror</h2>

                                    </div>
                                </div><!-- trash -->


                                <div class="item">
                                    <div id="magazine" data-correct="recycle" class="Hit_seventeen">
                                        <img src="~/Content/images/Recycle/paper.png" alt="Newspaper" class="img-responsive" />
                                        <h2 style="margin-left:205px;margin-top: -104px;color:white;font-size:14px;">Newspaper</h2>
                                    </div>
                                </div><!-- recycle -->



                                <div class="item">
                                    <div id="oil" data-correct="trash" class="Hit_eighteen">
                                        <img src="~/Content/images/Trash/oil_can.png" alt="oil" class="img-responsive" />
                                        <h2 style="margin-left:205px;margin-top: -104px;color:white;font-size:14px;">Oil Can</h2>
                                    </div>
                                </div><!-- trash -->

                                <div class="item">
                                    <div id="styrofoam" data-correct="trash" class="Hit_twelve">
                                        <img src="~/Content/images/Trash/foam_tray.png" alt="styrofoam" class="img-responsive" />
                                        <h2 style="margin-left:196px;margin-top: -104px;color:white;font-size:14px;">Styrofoam</h2>
                                    </div>
                                </div><!-- trash -->

                                <div class="item">
                                    <div id="egg" data-correct="compost" class="Hit_nineteen">
                                        <img src="~/Content/images/Compost/egg_shell.png" alt="egg" class="img-responsive" />
                                        <h2 style="margin-left:205px;margin-top: -104px;color:white;font-size:14px;">Egg Shells</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="phone" data-correct="recycle" class="Hit_twenty">
                                        <img src="~/Content/images/Recycle/phone.png" alt="phone" class="img-responsive" />
                                        <h2 style="margin-left:197px;margin-top: -104px;color:white;font-size:14px;">Cell Phone</h2>
                                    </div>
                                </div><!-- recycle -->

                                <div class="item">
                                    <div id="cracker" data-correct="compost" class="Hit_sixteen">
                                        <img src="~/Content/images/Compost/cracker.png" alt="cracker" class="img-responsive" />
                                        <h2 style="margin-left:205px;margin-top: -104px;color:white;font-size:14px;">Cracker</h2>
                                    </div>
                                </div><!-- composed -->

                                
                                <div class="item">
                                    <div id="feather" data-correct="compost" class="Hit_twentytwo">
                                        <img src="~/Content/images/Compost/feather.png" alt="feather" class="img-responsive" />
                                        <h2 style="margin-left:197px;margin-top: -104px;color:white;font-size:14px;">A feather</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="bag" data-correct="recycle" class="Hit_twentythree">
                                        <img src="~/Content/images/Recycle/plastic_bag.png" alt="bag" class="img-responsive" />
                                        <h2 style="margin-left:197px;margin-top: -104px;color:white;font-size:14px;">Plastic Bag</h2>
                                    </div>
                                </div><!-- recycle -->


                                <div class="item">
                                    <div id="fish" data-correct="compost" class="Hit_twentyfive">
                                        <img src="~/Content/images/Compost/fish.png" alt="fish" class="img-responsive" />
                                        <h2 style="margin-left:197px;margin-top: -104px;color:white;font-size:14px;">Fish Bones</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="plastic-bottle" data-correct="recycle" class="Hit_twentysix">
                                        <img src="~/Content/images/Recycle/plastic_bottle.png" alt="bottle" class="img-responsive" />
                                        <h2 style="margin-left:193px;margin-top: -104px;color:white;font-size:14px;">Water Bottle</h2>
                                    </div>
                                </div><!-- recycle -->



                                <div class="item">
                                    <div id="flower" data-correct="compost" class="Hit_twentyseven">
                                        <img src="~/Content/images/Compost/flower.png" alt="flower" class="img-responsive" />
                                        <h2 style="margin-left:204px;margin-top: -104px;color:white;font-size:14px;">Flowers</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="plastic-package" data-correct="recycle" class="Hit_twentyeight">
                                        <img src="~/Content/images/Recycle/sauce_container.png" alt="container" class="img-responsive" />
                                        <h2 style="margin-left:209px;margin-top: -104px;color:white;font-size:14px;">Plastic</h2>
                                    </div>
                                </div><!-- recycle -->



                                <div class="item">
                                    <div id="leaf" data-correct="compost" class="Hit_twentynine">
                                        <img src="~/Content/images/Compost/leaf.png" alt="leaf" class="img-responsive" />
                                        <h2 style="margin-left:209px;margin-top: -104px;color:white;font-size:14px;">A Leaf</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="soap" data-correct="recycle" class="Hit_thirty">
                                        <img src="~/Content/images/Recycle/soap_bottle.png" alt="bottle" class="img-responsive" />
                                        <h2 style="margin-left:196px;margin-top: -104px;color:white;font-size:14px;">Soap bottle</h2>
                                    </div>
                                </div><!-- recycle -->

                                <div class="item">
                                    <div id="toast" data-correct="compost" class="Hit_thirtynine">
                                        <img src="~/Content/images/Compost/toast.png" alt="toast" class="img-responsive" />
                                        <h2 style="margin-left:188px;margin-top: -104px;color:white;font-size:14px;">Piece of toast</h2>
                                    </div>
                                </div><!-- composed -->

                                <div class="item">
                                    <div id="hay" data-correct="compost" class="Hit_thirtyone">
                                        <img src="~/Content/images/Compost/matt.png" alt="hay" class="img-responsive" />
                                        <h2 style="margin-left:219px;margin-top: -104px;color:white;font-size:14px;">Hay</h2>
                                    </div>
                                </div><!-- composed -->

                                <div class="item">
                                    <div id="socks" data-correct="trash" class="Hit_twentyfour">
                                        <img src="~/Content/images/Trash/socks.png" alt="socks" class="img-responsive" />
                                        <h2 style="margin-left:197px;margin-top: -104px;color:white;font-size:14px;">Old Sock</h2>
                                    </div>
                                </div><!-- trash -->


                                <div class="item">
                                    <div id="soda-bottle" data-correct="recycle" class="Hit_thirtytwo">
                                        <img src="~/Content/images/Recycle/soda_bottle.png" alt="soda bottle" class="img-responsive" />
                                        <h2 style="margin-left:196px;margin-top: -104px;color:white;font-size:14px;">Soda bottle</h2>
                                    </div>
                                </div><!-- recycle -->



                                <div class="item">
                                    <div id="peanut" data-correct="compost" class="Hit_thirtythree">
                                        <img src="~/Content/images/Compost/peanut.png" alt="peanut" class="img-responsive" />
                                        <h2 style="margin-left:191px;margin-top: -104px;color:white;font-size:14px;">Peanut Shell</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="soda-can" data-correct="recycle" class="Hit_thirtyfour">
                                        <img src="~/Content/images/Recycle/soda_can.png" alt="soda can" class="img-responsive" />
                                        <h2 style="margin-left:199px;margin-top: -104px;color:white;font-size:14px;">Soda can</h2>
                                    </div>
                                </div><!-- recycle -->



                                <div class="item">
                                    <div id="pizza" data-correct="compost" class="Hit_thirtyfive">
                                        <img src="~/Content/images/Compost/pizza.png" alt="pizza" class="img-responsive" />
                                        <h2 style="margin-left:199px;margin-top: -104px;color:white;font-size:14px;">Pizza slice</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="tv" data-correct="recycle" class="Hit_thirtysix">
                                        <img src="~/Content/images/Recycle/T.V.png" alt="tv" class="img-responsive" />
                                        <h2 style="margin-left:216px;margin-top: -104px;color:white;font-size:14px;">T.V.</h2>
                                    </div>
                                </div><!-- recycle -->



                                <div class="item">
                                    <div id="tea" data-correct="compost" class="Hit_thirtyseven">
                                        <img src="~/Content/images/Compost/tea_bag.png" alt="tea bag" class="img-responsive" />
                                        <h2 style="margin-left:204px;margin-top: -104px;color:white;font-size:14px;">Tea Bag</h2>
                                    </div>
                                </div><!-- composed -->



                                <div class="item">
                                    <div id="tissue" data-correct="recycle" class="Hit_thirtyeight">
                                        <img src="~/Content/images/Recycle/tissue.png" alt="tissue" class="img-responsive" />
                                        <h2 style="margin-left:195px;margin-top: -104px;color:white;font-size:14px;">Tissue Box</h2>
                                    </div>
                                </div><!-- recycle -->

                                <div class="item">
                                    <div id="paint" data-correct="trash" class="Hit_twentyone">
                                        <img src="~/Content/images/Trash/paint_bucket.png" alt="paint" class="img-responsive" />
                                        <h2 style="margin-left:197px;margin-top: -104px;color:white;font-size:14px;">Paint Can</h2>
                                    </div>
                                </div><!-- trash -->



                                <div class="item">
                                    <div id="tray" data-correct="recycle" class="Hit_forty">
                                        <img src="~/Content/images/Recycle/tray.png" alt="tray" class="img-responsive" />
                                        <h2 style="margin-left:195px;margin-top: -104px;color:white;font-size:14px;">Plastic tray</h2>
                                    </div>
                                </div><!-- recycle -->



                            </div>

                    </div>
                </div><!-- /.container -->
                <!-- timer -->
                <div class="Time">
                    <h1>TIME:</h1>
                    <p style="margin-left:93px;margin-top:-39px;color: white;font-size: 1.6em;">:</p>
                </div>

                <div class="time-function">

                    <div id="counter" class="text-right" style="position:absolute; font-size:1.5em; color:#FFF; margin-top:29px; margin-left:75px; letter-spacing:6px; z-index:1000;width: 60px;"></div>
                </div>

                <!-- dumpster img-->
                <div class="dumpster">
                    <img src="~/Content/images/dumpster-1.png" />
                </div>


                <!-- animate these items falling in to trash cans -->



                <div id="apple-core1" class="Drop_1" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/big_apple_core.png" style=" width: 44px;" /></div>
                <div id="carton-boxes2" class="Drop_2" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/carton_boxes.png" /></div>
                <div id="batteries3" class="Drop_3" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Trash/batteries.png" /></div>
                <div id="banana-peel4" class="Drop_4" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/bannana_peal.png" /></div>
                <div id="computer5" class="Drop_5" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/computer.png" /></div>
                <div id="bulb6" class="Drop_6" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Trash/big_bulb.png" /></div>
                <div id="carrot7" class="Drop_7" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/carrot.png" /></div>
                <div id="metal-can8" class="Drop_8" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/food_can.png" /></div>
                <div id="diaper9" class="Drop_9" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Trash/diaper.png" /></div>
                <div id="oatmeal10" class="Drop_10" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/cereal_bowl.png" /></div>
                <div id="paper-box11" class="Drop_11" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/juice_carton.png" /></div>
                <div id="styrofoam12" class="Drop_12" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Trash/foam_tray.png" /></div>
                <div id="chicken13" class="Drop_13" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/chicken_drum.png" /></div>
                <div id="milk-carton14" class="Drop_14" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/milk_carton.png" /></div>
                <div id="mirror15" class="Drop_15" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Trash/mirror.png" /></div>
                <div id="cracker16" class="Drop_16" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/cracker.png" /></div>
                <div id="magazine17" class="Drop_17" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/paper.png" /></div>
                <div id="oil18" class="Drop_18" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Trash/oil_can.png" /></div>
                <div id="egg19" class="Drop_19" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/egg_shell.png" /></div>
                <div id="phone20" class="Drop_20" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/phone.png" /></div>
                <div id="paint21" class="Drop_21" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Trash/paint_bucket.png" /></div>
                <div id="feather22" class="Drop_22" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/feather.png" /></div>
                <div id="bag23" class="Drop_23" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/plastic_bag.png" /></div>
                <div id="socks24" class="Drop_24" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Trash/socks.png" /></div>
                <div id="fish25" class="Drop_25" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/fish.png" /></div>
                <div id="plastic-bottle26" class="Drop_26" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/plastic_bottle.png" /></div>
                <div id="flower27" class="Drop_27" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/flower.png" /></div>
                <div id="plastic-package28" class="Drop_28" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/sauce_container.png" /></div>
                <div id="leaf29" class="Drop_29" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/leaf.png" /></div>
                <div id="soap30" class="Drop_30" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/soap_bottle.png" /></div>
                <div id="hay31" class="Drop_31" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/matt.png" /></div>
                <div id="soda-bottle32" class="Drop_32" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/soda_bottle.png" /></div>
                <div id="peanut33" class="Drop_33" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/peanut.png" /></div>
                <div id="soda-can34" class="Drop_34" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/soda_can.png" /></div>
                <div id="pizza35" class="Drop_35" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/pizza.png" /></div>
                <div id="tv36" class="Drop_36" style="position:absolute;z-index:1;margin-top:40px;margin-left: 233px;cursor:pointer;"><img src="~/Content/images/Recycle/T.V.png" /></div>
                <div id="tea37" class="Drop_37" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/tea_bag.png" /></div>
                <div id="tissue38" class="Drop_38" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/tissue.png" /></div>
                <div id="toast39" class="Drop_39" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Compost/toast.png" /></div>
                <div id="tray40" class="Drop_40" style="position:absolute;z-index:1;margin-top:40px;margin-left: 229px;cursor:pointer;"><img src="~/Content/images/Recycle/tray.png" /></div>



                <!-- second carousel for trash cans -->

                <div id='carousel_container' style="position:absolute; z-index:1; margin-top:71px; margin-left: -15px;">
                    <div id='carousel_inner'>
                        <ul id='carousel_ul'>
                            <li id="trash-li">

                                <a id="trash"><img style="width:120px;" src="~/Content/images/bin_trash.png" /></a>
                            </li>
                            <li id="compost-li">

                                <a id="compost"><img style="width:120px;" src="~/Content/images/bin_compost.png" /></a>
                            </li>

                            <li>
                                <div class="blank" style="width:100px;height:100px;"></div>
                            </li>

                            <li id="recycle-li">

                                <a id="recycle"><img style="width:120px;" src="~/Content/images/bin_recycle.png" /></a>
                            </li>
                            <li id="trash-li">

                                <a id="trash"><img style="width:120px;" src="~/Content/images/bin_trash.png" /></a>
                            </li>

                            <li>
                                <div class="blank" style="width:100px;height:100px;"></div>
                            </li>

                            <li id="compost-li">

                                <a id="compost"><img style="width:120px;" src="~/Content/images/bin_compost.png" /></a>
                            </li>
                            <li id="recycle-li">

                                <a id="recycle"><img style="width:120px;" src="~/Content/images/bin_recycle.png" /></a>
                            </li>

                            <li>
                                <div class="blank" style="width:100px;height:100px;"></div>
                            </li>

                        </ul>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div><!--end container body-content-->


<div class="modal fade current" id="quit-game" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false" style="position:absolute; overflow:hidden;">
    <div class="modal-dialog" style="margin-top:132px; margin-left:61px;">
        <div class="modal-content" style="width:500px; height:287px;">

            <div class="exit-Modal-Btn">
                <img src="~/Content/images/btn_exit_on.png" />
                <img src="~/Content/images/btn_exit.png" />

            </div>


            <div class="background">
                <div class="Metal-can">
                    @*<img src="~/Content/images/title.png" />*@
                </div>
                <p style="position:absolute;top: 89px;left: 96px;text-align:center;font-size: 36px;">ARE YOU SURE YOU<br />WANT TO QUIT?</p>

                <img src="~/Content/images/Background/bkg_1.png" />
            </div>

            <div id="yes-btn">

                <img src="~/Content/images/btn_yes_on.png" />
                <img src="~/Content/images/btn_yes.png" />

            </div>

            <div id="no-btn">

                <img src="~/Content/images/btn_no_on.png" />
                <img src="~/Content/images/btn_no.png" />

            </div>

        </div>
    </div>
</div>

<div class="modal fade current" id="retry-screen" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false" style="position:absolute; overflow:hidden;">
    <div class="modal-dialog" style="margin-top:132px; margin-left:61px;">
        <div class="modal-content" style="width:500px; height:0px;">

            


            <div class="background">
                <div class="Metal-can">
                    @*<img src="~/Content/images/title.png" />*@
                </div>

                <img src="~/Content/images/header_5.png" style=" position: absolute;top:25px;left:77px;z-index: 1;width:346px;height:158px;" />
                <img src="~/Content/images/Background/frame.png" />
            </div>

            <div id="re-try" style="position:absolute;top:203px;left:100px;cursor:pointer;">
                <a href="~/ActionItem/AI2">
                    <img src="~/Content/images/btn_replay_on.png" />
                    <img src="~/Content/images/btn_replay.png" />
                </a>
            </div>

            <div id="next-button2">

                <img src="~/Content/images/Arrows/btn_next_on.png" />
                <img src="~/Content/images/Arrows/btn_next.png" />

            </div>

        </div>
    </div>
</div>

<div class="modal fade current" id="fail-screen" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false" style="position:absolute; overflow:hidden;">
    <div class="modal-dialog" style="margin-top:132px; margin-left:61px;">
        <div class="modal-content" style="width:500px; height:0px;">




            <div class="background">
                <div class="Metal-can">
                    @*<img src="~/Content/images/title.png" />*@
                </div>
                <p style="position:absolute;top: 46px;left: 162px;text-align:center;font-size: 36px;"></p>

                <div class="append-score">
                    <p></p>
                </div>
                <img src="~/Content/images/header_7.png" style=" position: absolute;z-index: 1;top: 35px;left: 129px;width:230px;height:164px;" />
                <img src="~/Content/images/Background/frame.png" />
            </div>

            <div id="re-try" style="position:absolute;top:203px;left:210px;cursor:pointer;">
                <a href="~/ActionItem/AI2">
                    <img src="~/Content/images/btn_replay_on.png" />
                    <img src="~/Content/images/btn_replay.png" />
                </a>
            </div>

            

        </div>
    </div>
</div>

<div class="modal fade current" id="flip-screen" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false" style="position:absolute; overflow:hidden;">
    <div class="modal-dialog" style="margin-top:132px; margin-left:61px;">
        <div class="modal-content" style="width:500px; height:287px;">


            <div class="background">
                <div class="Metal-can">
                    @*<img src="~/Content/images/title.png" />*@
                </div>
                @*<p style="position:absolute;top: 68px;left: 64px;text-align:center;">You have now unlocked<br />Junk Shooters!</p>*@
                <p style="position:absolute;top: 136px;left: 128px;text-align:center;">It's <img src="~/Content/images/header_6.png" /> time!</p>
                
                <img src="~/Content/images/Background/bkg_1.png" />
            </div>

            <div id="next-button3">
                <a href="http://changemyworldnow.education/user" target="_parent">
                    <img src="~/Content/images/Arrows/btn_next_on.png" />
                    <img src="~/Content/images/Arrows/btn_next.png" />
                </a>
            </div>

        </div>
    </div>
</div>