.selectable ul {
  padding-left: 20px;
}

.selectable li {
  list-style: circle;
  cursor: pointer;
}

.selectable li.SELECTED {
  list-style: disc;
  font-weight: bold;
}

.selectable li button {
  float: left;
}
