#globe {
	> .center {
		bottom: 100px;
	}

	.characters {
		position: absolute;
		bottom: 0;
		width: 100%;

		.background {
			display: block;
			width: 100%;
		}

		ul {
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			padding: 0;
			margin: 0;
			text-align: center;
			list-style: none;

			li {
				display: inline-block;
				width: 60px; height: 100%;
				background: center no-repeat;
				background-size: 100%;
			}
		}
	}

	.dropzone-component {
		float: left;
		background: center no-repeat;
		background-size: auto 100%;
		width: 330px; height: 330px;

		.area {
			position: absolute;
			top: 0; left: 30px;
			width: 270px; height: 280px;

			img {
				opacity: 0;
				transition: opacity .5s;
				width: 18%;
				position: absolute;

				&.show {
					opacity: 1;
				}

				&:nth-of-type(1) {
					top: 30%;
					left: 60%;
				}

				&:nth-of-type(2) {
					top: 73%;
					left: 19%;
				}

				&:nth-of-type(3) {
					top: 80%;
					left: 44%;
				}

				&:nth-of-type(4) {
					top: 50%;
					left: 40%;
				}

				&:nth-of-type(5) {
					top: 53%;
					left: 16%;
				}

				&:nth-of-type(6) {
					top: 70%;
					left: 60%;
				}

				&:nth-of-type(7) {
					top: 30%;
					left: 30%;
				}

				&:nth-of-type(8) {
					top: 8%;
					left: 40%;
				}

				&:nth-of-type(9) {
					top: 34%;
					left: 7%;
				}

				&:nth-of-type(10) {
					top: 19%;
					left: 16%;
				}
			}
		}
	}

	.frame {
		position: relative;
		overflow: hidden;
		margin: 15px auto;

		img {
			display: block;
			height: 300px;
		}

		.reveal-component .items {
			position: static;
			margin: 0;

			> li {
				position: absolute;
				top: 0;
				padding: 10px;

				> h3 {
					text-align: center;
					font-size: 1.2em;
				}

				> * {
					margin-left: 1em;
					margin-right: 1em;
				}
			}
		}

		.multiple-choice-component {

			ul {
				padding-left: 20px;
			}

			li {
				position: relative;
				margin: 10px 0;
				list-style: none;

				&.SELECTED {
					background: url(../media/images/globe/img_4.11c.png);
					background-size: 100% 100%;
					font-weight: normal;
				}

				> * {
					padding: 10px;
					padding-left: 30px;
					margin: 0;
				}
			}

			li::before {
				position: absolute;
				left: -30px;
				width: 20.5%; height: 100%;
				content: "";
				background: url(../media/images/globe/img_4.11a.png) center no-repeat;
				background-size: auto 90%;
			}

			li.SELECTED::before {
				background-image: url(../media/images/globe/img_4.11b.png);
				background-size: auto 120%;
			}
		}
	}
}
