$media: $media-server + 'Games/DroughtOut/';
$image: $media + 'ImageAssets/';
$sprite: $media + 'SpritesAnimations/';
$vo: $media + 'SoundAssets/vos';
$effect: $media + 'SoundAssets/effects';

$text-color: #8e2d00;
$white: #fff;
$black: #000;
