@keyframes type {
	from { width: 0; }
}

@keyframes type2 {
	0% { width: 0; }
	50% { width: 0; }
}

@keyframes type3 {
	0% { width: 0; }
	67% { width: 0; }
}

@keyframes type4 {
	0% { width: 0; }
	75% { width: 0; }
}
