@keyframes swim {
    100% {background-position: -3080px 0;}
}

.selectable-all {

    .randomizer {
        display: none;
    }

    ul {
        padding: 0;
        text-align: center;
        list-style: none
    }

    li {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 200px;
        top: 600px;
        margin: 0 40px;
        cursor: pointer;

        div:nth-of-type(1),
        div:nth-of-type(2) {
            // content: "";
            background-size: 3000px;
            background-position: -50px 0;
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            animation: swim 1s steps(13) infinite;
        }

        div:nth-of-type(1) {
            background-image: url(../media/images/jellyfish/jellyfish.png);
            opacity: 1;
        }

        div:nth-of-type(2) {
            background-image: url(../media/images/jellyfish/jellyfish-hover.png);
            opacity: 0;
        }
    }

    li:hover,
    li.HIGHLIGHTED {
        div:nth-of-type(1) {
            opacity: 0;
        }

        div:nth-of-type(2) {
            opacity: 1;
        }
    }

    li.HIGHLIGHTED,
    li.LAUNCHED {
        top: -200px;

        &.a {
            /* Id rather do a transform but this works better with click events. I may want to do my own hit testing. */
            transition: top cubic-bezier(1, 0.1, 1, 1) 5s;
        }

        &.b {
            transition: top cubic-bezier(1, 0.1, 1, 1) 6s;
        }

        &.c {
            transition: top cubic-bezier(1, 0.1, 1, 1) 7s;
        }

        &.d {
            transition: top cubic-bezier(1, 0.1, 1, 1) 4s;
        }

        &.e {
            transition: top cubic-bezier(1, 0.1, 1, 1) 3s;
        }
    }
}

