@-moz-keyframes moveLeftToRight {
 0%   { left: -100px; }
 100% { left: 100%; }
}
@-ms-keyframes moveLeftToRight {
 0%   { left: -100px; }
 100% { left: 100%; }
}
@keyframes moveLeftToRight {
 0%   { left: -100px; }
 100% { left: 100%; }
}
@-webkit-keyframes moveLeftToRight {
 0%   { left: -100px; }
 100% { left: 100%; }
}

@-moz-keyframes moveLeftToRight2 {
 0%   { left: -400px; }
 100% { left: 100%; }
}
@-ms-keyframes moveLeftToRight2 {
 0%   { left: -400px; }
 100% { left: 100%; }
}
@keyframes moveLeftToRight2 {
 0%   { left: -400px; }
 100% { left: 100%; }
}
@-webkit-keyframes moveLeftToRight2 {
 0%   { left: -400px; }
 100% { left: 100%; }
}

@-moz-keyframes moveLeftToRight3 {
 0%   { left: -500px; }
 100% { left: 100%; }
}
@-ms-keyframes moveLeftToRight3 {
 0%   { left: -500px; }
 100% { left: 100%; }
}
@keyframes moveLeftToRight3 {
 0%   { left: -500px; }
 100% { left: 100%; }
}
@-webkit-keyframes moveLeftToRight3 {
 0%   { left: -500px; }
 100% { left: 100%; }
}