@-moz-keyframes moveRightToLeft {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@-ms-keyframes moveRightToLeft {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@keyframes moveRightToLeft {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@-webkit-keyframes moveRightToLeft {
 0%   { left: 700px; }
 100% { left: -200px; }
}

@-moz-keyframes moveRightToLeft2 {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@-ms-keyframes moveRightToLeft2 {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@keyframes moveRightToLeft2 {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@-webkit-keyframes moveRightToLeft2 {
 0%   { left: 700px; }
 100% { left: -200px; }
}

@-moz-keyframes moveRightToLeft3 {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@-ms-keyframes moveRightToLeft3 {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@keyframes moveRightToLeft3 {
 0%   { left: 700px; }
 100% { left: -200px; }
}
@-webkit-keyframes moveRightToLeft3 {
 0%   { left: 700px; }
 100% { left: -200px; }
}