@import 'variables';
@import 'mixins';

#carousel {
    .randomizer {
        display: none;
    }

    .group {
        width: 960px;
        height: 540px;
    }

    .carousel {
        width: 400px;
        height: 540px;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
        background-image: url(../media/S_10/img_10.3.png);
        background-size: contain;
        background-position: center center;

        &.disable {
            pointer-events: none;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            left: 0;
            top: 100px;
            width: 375px;
            height: 440px;
            background-image: url(../media/S_10/img_10.2.png);
            background-size: 750px 440px;
            background-position: left top;
            background-repeat: no-repeat;
            cursor: pointer;
            pointer-events: none;
        }

        &:hover {
            &:before {
                background-position: right top;
            }
        }

        div {
            position: absolute;
            top: 0;
            left: 100px;
            display: block;
            width: 210px;
            height: 210px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            transform: translateY(-60px) scale(.6);

            & + div {
                transform: translateY(160px) scale(1);

                & + div {
                    transform: translateY(380px) scale(.6);

                    & + div {
                        transform: translateY(540px) scale(.6);
                    }
                }
            }

            &.LEAVE,
            &.LEAVE ~ div {
                transition: transform 1s;
            }

            &.LEAVE {
                transform: translateY(-220px) scale(.6);

                & + div {
                    transform: translateY(-60px) scale(.6);

                    & + div {
                        transform: translateY(160px) scale(1);

                        & + div {
                            transform: translateY(380px) scale(.6);

                            & + div {
                                transform: translateY(540px) scale(.6);
                            }
                        }
                    }
                }
            }


            $types: loops whorl arch doubleloops;

            @for $i from 1 through 4 {
                &[data-message=#{nth($types, $i)}] {
                    background-image: url(../media/S_10/img_10.#{$i + 3}.png);
                }
            }
        }
    }

    .target {
        position: absolute;
        right: 30px;
        top: 0;
        width: 500px;
        height: 160px;
        background-image: url(../media/S_10/img_10.8.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) scale(.5);
            max-width: 460px;
            max-height: 100px;
            opacity: 0;
            transition: opacity 1s, transform 1s;
        }

        $classes: loops whorl arch doubleloops whorl doubleloops arch loops;
        $amounts:         2         3        3                     2         2                     3        2         3;

        @for $i from 1 through 8 {
            &.#{nth($classes, $i)}-#{nth($amounts, $i)} {
                img:nth-child(#{$i}) {
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1);
                }
            }
        }
    }

    .score {
        position: absolute;
        right: 280px;
        top: 205px;
        width: 500px;
        height: 250px;
        background-image: url(../media/S_10/img_10.9.png);
        background-repeat: no-repeat;
        background-size: 1075px 250px;
        background-position: -565px;
        transform: translateX(50%);

        span {
            display: none;
        }

        .board {
            padding: 30px 20px;
            display: flex;

            div {
                width: 200px;
                height: 190px;
                margin: 0 20px;
                background-size: 90px auto;
                background-position: center center;
                background-repeat: no-repeat;
                transition: transform 0s 1s, opacity 1s, background 0s 1s;
                opacity: 0;
            }
        }

        &.reveal-score {
            display: none;
        }
    }

    [class*="2"] + .score {
        width: 340px;
        background-position: -210px;

        .board {
            div {
                transition: transform 1s, opacity 1s;

                &:nth-of-type(1) {
                    transform: translateX(-340%) translateY(-30%) scale(1.5);
                }

                &:nth-of-type(2) {
                    transform: translateX(-478%) translateY(-30%) scale(1.5);
                }

                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }

    [class*="3"] + .score {

        .board {
            div {
                &:nth-of-type(1) {
                    transform: translateX(-260%) translateY(-32%) scale(1.5);
                }

                &:nth-of-type(2) {
                    transform: translateX(-395%) translateY(-32%) scale(1.5);
                }

                &:nth-of-type(3) {
                    transform: translateX(-530%) translateY(-32%) scale(1.5);
                }
            }
        }
    }

    [class*=loops] + .score {

        .board div {
            background-image: url(../media/S_10/img_10.4.png)
        }
    }

    [class*=whorl] + .score {

        .board div {
            background-image: url(../media/S_10/img_10.5.png)
        }
    }

    [class*=arch] + .score {

        .board div {
            background-image: url(../media/S_10/img_10.6.png)
        }
    }

    [class*=doubleloop] + .score {

        .board div {
            background-image: url(../media/S_10/img_10.7.png)
        }
    }

    @for $i from 1 through 3 {
        .score[data-score="#{$i}"] {
            @for $j from 1 through $i {
                .board div:nth-of-type(#{$j}) {
                    transition: transform 1s, opacity 1s, background 0s 1s;
                    transform: translateX(0%) translateY(0%) scale(1);
                    opacity: 1;
                }
            }
        }
    }

    .reveal {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s, z-index 0s .5s;
        background-color: rgba(0,0,0,.3);

        &.OPEN {
            z-index: 1;
            opacity: 1;
            transition: opacity .5s;
        }

        > div {
            position: absolute;
            background-image: url(../media/_Frame/Fr_3.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 700px;
            height: 400px;
            left: 130px;
            top: 50%;
            margin-top: -200px;
        }

        ul {
            position: static;

            li {
                position: absolute;
                transition: opacity .5s;
                left: 50%;
                top: 50%;
                width: 600px;
                transform: translateX(-50%) translateY(-50%);
                text-align: center;
                font-size: 36px;

                p {
                    padding: 0 10px;
                    @include powder;

                    &:nth-of-type(1) {
                        margin: 0 75px;
                        width: 450px;
                    }

                    &:nth-of-type(2) {
                        margin: 0 43px;
                        width: 514px;
                    }

                    &:nth-of-type(3) {
                        margin: 0 75px;
                        width: 450px;
                    }
                }

                &.SELECTED {
                    opacity: 1;
                }
            }

            img {
                width: 620px;
            }
        }

        button {
            position: absolute;
            right: 35px;
            top: 35px;
        }
    }

    &.OPEN {
        .reveal {
            li {
                p {
                    &:nth-of-type(1) {
                        animation: type 1.25s steps(22, end);
                    }

                    &:nth-of-type(2) {
                        animation: type2 2.5s steps(25, end);
                    }

                    &:nth-of-type(3) {
                        animation: type3 3.75s steps(22, end);
                    }
                }
            }
        }
    }
}
