@keyframes type {
    0% { width: 0; opacity: 0 }
    1% { width: 0; opacity: 1 }
}

@keyframes type2 {
    0% { width: 0; opacity: 0; }
    49% { width: 0; opacity: 0; }
    50% { width: 0; opacity: 1; }
}

@keyframes type3 {
    0% { width: 0; opacity: 0; }
    66% { width: 0; opacity: 0; }
    67% { width: 0; opacity: 1; }
}

@keyframes type4 {
    0% { width: 0; opacity: 0; }
    74% { width: 0; opacity: 0; }
    75% { width: 0; opacity: 1; }
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
