@import 'variables';
@import 'mixins';

#flip {
    .header {
        @include center;
        @include text-stroke(1, $black);
        top: 10%;
        width: 100%;
        font-size: 90px;
    }

    &::after {
        @include center;
        top: 55%;
        border: 5px solid $yellow;
        border-radius: 200px;
        background: $white-transparancy;
        width: 330px;
        height: 350px;
        content: '';
    }
}
