@import 'variables';
@import 'mixins';

#info-definition-of-a-drone,
#info-what-does-it-do {
    .frame {
        top: 45%;
        left: 58%;

        h1 {
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            text-shadow: 2px 2px 2px $black;
            color: $green;
            font-family: 'Luckiest Guy';
            font-size: 45px;
        }

        .content {
            margin-top: 25px;
            line-height: 40px;
            font-size: 30px;
            font-weight: 900;
        }

        &::after {
            position: absolute;
            top: 56%;
            left: -20%;
            transform: rotate(10deg);
            background: url('#{$image}drone.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            width: 50%;
            height: 100%;
            content: '';
        }
    }
}


#info-wanted-your-own-drone,
#info-customize-your-own-drone {
    .frame {
        background-size: cover;
    }

    .copy {
        @include center;
        width: 100%;
        text-shadow: 2px 2px 2px $black;
        line-height: 53px;
        font-family: 'Luckiest Guy';
        font-size: 43px;
    }
}
