@import 'variables';
@import 'mixins';

[id^='info-'] {
    .frame {
        top: 45%;
        left: 58%;

        h1 {
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            color: $green;
            font-size: 38px;
            font-weight: 900;
        }

        .content {
            margin-top: 25px;
            font-size: 25px;
            font-weight: 900;
        }

        &::after {
            position: absolute;
            top: 55%;
            left: -15%;
            transform: rotate(10deg);
            background: url('#{$image}drone.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            width: 50%;
            height: 100%;
            content: '';
        }
    }
}
