@import 'variables';
@import 'mixins';

#info-definition-of-a-drone,
#info-what-does-it-do {
    .frame {
        top: 45%;
        left: 58%;

        h1 {
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            color: $green;
            font-size: 38px;
            font-weight: 900;
        }

        .content {
            margin-top: 25px;
            font-size: 25px;
            font-weight: 900;
        }

        &::after {
            position: absolute;
            top: 55%;
            left: -15%;
            transform: rotate(10deg);
            background: url('#{$image}drone.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            width: 50%;
            height: 100%;
            content: '';
        }
    }
}


#info-wanted-your-own-drone,
#info-customize-your-own-drone {
    .frame {
        background-size: cover;
    }

    .copy {
        @include center;
        @include text-stroke(1, $black);
        width: 100%;
        line-height: 45px;
        font-size: 35px;
    }
}
