@import 'variables';
@import 'mixins';

#types-of-drones {
    $drone-types:
        military
        delivery
        racing
        media;

    .selectable {
        .question-mark {
            @include q-marks-small(1, 130px, 130px);
            position: absolute;

            $tops: 18% 48% 18% 48%;
            $lefts: 2% 2% 85% 85%;

            @for $i from 1 through length($drone-types) {
                &.#{nth($drone-types, $i)} {
                    top: #{nth($tops, $i)};
                    left: #{nth($lefts, $i)};

                    &.HIGHLIGHTED::after {
                        @include center;
                        @include drone-types-icon($i, 130px, 130px);
                        content: '';
                    }
                }
            }
        }
    }

    .reveal {
        &.OPEN {
            z-index: 0;
        }

        .frame {
            top: 40%;
            width: 80%;
            height: 80%;

            $drone-types:
                military
                delivery
                racing
                media;

            @for $i from 1 through length($drone-types) {
                &.#{nth($drone-types, $i)}::after {
                    @include center;
                    @include drone-types-frame($i, 270px, 210px);
                    top: 58%;
                    content: '';
                }
            }
        }


        .header {
            @include center;
            @include text-stroke(3, $black);
            top: 26%;
            width: 65%;
            color: $green;
            font-size: 38px;
            font-weight: 900;
        }

        .copy {
            @include center;
            color: $black;
            font-size: 30px;
        }

        &.instructions .copy {
            top: 50%;
        }

        &:not(.instructions) .copy {
            top: 110%;
            border: 10px solid $green;
            border-radius: 10px;
            background: $white-transparancy;
            padding: 15px;
            width: 100%;
            font-size: 25px;
            font-weight: 900;
        }

        .close-reveal {
            display: none;
        }
    }
}
