
@{
    ViewBag.Title = "AI4";
}





<style type="text/css">

    /* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #01B6F9; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

   #box {
    position: absolute;
    z-index: 1;
    width: 527px;
    margin-left: 44px;
    height: 280px;
    background-color: #FFFFFF;
    margin-top: 61px;
    border-radius: 20px;
    border: solid #01b6f9 2px;
    -webkit-box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
    -moz-box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
    box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
}

      #box1 {
    position: absolute;
    z-index: 2;
    width: 515px;
    margin-left: 50px;
    height: 268px;
    background-color: #01b6f9;
    margin-top: 67px;
    border-radius: 15px;
}
 
      
 #box2 {
    position: absolute;
    z-index: 1;
    width: 527px;
    margin-left: 44px;
    height: 280px;
    background-color: #FFFFFF;
    margin-top: 61px;
    border-radius: 20px;
    border: solid #01b6f9 2px;
    -webkit-box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
    -moz-box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
    box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
}

      #box3 {
    position: absolute;
    z-index: 2;
    width: 515px;
    margin-left: 50px;
    height: 268px;
    background-color: #01b6f9;
    margin-top: 67px;
    border-radius: 15px;
}   

 #box4 {
    position: absolute;
    z-index: 1;
    width: 527px;
    margin-left: 44px;
    height: 280px;
    background-color: #FFFFFF;
    margin-top: 90px;
    border-radius: 20px;
    border: solid #01b6f9 2px;
    -webkit-box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
    -moz-box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
    box-shadow: -2px 2px 16px 5px rgba(86,176,179,0.43);
}

 #box5 {
    position: absolute;
    z-index: 2;
    width: 515px;
    margin-left: 50px;
    height: 268px;
    background-color: #01b6f9;
    margin-top: 96px;
    border-radius: 15px;
}   



.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -28px;
    margin-top: 7px;
    margin-top: 4px \9;
}




input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    width: 24px;
    height: 27px;
}




.form-control {
    display: block;
    width: 143%;
    height: 45px;
    padding: 6px 10px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



</style>






<script type="text/javascript">
    $(document).ready(function () {

        $('#slide_2 img').hide();
        $('#slide_3 img').hide();
        $('.sb2').hide();
        $('.sb3').hide();
        $('#box2').hide();
        $('#box3').hide();
        $('#box4').hide();
        $('#box5').hide();

        $('.frame').hide();
        $('.frame2').hide();
        $('.frame3').hide();
        $('.frame4').hide();
        $('.frame5').hide();
        $('.frame6').hide();
        $('.frame7').hide();
        $('.frame8').hide();
        $('.frame9').hide();




        $('.sm').click(function () {
            $('.frame').show();
            $('.frame2').hide();
            $('.frame3').hide();
            $('.frame4').hide();
            $('.frame5').hide();
            $('.frame6').hide();
            $('.frame7').hide();
            $('.frame8').hide();
            $('.frame9').hide();
        });

        $('.sm2').click(function () {
            $('.frame2').show();
            $('.frame').hide();
            $('.frame3').hide();
            $('.frame4').hide();
            $('.frame5').hide();
            $('.frame6').hide();
            $('.frame7').hide();
            $('.frame8').hide();
            $('.frame9').hide();
        });


        $('.sm3').click(function () {
            $('.frame3').show();
            $('.frame2').hide();
            $('.frame').hide();
            $('.frame4').hide();
            $('.frame5').hide();
            $('.frame6').hide();
            $('.frame7').hide();
            $('.frame8').hide();
            $('.frame9').hide();
        });


        $('.sm4').click(function () {
            $('.frame4').show();
            $('.frame2').hide();
            $('.frame3').hide();
            $('.frame').hide();
            $('.frame5').hide();
            $('.frame6').hide();
            $('.frame7').hide();
            $('.frame8').hide();
            $('.frame9').hide();
        });

        $('.sm5').click(function () {
            $('.frame5').show();
            $('.frame2').hide();
            $('.frame3').hide();
            $('.frame4').hide();
            $('.frame').hide();
            $('.frame6').hide();
            $('.frame7').hide();
            $('.frame8').hide();
            $('.frame9').hide();
        });

        $('.sm6').click(function () {
            $('.frame6').show();
            $('.frame2').hide();
            $('.frame3').hide();
            $('.frame4').hide();
            $('.frame5').hide();
            $('.frame').hide();
            $('.frame7').hide();
            $('.frame8').hide();
            $('.frame9').hide();
        });


        $('.sm7').click(function () {
            $('.frame7').show();
            $('.frame2').hide();
            $('.frame3').hide();
            $('.frame4').hide();
            $('.frame5').hide();
            $('.frame6').hide();
            $('.frame').hide();
            $('.frame8').hide();
            $('.frame9').hide();
        });


        $('.sm8').click(function () {
            $('.frame8').show();
            $('.frame2').hide();
            $('.frame3').hide();
            $('.frame4').hide();
            $('.frame5').hide();
            $('.frame6').hide();
            $('.frame7').hide();
            $('.frame').hide();
            $('.frame9').hide();
        });


        $('.sm9').click(function () {
            $('.frame9').show();
            $('.frame2').hide();
            $('.frame3').hide();
            $('.frame4').hide();
            $('.frame5').hide();
            $('.frame6').hide();
            $('.frame7').hide();
            $('.frame8').hide();
            $('.frame').hide();
        });




        $('.nextBtn').click(function () {
            $('#slide_1 img').fadeOut(2000);
            $('.sb').fadeOut(2000);
            $('#box').fadeOut(2000);
            $('#box1').fadeOut(2000);

            $('#slide_2 img').fadeIn(2000);
            $('.sb2').fadeIn(2000);
            $('#box2').fadeIn(2000);
            $('#box3').fadeIn(2000);
        });



        $('.nextBtn2').click(function () {
            $('#slide_2 img').fadeOut(2000);
            $('#slide_3 img').fadeIn(2000);
            $('.sb2').fadeOut(2000);
            $('#box2').fadeOut(2000);
            $('#box3').fadeOut(2000);
            $('#box4').fadeIn(2000);
            $('#box5').fadeIn(2000);
            $('.sb3').fadeIn(2000);
        });

       

        $('.nextBtn3').click(function () {
            $('.nextBtn3').delay(1000).delay(1000, function () {
                document.location.href = "@Url.Content("~/ActionItem/AI5")";
            });

        });

        $('input[type="checkbox"]').on('change', function () {
            $('input[type="checkbox"]').not(this).prop('checked', false);
        });



    });
</script>




<div class="container body-content">
    <div class="col-md-12">
        <div class="row">

            <div class="close-Btn">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_exit_on.png" style="width:30px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_exit.png" style="width: 30px;margin-top: -30px;" /></div>
            </div>




            <div id="slide_1"><!--start slide_1-->

                <img src="~/Content/images/Headers/header_select_friend.png" style="width: 344px; margin-top: -9px; margin-left: 125px; position: absolute; z-index: 2;" />
                
                <div id="box"></div>
                <div id="box1"></div>


                <div class="sb" style="width: 503px;height: 255px;margin-top: 73px;margin-left: 56px;line-height:3em;overflow-y: scroll;padding: 14px;background-color: #FFFFFF;color:#714D03;border-bottom: 5px solid #FFE500; border-top: 5px solid #FFE500;border-left: 2px solid #FFE500;border-right: 2px solid #FFE500;border-radius: 10px;position:absolute;z-index:10;">
                    
                    <div class="sm"><img src="~/Content/images/Test Kids/pic1.jpg" style="width: 153px;position:absolute;z-index: 2; margin-left:-15px;border-radius: 17px;" /></div>
                    <div class="frame"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-left:-15px;" /></div>

                    <div class="sm2"><img src="~/Content/images/Test Kids/pic2.jpg" style="width: 153px;position:absolute;z-index: 2;margin-left: 145px;border-radius: 17px;" /></div>
                    <div class="frame2"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-left: 145px;" /></div>

                    <div class="sm3"><img src="~/Content/images/Test Kids/pic3.jpg" style="width: 153px;position:absolute;z-index: 2;margin-left: 307px; border-radius: 17px;" /></div>
                    <div class="frame3"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-left: 307px;" /></div>

                    <div class="sm4"><img src="~/Content/images/Test Kids/pic4.jpg" style="width: 153px;position:absolute;z-index: 2;margin-top: 162px;margin-left:-15px;border-radius: 17px;" /></div>
                    <div class="frame4"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 162px;margin-left:-15px;" /></div>

                    <div class="sm5"><img src="~/Content/images/Test Kids/pic5.jpg" style="width: 153px;position:absolute;z-index: 2;margin-top: 162px;margin-left: 145px;border-radius: 22px;" /></div>
                    <div class="frame5"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 162px;margin-left: 145px;" /></div>

                    <div class="sm6"><img src="~/Content/images/Test Kids/pic6.jpg" style="width: 153px;position:absolute;z-index: 2;margin-top: 162px;margin-left: 307px;border-radius: 17px;" /></div>
                    <div class="frame6"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 162px;margin-left: 307px;" /></div>

                    <div class="sm7"><img src="~/Content/images/Test Kids/pic7.jpg" style="width: 153px;position:absolute;z-index: 2;margin-top: 324px;margin-left:-15px;border-radius: 22px;" /></div>
                    <div class="frame7"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 324px;margin-left:-15px;" /></div>

                    <div class="sm8"><img src="~/Content/images/Test Kids/pic8.jpg" style="width: 153px;position:absolute;z-index: 2;margin-top: 324px;margin-left: 145px;border-radius: 17px;" /></div>
                    <div class="frame8"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 324px;margin-left: 145px;" /></div>

                    <div class="sm9"><img src="~/Content/images/Test Kids/pic9.jpg" style="width: 153px;position:absolute;z-index: 2;margin-top: 324px;margin-left: 307px;border-radius: 23px;" /></div>
                    <div class="frame9"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 324px;margin-left: 307px;" /></div>


                </div><!--end sb-->     


                <div class="nextBtn">
                    <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_enter_on.png" style="width: 129px;position:absolute;z-index: 2;margin-top: 344px;margin-left: 459px;" /></div>
                    <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_enter.png" style="width: 129px;margin-top: 343px;position:absolute;z-index: 2;margin-left: 459px;" /></div>
                </div>

            </div><!--end slide_1-->



            <div id="slide_2"><!--start slide_2-->

                <img src="~/Content/images/Headers/header_choose_smile.png" style="width: 533px; margin-top: -1px; margin-left: 41px; position: absolute; z-index: 2;" />

                <div id="box2"></div>
                <div id="box3"></div>


                <div class="sb2" style="width: 503px;height: 255px;margin-top: 73px;margin-left: 56px;line-height:3em;overflow-y: scroll;padding: 14px;background-color: #FFFFFF;color:#714D03;border-bottom: 5px solid #FFE500; border-top: 5px solid #FFE500;border-left: 2px solid #FFE500;border-right: 2px solid #FFE500;border-radius: 10px;position:absolute;z-index:10;">


                    <div class="sm"><img src="~/Content/images/Smiles/Smiles_1.png" style="width: 153px;position:absolute;z-index: 2;" /></div>
                    <div class="frame"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;" /></div>

                    <div class="sm2"><img src="~/Content/images/Smiles/Smiles_2.png" style="width: 153px;position:absolute;z-index: 2;margin-left: 145px;" /></div>
                    <div class="frame2"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-left: 145px;" /></div>

                    <div class="sm3"><img src="~/Content/images/Smiles/Smiles_3.png" style="width: 153px;position:absolute;z-index: 2;margin-left: 307px;" /></div>
                    <div class="frame3"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-left: 307px;" /></div>
                    
                    <div class="sm4"><img src="~/Content/images/Smiles/Smiles_4.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 162px;" /></div>
                    <div class="frame4"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 162px;" /></div>   
                    
                    <div class="sm5"><img src="~/Content/images/Smiles/Smiles_5.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 162px;margin-left: 145px;" /></div>
                    <div class="frame5"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 162px;margin-left: 145px;" /></div>
                    
                    <div class="sm6"><img src="~/Content/images/Smiles/Smiles_6.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 162px;margin-left: 307px;" /></div>
                    <div class="frame6"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 162px;margin-left: 307px;" /></div>
                    
                    <div class="sm7"><img src="~/Content/images/Smiles/Smiles_7.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 324px;" /></div>
                    <div class="frame7"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 324px;" /></div>
                     
                    <div class="sm8"><img src="~/Content/images/Smiles/Smiles_8.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 324px;margin-left: 145px;" /></div>
                    <div class="frame8"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 324px;margin-left: 145px;" /></div>
                
                    <div class="sm9"><img src="~/Content/images/Smiles/Smiles_9.png" style="width: 153px;position:absolute;z-index: 2;margin-top: 324px;margin-left: 307px;" /></div>
                    <div class="frame9"><img src="~/Content/images/select_frame_smile.png" style="width: 153px;position:absolute;z-index: 3;margin-top: 324px;margin-left: 307px;" /></div>


                    </div><!--end sb2-->


                    <div class="nextBtn2">
                        <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_enter_on.png" style="width: 129px;position:absolute;z-index: 2;margin-top: 344px;margin-left: 459px;" /></div>
                        <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_enter.png" style="width: 129px;margin-top: 343px;position:absolute;z-index: 2;margin-left: 459px;" /></div>
                    </div>


                </div><!--end slide_2-->

            
            <div id="slide_3"><!--start slide_3-->

                <img src="~/Content/images/Headers/header_choose_message.png" style="width: 559px; margin-top: 0px; margin-left: 23px; position: absolute; z-index: 12;" />

                <div id="box4"></div>
                <div id="box5"></div>


                <div class="sb3" style="width: 503px;height: 255px;margin-top: 102px;margin-left: 56px;line-height:3em;overflow-y: scroll;padding: 14px;background-color: #FFFFFF;color:#714D03;border-bottom: 5px solid #FFE500; border-top: 5px solid #FFE500;border-left: 2px solid #FFE500;border-right: 2px solid #FFE500;border-radius: 10px;position:absolute;z-index:10;">

                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="" checked>You make everyone around you feel good.</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="">You are a wonderful person.</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="">I think you’re really smart.</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value=""> You inspire me.</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="">I feel safe with you.</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="">You are the coolest kid I know!</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="">You deserve a great day!</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="">You make me happy!</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="">I’m proud to know you!</label></div>
                    <div class="checkbox"><label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="checkbox" value="">I hope you have the best day ever!</label></div>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                    <label style="font-size: 23px; font-family: source sans pro; color: black; font-weight: 900;"><input type="text" class="form-control" placeholder="Write your own..."></label>
                    </label>


                    <div class="nextBtn3" style="margin-left: -8px;">
                        <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_submit_on.png" style="width: 192px; position: absolute; z-index: 2; margin-top: 32px; margin-left: 148px;padding-bottom:30px;" /></div>
                        <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_submit.png" style="width: 192px; margin-top: 32px; position: absolute; z-index: 2; margin-left: 148px;" /></div>
                    </div>
                
                </div><!--end sb3-->

                


            </div><!--end slide_2-->



            


        </div>
    </div>
</div><!--end container body-content-->


