@import 'variables';
@import 'mixins';

[id*=dynamic-diverter] {
    @include game-gages;
    @include game-reveal;

    .bin-name {
        @include position(absolute, null null 0 175px);
        z-index: 3;
        border: 2px solid $black;
        padding: 20px 0;
        width: 200px;
        height: 64px;
    }

    .dropzones {
        > div {
            @include position(absolute, 100px null null 100px);
            @include size(200px 100px);
            z-index: 2;
            background-color: $green;
        }
    }

    .bins {
        @include cover;

        div {
            @include cover;
            background-color: $blue;

            &:nth-of-type(1) {
                z-index: 1;
            }
        }
    }
}
