@import 'variables';
@import 'mixins';
@import 'fonts';

@include reset;
@include bootstrap-game;

body {
    @include text-shadow;
    line-height: 1.2;
    color: $text-color;
    font-family: GROBOLD, "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

.skoash-game {

    > .menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
}

button {
    &.close {
        @include nav-button(2, 50px, 50px);
    }

    &.next-screen,
    &.prev-screen,
    &.close-reveal {
        display: block;
        position: absolute;
        bottom: 10px;
        z-index: 2;
        margin: 0;
        width: 140px;
        height: 55px;
    }

    &.close-reveal,
    &.next-screen {
        @include nav-button(4, 100px, 65px);
        right: 15px;
    }

    &.prev-screen {
        @include nav-button(3, 100px, 65px);
        left: 15px;
    }

    &.quit-yes,
    &.quit-no {
        bottom: 10%;
        width: 220px;
        height: 110px;
    }

    &.quit-yes {
        @include yesno-button(1);
        left: 17%;
    }

    &.quit-no {
        @include yesno-button(2);
        right: 17%;
    }
}

.skoash-game {
    $screens:
        title
        hi-there
        key-is-sorting
        lights
        flip;

    $backgrounds:
        title
        bkg1
        bkg1
        bkg2
        bkg1;

    @include screen-backgrounds($screens, $backgrounds);

    .background {
        $background-classes:
            bkg1
            bkg2
            bkg3
            bkg4
            transition
            quit;
        $background-images:
            'background.01'
            'background.02'
            'background.03'
            'background.04'
            'background.transition'
            'quit.background';

        @for $i from 1 through length($background-classes) {
            &.#{nth($background-classes, $i)} {
                @include background('#{$image}#{nth($background-images, $i)}.jpg');
                background-size: cover;
            }
        }
    }
}

.screen {
    .VOICE-OVER:not(.DEMO) & {
        .screen-content {
            pointer-events: none;
        }
    }
}

.selectable {
    @include selectable;
}

.randomizer {
    @include randomizer;
}

.reveal {
    @include reveal;
}
