$transform: scale(1.3) translateX(-50%) translateY(185px);
@keyframes pour {
    0% {
        transform: $transform rotate(0deg);
    }

    50% {
        transform: $transform rotate(-45deg);
    }

    100% {
        transform: $transform rotate(0deg);
    }
}
