@import 'variables';
@import 'mixins';

[id*=pre-level],
[id*=post-level] {
    .stars {
        display: flex;
        height: 40px;
        justify-content: center;

        div {
            @include size(40px);
            margin: 0 10px;
            background-color: $green;

            &.earned {
                background-color: $blue;
            }
        }
    }
}
