@import 'variables';
@import 'mixins';

[id*=master-sorter] {
    @include game-gages;
    @include game-reveal;

    .top-left {
        @include center;
        top: auto;
        bottom: -30px;
    }

    .item-name {
        transition: opacity .5s;
        opacity: 0;

        &.ACTIVE {
            opacity: 1;
        }
    }

    .life {
        top: 25%;
    }

    .manual-dropper {
        position: absolute;
        right: 0;
        bottom: 0;
        transition: transform .5s;
        width: 75%;
        height: 50%;

        .items {
            @include cover;

            > * {
                @include cover;
                top: 0;
                left: 0;
                transition: left .5s $ease-out, transform .5s;
                background-color: $green;
                width: 250px;
                height: 250px;

                &::before {
                    font-size: 10px;
                    content: attr(data-message);
                }

                $lefts: 20 130;
                @for $i from 1 through length($lefts) {
                    &:nth-of-type(#{$i}) {
                        left: percentage(nth($lefts, $i) / 100);
                    }
                }

                $bins:  LIQUIDS   RECYCLE  LANDFILL   COMPOST;
                $tops:     -120       200       200       200;
                $lefts:     -30        10       240       460;
                $tds: $ease-out  $ease-in  $ease-in  $ease-in;
                $lds:  $ease-in $ease-out $ease-out $ease-out;
                @for $i from 1 through length($bins) {
                    &.#{nth($bins, $i)} {
                        top: #{nth($tops, $i)}px;
                        left: #{nth($lefts, $i)}px;
                        transition: top .5s #{nth($tds, $i)}, left .5s #{nth($lds, $i)}, transform .5s;
                    }
                }

                &.POUR {
                    animation: pour 1s;
                }
            }
        }
    }

    .bins {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }

    .catch,
    .selectable {
        @include cover;
        display: flex;
        height: 100%;
        justify-content: center;

        div,
        li {
            margin: 0 10px;
            width: 200px;
            height: 100%;

            &.liquids {
                @include position(absolute, 300px null null 0);
            }
        }

        li {
            background-color: $blue;

            &::before {
                content: attr(data-message);
            }
        }
    }
}
