$media: $media-server + 'Games/greenTeamChallenge/';
$sprite: $media + 'SpritesAnimations/';
$image: $media + 'ImageAssets/';
$frame: $media + 'Frames/';

$black: #000;
$white: #fff;
$text-color: $black;

$transparent: transparent;
$transparent-red: rgba(195, 97, 55, .9);
$transparent-green: rgba(0, 97, 0, .9);

// colors to be removed
$green: #0f0;
$blue: #00f;

$ease-in: cubic-bezier(.66,.34,.8,.53);
$ease-out: cubic-bezier(.26,.72,.6,.74);
