body{
	margin: 0px auto;
	text-align: center;
	background: #333333;
}


.wrapper {
  width: 90%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 55.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
  /* let's see it! */
  color: white;
  background-image: url("images/bg.png");
  background-size: cover;
  font-size: 1.5em;
  overflow: hidden;

}

.main img { 
	position: absolute;
	top: 10%;
	left: 10%;
	max-width: 60%;
	max-height: 60%;
}

.main .intro-text {
	position: absolute;
	top: 10%;
	right: 10%;
	font-size: 4em;
	color: yellow;
	width: 50%;
}