#multi-bubbles {
	.group {
		text-align: center;
		width: 960px;
		height: 540px;
	}

	img {
		width: 840px;
		margin: -30px auto;
	}

	.items {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 960px;
		height: 540px;
		margin: -270px -480px;
		display: block;
	}

	li {
		position: absolute;
		background-image: url('../media/_images/_S_MultiBubbles/img_7.3.png');
		background-size: 1602px;
		background-repeat: no-repeat;
		cursor: pointer;
		animation: bob 6s infinite;
		transition: opacity .5s;

		&.HIGHLIGHTED {
			opacity: 0;
			cursor: auto;
			pointer-events: none;
		}

		&[pl-id=swim] {
			width: 80px;
			height: 80px;
			background-position: -50px -50px;
			top: 40px;
			left: 20px;

			&:hover {
				background-position: -250px -50px;
			}
		}

		&[pl-id=washDishes] {
			width: 100px;
			height: 100px;
			background-position: -440px -40px;
			top: 385px;
			left: 680px;

			&:hover {
				background-position: -640px -41px;
			}
		}

		&[pl-id=growCrops] {
			width: 120px;
			height: 120px;
			background-position: -830px -40px;
			top: 105px;
			left: 500px;

			&:hover {
				background-position: -1030px -40px;
			}
		}

		&[pl-id=tapDance] {
			width: 100px;
			height: 100px;
			background-position: -1240px -50px;
			top: 55px;
			left: 850px;

			&:hover {
				background-position: -1440px -50px;
			}
		}

		&[pl-id=cook] {
			width: 80px;
			height: 80px;
			background-position: -50px -285px;
			top: 230px;
			left: 420px;

			&:hover {
				background-position: -250px -285px;
			}
		}

		&[pl-id=cleanHouse] {
			width: 100px;
			height: 100px;
			background-position: -440px -275px;
			top: 80px;
			left: 345px;

			&:hover {
				background-position: -640px -275px;
			}
		}

		&[pl-id=runFactories] {
			width: 120px;
			height: 120px;
			background-position: -830px -265px;
			top: 140px;
			left: 35px;

			&:hover {
				background-position: -1030px -265px;
			}
		}

		&[pl-id=playBasketball] {
			width: 120px;
			height: 120px;
			background-position: -1230px -265px;
			top: 260px;
			left: 155px;

			&:hover {
				background-position: -1430px -265px;
			}
		}

		&[pl-id=drinkIt] {
			width: 80px;
			height: 80px;
			background-position: -50px -520px;
			top: 80px;
			left: 175px;

			&:hover {
				background-position: -250px -520px;
			}
		}

		&[pl-id=washFace] {
			width: 100px;
			height: 100px;
			background-position: -440px -510px;
			top: 350px;
			left: 25px;

			&:hover {
				background-position: -640px -510px;
			}
		}

		&[pl-id=laundry] {
			width: 120px;
			height: 120px;
			background-position: -830px -500px;
			top: 120px;
			left: 635px;

			&:hover {
				background-position: -1030px -500px;
			}
		}

		&[pl-id=flyAKite] {
			width: 120px;
			height: 120px;
			background-position: -1230px -500px;
			top: 260px;
			left: 835px;

			&:hover {
				background-position: -1430px -500px;
			}
		}

		&[pl-id=brushTeeth] {
			width: 80px;
			height: 80px;
			background-position: -50px -750px;
			top: 180px;
			left: 255px;

			&:hover {
				background-position: -250px -750px;
			}
		}

		&[pl-id=takeShowers] {
			width: 100px;
			height: 100px;
			background-position: -440px -740px;
			top: 290px;
			left: 305px;

			&:hover {
				background-position: -640px -740px;
			}
		}

		&[pl-id=drive] {
			width: 80px;
			height: 80px;
			background-position: -850px -750px;
			top: 255px;
			left: 695px;

			&:hover {
				background-position: -1050px -750px;
			}
		}

		&[pl-id=zipline] {
			width: 100px;
			height: 100px;
			background-position: -40px -975px;
			top: 290px;
			left: 545px;

			&:hover {
				background-position: -240px -975px;
			}
		}

		&[pl-id=crochet] {
			width: 120px;
			height: 120px;
			background-position: -430px -965px;
			top: 390px;
			left: 405px;

			&:hover {
				background-position: -630px -965px;
			}
		}

		&[pl-id=read] {
			width: 80px;
			height: 80px;
			background-position: -850px -985px;
			top: 425px;
			left: 585px;

			&:hover {
				background-position: -1050px -985px;
			}
		}

		&[pl-id=sleep] {
			width: 100px;
			height: 100px;
			background-position: -50px -1220px;
			top: 160px;
			left: 775px;

			&:hover {
				background-position: -250px -1220px;
			}
		}

		&[pl-id=tellTime] {
			width: 100px;
			height: 100px;
			background-position: -435px -1210px;
			top: 410px;
			left: 215px;

			&:hover {
				background-position: -635px -1210px;
			}
		}

		&[pl-id=talk] {
			width: 80px;
			height: 80px;
			background-position: -850px -1220px;
			top: 425px;
			left: 825px;

			&:hover {
				background-position: -1050px -1220px;
			}
		}
	}

	.score-component {
		position: absolute;
		left: 50px;
		bottom: 0;
		color: #fff;

		img {
			width: 180px;
			margin: 0;
			vertical-align: middle;
		}

		p {
			display: inline-block;
			vertical-align: bottom;
			padding-bottom: 4px;
			margin-left: -15px;
		}
	}

	&.VOICE-OVER {
		li {
			cursor: auto;
			pointer-events: none;
		}
	}
}
