@import 'variables';

* {
    box-sizing: border-box;
}

html,
body,
body > div,
body > div > div {
    margin: 0;
    cursor: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    user-drag: none;
}

html {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
}

body > div > div {
    position: relative;
    margin: auto;
    width: 960px;
    height: 540px;
    color: $white;
    font-size: 36px;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .5s;
        opacity: 0;
        background-position: center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;

        &.bkg-1 {
            background: url('../media/images/background-title.png'); //blue tile
        }

        &.bkg-2 {
            background-image: url('../media/images/background.png'); // white tile
        }

        &.bkg-3 {
            background-image: url('../media/images/background-plant.png');// plant
        }

        &.bkg-4 {
            background-image: url('../media/images/background-released.png');// released
        }

        &.bkg-5 {
            background-image: url('../media/images/background-catcher.png');// catch game
        }

        &.bkg-6 {
            background-image: url('../media/images/background-flip.png');//flip
        }

    }

    .background.bkg-1,
    &.SCREEN-2 .background.bkg-2,
    &.SCREEN-3 .background.bkg-3,
    &.SCREEN-6 .background.bkg-4,
    &.SCREEN-7 .background.bkg-2,
    &[class *='catch-game-lvl'] .background.bkg-5,
    &.SCREEN-13 .background.bkg-2,
    &.SCREEN-14 .background.bkg-6 {
        opacity: 1;
    }


    &.MENU-quit {
        .screen:not(#quit) {
            opacity: 0;
        }
    }
}

button {
    margin: 0;
    outline: none;
    border: 0;
    background: url('../media/images/buttons.png');
    background-color: transparent;
    background-size: 1500px 427px;
    cursor: pointer;
    padding: 0;
    color: transparent;
    font-family: inherit;
    font-size: inherit;

    &.close {
        position: absolute;
        top: 1%;
        right: 1%;
        z-index: 2;
        background-position: 562px 353px;
        width: 6%;
        height: 12%;

        &:hover {
            background-position: 562px 140px;
        }
    }

    &.next-screen,
    &.prev-screen {
        width: 10%;
        height: 14%;
    }

    &.next-screen {
        background-position: 1004px 359px;

        &:hover {
            background-position: 1004px 146px;
        }
    }

    &.prev-screen {
        background-position: 1220px 359px;

        &:hover {
            background-position: 1220px 146px;
        }
    }

    &.close-reveal {
        background-position: -225px 420px;
        width: 55px;
        height: 50px;

        &.ENABLED:hover {
            background-position: -225px 676px;
        }
    }

    &.quit-yes {
        background-position: -1830px 495px;
        width: 230px;
        height: 230px;

        &:hover {
            background-position: -1830px 251px;
        }
    }

    &.quit-no {
        background-position: -2080px 495px;
        width: 230px;
        height: 230px;

        &:hover {
            background-position: -2080px 251px;
        }
    }
}

body.DEMO .reveal-component .items li div .close-reveal {
    cursor: pointer;

    &:hover {
        background-position: -225px 676px;
    }
}

h2 {
    font-size: 40px;
}

h3 {
    margin: 0;
    font-size: 30px;
}

p {
    margin: 0;
    font-size: 28px;
}

// preload game assets
#asset-bin {
    display: none;
}

.canvas-src { display: none; }

.screen {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .5s, z-index 0s 1s;
    opacity: 0;
    z-index: -1;
    width: 960px;
    height: 540px;
    overflow: hidden;

    &:not(.COMPLETE) {
        button {
            &.next-screen {
                cursor: auto;
            }
        }
    }

    &.OPEN {
        transition: opacity .5s, z-index 0s;
        opacity: 1;
        z-index: 1;
    }

    &.READY {
        display: block;
    }

    &.GATED .next-screen {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        cursor: auto;
    }

    .next-screen,
    .prev-screen {
        position: absolute;
        bottom: 2%;
        visibility: visible;
        z-index: 2;
    }

    .next-screen {
        right: 1%;
        transition: visibility 1s, opacity 1s;
        visibility: hidden;
        opacity: 0;
    }
}

.DEMO .screen .next-screen,
.screen.COMPLETE .next-screen,
.screen.REPLAY .next-screen {
    transform: rotate(0deg) translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
    z-index: 2;
    cursor: pointer;
    pointer-events: auto;
}

.MENU.MENU-quit .menu .close {
    visibility: hidden;
}


.screen .prev-screen {
    left: 1%;
}

// the following css is specific to this game
.dropzone + ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.reveal {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .5s, z-index 0s .6s;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    div {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -120px;
        background-size: 100% 100%;
        width: 100%;
        height: 240px;
    }

    ul {
        margin: 0;
        height: 100%;

        li {
            margin: 0;
            height: 100%;

            p {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                text-align: center;
                color: $black;
            }

        }
    }

    .close-reveal {
        position: absolute;
        right: 5px;
        bottom: 10px;
        transition: opacity .5s ease .5s, visibility .25s ease .25s, z-index 0s .6s;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
    }

    &.OPEN {
        transition: opacity .5s;
        opacity: 1;
        z-index: 2;

        .close-reveal {
            visibility: visible;
            opacity: 1;
        }
    }
}

.VOICE-OVER:not(.DEMO),
.SFX:not(.DEMO) {
    .draggable,
    .selectable > * {
        pointer-events: none;
    }
}

.VOICE-OVER,
.SFX {
    &:not(.DEMO) {
        .reveal {
            .close-reveal {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

.video {
    background: url('../media/_Frames/FR_2.png') center center no-repeat;
    background-size: 100% 100%;

    video {
        margin: 15px 15px 34px;
    }
}

#title {
    .center {
        transform: rotateY(90deg);
        opacity: 0;
        margin-left: 20%;

        background-image: url('../media/images/title/background.png');
        background-repeat: no-repeat;
        background-size: 55%;

        &.COMPLETE {
            transform: rotateY(0);
            transition: transform 2s, opacity 2s, background-size 1s;
            opacity: 1;
            z-index: 1;
            background-size: 71%;
            transform-origin: top left;
        }
    }

    .logo {
        margin-top: -4%;
        margin-left: -31%;
        width: 60%;
    }

    &.OPEN {
        .logo {
            animation-name: fadeInUp;
            animation-delay: 1s;
        }
    }

    &.LEAVING {
        .logo {
            animation-name: flushTitle;
            animation-duration: 3s;
            animation-iteration-count: 1;
            opacity: 0;
        }
    }

    .next-screen {
        z-index: 1;
        background-position: 0 6px;
        width: 240px;
        height: 208px;

        &:hover {
            background-position: 0 -207px;
        }
    }
}

#info-question {
    img {
        position: absolute;

        &.toilet {
            bottom: 0;
            left: 0;
            width: 50%;
        }
    }

    .message {
        position: absolute;
        top: 6%;
        right: 10%;
        background-image: url('../media/images/frame.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40%;
        height: 46%;
        text-align: center;
        font-size: 1.4em;

        h3 {
            position: absolute;
            top: 23%;
            left: 14%;
            color: $black;
        }
    }

    .next-screen {
        right: 18%;
        bottom: 7%;
        z-index: 1;
        background: url('../media/S_3/img_3.2.png');
        background-position: 1px -3px;
        background-size: cover;
        width: 25%;
        height: 44%;

        &:hover {
            background-position: 238px 0;
        }
    }
}

#info-plant,
#info-released {
    h2 {
        margin: 20px auto;
        width: 700px;
        text-align: center;
        color: $black;
        font-size: 30px;
    }
}

#flush-it {
    .dropzone {
        position: absolute;
        top: 38%;
        left: 40%;
        width: 20%;
        height: 41%;

        &::before {
            position: absolute;
            top: -95%;
            left: -29%;
            background: url('../media/S_6/img_6.1.png');
            background-repeat: no-repeat;
            background-position: 13px 0;
            background-size: 90%;
            width: 159%;
            height: 246%;
            content: '';
        }

        &.disable {
            pointer-events: none;

            + ul {
                pointer-events: none;
            }
        }
    }

    ul li {
        position: absolute;
        width: 3%;
        height: 5%;

        &:nth-of-type(1) {
            top: 12%;
            left: 14%;

            div.wipes {
                &::after {
                    background-position: 10px 11px;
                }

                &.CORRECt::after {
                    background-position: 3px 5px;
                }
            }
        }

        &:nth-of-type(2) {
            top: 12%;
            left: 25%;

            div.diapers {
                &::after {
                    background-position: 12px 305px;
                }

                &.CORRECt::after {
                    background-position: 6px 451px;
                }
            }
        }

        &:nth-of-type(3) {
            top: 30%;
            left: 14%;

            div.paper {
                &::after {
                    top: -170%;
                    background-position: 9px -79px;
                    height: 440%;
                }

                &.CORRECt::after {
                    left: -170%;
                    background-position: 10px -151px;
                    width: 440%;
                }
            }
        }

        &:nth-of-type(4) {
            top: 30%;
            left: 25%;

            div.sheets {
                &::after {
                    left: -120%;
                    background-position: 13px 211px;
                    width: 340%;
                }

                &.CORRECt::after {
                    left: -170%;
                    background-position: 2px 306px;
                    width: 440%;
                }
            }
        }

        &:nth-of-type(5) {
            top: 50%;
            left: 14%;

            div.fats {
                &::after {
                    top: -135%;
                    background-position: 21px 497px;
                    height: 370%;
                }

                &.CORRECt::after {
                    top: -235%;
                    background-position: 25px 746px;
                    height: 570%;
                }
            }
        }

        &:nth-of-type(6) {
            top: 50%;
            left: 25%;

            div.cosmetics {
                &::after {
                    top: -150%;
                    background-position: 9px 108px;
                    height: 400%;
                }

                &.CORRECt::after {
                    top: -220%;
                    background-position: 4px 149px;
                    height: 540%;
                }
            }
        }

        &:nth-of-type(7) {
            top: 69%;
            left: 19%;

            div.bandages {
                &::after {
                    left: -120%;
                    background-position: 11px 400px;
                    width: 340%;
                }

                &.CORRECt::after {
                    left: -170%;
                    background-position: 0 589px;
                    width: 440%;
                }
            }
        }

        &:nth-of-type(8) {
            top: 14%;
            left: 71%;

            div.litter {
                &::after {
                    top: -135%;
                    left: -130%;
                    background-position: 111px 9px;
                    width: 360%;
                    height: 370%;
                }

                &.CORRECt::after {
                    top: -195%;
                    left: -190%;
                    background-position: 153px 0;
                    width: 480%;
                    height: 490%;
                }
            }
        }

        &:nth-of-type(9) {
            top: 14%;
            left: 82%;

            div.cotton {
                &::after {
                    left: -110%;
                    background-position: 105px 600px;
                    width: 320%;
                }

                &.CORRECt::after {
                    left: -170%;
                    background-position: 150px 891px;
                    width: 440%;
                }
            }
        }

        &:nth-of-type(10) {
            top: 33%;
            left: 71%;

            div.gum {
                &::after {
                    background-position: 107px 310px;
                }

                &.CORRECt::after {
                    background-position: 150px 457px;
                }
            }
        }

        &:nth-of-type(11) {
            top: 33%;
            left: 82%;

            div.floss {
                &::after {
                    top: -115%;
                    background-position: 109px 505px;
                    height: 330%;
                }

                &.CORRECt::after {
                    top: -160%;
                    background-position: 151px 745px;
                    height: 440%;
                }
            }
        }

        &:nth-of-type(12) {
            top: 52%;
            left: 71%;

            div.hair {
                &::after {
                    top: -140%;
                    background-position: 113px 207px;
                    height: 380%;
                }

                &.CORRECt::after {
                    top: -205%;
                    background-position: 159px 297px;
                    height: 510%;
                }
            }
        }

        &:nth-of-type(13) {
            top: 52%;
            left: 82%;

            div.meds {
                &::after {
                    top: -140%;
                    background-position: 114px 406px;
                    height: 380%;
                }

                &.CORRECt::after {
                    top: -210%;
                    background-position: 160px 596px;
                    height: 500%;
                }
            }
        }

        &:nth-of-type(14) {
            top: 71%;
            left: 76%;

            div.chemicals {
                &::after {
                    top: -135%;
                    background-position: 115px 109px;
                    height: 370%;
                }

                &.CORRECt::after {
                    top: -205%;
                    background-position: 162px 150px;
                    height: 490%;
                }
            }
        }

        > div {
            position: absolute;
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                top: -100%;
                left: -100%;
                transition: opacity .25s .25s;
                opacity: 1;
                background: url('../media/S_6/sprite_6.2.png');
                background-size: 200px 698px;
                width: 300%;
                height: 300%;
                content: '';
            }

            &.CORRECT {
                pointer-events: none;

                &::after {
                    top: -150%;
                    left: -150%;
                    background-size: 300px 1047px;
                    width: 400%;
                    height: 400%;
                }
            }
        }
    }

    .dropzone {
        $items: wipes diapers paper sheets fats cosmetics bandages litter cotton gum floss hair meds chemicals;
        @for $i from 1 through 14 {
            &.#{nth($items, $i)} + ul li > div.#{nth($items, $i)}:after {
                animation-name: flushTitle;
                animation-duration: 3s;
                animation-iteration-count: 1;
                opacity: 0;
            }
        }
    }

    .frame {
        position: absolute;
        top: 1%;
        background: url('../media/images/frame-tall.png');
        background-size: cover;
        width: 28%;
        height: 88%;

        &.left {
            left: 7%;
        }

        &.right {
            right: 8%;
        }
    }

    button.flush {
        position: absolute;
        top: 3%;
        left: 43%;
        z-index: 1;

        background: url('../media/S_6/img_6.2.png');
        background-position: -3px -11px;
        background-size: 210%;

        width: 14%;
        height: 22%;

        &:hover {
            background-position: 135px -11px;
        }

        &.disable {
            pointer-events: none;
        }
    }

    div.reveal.OPEN {
        display: inline-block;
        transition-property: opacity;
        transition-duration: 2s;
        transition-delay: 0s;

        > div {
            top: 0;
            margin: 0;
            height: 100%;

            li.reveal.OPEN {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                animation-name: fadeIn;
                animation-delay: 0s;
                background: $transparent-black url('../media/images/frame.png') no-repeat;
                background-position: 210px 137px;
                background-size: 55%;
                width: 100%;
                height: 100%;

                &.intro {
                    animation: none;

                    h3 {
                        position: absolute;
                        top: 52%;
                        left: 49%;
                        text-align: center;
                        color: $black;
                        font-size: 25px;
                    }

                    &::after {
                        content: none;
                    }
                }

                &::after {
                    position: absolute;
                    top: 32%;
                    left: 27%;
                    background: url('../media/S_6/sprite_6.1.png');
                    background-size: cover;
                    width: 45%;
                    height: 15%;
                    content: '';
                }

                &.wipes::after {
                    background-position: 85px 0;
                }

                &.diapers::after {
                    background-position: 123px -80px;
                }

                &.paper::after {
                    background-position: 55px -175px;
                }

                &.sheets::after {
                    background-position: 65px -262px;
                }

                &.fats::after {
                    background-position: 15px -348px;
                }

                &.cosmetics::after {
                    background-position: 94px -443px;
                }

                &.bandages::after {
                    background-position: 97px -536px;
                }

                &.litter::after {
                    background-position: 96px -625px;
                }

                &.cotton::after {
                    background-position: 17px -711px;
                }

                &.gum::after {
                    background-position: 146px -807px;
                }

                &.floss::after {
                    background-position: 73px -896px;
                }

                &.hair::after {
                    background-position: 164px 462px;
                }

                &.meds::after {
                    background-position: 25px -1074px;
                }

                &.chemicals::after {
                    background-position: 18px -1152px;
                }

                h3 {
                    position: absolute;
                    top: 57%;
                    left: 49%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 80%;
                    text-align: center;
                    color: $black;
                    font-size: 22px;
                }
            }
        }

        .close-reveal {
            top: 70%;
            left: 65%;
            z-index: 2;
            background-position: 777px -82px;
            width: 7%;
            height: 10%;
        }
    }
}

#responsible-flusher,
#lets-clean-up,
#make-a-difference {
    img {
        position: absolute;

        &.banner {
            top: 62%;
            left: 10%;
            width: 80%;
        }

        &.toilet {
            bottom: 0;
            left: 0;
            width: 50%;
        }
    }

    .message {
        position: absolute;
        top: 6%;
        right: 7%;
        background-image: url('../media/images/frame.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 50%;
        height: 56%;
        text-align: center;

        p {
            position: absolute;
            top: 18%;
            left: 8%;
            color: $black;
            font-size: 33px;
            font-weight: 600;
        }
    }
}

#lets-clean-up {
    img.banner {
        top: 54%;
        left: 9%;
    }
}

#make-a-difference {
    img.banner {
        top: 58%;
        left: 27%;
        width: 40%;
    }

    .message p {
        left: 8%;
        font-size: 31px;
        font-weight: 600;
    }
}

[id*='catch-game'] {
    .misc {
        * {
            position: absolute;
            animation-iteration-count: infinite;
            background: url('../media/images/sprite_fish.png');
            background-size: 750px 282px;
            width: 20%;
            height: 21%;

            .PAUSED & {
                animation-play-state: paused;
            }
        }

        .fish-1 {
            bottom: 20%;
            left: -20%;
            animation-name: fishLeft;
            animation-duration: 30s;
            background-position: 0 10px;
            width: 16%;

            &.sad {
                background-position: 0 142px;
            }
        }

        .fish-2 {
            right: -20%;
            bottom: 10%;
            animation-name: fishRight;
            animation-duration: 25s;
            animation-delay: 1s;
            background-position: 584px 4px;

            &.sad {
                background-position: 584px 137px;
            }
        }

        .fish-3 {
            bottom: 14%;
            left: -20%;

            animation-name: fishLeft;
            animation-duration: 20s;
            animation-delay: 2s;

            background-position: 403px 0;

            &.sad {
                background-position: 403px 131px;
            }
        }

        .fish-4 {
            right: -20%;
            bottom: 8%;

            animation-name: fishRight;
            animation-duration: 15s;
            animation-delay: 3s;

            background-position: 193px 7px;

            &.sad {
                background-position: 193px 140px;
            }
        }
    }

    .drop-points {
        .pipe {
            position: absolute;
            top: 0;
            background: url('../media/images/pipe.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 30%;
            height: 65%;

            &.left {
                left: 4%;
            }

            &.center {
                left: 33%;
            }

            &.right {
                right: 10%;
            }
        }
    }

    .score {
        position: absolute;
        top: 10%;
        left: 0;
        width: 22%;
        height: 10%;
        text-align: center;
        color: $blue;
        font-size: 40px;
        font-weight: 600;

        &::after {
            position: absolute;
            top: -80%;
            left: 0;
            background: url('../media/images/sprites-level.png');
            background-size: 1184px;
            width: 100%;
            height: 100%;
            content: '';
        }

        &.lvl-1::after {
            background-position: -16px -49px;
        }

        &.lvl-2::after {
            background-position: -251px -49px;
        }

        &.lvl-3::after {
            background-position: -492px -49px;
        }

        &.lvl-4::after {
            background-position: -729px -49px;
        }

        &.lvl-5::after {
            background-position: -963px -49px;
        }
    }

    .timer {
        position: absolute;
        top: 9%;
        right: 1%;
        color: $blue;
        font-size: 40px;
        font-weight: 900;

        span {
            text-shadow: 0 5px 10px $black;
        }
    }

    .dropper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .randomizer {
            display: none;
        }

        .items {
            position: absolute;
            top: 5%;
            left: 0;
            z-index: 1;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 50%;
            overflow: visible;
            list-style: none;
            pointer-events: none;
        }

        &.STARTED {
            .catchable {
                position: absolute;
                top: -100%;
                transition: opacity .5s;

                animation-name: catchable;
                animation-timing-function: linear;
                opacity: 1;

                background: url('../media/S_6/sprite_6.2.png');
                background-size: 275px 960px;

                width: 15%;
                height: 50%;

                &.slow {
                    animation-duration: 5s;
                }

                &.medium {
                    animation-duration: 4s;
                }

                &.fast {
                    animation-duration: 3s;
                }

                &.turtle {
                    background-image: url('../media/images/turtle.png');
                    background-repeat: no-repeat;
                    background-position: 0 15px;
                    background-size: contain;
                }

                &.frog {
                    background-image: url('../media/images/frog.png');
                    background-repeat: no-repeat;
                    background-position: 0 15px;
                    background-size: contain;
                }

                &.fish {
                    background-image: url('../media/images/sprite_fish.png');
                    background-position: 380px 15px;
                    background-size: 750px 282px;
                }

                &.plant {
                    background-image: url('../media/images/plants.png');
                    background-repeat: no-repeat;
                    background-position: -81px 0;
                    background-size: 750px 129px;
                }

                &.floss {
                    background-position: 156px 700px;
                }

                &.medicine {
                    background-position: 166px 554px;
                }

                &.diaper {
                    background-position: 27px 435px;
                }

                &.bandaid {
                    background-position: 17px 552px;
                }

                &.oil {
                    background-position: 42px 686px;
                }

                &.gum {
                    background-position: 156px 428px;
                }

                &.left {
                    left: 14%;
                }

                &.center {
                    left: 43%;
                }

                &.right {
                    left: 71%;
                }

                &.correct::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: right;
                    color: $white;
                    font-size: 50px;
                    font-weight: 600;
                    content: '+5';
                }

                &.incorrect::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: right;
                    color: $orange;
                    font-size: 50px;
                    font-weight: 600;
                    content: '-10';
                }

                &.trash:not(.CAUGHT)::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: opacity .5s;
                    animation-name: incorrectCatchable;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    text-align: right;
                    color: $orange;
                    font-size: 50px;
                    font-weight: 600;
                    content: '-10';
                }

                &.trash.slow:not(.CAUGHT)::after {
                    animation-duration: 5s;
                }

                &.trash.medium:not(.CAUGHT)::after {
                    animation-duration: 4s;
                }

                &.trash.fast:not(.CAUGHT)::after {
                    animation-duration: 3s;
                }

                .PAUSED & {
                    animation-play-state: paused;
                }
            }
        }
    }

    .catcher {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .bucket {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            width: 5%;
            height: 5%;
            pointer-events: none;

            &::before {
                position: absolute;
                top: -50%;
                left: -150%;

                background: url('../media/images/basket.png');
                background-position: center -45px;
                background-size: 130%;

                width: 400%;
                height: 400%;
                content: '';
                pointer-events: none;
            }
        }
    }

    .reveal {
        > div {
            transform: translateY(-50%);
            margin-top: 0;
            height: 100%;
        }

        .frame {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            margin-top: 0;

            background: url('../media/images/frame.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            width: 80%;
            height: 80%;
            text-align: center;
        }

        .close-reveal {
            display: none;
        }

        &.open-instructions {
            .fish-left {
                position: absolute;
                top: 9%;
                left: 11%;
                width: 13%;
            }

            .fish-right {
                position: absolute;
                top: 388px;
                left: 514px;
                width: 22%;
                height: 29%;
                overflow: hidden;

                &::after {
                    position: absolute;
                    top: -10%;
                    left: -10%;
                    transform: rotate(11deg);
                    background: url('../media/images/sprite_fish.png');
                    background-position: 346px -3px;
                    width: 120%;
                    height: 120%;
                    content: '';
                }
            }

            span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                color: $black;
                font-weight: 600;
            }

            span:nth-of-type(1) {
                top: 12%;
            }

            span:nth-of-type(2) {
                top: 48%;
            }

            .close-reveal {
                display: block;
                bottom: 18%;
                left: 50%;
                transform: translateX(-50%);

                background: url('../media/images/sprite_main_nav.png');
                background-position: 684px 149px;
                background-size: 1500px 427px;

                width: 25%;
                height: 18%;

                &:hover,
                &:focus,
                &:active {
                    outline: none;
                    border: 0;
                    box-shadow: none;
                    background-position: 682px 374px;
                }
            }
        }

        .level-one-complete {
            .banner {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translateX(-50%);

                background: url('../media/images/sprites-levelup.png');
                background-position: 8px -26px;
                background-size: 2250px 292px;

                width: 60%;
                height: 55%;
            }

            span {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                color: $black;
                font-weight: 600;
            }
        }

        .level-two-complete {
            .banner {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translateX(-50%);

                background: url('../media/images/sprites-levelup.png');
                background-position: 1790px -26px;
                background-size: 2250px 292px;

                width: 60%;
                height: 55%;
            }

            span {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                color: $black;
                font-weight: 600;
            }
        }

        .level-three-complete {
            .banner {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translateX(-50%);

                background: url('../media/images/sprites-levelup.png');
                background-position: 1340px -26px;
                background-size: 2250px 292px;

                width: 60%;
                height: 55%;
            }

            span {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                color: $black;
                font-weight: 600;
            }
        }

        .level-four-complete {
            .banner {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translateX(-50%);

                background: url('../media/images/sprites-levelup.png');
                background-position: 890px -26px;
                background-size: 2250px 292px;

                width: 60%;
                height: 55%;
            }

            span {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                color: $black;
                font-weight: 600;
            }
        }

        .level-five-complete {
            .banner {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translateX(-50%);

                background: url('../media/images/sprites-levelup.png');
                background-position: 445px -26px;
                background-size: 2250px 292px;

                width: 60%;
                height: 55%;
            }

            span {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                color: $black;
                font-weight: 600;
            }
        }

        &.open-try-again {
            span {
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                color: $black;
                font-weight: 600;
            }

            .close-reveal {
                display: block;
                bottom: 20%;
                left: 50%;
                transform: translateX(-50%);

                background: url('../media/images/sprite_main_nav.png');
                background-position: 310px 368px;
                background-size: 1500px 427px;

                width: 28%;
                height: 18%;

                &:hover,
                &:focus,
                &:active {
                    outline: none;
                    border: 0;
                    box-shadow: none;
                    background-position: 308px 138px;
                }
            }
        }

        &.OPEN {
            z-index: 2;

            .frame {
                opacity: 1;
            }
        }
    }
}

#flip {
    img {
        position: absolute;

        &.banner {
            top: 12%;
            left: 23%;
            width: 54%;
        }

        &.flip {
            top: 48%;
            left: 27%;
            width: 46%;
        }

        &.flip-coin {
            bottom: 0;
            left: 0;
            border: 1px solid;
            width: 30%;
        }
    }

    .message {
        position: absolute;
        top: 6%;
        right: 7%;

        background-image: url('../media/images/frame.png');
        background-repeat: no-repeat;
        background-size: contain;

        width: 50%;
        height: 56%;
        text-align: center;
        font-size: 1.4em;

        p {
            position: absolute;
            top: 35%;
            left: 20%;
            color: $black;
            font-size: 25px;
        }
    }
}

#quit {
    .frame {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: url('../media/images/frame.png');
        background-size: cover;
        width: 63%;
        height: 70%;

        h2 {
            position: absolute;
            top: 2%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: $black;
            font-weight: 700;
        }

        h3 {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            text-align: center;
            color: $black;
            font-size: 20px;
            font-weight: 100;
        }

        .quit-yes,
        .quit-no {
            position: absolute;
            top: 50%;
            width: 35%;
            height: 40%;
        }

        .quit-yes {
            left: 15%;
            background-position: 425px -50px;

            &:hover,
            &:focus {
                background-position: 425px -264px;
            }
        }

        .quit-no {
            right: 15%;
            background-position: 210px -35px;

            &:hover,
            &:focus {
                background-position: 210px -249px;
            }
        }
    }
}

