@import 'variables';
@import 'mixins';

@include reset;
@include bootstrap-game;

html {
    color: $text-color;
}

.skoash-game {
    font-family: 'Chelsea Market';

    > .menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
}

button {
    &.close {
        @include nav-button(6, 60px, 60px);
        width: 60px;
        height: 60px;
    }

    &.next-screen,
    &.prev-screen,
    &.close-reveal {
        display: block;
        position: absolute;
        bottom: 10px;
        z-index: 2;
        margin: 0;
        width: 90px;
        height: 65px;
    }

    &.next-screen {
        @include nav-button(5, 140px, 65px);
        right: 15px;
    }

    &.prev-screen {
        @include nav-button(4, 140px, 65px);
        left: 15px;
    }

    &.close-reveal {
        @include sprite-continue(1);
        right: 85px;
        bottom: 100px;
    }
}

.skoash-game {
    $screens:
        title
        flip;

    $backgrounds:
        title
        everyday;

    @include screen-backgrounds($screens, $backgrounds);
}

.frame {
    @include center;
    @include background($frame + 'transition.frame.png');
    width: 780px;
    height: 500px;

    &.fact {
        @include background($frame + 'monarch.fact.png');
        margin-left: 40px;

        p {
            font-size: 32px;
        }
    }

    &.replay {
        @include background($frame + 'try.again.frame.png');
    }

    .content {
        @include center;
        margin: -5%;
        width: 90%;
        color: $black;
    }
}
