// $x1: 0 70 90 200 230 340 355;
// $y1: 0  0 75  75 -65 -65 -30;

$xs: (0 70 90 200 230 340 355) (0 70 90 200 230 340 355);
$ys: (0  0 75  75 -65 -65 -30) (0  0 75  75 -65 -65 -30);

$length: length($xs);

@for $i from 1 through $length {
    @keyframes butterfly-fly-#{$i} {
        $x: nth($xs, $i);
        $y: nth($ys, $i);
        $l: length($x);
        @for $j from 1 through $l {
            #{percentage(($j - 1) / ($l - 1))} {
                transform: translateX(#{nth($x, $j)}px) translateY(#{nth($y, $j)}px);
            }
        }
    }
}
