@import 'variables';
@import 'mixins';

[id*=phaser] {
    iframe {
        display: block;
        border: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .timer {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;

        &::before {
            display: block;
            content: '';
        }
    }

    .gauges {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: scale3d(1, 1, 1);
    }

    .level-score {
        @include score-meter(10, $bright-green);
    }

    .life {
        @include score-meter(-10, $bright-green);
    }

    .level-score,
    .life {
        &::before {
            display: block;
            position: absolute;
            top: -10px;
            left: -40px;
            z-index: 2;
            background-repeat: no-repeat;
            width: 60px;
            height: 45px;
            content: '';
        }
    }

    .reveal {
        @include reveal;
    }
}
