@import 'variables';
@import 'mixins';

[id*=phaser] {
    iframe {
        display: block;
        border: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .timer {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;

        &::before {
            display: block;
            content: '';
        }
    }

    .gauges {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: scale3d(1, 1, 1);
    }

    .level-score {
        @include score-meter(10, $bright-green);
    }

    .life {
        @include score-meter(-10, $bright-green);
    }

    .level-score,
    .life {
        &::before {
            display: block;
            position: absolute;
            top: -10px;
            left: -40px;
            z-index: 2;
            background-repeat: no-repeat;
            width: 60px;
            height: 45px;
            content: '';
        }
    }

    .reveal {
        &.open-instructions {
            .close-reveal {
                @include nav-button(6, 60px, 60px);
                right: 80px;
                bottom: 390px;
            }
        }

        .instructions {
            margin-left: 10%;
            width: 660px;
            height: 440px;

            &::before,
            &::after {
                display: block;
                position: absolute;
                content: '';
            }

            &::before {
                @include background('#{$image}img.butterfly.png');
                top: -60px;
                left: -230px;
                width: 300px;
                height: 300px;
            }

            &::after {
                top: 250px;
                left: -170px;
            }

            .content {
                @include center;
                margin-top: -3%;
                width: 80%;

            }

            p {
                font-size: 22px;

                span {
                    display: block;
                    margin-bottom: 30px;
                    font-size: 36px;
                    font-weight: bold;
                }
            }
        }
    }
}

@for $i from 1 through 3 {
    #phaser-level-#{$i} {
        .reveal {
            .instructions {
                &::after {
                    @include sprite-transition($i);
                }
            }
        }
    }
}
