@import 'variables';
@import 'mixins';
// scss-lint:disable SelectorDepth, PropertySortOrder, NestingDepth, ColorVariable, SelectorFormat, IdSelector, QualifyingElement

html,
body {
    cursor: default;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    user-drag: none;
    user-select: none;
}

html {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
}

html,
body,
body > div,
body > div > div {
    background: transparent;
    font-size: 20px;
    height: 540px;
    margin: auto;
    position: relative;
    width: 960px;

    .background {
        opacity: 0;
        transition: opacity .5s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        &.default {
            background-image: url('../media/_BKG/BKG_1.png');
        }

        &.title {
            background-image: url('../media/_assets/_animations/Litterbug-titlescreen.gif');
        }

        &.catch-game {
            background-image: url(../media/_assets/_sprites/sprites.game2.3-01-min.jpg);
            background-size: 300% 100%;
            background-position: 0 0;
        }

        &.lets-clean-up {
            background-image: url('../media/_assets/_images/BKG.4.jpg');
        }

        &.clean-up-game {
            background-image: url('../media/_assets/_images/BKG.2.png');
        }

        &.select {
            background-image: url('../media/_BKG/BKG_3.png');

            &::before {
                content: '';
                position: absolute;
                background: #000;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: .2;
            }
        }

        &.sun {
            background-image: url('../media/_BKG/BKG_4.png');
        }

        &.commit {
            background-image: url('../media/_assets/_images/BKG.3.png');
        }

    }

    &.SCREEN-catch-game-level-two .background.catch-game {
        background-position: -960px 0;
    }

    &.SCREEN-catch-game-level-three .background.catch-game {
        background-position: -1920px 0;
    }

    .background.default,
    &.SCREEN-title .background.title,
    &[class*=SCREEN-catch-game] .background.catch-game,
    &[class*=SCREEN-clean-up-game] .background.clean-up-game,
    &.SCREEN-commit .background.commit {
        opacity: 1;
        transition: opacity .25s;
    }


    &.MENU-quit {
        .screen:not(#quit) {
            opacity: 0;
        }
    }
}

@mixin flyright {
    animation: flyright 1.5s infinite linear;
}

@mixin flyleft {
    animation: flyleft 1.5s infinite linear;
}

$delays: 0s .5s 1s .25s 1.25s .75s;

.sparkles {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;

    div {
        position: absolute;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: left;
        transform: rotate(0deg);
        transition: transform 1s, opacity 1s;

        &::before {
            content: '\02736';
            color: #efc300;
        }

        @for $i from 1 through 40 {
            &:nth-of-type(#{$i}) {
                $left: (-4 * $i) % 65 + 15;
                $top: (-1 * $i) % 12 + 6;
                left: percentage($left / 100);
                top: percentage($top / 100);
                @if $left > 45 {
                    @include flyright;
                } @else {
                    @include flyleft;
                }
                animation-delay: nth($delays, ($i % 6) + 1);
            }
        }
    }
}

html,
body,
body > div {
    width: 100%;
    height: 100%;
}

// This is just to preload the images used in css. */
#asset-bin { display: none; }

button {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: inherit;
    font-size: inherit;
    color: transparent;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    background-image: url('../media/_assets/_sprites/main.nav.btns-01.png');
    background-size: 3500px 778px;
    background-position: left top;

    &.close {
        width: 60px;
        height: 60px;
        background-position: 2862px 529px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 5px;
        z-index: 2;
        background-size: 3000px 667px;

        &:hover {
            background-position: 2862px 196px;
        }
    }

    &.next-screen,
    &.prev-screen {
        width: 70px;
        height: 70px;
    }

    &.next-screen {
        background-position: 2562px 617px;

        &:hover {
            background-position: 2562px 228px;
        }
    }

    &.prev-screen {
        background-position: 2950px 617px;

        &:hover {
            background-position: 2950px 228px;
        }
    }

    &.quit-yes {
        width: 230px;
        height: 130px;
        background-image: url(../media/_Buttons/BU_1.png);
        background-size: auto 500px;
        background-position: -1820px 450px;

        &:hover {
            background-position: -1820px 193px;
        }
    }

    &.quit-no {
        width: 230px;
        height: 130px;
        background-image: url(../media/_Buttons/BU_1.png);
        background-size: auto 500px;
        background-position: -2080px 450px;

        &:hover {
            background-position: -2080px 193px;
        }
    }
}

@media(max-width: 601px) {
    button {
        &.close {
            width: 50px;
            height: 50px;
            background-size: auto 525px;
            background-position: -231px 435px;

            &:hover {
                background-position: -231px 165px;
            }
        }
    }
}

#room,
#school,
#ground {
    button.next-screen {
        animation-duration: 1s;
        animation-fill-mode: both;
        width: 230px;
        height: 235px;
        background-position: -300px 500px;

        &:hover {
            background-position: -300px 243px;
        }
    }
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    margin: 0;
}

p {
    font-size: 28px;
    margin: 0;
}

.canvas-src { display: none; }

.screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: none;
    transition: opacity .5s, z-index 0s 1s;
    z-index: -1;
    overflow: hidden;
    width: 960px;
    height: 540px;

    &.OPEN {
        opacity: 1;
        z-index: 1;
        transition: opacity .5s, z-index 0s;
    }

    &.READY {
        display: block;
    }

    &.no-frame {
        color: #fff;

        .frame {
            text-align: center;
        }
    }

    .next-screen,
    .prev-screen {
        position: absolute;
        display: block;
        bottom: 1%;
        transform: translate3d(0px, 0, 0);
        z-index: 2;
    }

    .prev-screen {
        margin-left: 5px;
        left: 0;
    }

    .next-screen {
        margin-right: 5px;
        right: 0;
        opacity: 0;
        pointer-events: none;
        transform: rotate(-180deg) translate3d(0px, 0, 0);
        transition: opacity 1s, transform 1s;
    }

    &.GATED .next-screen {
        opacity: 0;
        cursor: default;
    }
}

    .DEMO .screen .next-screen,
    .DEMO #clean-up .close-reveal,
    .screen.COMPLETE .next-screen,
    .screen.REPLAY .next-screen {
        opacity: 1;
        transform: rotate(0deg) translate3d(0px, 0, 0);
        cursor: pointer;
        pointer-events: auto;
    }

    .DEMO .screen.room button.next-screen,
    .DEMO .screen.school button.next-screen,
    .DEMO .screen.ground button.next-screen,
    .DEMO .screen.take-pledge button.next-screen,
    .DEMO .screen.commit button.next-screen {
        display: block;
    }

    .DEMO .screen.clean-up .next-screen {
        z-index: 0;
    }

    .screen .next-screen:hover {

    }

.DEMO .screen .next-screen,
.DEMO #clean-up .close-reveal,
.screen.COMPLETE .next-screen,
.screen.REPLAY .next-screen {
    opacity: 1;
    transform: rotate(0deg) translate3d(0px, 0, 0);
    cursor: pointer;
    pointer-events: auto;
}

.DEMO .screen.room button.next-screen,
.DEMO .screen.school button.next-screen,
.DEMO .screen.ground button.next-screen,
.DEMO .screen.take-pledge button.next-screen,
.DEMO .screen.commit button.next-screen {
    display: block;
}

.DEMO {
    #room,
    #school,
    #ground {
        button.next-screen {
            opacity: 1;
            cursor: pointer;
            animation-name: bounceInLeft;
        }
    }

    .screen.clean-up .next-screen {
        z-index: 0;
    }
}

// the following css is specific to this game

#litter-bug {
    .center {
        overflow: hidden;

        .content-group {
            overflow: visible;

            div {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                text-align: center;
            }
        }
    }

    .frame {
        position: relative;
        width: 960px;
        height: 200px;
        top: 0;

        img.background {
            position: absolute;
            width: 105%;
            left: -2.5%;
            opacity: 1;
        }
    }
}

#lets-clean-up {
    .copy {
        position: absolute;
        left: 55%;
        width: 75%;
        transform: translateX(-50%);
        text-align: center;
        color: #fff;
        font-size: 40px;
        top: 10%;
        font-weight: 700;
    }

    .banner {
        position: absolute;
        left: 55%;
        bottom: 28%;
        width: 70%;
        transform: translateX(-50%);
    }

    &.OPEN {
        .banner {
            animation-name: zoomInDown;
        }
    }
}

#clean-up-game-lvl-1,
#clean-up-game-lvl-2,
#clean-up-game-lvl-3 {
    @keyframes reload {
        0% {
            opacity: 0;
            visibility: hidden;
        }

        67% {
            opacity: 0;
            visibility: hidden;
        }

        100% {
            opacity: 1;
            visibility: visible;
        }
    }

    @keyframes fire {
        25% {
            transform: translateY(-650%) scale(0.5);
        }

        50% {
            transform: translateY(-550%) scale(0.3);
        }

        60% {
            transform: translateY(-550%) scale(1);
        }

        100% {
            transform: translateY(-550%) scale(1);
        }
    }

    @keyframes points {
        60% {
            opacity: 0;
        }

        65% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes throw {
        100% {
            background-position: -500px;
        }
    }

    .cannon {
        position: absolute;
        text-align: center;
        // background-image: url(../media/images/cannon-bears/background.png);
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: contain;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        overflow: hidden;
        border: 1px solid green;
        z-index: 1;

        // &::after {
        //     position: absolute;
        //     content: '';
        //     width: 12%;
        //     height: 23%;
        //     bottom: 0;
        //     background: url(../media/_assets/_sprites/sprites.hands.png);
        //     background-position: left center;
        //     background-size: 500px 125px;
        //     background-repeat: no-repeat;
        //     left: 25%;
        // }

        &.FIRE {
            pointer-events: none;

            .LOADED {
                /**
                 *    Normaly I would define the transition on the default rule but this way
                 *    the animation will not play when the 'LAUNCHED' flag is removed.
                 */
                transition: transform .5s cubic-bezier(0, 0, .2, 1);
                animation: fire 2s;

                &::before {
                    position: absolute;
                    content: '';
                    width: 200%;
                    height: 200%;
                    left: -50%;
                    top: -50%;
                    opacity: 0;
                    animation: points 2s;
                }

            }

            // &::after {
            //     animation: throw .1s steps(4);
            // }
        }

        &.RELOAD {
            .LOADED {
                animation: reload .5s;
            }
        }

        .launch-button {
            position: absolute;
            width: 10%;
            height: 18%;
            bottom: .5%;
            left: 9%;
            background: url(../media/_assets/_sprites/sprites.game1.7.png);
            background-position: 0 0;
            background-size: 100%;

            &:hover,
            &:focus,
            &:active {
                background-position: 0 97px;
            }
        }

        .ammo-container {
            position: absolute;
            width: 30%;
            height: 15%;
            bottom: 2%;
            left: 24%;
            background: url(../media/_assets/_sprites/sprites.game1.4-01.png);
            background-position: -334px 122px;
            background-size: 1600px 163px;
        }

        .ammo {
            width: 5%;
            height: 8%;
            bottom: 5%;
            display: inline;
            position: absolute;
            background: url(../media/_assets/_sprites/sprites.game1.1.png);
            background-size: 1000px 292px;
            pointer-events: none;

            &:nth-of-type(1) {
                left: 25%;
            }

            &:nth-of-type(2) {
                left: 25%;
            }

            &:nth-of-type(3) {
                left: 30%;
            }

            &:nth-of-type(4) {
                left: 35%;
            }

            &:nth-of-type(5) {
             left: 40%;
            }

            &:nth-of-type(6) {
                left: 46%;
                width: 7%;
                height: 13%;
                bottom: 3%;

                &.plastic-bottle {
                    background-position: 224px 179px;
                }

                &.soda-can {
                    background-position: -26px 180px;
                }

                &.banana-peal {
                    background-position: -153px 182px;
                }

                &.glass-bottle {
                    background-position: 99px 178px;
                }

                &.crumbled-paper {
                    background-position: 723px 181px;
                }

                &.tuna-can {
                    background-position: 597px 178px;
                }

                &.tire {
                    background-position: 472px 180px;
                }

                &.battery {
                    background-position: 347px 179px;
                }
            }

            &.plastic-bottle {
                background-position: 211px 72px;
            }

            &.soda-can {
                background-position: -40px 73px;
            }

            &.banana-peal {
                background-position: -165px 73px;
            }

            &.glass-bottle {
                background-position: 85px 73px;
            }

            &.crumbled-paper {
                background-position: 710px 72px;
            }

            &.tuna-can {
                background-position: 587px 72px;
            }

            &.tire {
                background-position: 460px 72px;
            }

            &.battery {
                background-position: 334px 72px;
            }
        }
    }

    .carousel {
        position: absolute;
        white-space: nowrap;
        width: 80%;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

        > * {
            transform: translate3d(0,0,0);
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            width: 20%;
            height: 36%;
            transition: margin 0s;
            background: url(../media/_assets/_sprites/sprites.game1.2-01.png);
            background-size: 150px 390px;
            background-position: 0 0;

            // &.SELECTED {
            //     background-position: 0 190px;
            // }

            &::after {
                content: '';
                position: absolute;
                width: 70%;
                height: 50%;
                left: 15%;
                top: 25%;
                background: url(../media/_assets/_sprites/sprites.game1.numbers.png);
                background-size: 425px 102px;
            }

            &.five:after {
                background-position: -2px -8px;
            }

            &.ten:after {
                background-position: 319px -8px;
            }

            &.twenty:after {
                background-position: 213px -8px;
            }

            &.thirty:after {
                background-position: 106px -8px;
            }
        }

        .LEAVE {
            transition: margin 1s;
            margin-left: -20%;
        }
    }

    .randomizer {
        img {
            visibility: hidden;
        }
    }

    .level {
        position: absolute;
        width: 19%;
        height: 35%;
        top: 0;
        top: 49%;
        left: 7%;
        text-align: center;
        font-size: 1.25rem;
        transform: translate3d(1px, 1px, 1px);
    }

    .score {
        position: absolute;
        width: 19%;
        height: 35%;
        top: 0;
        top: 49%;
        left: 41%;
        text-align: center;
        font-size: 1.25rem;
        transform: translate3d(1px, 1px, 1px);
    }

    .timer {
        position: absolute;
        width: 19%;
        height: 35%;
        top: 0;
        top: 47%;
        left: 74%;
        text-align: center;
        font-size: 1.25rem;
        transform: translate3d(1px, 1px, 1px);
    }

    .grass {
        position: absolute;
        width: 100%;
        height: 70%;
        bottom: 0;
        background: url(../media/_assets/_images/game1_grass.png);
        background-size: contain;
        content: '';
        background-position: 0 50px;
        background-repeat: no-repeat;
    }

    .stats {
        position: absolute;
        width: 30%;
        bottom: 0;
        right: 10%;
        height: 27%;
        background: url(../media/_assets/_sprites/sprites.game1.4-01.png);
        background-position: -16px 133px;
        background-size: 1600px 163px;
        transform: translate3d(0px, 0, 0);
    }

    .reveal {
        position: absolute;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity .5s;

        li {
            opacity: 0;
        }

        &.OPEN {
            opacity: 1;
            z-index: 2;
            pointer-events: auto;

            *.OPEN {
                opacity: 1;

                .frame {
                    position: absolute;
                    width: 80%;
                    height: 80%;
                    left: 10%;
                    top: 10%;
                    border: 5px solid #000;
                    border-radius: 30px;

                    &::after {
                        position: absolute;
                        width: 33%;
                        height: 81%;
                        top: 30%;
                        left: -14%;
                        background: url(../media/_assets/_sprites/sprites.mr.eco-01.png);
                        background-position: 5px 0;
                        content: '';
                        background-size: 500px 367px;
                    }
                }
            }

            &.open-instructions {
                background: rgba(183, 219, 64, .6);

                .frame.instructions-lvl-1,
                .frame.instructions-lvl-2,
                .frame.instructions-lvl-3 {
                    background: #F5FD37;

                    .banner {
                        width: 76%;
                        left: 49%;
                        transform: translateX(-50%);
                        position: absolute;
                        height: 20%;
                        top: 5%;
                        background: url(../media/_assets/_sprites/sprites.game1.3-01.png);
                        background-size: 3200px 83px;
                        background-position: -37px 2px;
                        background-repeat: no-repeat;
                    }

                    .hundred {
                        position: absolute;
                        top: 68%;
                        left: 28%;
                        width: 12%;
                        height: 14%;
                        background: url(../media/_assets/_sprites/sprites.game1.8.png);
                        background-size: 300px 68px;
                    }

                    span:nth-of-type(1) {
                        position: absolute;
                        top: 30%;
                        font-size: 43px;
                        font-weight: 600;
                        left: 19%;
                        width: 77%;
                        text-align: center;
                    }

                    span:nth-of-type(2) {
                        position: absolute;
                        top: 69%;
                        font-size: 43px;
                        font-weight: 600;
                        left: 19%;
                        width: 10%;
                    }

                    span:nth-of-type(3) {
                        position: absolute;
                        top: 69%;
                        font-size: 43px;
                        font-weight: 600;
                        left: 41%;
                        width: 61%;
                    }

                    span:nth-of-type(4) {
                        position: absolute;
                        top: 81%;
                        font-size: 43px;
                        font-weight: 600;
                        left: 38%;
                        width: 61%;
                    }
                }

                .frame.instructions-lvl-1 .hundred {
                    background-position: -3px 1px;
                }

                .frame.instructions-lvl-2 .hundred {
                    background-position: -103px 1px;
                }

                .frame.instructions-lvl-3 .hundred {
                    background-position: -203px 1px;
                }
            }

            &.open-complete {
                background: rgba(183, 219, 64, .6);

                .frame.complete-lvl-1 {
                    background: #B7DB40;

                    .banner {
                        width: 76%;
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                        height: 20%;
                        top: 5%;
                        background: url(../media/_assets/_sprites/sprites.game1.3-01.png);
                        background-size: 3200px 83px;
                        background-position: -667px 2px;
                        background-repeat: no-repeat;
                    }

                    .banner-2 {
                        width: 76%;
                        left: 55%;
                        transform: translateX(-50%);
                        position: absolute;
                        height: 36%;
                        top: 25%;
                        background: url(../media/_assets/_sprites/sprites.game1.6-01.png);
                        background-size: 3000px 159px;
                        background-position: -167px 2px;
                        background-repeat: no-repeat;
                    }

                    span {
                        position: absolute;
                        top: 60%;
                        font-size: 39px;
                        font-weight: 600;
                        left: 20%;
                    }
                }
            }

            .frame.complete-lvl-2 {
                background: #B7DB40;

                .banner {
                    width: 78%;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    height: 20%;
                    top: 5%;
                    background: url(../media/_assets/_sprites/sprites.game1.3-01.png);
                    background-size: 3200px 83px;
                    background-position: -1300px 2px;
                    background-repeat: no-repeat;
                }

                .banner-2 {
                    width: 76%;
                    left: 55%;
                    transform: translateX(-50%);
                    position: absolute;
                    height: 36%;
                    top: 25%;
                    background: url(../media/_assets/_sprites/sprites.game1.6-01.png);
                    background-size: 2500px 133px;
                    background-position: -647px 2px;
                    background-repeat: no-repeat;
                }

                span {
                    position: absolute;
                    top: 60%;
                    font-size: 39px;
                    font-weight: 600;
                    left: 20%;
                }
            }

            .frame.complete-lvl-3 {
                background: #B7DB40;

                .banner {
                    width: 85%;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    height: 20%;
                    top: 5%;
                    background: url(../media/_assets/_sprites/sprites.game1.3-01.png);
                    background-size: 3200px 83px;
                    background-position: -1911px 2px;
                    background-repeat: no-repeat;
                }

                .banner-2 {
                    width: 76%;
                    left: 55%;
                    transform: translateX(-50%);
                    position: absolute;
                    height: 36%;
                    top: 60%;
                    background: url(../media/_assets/_sprites/sprites.game1.6-01.png);
                    background-size: 3000px 159px;
                    background-position: -1617px 2px;
                    background-repeat: no-repeat;
                }

                span {
                    position: absolute;
                    top: 27%;
                    font-size: 60px;
                    font-weight: 600;
                    left: 20%;
                }
            }

            &.open-try-again {
                background: rgba(255, 0, 0, .6);

                .frame {
                    background: #6D8326;

                    .banner {
                        width: 76%;
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                        height: 20%;
                        top: 5%;
                        background: url(../media/_assets/_sprites/sprites.game1.3-01.png);
                        background-size: 3200px 83px;
                        background-position: -2587px 2px;
                        background-repeat: no-repeat;
                    }

                    .banner-2 {
                        width: 76%;
                        left: 55%;
                        transform: translateX(-50%);
                        position: absolute;
                        height: 36%;
                        top: 25%;
                        background: url(../media/_assets/_sprites/sprites.game1.6-01.png);
                        background-size: 3000px 159px;
                        background-position: -2426px 2px;
                        background-repeat: no-repeat;
                    }

                    span {
                        position: absolute;
                        top: 60%;
                        font-size: 39px;
                        font-weight: 600;
                        left: 20%;
                        color: #fff;
                    }
                }
            }
        }

        &.COMPLETE {
            &.open-instructions,
            &.open-try-again {
                .close-reveal {
                    opacity: 1;
                    transform: rotate(0deg) translate3d(0px, 0, 0);
                    pointer-events: auto;
                    position: absolute;
                    right: 12%;
                    width: 15%;
                    height: 14%;
                    bottom: 10%;
                    background-position: 209px -103px;
                    background-size: 2500px 556px;

                    .VOICE-OVER:not(.DEMO) & {
                        opacity: .5;
                        pointer-events: none;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background-position: 209px 175px;
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
        }
    }

    &.COMPLETE {
        .SCREEN-clean-up-game-lvl-1:not(.DEMO) &,
        .SCREEN-clean-up-game-lvl-2:not(.DEMO) &,
        .SCREEN-clean-up-game-lvl-3:not(.DEMO) & {
            .next-screen {
                opacity: 1;
                transform: rotate(0deg) translate3d(0px, 0, 0);
                pointer-events: auto;
                position: absolute;
                right: 12%;
                width: 15%;
                height: 14%;
                bottom: 10%;
                background-position: 209px -103px;
                background-size: 2500px 556px;

                &:hover,
                &:focus,
                &:active {
                    background-position: 209px 175px;
                }
            }
        }
    }
}

#clean-up {

    .frame-component {
        z-index: 1;
    }

    .prev-screen {
        z-index: 1;
    }

    .COMPLETE {
        .next-screen {
            z-index: 1;
            opacity: 1;
            transform: rotate(0deg) translate3d(0px, 0, 0);
        }
    }

    .frame {
        position: absolute;
        left: 0;
        top: 160px;

        .content-group {

            h2 {
                margin: 20px 0 15px;
            }

            p {
                text-align: center;
                width: 100%;
                bottom: 20px;
            }

            button {
                position: absolute;
                left: 50%;
                top: 125%;
                margin-left: -115px;
            }
        }
    }

    .trash {
        transform: translateX(0);
    }

    .reveal {
        position: absolute;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        width: 960px;
        height: 540px;
        transition: opacity .5s;

        &.OPEN {
            opacity: 1;
            z-index: 1;
            pointer-events: auto;
        }

        &.COMPLETE {
            .close-reveal {
                opacity: 1;
                transform: rotate(0deg) translate3d(0px, 0, 0);
                pointer-events: auto;
            }
        }

        ul {
            list-style: none;
        }
    }

    .selectable-reveal {
        .reveal {
            display: none;
        }
    }

    .close-reveal {
        position: absolute;
        width: 60px;
        height: 60px;
        background-position: -125px 420px;
        margin-right: 5px;
        right: 0;
        bottom: 1%;
        opacity: 0;
        transform: rotate(-180deg) translate3d(0px, 0, 0);
        pointer-events: none;
        transition: opacity 1s, transform 1s;

        &:hover {
            background-position: -125px 664px;
        }
    }

    .selectable {
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0;
    }

    .next-screen {
        z-index: -1;
    }

    &.COMPLETE {
        .next-screen {
            z-index: 1;
            opacity: 1;
        }
    }
}

#room {
    .banner,
    .avatar {
        position: absolute;
        background: url('../media/_assets/_sprites/sprites.questions-01.png');
        background-size: 6000px 565px;
    }

    .banner {
        top: 0%;
        right: 2%;
        width: 67%;
        height: 30%;
        background-position: -179px 360px;
    }

    .avatar {
        bottom: 0;
        left: 0%;
        width: 40%;
        height: 100%;
        background-position: -3290px -5px;
    }

    button.next-screen {
        position: absolute;
        left: 46%;
        bottom: 7%;
        opacity: 0;
        cursor: auto;
        background-position: -1200px -17px;
        width: 34%;
        height: 64%;

        &:hover {
            background-position: -1200px 373px;
        }
    }

    &.OPEN {

        .banner {
            top: 2000%;
        }

        .avatar {
            bottom: 2000%;
        }

        &.STARTED {

            .banner {
                top: 0%;
                animation-name: bounceInUp;
            }

            .avatar {
                bottom: 0%;
                animation-name: bounceInDown;
            }
        }
    }


    &.COMPLETE {
        button.next-screen {
            opacity: 1;
            cursor: pointer;
            animation-name: bounceInLeft;
        }
    }
}

#school {
    .banner,
    .avatar {
        position: absolute;
        background: url('../media/_assets/_sprites/sprites.questions-01.png');
        background-size: 6000px 565px;
    }

    .banner {
        bottom: 10%;
        left: 8%;
        width: 67%;
        height: 40%;
        background-position: -1249px 390px;
        z-index: 1;
    }

    .avatar {
        bottom: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        background-position: -4003px -5px;
    }

    button.next-screen {
        position: absolute;
        left: 63%;
        bottom: 2%;
        opacity: 0;
        cursor: auto;
        background-position: -1200px -17px;
        width: 34%;
        height: 64%;

        &:hover {
            background-position: -1200px 373px;
        }
    }

    &.OPEN {

        .banner {
            bottom: 2000%;
        }

        &.STARTED {
            .banner {
                bottom: 0%;
                animation-name: bounceInDown;
            }
        }
    }


    &.COMPLETE {
        button.next-screen {
            opacity: 1;
            cursor: pointer;
            animation-name: bounceInLeft;
        }
    }
}

#ground {
    .banner,
    .avatar {
        position: absolute;
        background: url('../media/_assets/_sprites/sprites.questions-01.png');
        background-size: 6000px 565px;
    }

    .banner {
        top: 0;
        left: 8%;
        width: 51%;
        height: 40%;
        background-position: -2253px 390px;
        z-index: 1;
    }

    .avatar {
        bottom: 0;
        right: 0%;
        width: 90%;
        height: 100%;
        background-position: -5025px -5px;
    }

    button.next-screen {
        position: absolute;
        left: 15%;
        bottom: -3%;
        opacity: 0;
        cursor: auto;
        background-position: -1200px -17px;
        width: 34%;
        height: 64%;

        &:hover {
            background-position: -1200px 373px;
        }
    }

    &.OPEN {

        .banner {
            top: 2000%;
        }

        &.STARTED {
            .banner {
                top: 0%;
                animation-name: bounceInDown;
            }
        }
    }


    &.COMPLETE {
        button.next-screen {
            opacity: 1;
            cursor: pointer;
            animation-name: bounceInLeft;
        }
    }
}

#sing-about-it {
    .mr-eco {
        position: absolute;
        width: 37%;
        height: 100%;
        left: 0;
        top: 0;
        background: url('../media/_assets/_sprites/sprites.mr.eco-01.png');
        background-size: 850px 624px;
        background-position: -70px 0;
    }

    .dancers,
    .banner {
        background: url('../media/_assets/_sprites/sprites.sing.thankyou.flip-01.png');
        background-size: 4000px 340px;
        position: absolute;
    }

    .dancers {
        width: 611px;
        height: 20%;
        bottom: 0;
        right: 0;
        background-position: -713px 226px;
    }

    .banner {
        position: absolute;
        right: 20%;
        bottom: 17%;
        left: 20%;
        top: 20%;
        background-position: 0 0;
    }

    &.OPEN {

        img {
            animation-name: flipInY;
        }
    }
}

#video .frame {
    width: 80%;
    height: 85%;
    background-image: url('../media/_Frames/FR_2.png');
    background-size: 100% 100%;

    video {
        position: relative;
        width: 91.2%;
        max-height: 95%;
        margin: 4.2% 4.3%;
    }
}

#good-for-you {

    &.OPEN .sparkles {
        opacity: 1;
    }

    .mr-eco {
        position: absolute;
        width: 514px;
        height: 105%;
        left: -157px;
        top: 18px;
        bottom: 0;
        background: url('../media/_assets/_images/mr.eco.png') no-repeat;
        background-size: 388px;
        transform: scale(.88) rotate(-5.6deg);
    }

    .banner,
    .banner2 {
        background: url('../media/_assets/_sprites/sprites.sing.thankyou.flip-01.png');
        background-size: 4000px 340px;
        position: absolute;
        transform: scaleX(1.073) scaleY(1.069);
    }

    .banner {
        right: 4%;
        bottom: 17%;
        left: 21%;
        top: 25%;
        background-position: 60% 0;
    }

    .banner2 {
        width: 60%;
        height: 42%;
        left: 30.7%;
        top: -7.4%;
        background-position: 41% 0;
    }

    &.OPEN {

        img {

            &:nth-of-type(1) {
                animation-name: zoomInDown;
            }

            &:nth-of-type(2) {
                animation-name: bounceIn;
            }
        }
    }
}

#take-pledge {

    .mr-eco {
        position: absolute;
        width: 514px;
        height: 105%;
        left: -157px;
        top: 18px;
        bottom: 0;
        background: url('../media/_assets/_images/mr.eco.png') no-repeat;
        background-size: 388px;
        transform: scale(.88) rotate(-5.6deg);
    }

    .banner {
        background: url('../media/_assets/_images/text-antilitter.png') no-repeat;
        background-size: 798px;
        position: absolute;
        transform: scaleX(.87) scaleY(.87);
        left: 111px;
        top: 84px;
        background-position: 60% 0;
        width: 800px;
        height: 700px;
    }

    button {
        &.next-screen {
            position: absolute;
            width: 336px;
            height: 170px;
            background-position: -1973px -109px;
            left: 31.9%;
            top: 64.55%;
            opacity: 0;
            cursor: auto;
            animation-duration: 1s;
            animation-fill-mode: both;
            transform: scaleX(.87) scaleY(.88);

            &:hover {
                background-position: -1973px 280px;
            }
        }
    }

    &.OPEN {
        .content-group {

            img {
                animation-name: bounceIn;
            }
        }
    }

    &.COMPLETE,
    .DEMO & {
        button.next-screen {
            opacity: 1;
            cursor: pointer;
            animation-name: zoomInDown;
        }
    }
}

#commit {


    .banner {
        background: url('../media/_assets/_images/NEVER.png') no-repeat;
        background-size: 150px;
        position: absolute;
        left: 200px;
        top: 24px;
        background-position: 60% 0;
        width: 800px;
        height: 700px;
    }

    button.next-screen {
        position: absolute;
        left: 35.5%;
        top: 66.6%;
        opacity: 0;
        cursor: auto;
        width: 272px;
        height: 151px;
        background-position: -1611px -109px;
        animation-duration: 1s;
        animation-fill-mode: both;
        transform: scale(.88);

        &:hover {
            background-position: -1611px 280px;
        }
    }

    .pledge {
        position: absolute;
        left: 352px;
        top: 25px;
        font-size: 44px;
        font-weight: bold;
        letter-spacing: .5px;
        color: #fff;
        text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000;
        width: 590px;

        .never {
            padding: 69px;
        }

        .spacerA {
            padding-left: 28px;
        }

        .spacerB {
            padding-left: 11.5px;
        }

        .spacer1 {
            padding-left: 49px;
        }

        .spacer2 {
            padding-left: 93px;
        }

        .spacer3 {
            padding-left: 223px;
        }
    }

    &.COMPLETE,
    .DEMO & {
        button.next-screen {
            opacity: 1;
            cursor: pointer;
            animation-name: zoomInDown;
        }
    }
}

[id*='catch-game'] {
    .bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 960px;
        height: 80px;
        vertical-align: middle;

        .level {
            position: relative;
            vertical-align: middle;
            display: inline-block;
            font-size: 48px;
            color: #f5fd37;
            margin-right: 30px;
            @include text-stroke(3, #000);

            &::before {
                content: '';
                vertical-align: middle;
                display: inline-block;
                margin-left: 80px;
                width: 120px;
                height: 80px;
                background-image: url(../media/_assets/_sprites/sprites.game2.4-01.png);
                background-repeat: no-repeat;
                background-size: 600px;
                background-position: -240px -30px;
            }
        }

        .score {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 190px;
            height: 80px;
            padding-left: 40px;
            z-index: 1;

            &.litter-bug-score {
                &::before {
                    background-position: -122px -24px;
                }

                div {
                    &::after {
                        background-color: #e24419;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                width: 60px;
                height: 60px;
                z-index: 2;
                background-image: url(../media/_assets/_sprites/sprites.game2.4-01.png);
                background-repeat: no-repeat;
                background-size: 500px;
                background-position: -20px -24px;
            }

            &::after {
                content: '';
                background-color: #f9f9f9;
                position: absolute;
                width: 140px;
                height: 6px;
                border-radius: 10px;
                bottom: 35px;
                left: 51px;
                opacity: .6;
                z-index: 1;
            }

            span {
                display: none;
            }

            div {
                position: relative;
                width: 200px;
                height: 29px;
                padding-top: 25px;

                &::before {
                    content: '';
                    display: block;
                    background-color: #fff;
                    border: 3px solid #000;
                    border-radius: 50px;
                    height: 20px;
                    width: 160px;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 6px;
                    left: 3px;
                    border-radius: 50px;
                    background-color: green;
                    width: 0;
                    height: 20px;
                    -webkit-transition: width .5s cubic-bezier(.53,0,.63,1);
                    transition: width .5s cubic-bezier(.53,-0.56,.63,1.74);
                }
            }

            @for $i from 0 through 10 {
                &.score-#{$i * 10} {
                    div:after {
                        width: #{$i * 16}px;
                    }
                }
            }
        }
    }

    .timer {
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        width: 200px;
        vertical-align: middle;
        height: 60px;

        &::before {
            content: '';
            display: inline-block;
            position: relative;
            width: 90px;
            height: 50px;
            vertical-align: middle;
            background-image: url(../media/_assets/_sprites/sprites.game2.4-01.png);
            background-repeat: no-repeat;
            background-size: 500px;
            background-position: -307px -30px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 32px;
            color: #f5fd37;
            @include text-stroke(3, #000);
        }
    }

    .main {
        position: absolute;
        left: 0;
        top: 0;
        width: 960px;
        height: 460px;
        border-radius: 16px 16px 0 0;
        overflow: hidden;
    }

    .randomizer {
        display: none;
    }

    .dropper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .items {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .catchable {
            position: absolute;
            transition: opacity .5s;
            animation-duration: 6s;
            animation-timing-function: linear;
            top: 60px;
            left: 980px;
            width: 100px;
            height: 100px;
            background-image: url('../media/_assets/_sprites/sprites.game2.1-01.png');
            background-size: 1400px;
            opacity: 1;

            &.CAUGHT {
                opacity: 0;
            }

            &.go {
                animation-name: catchable;
            }

            .PAUSED & {
                animation-play-state: paused;
            }

            $catchables: mushroom banana paper dog battery duck squirrel tire blue-flower yellow-flower red-flower purple-flower glass plastic;
            @for $i from 1 through 14 {
                &.#{nth($catchables, $i)} {
                    background-position: #{($i - 1) * -100}px 0;
                }
            }
        }
    }

    .catcher {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .mr-eco {
            position: absolute;
            pointer-events: none;
            left: 70px;
            top: 200px;
            width: 50px;
            height: 75px;

            &::before {
                content: '';
                position: absolute;
                left: -50px;
                top: -15px;
                width: 100px;
                height: 105px;
                background-image: url(../media/_assets/_sprites/sprites.game2.4-01.png);
                background-size: 500px;
                background-position: -400px 0;
            }
        }
    }

    .reveal {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s, z-index 0s .5s;

        &.OPEN {
            opacity: 1;
            z-index: 1;
            transition: opacity .5s, z-index 0s;
        }

        &.open-level-up {
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: .4;
                background-image: url(../media/_assets/_images/BKG.5.png);
                background-size: cover;
                background-position: center center;
            }
        }

        ul {
            list-style: none;
            margin: 0;
        }

        li {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 960px;
            height: 540px;

            &.OPEN {
                display: block;
            }

            .line {
                background-image: url($media-server + 'ImageAssets/thick.border.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            &.instructions {
                > div {
                    position: absolute;
                    left: 80px;
                    top: 50px;
                    width: 800px;
                    height: 440px;
                    border: 4px solid #000;
                    border-radius: 20px;
                    background-color: #f1f64e;
                }

                .instructions,
                .words {
                    position: relative;
                    background-image: url(../media/_assets/_sprites/sprites.game2.2-01.png);
                    background-repeat: no-repeat;
                    background-size: 6000px;
                    margin: 0 auto;
                }

                .instructions {
                    height: 115px;
                    width: 510px;
                    background-position: -120px -60px;
                }

                .words {
                    height: 220px;
                    width: 800px;
                    background-position: -720px -5px;
                }

                button {
                    display: block;
                    margin: 0 auto;
                    width: 200px;
                    height: 100px;
                    background-image: url(../media/_assets/_sprites/main.nav.btns-01.png);
                    background-repeat: no-repeat;
                    background-size: 3000px;
                    background-position: -2070px -117px;
                    transition: opacity .5s;

                    &:hover {
                        background-position: -2070px -450px;
                    }

                    .VOICE-OVER:not(.DEMO) & {
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }

            &.level-up {

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -100px;
                    bottom: 0;
                    z-index: 1;
                    width: 300px;
                    height: 400px;
                    background-image: url(../media/_assets/_sprites/sprites.mr.eco-01.png);
                    background-size: 600px;
                    background-position: 0 0;
                }

                > div {
                    position: absolute;
                    left: 80px;
                    top: 50px;
                    width: 800px;
                    height: 440px;
                    border: 4px solid #000;
                    border-radius: 20px;
                    background-color: #f1f64e;
                }

                .congratulations,
                .level-up {
                    position: relative;
                    background-image: url(../media/_assets/_sprites/sprites.game2.2-01.png);
                    background-repeat: no-repeat;
                    background-size: 6000px;
                    margin: 0 auto;
                }

                .congratulations {
                    height: 115px;
                    width: 650px;
                    background-position: -1550px -60px;
                    margin-top: 80px;
                }

                .level-up {
                    height: 150px;
                    width: 610px;
                    background-position: -2320px -45px;
                }
            }

            &.youve-won {
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -100px;
                    bottom: -10px;
                    z-index: 1;
                    width: 400px;
                    height: 500px;
                    transform: rotate(0deg);
                    transform-origin: 50% 75%;
                    transition: transform .5s;
                    background-image: url(../media/_assets/_images/litterbug_.png);
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    background-size: contain;
                }

                .congratulations {
                    height: 115px;
                    width: 530px;
                    background-position: -4610px -60px;
                    margin-top: 10px;
                }

                .level-up {
                    height: 250px;
                    width: 580px;
                    background-position: -5330px 10px;
                    margin-top: 10px;
                }

                &.fall {
                    &::after {
                        transform: rotate(-90deg);
                    }
                }
            }

            &.try-again {
                background-color: rgba(243, 157, 201, .6);

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -157px;
                    bottom: -15px;
                    width: 400px;
                    height: 500px;
                    background-image: url(../media/_assets/_images/litterbug_.png);
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    background-size: contain;
                    transform: scale3D(-1, 1, 1);
                    z-index: 1;
                }

                > div {
                    position: absolute;
                    left: 80px;
                    top: 50px;
                    width: 800px;
                    height: 440px;
                    border: 4px solid #000;
                    border-radius: 20px;
                    background-color: #4a6f11;
                }

                .try-again,
                .words {
                    position: relative;
                    background-image: url(../media/_assets/_sprites/sprites.game2.2-01.png);
                    background-repeat: no-repeat;
                    background-size: 6000px;
                    margin: 0 auto;
                }

                .try-again {
                    height: 115px;
                    width: 370px;
                    background-position: -3190px -60px;
                }

                .words {
                    height: 210px;
                    width: 800px;
                    background-position: -3720px -15px;
                }

                button {
                    display: block;
                    margin: 0 auto;
                    width: 200px;
                    height: 100px;
                    background-image: url(../media/_assets/_sprites/main.nav.btns-01.png);
                    background-repeat: no-repeat;
                    background-size: 3000px;
                    background-position: -2400px -117px;
                    transition: opacity .5s;

                    &:hover {
                        background-position: -2400px -450px;
                    }

                    .VOICE-OVER:not(.DEMO) & {
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }
        }

        .close-reveal {
            display: none;
        }
    }
}

#flip {

    .screen-content {
        div {
            position: absolute;
        }
    }

    .words,
    .flip {
        background-image: url(../media/_assets/_sprites/sprites.sing.thankyou.flip-01.png);
        background-repeat: no-repeat;
        background-size: 4500px;
    }

    .words {
        left: 0;
        top: 0;
        width: 660px;
        height: 290px;
        background-position: -3030px -40px;
    }

    .flip-container {
        left: 50px;
        top: 280px;
        width: 330px;
        height: 220px;
        animation-delay: 5s;
    }

    .flip {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: -3960px -80px;
        opacity: 0;
        transition: opacity .5s 5s;
    }

    .mr-eco {
        right: 0;
        bottom: 0;
        width: 325px;
        height: 500px;
        background-image: url(../media/_assets/_sprites/sprites.mr.eco-01.png);
        background-repeat: no-repeat;
        background-size: 700px;
        background-position: -360px 0;
    }

    .earned {
        display: none;
        position: absolute;
        left: 388px;
        top: 110px;
        width: 200px;
    }

    &.OPEN {
        .flip-container {
            animation-name: flip;
        }

        .flip {
            opacity: 1;
        }

        .mr-eco {
            animation-name: bounceInUp;
        }
    }

    &.COMPLETE {
        .earned {
            display: inline-block;
        }
    }
}

#quit {

    .frame {
        text-align: center;
        background-image: url(../media/_assets/_frames/frame_quit.frame.png);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 30px 0 0;
        margin-top: -100px;

        h2 {
            margin: 0;
        }

        button {
            margin: 70px 10px 20px;
        }
    }
}
