@import 'variables';
@import 'mixins';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: default;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

html, body, body > div, body > div > div {
  position: relative;
  width: 960px;
  height: 540px;
  margin: auto;
  font-size: 20px;
  background: transparent;

  .background {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center
  }

  .background.default {
    background-image: url(../media/_BKG/BKG_1.png);
  }

  .background.lets-clean-up {
    background-image: url(../media/_BKG/BKG_2.png);
  }

  .background.select {
    background-image: url(../media/_BKG/BKG_3.png);

    &:before {
      content: "";
      position: absolute;
      background: #000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: .2;
    }
  }

  .background.sun {
    background-image: url(../media/_BKG/BKG_4.png);
  }

  .background.commit {
    background-image: url(../media/_BKG/BKG_5.png);
  }

  .background.default,
  &.SCREEN-2 .background.lets-clean-up,
  &.SCREEN-3 .background.select,
  &.SCREEN-3.SUN .background.sun,
  &.SCREEN-11 .background.commit {
    opacity: 1;
  }

  &.MENU-quit {
    .screen:not(#quit) {
      opacity: 0;
    }
  }
}

html, body, body > div {
  width: 100%;
  height: 100%;
}

/* This is just to preload the images used in css. */
#asset-bin { display: none; }

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  background-image: url(../media/_Buttons/BU_1.png);
  background-size: auto 500px;
  background-position: left top;

  &.close {
    width: 30px;
    height: 30px;
    background-position: -231px 407px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    z-index: 2;

    &:hover {
      background-position: -231px 150px;
    }
  }

  &.next-screen,
  &.prev-screen {
    width: 60px;
    height: 60px;
  }

  &.next-screen {
    background-position: -125px 420px;

    &:hover {
      background-position: -125px 664px;
    }
  }

  &.prev-screen {
    background-position: -30px 420px;

    &:hover {
      background-position: -30px 664px;
    }
  }

  &.quit-yes {
    width: 230px;
    height: 130px;
    background-position: -1820px 450px;

    &:hover {
      background-position: -1820px 193px;
    }
  }

  &.quit-no {
    width: 230px;
    height: 130px;
    background-position: -2080px 450px;

    &:hover {
      background-position: -2080px 193px;
    }
  }
}

@media(max-width: 601px) {
  button {
    &.close {
      width: 50px;
      height: 50px;
      background-size: auto 525px;
      background-position: -231px 435px;

      &:hover {
        background-position: -231px 165px;
      }
    }
  }
}

#room,
#school,
#ground {
  button.next-screen {
    animation-duration: 1s;
    animation-fill-mode: both;
    width: 230px;
    height: 235px;
    background-position: -300px 500px;

    &:hover {
      background-position: -300px 243px;
    }
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 28px;
  margin: 0;
}

.canvas-src { display: none; }

.screen {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%);
  overflow: hidden;
  width: 960px;
  height: 540px;
}

.screen.last {}

.screen.OPEN {
  opacity: 1;
  transform: translateX(0);
}

.screen.READY {
  display: block;
}

.screen.LEAVE {
  opacity: 1;
  transform: translateX(-100%);
}

  .screen .next-screen,
  .screen .prev-screen {
    position: absolute;
    display: block;
    bottom: 1%;

    z-index: 2;
  }

  .screen .next-screen {
    margin-right: 5px;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transform: rotate(-180deg);
    transition: opacity 1s, transform 1s;
  }

  .screen.GATED .next-screen {
    opacity: 0;
    cursor: default;
  }

  .DEMO .screen .next-screen,
  .DEMO #clean-up .close-reveal,
  .screen.COMPLETE .next-screen,
  .screen.REPLAY .next-screen {
    opacity: 1;
    transform: rotate(0deg);
    cursor: pointer;
    pointer-events: auto;
  }

  .DEMO .screen.room button.next-screen,
  .DEMO .screen.school button.next-screen,
  .DEMO .screen.ground button.next-screen,
  .DEMO .screen.take-pledge button.next-screen,
  .DEMO .screen.commit button.next-screen {
    display: block;
  }

  .DEMO .screen.clean-up .next-screen {
    z-index: 0;
  }

  .screen .next-screen:hover {

  }

  .screen .prev-screen {
    margin-left: 5px;
    left: 0;

  }

  .screen .prev-screen:hover {

  }

.screen {
  &.no-frame {
    color: #fff;

    .frame {
      text-align: center;
    }
  }
}

// the following css is specific to this game

#litter-bug {
  .center {
    overflow: hidden;

    .content-group {
      overflow: visible;

      div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
      }
    }
  }

  .frame {
    position: relative;
    width: 960px;
    height: 200px;
    top: 0;

    img.background {
      position: absolute;
      width: 105%;
      left: -2.5%;
      opacity: 1;
    }
  }
}

#title {

  button {
    &.prev-screen {
      display: none;
    }
  }

  img.symbol {
    position: absolute;
    left: 100px;
    top: 20px;
    width: 420px;
    opacity: 0;
    transition: opacity 0s 1s;
  }

  img.litterbug {
    position: absolute;
    left: 360px;
    bottom: 0px;
    width: 500px;
  }

  .title {
    position: absolute;
    left: 150px;
    bottom: 0px;

    img {
      width: 400px;
      display: block;
      margin-bottom: -30px;

      &:nth-of-type(2) {
        width: 700px;
      }
    }
  }

  &.OPEN {

    img.litterbug {
      animation-name: zoomInDown;
    }

    .title {
      animation-name: slideInLeft;
    }

    &.COMPLETE {

      img.symbol {
        animation-name: bounceIn;
        opacity: 1;
      }
    }
  }
}

#lets-clean-up {

  div > div {
    margin: 0;
    position: absolute;
    right: 70px;
    top: 80px;
    text-align: center;
  }

  img {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 640px;
  }

  &.OPEN {

    div > div {
      animation-name: flipInX;
    }

    img {
      animation-name: zoomInDown;
    }
  }
}

#clean-up {

  .frame-component {
    z-index: 1;
  }

  .prev-screen {
    z-index: 1;
  }

  .COMPLETE {
    .next-screen {
      z-index: 1;
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  .frame {
    position: absolute;
    left: 0;
    top: 160px;

    .content-group {

      h2 {
        margin: 20px 0 15px;
      }

      p {
        text-align: center;
        width: 100%;
        bottom: 20px;
      }

      button {
        position: absolute;
        left: 50%;
        top: 125%;
        margin-left: -115px;
      }
    }
  }

  .trash {
    transform: translateX(0);
  }

  .reveal {
    position: absolute;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    width: 960px;
    height: 540px;
    transition: opacity .5s;

    &.OPEN {
      opacity: 1;
      z-index: 1;
      pointer-events: auto;
    }

    &.COMPLETE {
      .close-reveal {
        opacity: 1;
        transform: rotate(0deg);
        pointer-events: auto;
      }
    }

    ul {
      list-style: none;
    }
  }

  .selectable-reveal {
    .reveal {
      display: none;
    }
  }

  .close-reveal {
    position: absolute;
    width: 60px;
    height: 60px;
    background-position: -125px 420px;
    margin-right: 5px;
    right: 0;
    bottom: 1%;
    opacity: 0;
    transform: rotate(-180deg);
    pointer-events: none;
    transition: opacity 1s, transform 1s;

    &:hover {
      background-position: -125px 664px;
    }
  }

  .selectable {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
  }

  .next-screen {
    z-index: -1;
  }

  &.COMPLETE {
    .next-screen {
      z-index: 1;
      opacity: 1;
    }
  }
}

#room {

  img {
    position: absolute;

    &:nth-of-type(1) {
      width: 360px;
      left: 100px;
      top: 10px;
    }

    &:nth-of-type(2) {
      width: 540px;
      right: 40px;
      top: 10px;
    }
  }

  button.next-screen {
    position: absolute;
    left: 540px;
    top: 200px;
    opacity: 0;
    cursor: auto;
  }

  &.OPEN {

    img {

      &:nth-of-type(1) {
        animation-name: bounceInUp;
      }

      &:nth-of-type(2) {
        animation-name: bounceInDown;
      }
    }
  }

  &.COMPLETE {

    button.next-screen {
      opacity: 1;
      cursor: pointer;
      animation-name: bounceInLeft;
    }
  }
}

#school {

  img {
    position: absolute;

    &:nth-of-type(1) {
      width: 960px;
      left: 0;
      bottom: 0;
    }

    &:nth-of-type(2) {
      width: 400px;
      left: 150px;
      bottom: 40px;
    }
  }

  button.next-screen {
    position: absolute;
    left: 640px;
    bottom: 0px;
    opacity: 0;
    cursor: auto;
  }

  &.OPEN {

    img {

      &:nth-of-type(2) {
        animation-name: bounceInDown;
      }
    }
  }

  &.COMPLETE {

    button.next-screen {
      opacity: 1;
      cursor: pointer;
      animation-name: bounceInLeft;
    }
  }
}

#ground {

  img {
    position: absolute;

    &:nth-of-type(1) {
      width: 500px;
      left: 80px;
      top: 0;
    }

    &:nth-of-type(2) {
      width: 720px;
      right: 0;
      bottom: 0;
    }
  }

  button.next-screen {
    position: absolute;
    left: 200px;
    bottom: 0px;
    opacity: 0;
    cursor: auto;
  }

  &.OPEN {

    img {

      &:nth-of-type(1) {
        animation-name: bounceInDown;
      }
    }
  }

  &.COMPLETE {

    button.next-screen {
      opacity: 1;
      cursor: pointer;
      animation-name: bounceInLeft;
    }
  }
}

.DEMO {
  #room,
  #school,
  #ground {
    button.next-screen {
      opacity: 1;
      cursor: pointer;
      animation-name: bounceInLeft;
    }
  }
}

#sing-about-it {

  img {
    position: absolute;
    width: 500px;
    left: 230px;
    top: 30px;
  }

  &.OPEN {

    img {
      animation-name: flipInY;
    }
  }
}

#video .frame {
  width: 80%;
  height: 85%;
  background-image: url(../media/_Frames/FR_2.png);
  background-size: 100% 100%;

  video {
    position: relative;
    width: 91.2%;
    max-height: 95%;
    margin: 4.2% 4.3%;
  }
}

#good-for-you {

  .frame {
    top: 200px;
  }

  .content-group {
    img {
      position: absolute;

      &:nth-of-type(1) {
        width: 500px;
        right: 30px;
        bottom: 140px;
      }

      &:nth-of-type(2) {
        width: 400px;
        left: 40px;
        top: -70px;
      }
    }

    p {
      position: absolute;
      width: 500px;
      right: 30px;
      bottom: 50px;
      text-align: center;
    }
  }

  &.OPEN {

    img {

      &:nth-of-type(1) {
        animation-name: zoomInDown;
      }

      &:nth-of-type(2) {
        animation-name: bounceIn;
      }
    }
  }
}

#take-pledge {

  .frame {
    top: 200px;
    margin-top: -40px;
  }

  .content-group {

    img {
      position: absolute;
      width: 400px;
      left: 40px;
      top: -70px;
    }

    p {
      position: absolute;
      width: 500px;
      right: 30px;
      bottom: 40px;
    }

  }

  button {
    &.next-screen {
      position: absolute;
      width: 230px;
      height: 130px;
      background-position: -1320px 450px;
      left: 50%;
      top: 70%;
      margin-left: -115px;
      opacity: 0;
      cursor: auto;
      animation-duration: 1s;
      animation-fill-mode: both;

      &:hover {
        background-position: -1320px 193px;
      }
    }
  }

  &.OPEN {
    .content-group {

      img {
        animation-name: bounceIn;
      }
    }
  }

  &.COMPLETE,
  .DEMO & {
    button.next-screen {
      opacity: 1;
      cursor: pointer;
      animation-name: zoomInDown;
    }
  }
}

#commit {

  .frame {
    margin-top: -50px;
    width: auto;
    height: auto;

    img.background {
      position: relative;
      opacity: 1;
      width: 440px;
      height: auto;
      left: 0;
    }

    p {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 40px;
      font-weight: bold;
    }
  }

  button.next-screen {
    position: absolute;
    left: 50%;
    top: 70%;
    margin-left: -115px;
    opacity: 0;
    cursor: auto;
    width: 230px;
    height: 130px;
    background-position: -1570px 450px;
    animation-duration: 1s;
    animation-fill-mode: both;

    &:hover {
      background-position: -1570px 193px;
    }
  }

  &.COMPLETE,
  .DEMO & {
    button.next-screen {
      opacity: 1;
      cursor: pointer;
      animation-name: zoomInDown;
    }
  }
}

[id*='catch-game'] {
  .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 540px;

    .score {
      position: relative;
      width: 100%;
      height: 400px;
      margin-top: 50px;

      &:after {
        content: '';
        background-color: #7e7e7e;
        position: absolute;
        width: 10px;
        height: 330px;
        border-radius: 10px;
        bottom: 25px;
        left: 25px;
        opacity: .6;
      }

      div {
        position: relative;
        width: 50px;
        margin: 0 auto;

        &:before {
          content: '';
          display: block;
          background-color: #424242;
          border: 6px solid #fff;
          border-radius: 50px;
          height: 360px;
          width: 40px;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 6px;
          left: 6px;
          border-radius: 50px;
          background-color: green;
          height: 0px;
          width: 40px;
          -webkit-transition: height .5s cubic-bezier(.53,0,.63,1);
          transition: height .5s cubic-bezier(.53,-0.56,.63,1.74);
        }
      }

      @for $i from 0 through 10 {
        &.score-#{$i * 10} {
          div:after {
            height: #{$i * 36}px;
          }
        }
      }
    }
  }

  .timer {
    font-size: 14px;
    font-weight: normal;

    span {
      display: block;
      font-size: 28px;
    }
  }

  .main {
    background-color: #4c6c7a;
    position: absolute;
    left: 100px;
    top: 20px;
    width: 760px;
    height: 520px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
  }

  .dropper {
    left: 305px;
    width: 150px;
    height: 100px;

    .el {
      background-image: url($media-server + 'SpritesAnimations/sprite.game1.printer.png');
      background-size: 150px;
    }

    .left,
    .right {
      position: absolute;
      display: flex;
      width: 80px;
      height: 50px;
      top: 20px;

      div {
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin: 6px;
        transition: border .5s;
      }
    }

    .left {
      left: -40px;
      flex-direction: row-reverse;

      div {
        border-right: 10px solid black;
      }
    }

    .right {
      left: 95px;

      div {
        border-left: 10px solid black;
      }
    }

    &.right {
      .right {
        div {
          border-left-color: #10ce0e;
        }

        @for $i from 1 through 3 {
          div:nth-of-type(#{$i}) {
            animation: arrow-blink .75s #{$i * .25}s infinite;
          }
        }
      }
    }

    &.left {
      .left {
        div {
          border-right-color: #10ce0e;
        }

        @for $i from 1 through 3 {
          div:nth-of-type(#{$i}) {
            animation: arrow-blink .75s #{$i * .25}s infinite;
          }
        }
      }
    }

    .catchable {
      transition: top 1s, height .25s;
      top: 60px;
      left: 20px;
      width: 100px;
      height: 0px;
      background-image: url($media-server + 'SpritesAnimations/sprite.game1.png');
      background-size: 1200px;

      &.starting {
        height: 40px;
      }

      &.ready {
        height: 50px;
      }

      &.set {
        height: 100px;
      }

      &.go {
        top: 550px;
        height: 100px;
      }

      $catchables: milk shoes cup box glasses whistle car lego silver slinky gears nails;
      @for $i from 1 through 12 {
        &.#{nth($catchables, $i)} {
          background-position: #{($i - 1) * -100}px 0;
        }
      }
    }
  }

  .catch {
    div {
      position: absolute;
      top: 392px;
      width: 170px;
      height: 130px;
      background-image: url($media-server + 'SpritesAnimations/sprite.game1.bins.png');
      background-repeat: no-repeat;
      background-size: 600px;

      &:before {
        display: block;
        position: absolute;
        left: 30px;
        top: 0;
        width: 100px;
        height: 100px;
        z-index: 1;
        font-size: 32px;
        @include text-stroke(1, #0f3b1d);
      }

      &.correct,
      &.incorrect {
        &:before {
          animation: bin-points 1s forwards linear;
        }
      }

      &.correct {
        &:before {
          content: '+10';
          background-image: url($media-server + 'ImageAssets/plus.png');
          background-size: contain;
        }
      }

      &.incorrect {
        &:before {
          content: '-10';
        }
      }
    }

    $bins: plastic metal other;
    $lefts: 40 300 560;
    $background-lefts: 0 215 430;

    @for $i from 1 through 3 {
      .#{nth($bins, $i)} {
        left: #{nth($lefts, $i)}px;
        background-position: -#{nth($background-lefts, $i)}px 0;
      }
    }
  }

  .reveal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity .5s, z-index 0s .5s;

    &.OPEN {
      z-index: 1;
      transition: opacity .5s, z-index 0s;
    }

    ul {
      list-style: none;
      margin: 0;
    }

    li {
      display: none;
      position: absolute;
      left: 80px;
      top: 20px;

      &.OPEN {
        display: block;
      }

      .line {
        background-image: url($media-server + 'ImageAssets/thick.border.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      &[data-ref="in-this"] {
        width: 800px;
        height: 500px;

        &:after {
          content: '';
          display: block;
          position: absolute;
          right: -15px;
          bottom: 0;
          width: 250px;
          height: 445px;
          background-image: url($media-server + 'SpritesAnimations/sprite.minion.png');
          background-size: 2400px;
          background-position: -600px 0;
          background-repeat: no-repeat;
        }

        .frame {
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }

        .balloon {
          position: absolute;
          left: 30px;
          top: 50px;
          width: 600px;
        }

        .bins {
          position: absolute;
          left: 180px;
          top: 270px;
          width: 370px;
        }

        .words {
          position: absolute;
          left: 100px;
          top: 180px;
          color: green;
          font-size: 28px;
          opacity: 0;
          transition: opacity .5s;
          transform: translateY(-50%);

          &.show {
            opacity: 1;
          }

          &.be-sure {
            button {
              background-image: url($media-server + 'SpritesAnimations/sprite.nav.png');
              background-position: 0 0;
              width: 250px;
              height: 60px;
              margin-top: 10px;

              &:hover {
                background-position: 0 60px;
              }

              .VOICE-OVER & {
                pointer-events: none;
              }
            }
          }
        }

        .line {
          width: 110%;
          margin-left: -5%;
          height: 10px;
        }
      }

      &[data-ref="level-up"] {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(83, 31, 139, .8);
        background-image: url($media-server + 'Frames/green.frame.png');
        background-repeat: no-repeat;
        background-position: 200px 120px;
        background-size: 720px;
        padding: 200px 120px 80px 300px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 250px;
          height: 350px;
          background-image: url($media-server + 'SpritesAnimations/sprite.minion.png');
          background-repeat: no-repeat;
          background-position: -1130px 2px;
          background-size: 1800px;
        }

        h3 {
          position: absolute;
          left: 200px;
          top: 20px;
          color: #26992b;
          font-size: 132px;
          @include text-stroke(2, #fff);
          letter-spacing: 5px;
        }

        h4 {
          font-family: 'Source Sans Pro';
          text-transform: uppercase;
          font-size: 48px;
          text-decoration: underline;
          margin: 5px 0 15px 0;
          text-align: left;
          text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
        }

        div {
          font-family: 'Source Sans Pro';
          text-align: left;
          font-size: 28px;
          text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
        }
      }

      &[data-ref="try-again"] {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(83, 31, 139, .8);

        .minion {
          position: absolute;
          left: 140px;
          top: 410px;
          width: 320px;
        }

        div {
          position: absolute;
          left: 120px;
          top: 10px;
          width: 740px;
          height: 600px;
          font-family: 'Source Sans Pro';
          font-size: 32px;
          background-image: url($media-server + 'Frames/try.again.frame.png');
          background-size: contain;
          background-repeat: no-repeat;
          transform: rotate(180deg);
          transform-origin: 50% 100%;
          transition: transform 1s;
        }

        h3 {
          font-family: 'Molot';
          font-size: 132px;
          color: #26992b;
          @include text-stroke(2, #fff);
        }

        &.OPEN {
          div {
            transform: rotate(0deg);
          }
        }
      }
    }

    .close-reveal {
      position: absolute;
      left: 680px;
      top: 30px;
      width: 170px;
      height: 40px;
      background-position: -510px 0;
      z-index: 1;

      &:hover {
        background-position: -510px -54px;
      }
    }

    &.open-level-up {
      .close-reveal {
        display: none;
      }
    }

    &.open-try-again {
      .close-reveal {
        background-image: url($media-server + 'SpritesAnimations/sprite.nav.png');
        background-position: -760px 0;
        left: 350px;
        top: 280px;
        width: 260px;
        height: 60px;

        &:hover {
          background-position: -760px -57px;
        }
      }
    }
  }
}

#flip {

  img {
    position: absolute;

    &:nth-of-type(1) {
      width: 460px;
      left: 80px;
      top: 20px;
    }

    &:nth-of-type(2) {
      width: 300px;
      right: 60px;
      top: 280px;
      opacity: 0;
      transition: opacity 1s 5s;
    }
  }

  p {
    position: absolute;
    width: 460px;
    right: 0;
    top: 80px;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
  }

  &.OPEN {

    img {

      &:nth-of-type(1) {
        animation-name: bounceInUp;
      }

      &:nth-of-type(2) {
        opacity: 1;
        animation-name: flip;
        animation-delay: 5s;
      }
    }

    &.COMPLETE {

      img {

      }
    }
  }
}

#quit {

  .frame {
    text-align: center;

    h2 {
      margin: 0;
    }

    button {
      margin: 20px 10px;
    }
  }
}
