@import 'variables';
@import 'mixins';

@include reset;
@include bootstrap-game;

html {
    color: $text-color;
}

button {
    &.close {
        @include nav-button(4, 40px, 45px);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 40px;
        height: 45px;
    }

    &.next-screen,
    &.prev-screen {
        display: block;
        position: absolute;
        bottom: 30px;
        z-index: 2;
        margin: 0;
        width: 90px;
        height: 65px;
    }

    &.next-screen {
        @include nav-button(3, 90px, 65px);
        right: 15px;
        opacity: 0;
    }

    &.prev-screen {
        @include nav-button(2, 90px, 65px);
        left: 15px;
    }
}

.skoash-game {
    $screens:
        title
        eat-and-drink
        learn-and-create
        what-happens
        better-ways
        click-cards
        cards;

    $backgrounds:
        title
        everyday
        everyday
        everyday
        everyday
        cards
        cards;

    @include screen-backgrounds($screens, $backgrounds);

    .background {
        $sprite-backgrounds: title everyday cards;
        @for $i from 1 through length($sprite-backgrounds) {
            &.#{nth($sprite-backgrounds, $i)} {
                @include sprite-background($i);
            }
        }
    }
}

.frame-1 {
    @include sprite-frame(1);
    margin: -10px 0 0 50px;

    p {
        @include center;
        position: absolute;
        left: 66%;
        width: 52%;
        font-size: inherit;
    }
}

.frame-2 {
    @include sprite-frame(2);
}

@for $i from 1 through 3 {
    .intro-image-#{$i} {
        @include sprite-intro($i);
    }
}

