@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: default;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  color: $text-color;
}

body, body > div, .skoash-game {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 20px;
  background-size: cover;

  .background {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
}

.skoash-game {
  width: 960px;
  height: 540px;
}

// preload assets
#asset-bin {
  display: none;
}

img {
  &.hidden {
    display: none;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: left top;

  &.close {
    width: 40px;
    height: 45px;
    background-position: -410px -5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    &:hover {
      background-position: -410px -53px;
    }
  }

  &.next-screen,
  &.prev-screen {
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 2;
    width: 45px;
    height: 45px;
  }

  &.next-screen {
    right: 0;
    opacity: 0;
    pointer-events: none;
    background-position: -250px -5px;

    &:hover {
      background-position: -250px -53px;
    }
  }

  &.prev-screen {
    background-position: -250px -3px;
    transform: rotate(180deg);

    &:hover {
      background-position: -250px -51px;
    }
  }

  &.quit-yes {
    width: 150px;
    height: 60px;
    background-size: 300px;
    background-position: 0px 0px;

    &:hover {
      background-position: 0px -66px;
    }
  }

  &.quit-no {
    width: 150px;
    height: 60px;
    background-size: 300px;
    background-position: -150px 0px;

    &:hover {
      background-position: -150px -66px;
    }
  }

  &.close-reveal {
    width: 30px;
    height: 30px;
    background-position: -660px 240px;
    transition: opacity 1s;

    &:hover {
      background-position: -660px 390px;
    }
  }
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 36px;
  margin: 0;
}

.screen {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s, z-index 0 .5s;

  .screen-content {
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: opacity .5s;

    .VOICE-OVER:not(.DEMO) & {
      pointer-events: none;
    }
  }

  &.OPEN {
    opacity: 1;
    z-index: 1;
    transition: opacity .5s, z-index 0;
  }

  &.READY {
    .screen-content {
      display: block;
      opacity: 1;
    }
  }

  &.LEAVE {
    opacity: 0;
  }
}

  .skoash-game.VOICE-OVER:not(.DEMO) .close-reveal,
  .screen.GATED .next-screen {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s;
    cursor: default;
  }

  .skoash-game.MENU-quit .screen {
    &:not(#quit) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .skoash-game.DEMO .screen .next-screen,
  .screen.COMPLETE .next-screen,
  .screen.REPLAY .next-screen {
    opacity: 1;
    pointer-events: auto;
    transform: rotate(0deg);
    cursor: pointer;
    transition: opacity 1s, transform 1s;
  }

  .screen .prev-screen {
    margin-left: 5px;
    left: 0;
  }
