@import 'variables';
@import 'mixins';

[id*=phaser] {
    iframe {
        display: block;
        border: 0;
        width: 100%;
        height: 100%;
    }

    .timer {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;

        &::before {
            display: block;
            background-image: url($media-server + 'SpritesAnimations/game1.timelevelscore.png');
            background-size: auto 45px;
            width: 100px;
            height: 45px;
            content: '';
        }

        span {
            position: relative;
            top: -20px;
        }
    }

    .bottom {
        position: absolute;
        bottom: 10px;
        left: 2%;
        border-radius: 20px;
        background-color: $grass;
        padding: 10px 20px;
        width: 96%;

        > div {
            float: left;
            width: 33.33%;
        }
    }

    .score {
        &.life {
            @include score-meter(4, $bright-green);
        }

        &.bags {
            @include score-meter(5, $light-purple);
        }
    }
}
