$media: $media-server + 'Games/WasteBusters/';
$sprite: $media + 'SpritesAnimations/';
$image: $media + 'ImageAssets/';

$black: #000;
$bright-green: #008000;
$dark-green: #315a16;
$grass: #7ab738;
$green: #81fe46;
$imagine-green: #006d05;
$light-grey: #f9f9f9;
$light-purple: #683eb5;
$purple: #671db0;
$text-color: #fff;
$white: #fff;

$transparent-white: rgba(255, 255, 255, .6);
