$media-server-base: $media-server;
$media-server: $media-server + 'Games/WasteBusters/';

$text-color: #fff;
$imagine-green: #006d05;
$purple: #671db0;
$light-purple: #683eb5;
$green: #81fe46;
$white: #fff;
$black: #000;
$dark-green: #315a16;

$grass: #7ab738;
