@keyframes flush {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(1.75) rotate(0deg);
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translate3d(-50%, -50%, 0) scale(0.2) rotate(720deg);
  }
}

@keyframes flushTitle {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(720deg) scale(.3);
    opacity: 0;
  }
}

html {
  background-color: #fff;
}

img.hidden {
  display: none;
}

.pl-game, .skoash-game, .PAUSED {
  width: 960px;
  height: 540px;
  position: absolute;
  
  &:before, &:not(.DEMO):after {
    z-index: 3 !important;
  }
}

#twirl-n-swirl {
  background-color: #fff;
  margin: auto;
  perspective: 500px;

  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;

  background: no-repeat center;

  $backgrounds: title info-question plant flush-it ownership flip;

  @for $i from 1 through 6 {
    $background: nth($backgrounds,$i);
      
    ##{$background} {
      background-size: cover;
      width: 960px;
      height: 540px;
      position: absolute;
      top: 0;
    }
  }

  &.QUIT-SCREEN {
    section.OPEN:not(#quit) {
      opacity: 0;
    }
  }

  &.DEMO section .yes,
  &.DEMO section.VOICE-OVER:not(.COMPLETE) .yes,
  &.DEMO section .next-screen,
  &.DEMO section.VOICE-OVER:not(.COMPLETE) .next-screen {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
  }
  
  .screen {
    opacity: 0;
    transform: rotateY(90deg);
    transform-origin: top left;
    transition: transform 1s, opacity 0.5s;

    &.OPEN {
      opacity: 1;
      transform: rotateY(0);
      z-index: 1;
    }

    &.LEAVE {
      opacity: 0;
      transform: rotateY(-90deg);
    }

    .next-screen {
      background-image: url(../media/images/buttons.png);    
      opacity: 0;
      transition: opacity 1s;
      cursor: default;
      background-position: -480px -53px;

      &:hover,
      &:active {
        background-position: -480px -260px;
      }
    }

    .prev-screen {
      background-image: url(../media/images/buttons.png);
      background-position: -270px -53px;

      &:hover,
      &:active {
        background-position: -270px -260px;
      }
    }

    &.VOICE-OVER:not(.COMPLETE) {
      .yes,
      .next-screen {
        pointer-events: none;
      }
    }

    &.COMPLETE {
      .next-screen {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
    
  button.close {
    position: absolute;
    top: 0; right: 0;
    width: 80px; height: 80px;
    background-image: url(../media/images/buttons.png);
    z-index: 2;
    background-size: 1500px;
    background-position: -920px -70px;    

    &:hover,
    &:active {
      background-position: -919px -280px;
    }       
  }
}

/* This is just to preload the images used in css. */
#asset-bin { display: none; }

#title {
  background-image: url(../media/images/background-title.png);
    
  .center {
    background-image: url(../media/images/title/background.png);
    background-size: 55%;
    background-repeat: no-repeat;
    margin-left: 20%;
    opacity: 0;
    transform: rotateY(90deg);

    &.COMPLETE {
      opacity: 1;
      background-size: 71%;
      transform: rotateY(0);
      z-index: 1;    
      transform-origin: top left;
      transition: transform 2s, opacity 2s, background-size 1s;
    }
  }
    
  &.OPEN {    
    .logo {
      width: 60%;
      margin-left: -25%;
      animation-name: fadeInUp;
      animation-delay: 1s;
    }
  }
    /*
  .logo {
    position: relative;
    height: 500px;
    animation: fadeInUp 1s;
    animation-play-state: paused;
    z-index: 1;

    &.animated {
      animation-play-state: running;
    }

    &.rotateOut {
      animation-name: flushTitle;
      animation-duration: 3s;
      animation-iteration-count: 1;
      opacity: 0;
    }
  }*/
    &.LEAVING {
      .logo {
         animation-name: flushTitle;
         animation-duration: 3s;
         animation-iteration-count: 1;
         opacity: 0;
      }
    }
    
  .next-screen {
    background-position: 0px 0px !important;
    width: 240px;
    height: 208px;
    z-index: 1;
    
    &:hover {
        background-position: 0px -207px !important;
    } 
  }  
    
  .prev-screen {
    display: none;
  }
}
    
.toilet {
  position: absolute;
  bottom: 0; left: 0;
  height: 500px;
  text-align: center;
}

#info-question {
  background-image: url(../media/images/background.png);
    
  .message {
    height: 250px;
    font-size: 1.4em;
    background-image: url(../media/images/frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    position: absolute;
    margin-left: 50%;
    padding: 100px;
      
    h3 {
     text-align: center;
     margin-top: -30px;
     margin-left: -55px;
    }
  }

  .next-screen {
    background-image: url(../media/S_3/img_3.2.png) !important;
    background-position: 0px 0px !important;
    top: 50%;
    left: 60%;
    width: 200px;
    background-size: 200%;
    height: 200px;
      
    &:hover {
      background-position: -200px 0px !important;
    }
  }
}

#plant {
  background-image: url(../media/images/background-plant.png);
    
  h2 {
    width: 700px;
    margin: 20px auto;
    text-align: center;
  }
}

#ownership {
  background-image: url(../media/images/background.png);
    
  .message {
    height: 319px;
    width: 489px;
    font-size: 1.4em;
    background-image: url(../media/images/frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    position: absolute;
    margin-left: 45%;
    padding: 100px;
      
    p {
      text-align: center;
      width: 400px;
      margin-top: -20%;
      margin-left: -20%;    
    }
      
    img {
      position: absolute;
      width: 80%;
      margin-top: 20%;
      margin-left: -80%; 
    }    
  }
}

#flip {
  background-image: url(../media/images/background.png);
    
  .message {
    height: 319px;
    width: 489px;
    font-size: 1.4em;
    background-image: url(../media/images/frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    position: absolute;
    margin-left: 45%;
    padding: 100px;
      
    img {
      width: 240px;
      position: absolute;
      margin-left: -25%;
      margin-top: -13%;  
    }
      
    img.flip {
      width: 200px;
      position: relative;
      margin-left: 5%;
    }

    p {
      width: 350px;
      margin-top: -10%;
      margin-left: -8%;
    }
  }
}

#quit {  
  position: absolute;
  left: 200px;
  top: 75px;
  transform: rotate(90deg);
    
  .center {
    width: 600px;
    height: 400px;
    text-align: center;
    background-image: url(../media/images/frame.png);
        background-size: contain;
    background-repeat: no-repeat;

    h2 {
        margin-top: -10%;        
    }

    button {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 200px;
    }

    .quit-yes {
      background-image: url(../media/images/buttons.png);
      background-position: -1050px -50px;
      height: 110px;
      margin-right: 50px;

      &:hover,
      &:active {
        background-position: -1050px -258px;
      }
    }

    .quit-no {
      background-image: url(../media/images/buttons.png);    
      background-position: -1290px -40px;
      width: 150px;
      height: 140px;

      &:hover,
      &:active {
        background-position: -1290px -248px;
      }
    }

    > * {
      margin-left: 1.5em;
      margin-right: 1.5em;
    }

    > :first-child {
      margin-top: 1.5em;
      text-align: center;
    }
  }   
}
