html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body {
	position: relative;
	width: 960px;
	margin: auto;
	font-size: 20px;
	background: url(../media/images/background/title.png) bottom center no-repeat;
	background-size: cover;

	&.id {
		background-image: url(../media/images/background/id.png);
	}

	&.match {
		background-image: url(../media/images/background/match.png);
	}

	&.nose {
		background-image: url(../media/images/background/nose.png);
	}
}

// preload assets
#asset-bin {
	display: none;
}

button {
	margin: 0;
	padding: 0;
	border: none;

	font-family: inherit;
	font-size: inherit;
	color: transparent;
	background-color: transparent;
	outline: none;
	cursor: pointer;

	background-image: url(../media/images/button.png);
	background-size: 1230px 218px;
	background-position: left top;

	&.close {
		width: 60px;
		height: 60px;
		background-position: -1165px -30px;

		&:hover {
			background-position: -1165px -143px;
		}
	}

	&.next-screen,
	&.prev-screen {
		background-repeat: no-repeat;
		width: 100px;
		height: 80px;
	}

	&.next-screen {
		background-position: -990px -20px;

		&:hover {
			background-position: -990px -134px;
		}
	}

	&.prev-screen {
		background-position: -810px -20px;

		&:hover {
			background-position: -810px -134px;
		}
	}

	&.no,
	&.yes {
		width: 200px;
		height: 100px;
	}

	&.no {
		background-position: -280px 0px;

		&:hover {
			background-position: -280px -114px;
		}
	}

	&.yes {
		background-position: -5px 0px;

		&:hover {
			background-position: -5px -114px;
		}
	}
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
	margin: 0 0 30px;
}

.spinner {
	position: relative;
	width: 60%; height: 60%;
	animation: pulse 0.5s infinite;
	background: rgba(0,0,0,0.5);
	border-radius: 50px;

}

.spinner > .spinner {
	position: absolute;
	top: 20%; left: 20%;
}

.spinner > .spinner > .spinner {

}

#loader {
	transition: opacity 0.5s;
	opacity: 0;
}

#loader.OPEN {
	opacity: 1;
}

#loader .group > .spinner {
	width: 80px; height: 80px;
	margin: auto;
}

.canvas-src { display: none; }

.screen {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	opacity: 0;
	display: none;
	transition: opacity 1s, transform 0.5s;
	transform: translateX(100%);
}

.screen.last {}

.screen.OPEN {
	opacity: 1;
	transform: translateX(0);
}

.screen.READY {
	display: block;
}

.screen.LEAVE {
	opacity: 1;
	transform: translateX(-100%);
}

	.screen .next-screen,
	.screen .prev-screen {
		position: absolute;
		display: block;
		bottom: 1%;

		z-index: 2;
	}

	.screen .next-screen {
		margin-top: 5px;
		margin-right: 5px;
		right: 3%;

		background-image: url(../media/images/button.png);
		transition: opacity 1s;
	}

	.screen.GATED .next-screen {
		opacity: 0;
		cursor: default;
	}

	body.DEMO .screen .next-screen,
	body.DEMO #match-game .next-screen,
	body.DEMO .screen.no-frame .frame .reveal-component .next-screen,
	.screen.COMPLETE .next-screen {
		opacity: 1;
		display: block;
		cursor: pointer;
	}

	.screen .next-screen:hover {
		background-image: url(../media/images/button.png);
	}

	.screen .prev-screen {
		margin-top: 5px;
		margin-left: 10px;
		left: 3%;
		background-image: url(../media/images/button.png);
	}
	
	.screen .prev-screen:hover {
		background-image: url(../media/images/button.png);
	}

.screen {
	&.no-frame {
		color: #fff;

		.frame {
			text-align: center;
		}
	}
}

#title {

	button {

		&.next-screen {
			width: 200px;
			height: 100px;
			background-position: -540px 0px;
			transform: translateX(0);

			&:hover {
				background-position: -540px -114px;
			}
		}

		&.prev-screen {
			display: none;
		}
	}
}

#info-match {

	h3 {
		text-shadow: 0 3px 10px #000;
	}

	.frame {
		text-align: center;

		div {
			float: left;
			width: 50%;

			img {
				width: auto;
				height: 250px;

				&:nth-of-type(1) {
					height: 130px;
				}
			}
		}
	}
}

#what-does-a-nose-do {

	.items {
		display: block;

		li {
			width: 200px;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: auto;
				max-width: 200%;
				height: 100%;
				opacity: 1;
				transition: none;
			}

			.b {
				img {
					transform: translateX(-50%);
				}
			}
		}
	}

	.flip-card-component > ul li .side {
		background-color: transparent;
	}

	.reveal-component {
		display: none;
	}
}

.screen.screen-id {

	.frame {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: left;

		.selectable-component {
			position: static;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
		}

		.items {
			width: 70%;
			height: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 1;
			flex-wrap: wrap;

			li {
				width: 45%;
				margin: 2.5%;
				cursor: pointer;
				max-height: 45%;

				img {
					opacity: 1;
					position: relative;
				}

				&:before,
				&:after {
					content: "";
					display: block;
					position: absolute;
					left: -9%;
					top: -16%;
					width: 130%;
					height: 125%;
					background: url(../media/images/frame/id.png) no-repeat;
					background-size: 200% 100%;
					z-index: 1;
				}

				&:after {
					background-position: 107% 0;
					opacity: 0;
					transition: opacity .4s;
				}

				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
		}

		.bin {
			display: none;
		}
	}

	> .next-screen {
		display: none;
	}

	&.VOICE-OVER {
		.frame {
			.items {
				li {
					cursor: auto;
					&:hover {
						&:after {
							opacity: 0;
						}
					}
				}
			}
		}
	}
}

.screen.no-frame {

	.frame {

		.reveal-component {
			position: static;

			ul {
				position: static;
				margin: 0;
			}

			li {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				transition: z-index 0s .5s, opacity .5s;

				div {
					background: url(../media/images/frame/reveal.png) no-repeat;
					background-size: 100% auto;
					background-position: center center;
					position: absolute;
					width: 80%;
					height: 0;
					padding-bottom: 50%;
					left: 10%;
					top: 50%;
					transform: translateY(-50%);

					h3 {
						position: absolute;
						left: 50%;
						top: 50%;
						width: 80%;
						transform: translateX(-50%) translateY(-50%);
						text-align: center;
						color: #000;
					}
				}

				&.OPEN {
					z-index: 1;
					transition: z-index 0s, opacity .5s;
				}
			}

			.next-screen {
				float: none;
				position: absolute;
				bottom: 12%;
				right: 10%;
				transform: scale(0.6);
				opacity: 0;
				transition: opacity .5s;
			}
		}
	}

	&.COMPLETE {
		.frame {
			.reveal-component {
				.next-screen {
					opacity: 1;
					cursor: pointer;
				}
			}
		}
	}
}

.screen.snout {

	.frame {

		h2 {
			font-size: 60px;
			margin: 20px 0 40px;
		}

		> div {
			position: relative;
			width: 760px;
			margin: 45px auto 0;

			span {
				position: absolute;
				display: block;
				background-image: url(../media/images/img_14.2.png);
				background-size: 760px 160px;
				background-repeat: no-repeat;

				&:nth-of-type(1) {
					background-size: 770px 160px;
					width: 200px;
					height: 80px;
					top: -2px;
					left: 110px;
					background-position: -100px 0px;
					-webkit-animation-delay: 4.5s;
					animation-delay: 4.5s;
				}

				&:nth-of-type(2) {
					background-size: 770px 160px;
					width: 230px;
					height: 80px;
					top: -3px;
					left: 303px;
					background-position: -300px 0px;
					-webkit-animation-delay: 6s;
					animation-delay: 6s;
				}

				&:nth-of-type(3) {
					width: 270px;
					height: 75px;
					top: -2px;
					left: 524px;
					background-position: -520px 0px;
					-webkit-animation-delay: 7.5s;
					animation-delay: 7.5s;
				}

				&:nth-of-type(4) {
					width: 240px;
					height: 80px;
					top: 78px;
					left: 24px;
					background-position: -10px -80px;
					-webkit-animation-delay: 8.75s;
					animation-delay: 8.75s;
				}

				&:nth-of-type(5) {
					width: 260px;
					height: 80px;
					top: 78px;
					left: 260px;
					background-position: -250px -80px;
					-webkit-animation-delay: 10s;
					animation-delay: 10s;
				}

				&:nth-of-type(6) {
					width: 260px;
					height: 80px;
					top: 70px;
					left: 516px;
					background-position: -510px -72px;
					-webkit-animation-delay: 11s;
					animation-delay: 11s;
				}
			}
		}
	}

	&.OPEN {
		.frame {

			> div {

				span {
					-webkit-animation-name: bounceIn;
					animation-name: bounceIn;
				}
			}
		}
	}
}

#match-game {

	.frame {
		position: static;
	}

	.match-game-component {
		
		.bin {
			display: none;
		}

		.items {
			width: 800px;
			height: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-60%);
			z-index: 1;
			flex-wrap: wrap;

			li {
				width: 150px;
				height: 150px;

				&:nth-of-type(7) {
					margin-right: 165px;
				}

				.side {
					background-color: transparent;
					background-image: url(../media/images/match/img_13.1.png);
					background-position: -10px -15px;
					background-size: 1800% 120%;
				}

				&.fox .side.b {
					background-position: -190px -15px;
				}

				&.frog .side.b {
					background-position: -370px -15px;
				}

				&.rhino .side.b {
					background-position: -550px -15px;
				}

				&.mouse .side.b {
					background-position: -730px -15px;
				}

				&.cactus .side.b {
					background-position: -914px -15px;
				}

				&.oxpecker .side.b {
					background-position: -1094px -15px;
				}

				&.worm .side.b {
					background-position: -1276px -15px;
				}

				&.robin .side.b {
					background-position: -1450px -15px;
				}

				&.lily-pad .side.b {
					background-position: -1637px -15px;
				}

				&.humming-bird .side.b {
					background-position: -1818px -15px;
				}

				&.dove .side.b {
					background-position: -1999px -15px;
				}

				&.grass .side.b {
					background-position: -2170px -15px;
				}

				&.honeysuckle .side.b {
					background-position: -2350px -15px;
				}

				&.cow .side.b {
					background-position: -2543px -15px;
				}
			}
		}
	}

	.reveal-component {

		ul {

			li {

				div {
					background: url(../media/images/frame/match.png) no-repeat;
					background-size: 100% auto;
					background-position: center center;
					padding-bottom: 70%;
					top: 45%;
					text-align: center;
					color: #000;

					img {
						display: block;
						max-width: 80%;
						max-height: 250px;

						&:nth-of-type(1) {
							margin: 15% auto 0;
						}

						&:nth-of-type(2) {
							margin: -5% auto 0;
							max-height: 70px;
						}
					}

					p {
						margin: -2% 0 0;
						font-size: 30px;

						&.small-font {
							font-size: 26px;
						}
					}

					.next-screen {
						bottom: 17%;
						right: 13%;
						display: block;
						opacity: 1;
						transition: opacity .5s;
						cursor: pointer;
					}
				}
			}
		}
	}

	.next-screen {
		display: none;
	}

	&.PLAYING .reveal-component ul li div .next-screen,
	&.VOICE-OVER .reveal-component ul li div .next-screen {
		opacity: 0;
		cursor: auto;
	}
}

.dropzone-component {
	display: inline-block;
	vertical-align: middle;

	.area {
		position: relative;
		border-radius: 50%;
		width: 350px;
		height: 350px;

		&:after {
			content: "";
			background-image: url(../media/images/frame/dropzone.png);
			background-size: 100% 100%;
			width: 140%;
			height: 140%;
			position: absolute;
			left: -20%;
			top: -20%;
		}
	}
}

.draggables {
	width: 195px;
	padding: 0;
	margin-left: 40px;
	display: inline-block;
	list-style: none;
	vertical-align: middle;

	li {
		height: 170px;
		background: url(../media/images/frame/draggable.png) right center;
		background-size: auto 120%;

		.draggable {
			position: relative;

			&.PLUCKED {
				&:before {
					background-position: 95% 0;
				}
			}
		}
	}
}

.draggable {
	height: inherit;

	background: no-repeat center;
	background-size: 55%;

	&::after {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;

		background-image: url(../media/images/frame/draggable.png);
		background-size: auto 120%;
		background-position: left center;
	}
}

.screen.screen-dropzone {
	> .next-screen {
		display: none;
	}

	h3 {
		font-size: 24px;
	}
}

.screen.OPEN .flip {
	-webkit-animation: flipInX 2s;
	animation: flipInX 2s;
}

.POSITIONED {
    transform-origin: top left;
}

.POSITIONED.absolute {
	position: absolute;
	top: 0; left: 0;
}

.PLUCKED {
	opacity: 0;
}

.draggables [pl-draggable] {
	cursor: -webkit-grab;
}

.draggables .DRAG-START,
.draggables .DRAGGING,
.draggable-helper {
	z-index: 1;
	cursor: -webkit-grabbing;
}

.draggable-helper.PLUCKED {
	opacity: 1;
}

.draggable-helper.RETURN {
	opacity: 0;
	/* One of the rare times I'll use important. This is to override an inline style. */
	transform: translate3d(0,0,0) !important; 
	transition: transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), opacity 1s;
}

.draggable-helper.RETURN.PLUCKED {
	opacity: 1;
}

.draggable-helper.DROPED {
	opacity: 0;
	transition: opacity 1s;
}
