#multi-bubbles {
  .group {
    text-align: center;
    width: 960px;
    height: 540px;
  }

  .clean-water {
    position: absolute;
    top: 0;
    left: 50%;
    width: 840px;
    transform: translateX(-50%);
  }

  .items {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 960px;
    height: 540px;
    margin: -270px -480px;
    display: block;
  }

  li {
    position: absolute;
    cursor: pointer;
    animation: bob 6s infinite;
    transition: opacity .5s;

    &:before {
      content: "";
      display: block;
      //background-image: url($media-server-game + 'SpritesAnimations/IMG_7.1.png');
      background-image: url('../media/_images/_S_MultiBubbles/img_7.3.png');
      background-size: 1602px;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &.HIGHLIGHTED {
      opacity: 0;
      cursor: auto;
      pointer-events: none;

      &:before {
        animation: rubberBand .75s infinite;
      }
    }

    $items: swim washDishes growCrops tapDance cook cleanHouse runFactories playBasketball drinkIt washFace laundry flyAKite brushTeeth takeShowers drive zipline crochet read sleep tellTime talk;
    $widths: 80 100 120 100 80 100 120 120 80 100 120 120 80 100 80 100 120 80 100 100 80;
    $heights: 80 100 120 100 80 100 120 120 80 100 120 120 80 100 80 100 120 80 100 100 80;
    $lefts: 20 680 500 850 420 345 35 155 175 25 635 835 255 305 695 545 405 585 775 215 825;
    $tops: 40 385 105 55 230 80 140 260 80 350 120 260 180 290 255 290 390 425 160 410 425;
    $background-lefts: -50 -440 -830 -1240 -50 -440 -830 -1230 -50 -440 -830 -1230 -50 -440 -850 -40 -430 -850 -50 -435 -850;
    $background-tops: -50 -40 -40 -50 -285 -275 -265 -265 -520 -510 -500 -500 -750 -740 -750 -975 -965 -985 -1220 -1210 -1220;
    $hover-lefts: -250 -640 -1030 -1440 -250 -640 -1030 -1430 -250 -640 -1030 -1430 -250 -640 -1050 -240 -630 -1050 -250 -635 -1050;
    $hover-tops: -50 -41 -40 -50 -285 -275 -265 -265 -520 -510 -500 -500 -750 -740 -750 -975 -965 -985 -1220 -1210 -1220;

    @for $i from 1 through 21 {
      &[data-ref=#{nth($items,$i)}] {
        width: nth($widths,$i)+px;
        height: nth($heights,$i)+px;
        left: nth($lefts,$i)+px;
        top: nth($tops,$i)+px;

        &:before {
          background-position: #{nth($background-lefts,$i)+px} #{nth($background-tops,$i)+px};
        }

        &:hover:before {
          background-position: #{nth($hover-lefts,$i)+px} #{nth($hover-tops,$i)+px};
        }
      }
    }
  }

  .score {
    position: absolute;
    left: 50px;
    bottom: 0;
    color: #fff;

    img {
      width: 180px;
      margin: 0;
      vertical-align: middle;
    }

    span {
      display: inline-block;
      vertical-align: bottom;
      padding-bottom: 4px;
      margin-left: -15px;
      font-size: 36px;
    }
  }
}

.VOICE-OVER #multi-bubbles ul{
  cursor: auto;
  pointer-events: none;
}

