@import 'variables';

#trash {
    opacity: 0;
    cursor: none;

    .net {
        position: absolute;
        transition: opacity .5s;
        opacity: 1;
        z-index: 1;
        width: 250px;
        pointer-events: none;
    }

    .selectable,
    .timer {
        transition: opacity .5s;
        opacity: 1;
    }

    .selectable {
        display: block;
        position: relative;
        margin: 0;
        width: 960px;
        height: 540px;

        li {
            position: absolute;
            transition: opacity .5s;
            animation: bob 8s infinite;
            background-image: url('../media/_images/_S_Trash/img_9.2.png');
            background-repeat: no-repeat;
            background-size: 1600px;

            @for $i from 1 through 20 {
                &:nth-child(#{$i}).HIGHLIGHTED {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            &[data-ref=bottle] {
                top: 280px;
                left: 860px;
                background-position: -40px -30px;
                width: 90px;
                height: 120px;

                &:hover {
                    background-position: -240px -30px;
                }
            }

            &[data-ref=cans] {
                top: 200px;
                left: 10px;
                background-position: -410px -25px;
                width: 160px;
                height: 120px;

                &:hover {
                    background-position: -610px -25px;
                }
            }

            &[data-ref=cleaner] {
                top: 200px;
                left: 230px;
                background-position: -840px -30px;
                width: 100px;
                height: 120px;

                &:hover {
                    background-position: -1040px -30px;
                }
            }

            &[data-ref=wash] {
                top: 300px;
                left: 340px;
                background-position: -1250px -30px;
                width: 80px;
                height: 120px;

                &:hover {
                    background-position: -1450px -30px;
                }
            }

            &[data-ref=necklace] {
                top: 390px;
                left: 570px;
                background-position: -40px -240px;
                width: 100px;
                height: 100px;

                &:hover {
                    background-position: -240px -240px;
                }
            }

            &[data-ref=oil] {
                top: 280px;
                left: 670px;
                background-position: -440px -225px;
                width: 100px;
                height: 120px;

                &:hover {
                    background-position: -640px -225px;
                }
            }

            &[data-ref=bag] {
                top: 180px;
                left: 320px;
                background-position: -835px -230px;
                width: 110px;
                height: 120px;

                &:hover {
                    background-position: -1035px -230px;
                }
            }

            &[data-ref=water] {
                top: 300px;
                left: 20px;
                background-position: -1240px -230px;
                width: 100px;
                height: 120px;

                &:hover {
                    background-position: -1440px -230px;
                }
            }

            &[data-ref=shoes] {
                top: 110px;
                left: 180px;
                background-position: 0 -440px;
                width: 180px;
                height: 110px;

                &:hover {
                    background-position: -200px -440px;
                }
            }

            &[data-ref=soap] {
                top: 80px;
                left: 440px;
                background-position: -430px -425px;
                width: 100px;
                height: 140px;

                &:hover {
                    background-position: -630px -425px;
                }
            }

            &[data-ref=sauce] {
                top: 190px;
                left: 500px;
                background-position: -835px -430px;
                width: 110px;
                height: 120px;

                &:hover {
                    background-position: -1035px -430px;
                }
            }

            &[data-ref=beeker] {
                top: 220px;
                left: 740px;
                background-position: -1250px -440px;
                width: 80px;
                height: 100px;

                &:hover {
                    background-position: -1450px -440px;
                }
            }

            &[data-ref=drum] {
                top: 140px;
                left: 780px;
                background-position: -20px -620px;
                width: 140px;
                height: 140px;

                &:hover {
                    background-position: -220px -620px;
                }
            }

            &[data-ref=cosmetics] {
                top: 30px;
                left: 780px;
                background-position: -440px -655px;
                width: 100px;
                height: 70px;

                &:hover {
                    background-position: -640px -655px;
                }
            }

            &[data-ref=tire] {
                top: 390px;
                left: 260px;
                background-position: -835px -630px;
                width: 110px;
                height: 120px;

                &:hover {
                    background-position: -1035px -630px;
                }
            }

            &[data-ref=floss] {
                top: 60px;
                left: 160px;
                background-position: -1250px -640px;
                width: 70px;
                height: 80px;

                &:hover {
                    background-position: -1450px -640px;
                }
            }

            &[data-ref=ketchup] {
                top: 430px;
                left: 720px;
                background-position: -50px -840px;
                width: 80px;
                height: 100px;

                &:hover {
                    background-position: -250px -840px;
                }
            }

            &[data-ref=bulb] {
                top: 90px;
                left: 870px;
                background-position: -450px -855px;
                width: 80px;
                height: 70px;

                &:hover {
                    background-position: -650px -855px;
                }
            }

            &[data-ref=fries] {
                top: 100px;
                left: 620px;
                background-position: -845px -840px;
                width: 90px;
                height: 100px;

                &:hover {
                    background-position: -1045px -840px;
                }
            }

            &[data-ref=soda] {
                top: 400px;
                left: 860px;
                background-position: -1240px -820px;
                width: 100px;
                height: 140px;

                &:hover {
                    background-position: -1440px -820px;
                }
            }

            &[data-ref=coral] {
                top: 40px;
                left: 50px;
                background-position: -50px -1040px;
                width: 80px;
                height: 100px;

                &:hover {
                    background-position: -250px -1040px;
                }
            }

            &[data-ref=crab] {
                top: 180px;
                left: 120px;
                animation: crab 8s infinite linear;
                background-position: -445px -1045px;
                width: 85px;
                height: 85px;
                transform-origin: 150px 0;

                &:hover {
                    background-position: -645px -1045px;
                }
            }

            &[data-ref=turtle] {
                top: 100px;
                left: -200px;
                animation: turtle 8s infinite linear;
                background-position: -815px -1030px;
                width: 150px;
                height: 110px;

                &:hover {
                    background-position: -1015px -1030px;
                }
            }

            &[data-ref=shell] {
                top: 460px;
                left: 370px;
                background-position: -1250px -1050px;
                width: 70px;
                height: 70px;

                &:hover {
                    background-position: -1450px -1050px;
                }
            }

            &[data-ref=fish1] {
                top: 40px;
                left: 1160px;
                animation: swim-left 6s infinite linear;
                background-position: -30px -1240px;
                width: 120px;
                height: 100px;

                &:hover {
                    background-position: -230px -1240px;
                }
            }

            &[data-ref=fish2] {
                top: 180px;
                left: 1160px;
                animation: swim-left 5s infinite linear;
                background-position: -440px -1245px;
                width: 100px;
                height: 90px;

                &:hover {
                    background-position: -640px -1245px;
                }
            }

            &[data-ref=lobster] {
                top: 0;
                left: 600px;
                animation: lobster 8s infinite;
                background-position: -815px -1230px;
                width: 140px;
                height: 110px;

                &:hover {
                    background-position: -1015px -1230px;
                }
            }

            &[data-ref=shell2] {
                top: 465px;
                left: 790px;
                background-position: -1250px -1250px;
                width: 80px;
                height: 80px;

                &:hover {
                    background-position: -1450px -1250px;
                }
            }

            &[data-ref=fish3] {
                top: 40px;
                left: -200px;
                animation: swim-right 7s infinite linear;
                background-position: -30px -1440px;
                width: 110px;
                height: 90px;

                &:hover {
                    background-position: -230px -1440px;
                }
            }

            &[data-ref=starfish] {
                top: 0;
                left: 110px;
                animation: seahorse 7s infinite linear;
                background-position: -440px -1440px;
                width: 100px;
                height: 90px;

                &:hover {
                    background-position: -640px -1440px;
                }

                &.second {
                    top: 370px;
                    left: 780px;
                    animation: starfish 5s infinite linear;
                }
            }

            &[data-ref=octopus] {
                top: 20px;
                left: 310px;
                animation: octopus 5s infinite;
                background-position: -805px -1420px;
                width: 160px;
                height: 145px;

                &:hover {
                    background-position: -1005px -1420px;
                }
            }

            &[data-ref=shell3] {
                top: 345px;
                left: 530px;
                background-position: -1250px -1450px;
                width: 80px;
                height: 80px;

                &:hover {
                    background-position: -1450px -1450px;
                }
            }

            &[data-ref=seahorse] {
                top: 330px;
                left: 200px;
                animation: seahorse 5s infinite linear;
                background-position: -60px -1640px;
                width: 60px;
                height: 90px;

                &:hover {
                    background-position: -260px -1640px;
                }
            }

            &[data-ref=fish4] {
                top: 390px;
                left: -200px;
                animation: swim-right 4s infinite linear;
                background-position: -440px -1645px;
                width: 100px;
                height: 80px;

                &:hover {
                    background-position: -640px -1645px;
                }
            }

            &[data-ref=fish5] {
                top: 280px;
                left: 1160px;
                animation: swim-left 8s infinite linear;
                background-position: -840px -1660px;
                width: 95px;
                height: 65px;

                &:hover {
                    background-position: -1040px -1655px;
                }
            }

            &[data-ref=jellyfish] {
                top: 640px;
                left: 430px;
                animation: swim-up 6s infinite linear;
                background-position: -1250px -1620px;
                width: 80px;
                height: 130px;

                &:hover {
                    background-position: -1450px -1620px;
                }
            }
        }
    }

    .timer {
        position: absolute;
        bottom: -10px;
        left: 50px;
        color: $white;

        img {
            margin: 0;
            width: 180px;
            vertical-align: middle;
        }

        span {
            display: inline-block;
            margin-left: -15px;
            padding-bottom: 18px;
            vertical-align: bottom;
            font-size: 36px;
        }
    }

    .group > .center.OPEN {
        z-index: 1;
    }

    .reveal {

        &.open-1 button {
            display: none;
        }

        [data-ref=tryAgain] img {
            margin-bottom: -30px;
        }

        button {
            background-image: url('../media/_images/_S_GoodJob/img_10.3.png');
            background-repeat: no-repeat;
            background-position: left center;
            background-size: auto 146px;
            width: 146px;
            height: 146px;

            &:hover {
                background-position: right center;
            }
        }
    }

    &.REVEAL-OPEN {
        .selectable,
        .timer {
            opacity: 0;
        }
    }

    &.TOUCH,
    &.REVEAL-OPEN {
        cursor: auto;

        .net {
            opacity: 0;
        }
    }

    &.OPEN {
        opacity: 1;
    }

    &.REPLAY .next-screen {
        transform: rotate(0deg);
        opacity: 1;
        cursor: pointer;

    }
}

body:not(.DEMO) #trash.tryAgain {
    .prev-screen,
    .next-screen {
        opacity: 0;
        pointer-events: none;
    }
}
