.modal-component {
	opacity: 0;

	> div {
		height: 400px;
		width: 620px;
	}

	.items {
		margin: 0;
		width: 100%;
	}

	li {
		display: none;
		text-align: center;

		&.SELECTED {
			display: block;
			opacity: 1;
		}
	}

	img {
		width: 400px;
	}

	p {
		line-height: 1.4;
	}

	&.SELECTED {
		z-index: 1;
		opacity: 1;
	}
}
