.block {
  position:absolute;
  background-color:#abc;
  left:226px;
  width:90px;
  height:90px;
  margin:5px;
}
.bomb {
  position:absolute;
  background-color:red;
  left:219px;
  top:251px;
  width:102px;
  height:123px;
  margin:5px;
}
