@keyframes fadeOutRelayer {
    0% {
        z-index: 1;
        opacity: 1;
    }
    99% {
        z-index: 1;
        opacity: 0;
    }
    100% {
        z-index: auto;
    }
}

@keyframes fadeInRelayer {
    0% {
        z-index: 1;
        opacity: 0;
    }

    100% {
        z-index: 1;
        opacity: 1;
    }
}

@keyframes anchor {
    0% {transform:translateY(-200px)}
    100% {transform:translateY(0px)}
}

@keyframes lifesaver {
    0% {transform:translateY(200px)}
    100% {transform:translateY(0px)}
}

@keyframes crab {
    0% {transform:translatex(0px)}
    50% {transform:translatex(-40px)}
    100% {transform:translateY(0px)}
}

.reveal.OPEN ~ .dropzone-container,
.VOICE-OVER:not(.DEMO):not(.REPLAY):not(.COMPLETE) .dropzone-reveal {
    cursor: default;
    pointer-events: none;
}

#globe {
    .dropzone-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .background {
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
        }

        ul {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 102px;
            margin: 0;
            padding: 0;
            text-align: center;
            list-style: none;
            background-image: url(../media/images/globe/background-tray.png);
            z-index: 1;

            li {
                position: relative;
                display: inline-block;
                width: 75px; height: 70px;
                margin-top: 15px;
                transform: rotate(0deg);

                .draggable {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    transition: opacity 0.5s;
                    background-repeat: no-repeat;
                    background-size: 300px;
                    background-image: url("../media/images/globe/sprite_4.2.png");
                    cursor: pointer;

                    &.CORRECT {
                        opacity: 0;
                        cursor: default;
                        pointer-events: none;
                    }

                    &.RETURN {
                        transition: transform .5s;
                    }
                }

                $background-top: 0 -85 -160 -240 -325 -395 -485 -565 -640 -720;

                @for $i from 1 through 10 {
                    &:nth-of-type(#{$i}){
                        @if $i == 7 {
                            width: 80px;
                        }
                        @if $i == 8 {
                            width: 65px;
                        }
                        @if $i == 9 {
                            width: 65px;
                        }
                        @if $i == 10 {
                            width: 85px;
                        }

                        .draggable {
                            background-position: -304+(300)+px nth($background-top, $i)+5+px;
                        }

                        &:before {
                            position: fixed;
                            top: 0;
                            left: 0;
                            content: ' ';
                            width: 100%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-size: 300px;
                            background-image: url("../media/images/globe/sprite_4.2.png");
                            background-position: -304+(100)+px nth($background-top, $i)+5+px;
                        }

                        &.DROPPED:before {
                            background-position: -304+(200)+px nth($background-top, $i)+5+px;
                        }
                    }
                }
            }
        }
    }

    .dropzone {
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0 15px;
        background-image: url(../media/images/globe/sprite_4.1.png);
        background-repeat: no-repeat;
        background-position: -440px -450px;
        background-size: 900px;
        width: 400px; height: 430px;

        .area {
            position: absolute;
            top: 10px; left: 30px;
            width: 340px; height: 340px;

            div {
                opacity: 0;
                transition: opacity .5s;
                width: 18%;
                position: absolute;
                background-image: url("../media/images/globe/sprite_4.3.png");
                background-size: auto 150px;

                $left: 240    66 140    80 240 210 140 136    30 56;
                $top:     90 270 280 190 250 186 120    20 130 70;
                $width:    62 62 62 62 62 62 62 62 62 72;
                $height: 48 44 60 50 62 36 44 62 44 42;
                $background-left: 0 75 150 225 300    0 75 150 225 300;
                $background-top:    0    0     0     0     0 75 75    75    75    75;

                @for $i from 1 through 10{
                    &:nth-of-type(#{$i}){
                        left: nth($left, $i)+px;
                        top: nth($top, $i)+px;
                        width: nth($width, $i)+px;
                        height: nth($height, $i)+px;
                        background-position: -1*nth($background-left, $i)+5+px nth($background-top, $i)+5+px;
                    }
                }
            }
        }

        $bobItems: 1, 4, 7, 9, 10;
        $anchorItems: 2, 3, 5;
        $crab: 6;
        $lifesaver: 8;

        @for $i from 1 through 10 {
            &.dropped-#{$i - 1} .area div:nth-of-type(#{$i}) {
                opacity: 1;
            }
        }

        @for $i from 1 through 5 {
            &.dropped-#{nth($bobItems, $i) - 1} .area div:nth-of-type(#{nth($bobItems, $i)}) {
                transform: translateY(-10%);
                animation: bob 4s infinite;
            }
        }

        @for $i from 1 through 3 {
            &.dropped-#{nth($anchorItems, $i) - 1} .area div:nth-of-type(#{nth($anchorItems, $i)}) {
                animation: anchor 4s forwards;
            }
        }

        &.dropped-#{$crab - 1} .area div:nth-of-type(#{$crab}) {
            animation: crab 4s infinite;
        }

        &.dropped-#{$lifesaver - 1} .area div:nth-of-type(#{$lifesaver}) {
            animation: lifesaver 4s forwards;
        }
    }

    .reveal {
        position: absolute;
        top: 10px;
        right: 10px;
        overflow: hidden;
        margin: 15px;

        .background {
            display: block;
            height: 400px;
        }

        > div > ul {
            position: static;
            margin: 0;

            > li {
                position: absolute;
                top: 0;
                left: 0; right: 0;
                padding: 10px;
                font-size: 1.1em;

                > h3 {
                    text-align: center;
                    font-size: 1.3em;
                }

                > * {
                    margin-left: 1em;
                    margin-right: 1em;
                }


            }

        }

        #well-done {
            .group div {
                width: 430px;
                height: 120px;
                background-size: 990px;
                background-position: 0 495px;
            }

            h3 {
                text-align: center;
            }
        }

        &.COMPLETE #instruction,
        &:not(.open-none) #instruction {
            opacity: 0;
            z-index: -1;
        }

        #correct {
            position: absolute;
            top: 20px;
            width: 100%;
            height: 400px;
            animation: fadeOutRelayer 1s;
            background-size: 220%;
            background-image: url(../media/images/globe/sprite_4.1.png);

            &.OPEN {
                animation: fadeInRelayer 1s;
            }
        }

        .selectable {

            ul {
                padding-left: 20px;
            }

            li {
                position: relative;
                list-style: none;
                cursor: pointer;

                &.SELECTED {
                    background-image: url(../media/images/globe/sprite_4.4.png);
                    background-size: auto 40px;
                    background-size: 1320px 100%;
                    background-position: -880px 4px;
                    font-weight: normal;
                }

                > * {
                    padding: 10px;
                    padding-left: 30px;
                    margin: 10px 0;
                }
            }

            li:before {
                position: absolute;
                left: -30px;
                width: 60px; height: 100%;
                content: "";
                background-repeat: no-repeat;
                background-image: url(../media/images/globe/sprite_4.4.png);
                background-size: auto 40px;
                background-size: 900px;
                background-position: -300px -5px;
            }

            li.SELECTED::before {
                background-position: 0px -5px;
            }
        }
    }
}
