html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

html {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    background: url(../media/images/background.png) bottom center no-repeat;
    background-size: cover;
    user-select: none;
    // the autoprefixer doesn't add these automatically
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
    cursor: default;
}

body > div > div {
    position: relative;
    width: 960px;
    height: 540px;
    margin: auto;
}

[pl-action] {
    -webkit-tap-highlight-color: transparent;
}

// preload assets
#asset-bin {
    display: none;
}

button {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &.close {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 35px;
        width: 35px;
        cursor: pointer;
        background: url(../media/images/buttons/quit.png) no-repeat center center;
        background-size: 30px;
        z-index: 1;

        &:hover {
            background: url(../media/images/buttons/quit-hover.png) no-repeat center center;
            background-size: 30px;
        }
    }
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

img.hidden {
    display: none;
}


.draggable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.canvas-src {
    display: none;
}

.screen {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    opacity: 0;
    display: none;
    transition: opacity 1s, transform .5s;
    transform: translateX(100%);
}

.screen.READY {
    display: block;
}

.screen.OPEN {
    opacity: 1;
    transform: translateX(0);
}

.screen.LEAVE {
    opacity: 1;
    transform: translateX(-100%);
}

.screen .next-screen,
.screen .prev-screen {
    position: absolute;
    display: block;
    width: 70px; height: 70px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 1%;

    z-index: 2;
}

.screen .next-screen {
    margin-top: 5px;
    margin-right: 5px;
    right: 4%;

    background-image: url(../media/images/buttons/next.png);
    transform: translateX(50%);
    transition: opacity 1s;
    opacity: 0;
    cursor: default;
    pointer-events: none;

    &:hover {
        background-image: url(../media/images/buttons/next-hover.png);
    }
}

.screen.GATED .next-screen {
    opacity: 0;
    cursor: default;
}

.screen.REPLAY .next-screen,
.screen.COMPLETE .next-screen,
.DEMO .screen .next-screen {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}

.screen .prev-screen {
    margin-top: 5px;
    margin-left: 10px;
    left: 4%;
    background-image: url(../media/images/buttons/prev.png);
    transform: translateX(-50%);
}

.screen .prev-screen:hover {
    background-image: url(../media/images/buttons/prev-hover.png);
}

.screen.no-frame {
    overflow: hidden;
}

.screen.no-frame .frame {
    width: 70%;
    height: 100%;
    text-align: center;
}

.screen.no-frame .frame img.background {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.screen.no-frame .frame .center > div {
    text-align: center;
}

.screen.no-frame.jelly .frame img.background {
    transform: translateX(-48%);
}

.screen.no-frame.jelly .frame .content-group div {
    margin-top: 50%;
    transform: translateY(-70%);
}

.screen.no-frame.jelly .frame .content-group img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
}

.screen.no-frame.jelly .frame h2 {
    margin: 6% 0 6%;
}

.MENU-quit .screen:not(#quit) {
    opacity: 0;
}

img.flip {
    margin-top: -20px;
}

section.OPEN .flip {
    -webkit-animation: zoomIn 1.5s;
    animation: zoomIn 1.5s;
}

// start screen specific

@keyframes bubbleUp {
    0% {bottom:-10%;transform:scale(.3)translateX(0%);opacity:0}
    1% {bottom:0%;transform:scale(.3)translateX(0%);opacity:0}
    18% {bottom:18%;transform:scale(.4)translateX(150%);opacity:1}
    22% {bottom:22%;transform:scale(.4)translateX(150%);opacity:1}
    48% {bottom:48%;transform:scale(.6)translateX(-75%);opacity:1}
    52% {bottom:52%;transform:scale(.6)translateX(-75%);opacity:1}
    68% {bottom:68%;transform:scale(.8)translateX(50%);opacity:1}
    72% {bottom:72%;transform:scale(.8)translateX(50%);opacity:1}
    95% {bottom:95%;transform:scale(1)translateX(-150%);opacity:0}
    99% {bottom:100%;transform:scale(1)translateX(-150%);opacity:0}
    100% {bottom:-10%;transform:scale(.3);opacity:0}
}

#title {

    > .prev-screen {
        display: none;
    }

    .next-screen {
        position: absolute;
        bottom: 20px;
        right: 40px;
        width: 120px;
        height: 75px;
        background-image: url(../media/images/buttons/play.png);
        background-size: 100%;
        transform: none;

        &:hover {
            background-image: url(../media/images/buttons/play-hover.png);
        }
    }

    img.background {
        min-width: 100%;
        min-height: 100%;
    }

    .center    {
        > .content-group {
            text-align: center;
            height: 90%;
        }

        img {
            position: relative;
            width: 70%;
            opacity: 0;
            transition: opacity .5s;
            animation-delay: .5s;
            top: 30%;
        }

    }

    &.OPEN {
        .center > .content-group img {
            opacity: 1;
        }
    }

    .bubbles {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        div {
            position: absolute;
            bottom: -10%;
            animation: bubbleUp 8s infinite linear;
            border-radius: 20px;
            box-shadow: 0 0 5px 2px rgba(75, 190, 200, 1);

            background: -moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
            background: -webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
            background: gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
            background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);

            width: 40px;
            height: 40px;

            &:nth-of-type(1) {
                animation-delay: 0s;
                left: 10%;
            }

            &:nth-of-type(2) {
                animation-delay: 1s;
                left: 50%;
                z-index: -1;
            }

            &:nth-of-type(3) {
                animation-delay: .5s;
                left: 75%;
                z-index: -1;
            }

            &:nth-of-type(4) {
                animation-delay: 1.5s;
                left: 30%;
            }

            &:nth-of-type(5) {
                animation-delay: 2s;
                left: 60%;
                z-index: -1;
            }

            &:nth-of-type(6) {
                animation-delay: 2.5s;
                left: 90%;
            }

            &:nth-of-type(7) {
                animation-delay: 3s;
                left: 20%;
                z-index: -1;
            }

            &:nth-of-type(8) {
                animation-delay: 3.5s;
                left: 45%;
            }

            &:nth-of-type(9) {
                animation-delay: 4s;
                left: 68%;
                z-index: -1;
            }

            &:nth-of-type(10) {
                animation-delay: 5s;
                left: 40%;
                z-index: -1;
            }

            &:nth-of-type(11) {
                animation-delay: 5.5s;
                left: 77%;
            }

            &:nth-of-type(12) {
                animation-delay: 6s;
                left: 86%;
                z-index: -1;
            }

            &:nth-of-type(13) {
                animation-delay: 7s;
                left: 35%;
                z-index: -1;
            }

            &:nth-of-type(14) {
                animation-delay: 7.5s;
                left: 65%;
            }
        }
    }
}

#video .frame {
    width: 760px;
    height: 540px;

    .video {
        position: absolute;
        background-image: url(../media/images/video-frame.png);
        background-size: 100% 100%;
        top: 40px;
        width: 760px;

        video {
            position: relative;
            width: 95%;
            max-height: 95%;
            margin: 2.2% 2.5% 1.4%;
        }
    }
}

#info-jelly {
    h2 {
        font-size: 32px;
        margin-bottom: 100px;
    }
}

#quit {
    .frame {
        text-align: center;
        width: 960px;
        background-image: url(../media/images/bg-slide.png);
        background-size: 30px;

        .background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        h3 {
            margin: 0;
        }

        button {
            margin: 10px;
        }

        .quit-yes {
            height: 150px;
            width: 180px;
            background-image: url(../media/images/quit-sea-turtle/yes.png);
            background-size: 100%;

            &:hover {
             background-image: url(../media/images/quit-sea-turtle/yes-hover.png);
             background-size: 100%;
            }
        }

        .quit-no {
            height: 150px;
            width: 148px;
            background-image: url(../media/images/quit-sea-turtle/no.png);
            background-size: 100%;

            &:hover {
                background-image: url(../media/images/quit-sea-turtle/no-hover.png);
                background-size: 100%;
            }
        }
    }
}

