
@{
    ViewBag.Title = "AI14";
}

@{
    ViewBag.Title = "AI12";
}




<style>
    #title img {
        margin-top: 66px;
        margin-left: 92px;
        margin-right: 0px;
        position: absolute;
        z-index: 1;
    }


    #sign img {
        float: right;
        margin-top: 384px;
        margin-left: 466px;
        position: absolute;
    }



    .flip-off img {
        position: absolute;
        -webkit-transition: opacity 0s ease-in-out;
        -moz-transition: opacity 0s ease-in-out;
        -o-transition: opacity 0s ease-in-out;
        transition: opacity 0s ease-in-out;
    }

        .flip-off img:hover {
            position: absolute;
            opacity: 0;
        }


    p, .p {
        font-family: Source Sans Pro;
        font-size: 30px;
        position: absolute;
        z-index: 2;
        width: 614px;
        text-align: center;
        margin-top: 124px;
        margin-left: 6px;
        letter-spacing: -1px;
    }


    h2, .h2 {
        font-family: Source Sans Pro;
        font-weight:600;
        font-size: 28px;
        position: absolute;
        text-align: center;
        z-index: 2;
        margin-top: 198px;
        margin-left: 101px;
    }

    b, strong {
        font-weight: 900;
        font-family: Source Sans Pro;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        load_15.play();
        try {
            load_15.load();
            load_15.play();
        }
        catch (err) {
            //no sound - log error
        }
        $('#btn').click(function () {
            $('#btn').delay(1000).delay(1000, function () {
                document.location.href = "@Url.Content("~/ActionItem/AI15")";
            });
            try {
                btn_click.play();
            }
            catch (err) {
                //no sound - log error
            }
        });

    })
</script>



<div class="container body-content">
    <div class="col-md-12 content-box">

        <div class="row">
            <p> <strong>Step Four:</strong></p>
            <h2 style="margin-left: 24px;  width: 571px; margin-top: 171px; letter-spacing: -1px;">
               Watch the cloud form inside the jar!
            </h2>

            <img src="~/Content/images/jar_with_cloud.png" class="img-responsive" alt="Responsive image" style="  position: absolute; z-index: 2;  width: 168px;  margin-top: 198px;  margin-left: 225px;">


        </div>
        <div id="title-img">
            <img src="~/Content/images/window.png" style="position:absolute; z-index:1;width: 617px;margin-left: -15px;" />
            <div id="btn">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" class="img-responsive" alt="Responsive image" style="width: 121px; margin-left: 471px; position: absolute; z-index: 8; margin-top: 339px;"></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" class="img-responsive" alt="Responsive image" style=" width: 121px; position: absolute; margin-left: 471px; z-index: 9; margin-top: 339px;"></div>
            </div>
        </div>
    </div>
</div>











