@keyframes flicker {
  0% {opacity:1;}
  10% {opacity:1;}
  12% {opacity:0;}
  14% {opacity:1;}
  16% {opacity:0;}
  18% {opacity:1;}
  44% {opacity:1;}
  46% {opacity:0;}
  48% {opacity:1;}
  50% {opacity:0;}
  52% {opacity:1;}
  82% {opacity:1;}
  84% {opacity:0;}
  86% {opacity:1;}
  88% {opacity:0;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  10% {
    opacity: 1;
  }
  60% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
}

html, body, body > div, body > div > div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: auto;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body > div > div {
  position: relative;
  margin: auto;
  width: 960px;
  height: 540px;
  font-size: 36px;
  color: #fff;
  background: url(../media/assets/_images/_BKG/BKG_1-01.png) bottom center no-repeat;
  background-size: cover;
}

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  background-image: url(../media/assets/_images/_SpriteSheet/SpriteSheet_HoverButtons.png);
  background-size: auto 200px;
  background-position: left top;

  &.close {
    width: 40px;
    height: 40px;
    background-position: 162px 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 2;

    &:hover {
      background-position: 162px 0;
    }
  }

  &.next-screen,
  &.prev-screen {
    width: 45px;
    height: 45px;
  }

  &.next-screen {
    background-position: -155px 300px;

    &:hover {
      background-position: -155px 199px;
    }
  }

  &.prev-screen {
    background-position: 0 300px;

    &:hover {
      background-position: 0 199px;
    }
  }

  &.close-reveal {
    width: 55px;
    height: 50px;
    background-position: -225px 420px;

    &.ENABLED:hover {
      background-position: -225px 676px;
    }
  }

  &.quit-yes {
    width: 230px;
    height: 230px;
    background-position: -1830px 495px;

    &:hover {
      background-position: -1830px 251px;
    }
  }

  &.quit-no {
    width: 230px;
    height: 230px;
    background-position: -2080px 495px;

    &:hover {
      background-position: -2080px 251px;
    }
  }
}

body.DEMO .reveal-component .items li div .close-reveal {
  opacity: 1;
  cursor: pointer;

  &:hover {
    background-position: -225px 676px;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 28px;
  margin: 0;
}

// preload game assets
#asset-bin {
  display: none;
}

.canvas-src { display: none; }

.screen {
  position: absolute;
  top: 50%;
  left: 0;
  width: 960px;
  height: 540px;
  margin-top: -270px;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%);

  &:not(.COMPLETE) {
    button {
      &.next-screen {
        cursor: auto;
      }
    }
  }
}

.screen.last {}

.screen.OPEN {
  opacity: 1;
  transform: translateX(0);
}

.screen.READY {
  display: block;
}

.screen.LEAVE {
  opacity: 1;
  transform: translateX(-100%);
}

  .screen .next-screen,
  .screen .prev-screen {
    position: absolute;
    display: block;
    bottom: 1%;

    z-index: 2;
  }

  .screen .next-screen {
    margin-right: 5px;
    right: 0;
    opacity: 0;
    transform: rotate(-180deg);
    transition: opacity 1s, transform 1s;
  }

  .screen.GATED .next-screen {
    opacity: 0;
    cursor: auto;
    z-index: -1;
  }

  .pl-game.DEMO .screen .next-screen,
  .screen.COMPLETE .next-screen {
    opacity: 1;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
  }

  .screen .next-screen:hover {

  }

  .screen .prev-screen {
    margin-left: 5px;
    left: 0;

  }

  .screen .prev-screen:hover {

  }

// the following css is specific to this game

.reveal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s, z-index 0s .6s;

  div {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 240px;
    margin-top: -120px;
    background-image: url(../media/_Frames/FR_1.png);
    background-size: 100% 100%;
  }

  ul {
    margin: 0;
    height: 100%;

    li {
      margin: 0;
      height: 100%;

      p {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #000;
      }

    }
  }

  .close-reveal {
    position: absolute;
    right: 5px;
    bottom: 10px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 1s;
  }

  &.OPEN {
    opacity: 1;
    z-index: 1;
    transition: opacity .5s;
  }
}

.pl-game.VOICE-OVER {
  .reveal {
    .close-reveal {
      opacity: .5;
      pointer-events: none;
    }
  }
}

.video {
  background: url(../media/_Frames/FR_2.png) center center no-repeat;
  background-size: 100% 100%;

  video {
    margin: 15px 15px 34px;
  }
}

#title {
  img {
    position: absolute;

    &.ice-cube {
      width: 100%;
    }

    &.penguine-1 {
      width: 26%;
      left: 0;
      bottom: 0;
    }

    &.penguine-2 {
      width: 35%;
      right: 3%;
      top: 3%;
    }

    &.magnifying-glass {
      width: 38%;
      left: 0;
    }

    &.title {
      width: 700px;
      left: 130px;
      top: 2%;
    }
  }

  button {
    &.next-screen {
      width: 160px;
      height: 100px;
      background-position: 324px 312px;

      &:hover {
        background-position: 324px 212px;
      }
    }

    &.prev-screen {
      display: none;
    }
  }

  &.READY {
    img {
      opacity: 1;

      &.penguine-2,
      &.magnifying-glass,
      &.penguine-1 {
        animation-name: slideInDown;
      }

      &.title {
        animation-name: bounceInDown;
      }

    }

    &.COMPLETE {
      img {
        &.title {
          animation-name: tada;
          // animation-iteration-count: infinite;
          // animation-duration: 10s;
        }
        // animation-name: flicker;
        // animation-delay: 0s;
        // animation-iteration-count: 3;
      }
    }
  }

  &.CLOSE {
    transform: translateX(0%);
  }
}

#info-all-about-you {
  img {
    position: absolute;

    &.penguin-megaphone {
      left: 0;
      bottom: 16%;
      width: 20%;
    }

    &.spotlight {
      top: 0;
      right: 10%;
      width: 50%;
    }

    &.speech-bubble,
    &.you {
      opacity: 0;
    }
  }

  &.READY.OPEN {
    img {
      &.penguin-megaphone,
      &.spotlight {
        opacity: 1;
        animation-name: slideInRight;
      }
    }
  }

  &.COMPLETE {
    img {
      &.speech-bubble {
        animation-name: zoomInLeft;
        opacity: 1;
        top: 15%;
        left: 14%;
        width: 35%;
      }

      &.you {
        animation-name: bounceInDown;
        animation-delay: 1s;
        opacity: 1;
        bottom: 20%;
        right: 15%;
        width: 40%;
      }
    }
  }
}

#what-are-you-most-passionate-about {
  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame {
      position: absolute;

      &.banner {
        width: 80%;
        left: 9%;
        top: 2%;
      }

      &.penguin {
        width: 18%;
        left: 0;
        top: 4%;
      }
    }

    .frame {
      background: url(../media/assets/_images/Frames/Frame_11_GreyRectangle.png);
      background-size: 100% 100%;
      width: 45%;
      height: 69%;
      left: 11%;
      bottom:12%;
    }

    // .dropzone {
    ul > * {
      display: inline-block;
      position: absolute;
      background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame3_leftbuttons-01.png);
      background-size: 1028px 399px;
      width: 13%;
      height: 25%;

      &:nth-child(1) {
        background-position: 640px 118px;
        top: 22%;
        left: 13%;
      }
      &:nth-child(2) {
        background-position: 511px 118px;
        top: 22%;
        left: 27%;
      }
      &:nth-child(3) {
        background-position: 255px 118px;
        top: 22%;
        left: 41%;
      }
      &:nth-child(4) {
        background-position: 386px 118px;
        top: 44%;
        left: 13%;
      }
      &:nth-child(5) {
        background-position: -1px 118px;
        top: 44%;
        left: 27%;
      }
      &:nth-child(6) {
        background-position: 768px 118px;
        top: 44%;
        left: 41%;
      }
      &:nth-child(7) {
        background-position: 128px 118px;
        top: 66%;
        left: 20%;
      }
      &:nth-child(8) {
        background-position: 897px 118px;
        top: 66%;
        left: 34%;
      }
    }

    .draggable-list-item {
      position: absolute;
      background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame3_leftbuttons-01.png);
      background-size: 1060px 411px;
      width: 100%;
      height: 100%;
      top: -13px;
      left: 0px;
      &.DRAGGING {
        z-index: 1;
        width: 104%;
        height: 104%;
        // left: 1px;
        &.friends {
          background-position: 660px 270px;
        }
      }
      &.friends {
        background-position: 658px 0;
      }
      &.world-peace {
        background-position: 526px 0;
      }
      &.sports {
        background-position: 261px 0;
      }
      &.playing-games {
        background-position: 395px 0;
      }
      &.looking-cool {
        background-position: -3px 0;
      }
      &.school {
        background-position: 790px 0;
      }
      &.celebrities {
        background-position: 131px 0;
      }
      &.environment {
        background-position: 923px 0;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 130px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#bulbs {
  img.title {
    display: block;
    width: 800px;
    margin: 30px auto 0;
  }

  .selectable-reveal {
    margin-top: -30px;

    .selectable {
      height: 300px;
      width: 800px;
      margin: 20px auto;
      opacity: 0;
      transition: opacity 1s 1s;

      li {
        cursor: auto;
        opacity: 0.5;
        transition: opacity 1s;
        background-image: url(../media/S_3/img_3.2.png);
        background-size: 450px;
        background-repeat: no-repeat;
        pointer-events: none;

        &:first-of-type:not(.HIGHLIGHTED) {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;

          &:hover {
            animation-name: bounce;
          }
        }

        &.HIGHLIGHTED {
          opacity: 1;
        }

        &.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;

          &:hover {
            animation-name: bounce;
          }
        }

        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            background-position: -12px 310-325*$i+px;

            &.HIGHLIGHTED,
            &:hover {
              background-position: -237px 310-325*$i+px;
            }
          }
        }
      }
    }
  }

  &.READY.OPEN {
    img.title {
      animation-name: zoomInDown;
    }

    .selectable-reveal {

      .selectable {
        opacity: 1;
      }
    }
  }
}

.pl-game.VOICE-OVER #bulbs {
  .selectable {
    li {
      pointer-events: none;

      &:first-of-type:not(.HIGHLIGHTED) {
        pointer-events: none;
      }
    }
  }
}

#pick-one {
  img {
    display: block;
    width: 640px;
    margin: 40px auto 0;
  }

  .frame {
    background: url(../media/assets/_images/Frames/Frame_15.png);
    background-size: 100% 100%;
    position: absolute;
    top: 10%;
    left: 3%;
    right: 3%;
    padding: 30px;

    h1 {
      color: #0F72B9;
      margin: 0;
      font-size: 3rem;
    }
  }

  .selectable {
    list-style: none;
    padding: 0;
    margin: -20px auto 0;
    display: block;
    width: 730px;

    li {
      display: inline-block;
      height: 380px;
      cursor: auto;
      background-repeat: no-repeat;

      &.pig {
        width: 500px;
        background-image: url(../media/S_4/img_4.2.png);
        background-size: auto 100%;

        &:hover {
          background-position: -497px 0;
        }

        &.SELECTED {
          background-position: -993px 0;
        }
      }

      &.bulb {
        width: 230px;
        background-image: url(../media/S_4/img_4.3.png);
        background-size: auto 100%;

        &:hover {
          background-position: -246px 0;
        }

        &.SELECTED {
          background-position: 0 0;
        }
      }
    }

    &.COMPLETE {
      pointer-events: none;

      li.pig {
        transition: opacity 1s;
        opacity: 0.5;
      }
    }
  }

  &.READY.OPEN {
    img {
      animation-name: zoomInDown;
    }

    .pig {
      animation-name: shake;
      animation-duration: 3s;
    }

    .bulb {
      animation-name: bounce;
      animation-duration: 3s;
    }
  }
}

.VOICE-OVER #pig {
  li {
    pointer-events: none;
  }
}

#switches {
  img.title {
    display: block;
    width: 800px;
    margin: 30px auto 0;
  }

  .selectable-reveal {
    margin-top: -30px;

    .selectable {
      position: relative;
      height: 300px;
      width: 800px;
      margin: 20px auto;
      opacity: 0;
      transition: opacity 1s 1s;

      li {
        cursor: auto;
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        opacity: 0.5;
        transition: opacity 1s;
        background-image: url(../media/S_5/img_5.2.png);
        background-size: 400px;
        background-repeat: no-repeat;
        pointer-events: none;

        &:first-of-type:not(.HIGHLIGHTED) {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;

          &:hover {
            animation-name: bounce;
          }
        }

        &.HIGHLIGHTED {
          opacity: 1;
        }

        &.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;

          &:hover {
            animation-name: bounce;
          }
        }

        @for $i from 1 through 5 {
          &:nth-of-type(#{$i}) {
            background-position: 0px 200-200*$i+px;
            left: -150+150*$i+px;
            top: 200-200*($i%2)+px;

            &.HIGHLIGHTED,
            &:hover {
              background-position: -200px 200-200*$i+px;
            }
          }
        }
      }
    }
  }

  &.READY.OPEN {
    img.title {
      animation-name: zoomInDown;
    }

    .selectable-reveal {
      .selectable {
        opacity: 1;
      }
    }
  }
}

#info-lets-learn {
  img {
    position: absolute;
    top: 140px;
    left: 130px;
    width: 700px;
    margin: 0;
  }

  &.READY.OPEN {
    img {
      animation-name: zoomInDown;
    }
  }
}

#flip {
  h2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: -80px 0 0;
    text-align: center;
    color: #fff;
    font-weight: normal;

    .inline {
      position: relative;
      height: 100px;
      vertical-align: middle;
      margin-top: -60px;
      top: 50px;
    }
  }

  .stamp {
    position: relative;
    width: 800px;
    display: block;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
  }

  &.READY.OPEN {
    .inline {
      animation-name: flipInX;
      animation-duration: 3s;
    }

    .stamp {
      opacity: 1;
      animation-name: stamp;
      animation-delay: 4s;
      animation-duration: 1s;
    }
  }
}

#quit {
  margin-top: 60px;
  transform: translateX(-100%);
  transition: transform .25s;

  .frame {
    text-align: center;

    h2 {
      margin: 0;
    }

    button {
      margin: 20px 10px;
    }
  }

  &.OPEN {
    transform: translateX(0%);
  }
}
