@keyframes flicker {
  0% {opacity:1;}
  10% {opacity:1;}
  12% {opacity:0;}
  14% {opacity:1;}
  16% {opacity:0;}
  18% {opacity:1;}
  44% {opacity:1;}
  46% {opacity:0;}
  48% {opacity:1;}
  50% {opacity:0;}
  52% {opacity:1;}
  82% {opacity:1;}
  84% {opacity:0;}
  86% {opacity:1;}
  88% {opacity:0;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  10% {
    opacity: 1;
  }
  60% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
}

html, body, body > div, body > div > div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: auto;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body > div > div {
  position: relative;
  margin: auto;
  width: 960px;
  height: 540px;
  font-size: 36px;
  color: #fff;
  background: url(../media/assets/_images/_BKG/BKG_1-01.png) bottom center no-repeat;
  background-size: cover;
}

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  background-image: url(../media/assets/_images/_SpriteSheet/SpriteSheet_HoverButtons.png);
  background-size: auto 200px;
  background-position: left top;

  &.close {
    width: 40px;
    height: 40px;
    background-position: 162px 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 2;

    &:hover {
      background-position: 162px 0;
    }
  }

  &.next-screen,
  &.prev-screen {
    width: 55px;
    height: 55px;
  }

  &.next-screen {
    background-position: -152px 305px;

    &:hover {
      background-position: -152px 205px;
    }
  }

  &.prev-screen {
    background-position: 5px 305px;

    &:hover {
      background-position: 5px 204px;
    }
  }

  &.close-reveal {
    width: 55px;
    height: 50px;
    background-position: -225px 420px;

    &.ENABLED:hover {
      background-position: -225px 676px;
    }
  }

  &.quit-yes {
    width: 230px;
    height: 230px;
    background-position: -1830px 495px;

    &:hover {
      background-position: -1830px 251px;
    }
  }

  &.quit-no {
    width: 230px;
    height: 230px;
    background-position: -2080px 495px;

    &:hover {
      background-position: -2080px 251px;
    }
  }
}

body.DEMO .reveal-component .items li div .close-reveal {
  opacity: 1;
  cursor: pointer;

  &:hover {
    background-position: -225px 676px;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 28px;
  margin: 0;
}

// preload game assets
#asset-bin {
  display: none;
}

.canvas-src { display: none; }

.screen {
  position: absolute;
  top: 50%;
  left: 0;
  width: 960px;
  height: 540px;
  margin-top: -270px;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%);

  &:not(.COMPLETE) {
    button {
      &.next-screen {
        cursor: auto;
      }
    }
  }
}

.screen.last {}

.screen.OPEN {
  opacity: 1;
  transform: translateX(0);
}

.screen.READY {
  display: block;
}

.screen.LEAVE {
  opacity: 0;
  transform: translateX(-100%);
}

  .screen .next-screen,
  .screen .prev-screen {
    position: absolute;
    display: block;
    bottom: 1%;

    z-index: 2;
  }

  .screen .next-screen {
    margin-right: 5px;
    right: 0;
    opacity: 0;
    transform: rotate(-180deg);
    transition: opacity 1s, transform 1s;
  }

  .screen.GATED .next-screen {
    opacity: 0;
    cursor: auto;
    z-index: -1;
  }

  .pl-game.DEMO .screen .next-screen,
  .screen.COMPLETE .next-screen {
    opacity: 1;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
  }

  .screen .next-screen:hover {

  }

  .screen .prev-screen {
    margin-left: 5px;
    left: 0;

  }

  .screen .prev-screen:hover {

  }

// the following css is specific to this game

.dropzone-reveal ul {
  list-style-type: none;
}


.reveal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s, z-index 0s .6s;

  div {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 240px;
    margin-top: -120px;
    // background-image: url(../media/_Frames/FR_1.png);
    background-size: 100% 100%;
  }

  ul {
    margin: 0;
    height: 100%;

    li {
      margin: 0;
      height: 100%;

      p {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #000;
      }

    }
  }

  .close-reveal {
    position: absolute;
    right: 5px;
    bottom: 10px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 1s;
  }

  &.OPEN {
    opacity: 1;
    z-index: 1;
    transition: opacity .5s;
  }
}

.pl-game.VOICE-OVER {
  .reveal {
    .close-reveal {
      opacity: .5;
      pointer-events: none;
    }
  }
}

.video {
  background: url(../media/_Frames/FR_2.png) center center no-repeat;
  background-size: 100% 100%;

  video {
    margin: 15px 15px 34px;
  }
}

#title {
  img {
    position: absolute;

    &.ice-cube {
      width: 100%;
    }

    &.penguine-1 {
      width: 26%;
      left: 0;
      bottom: 0;
    }

    &.penguine-2 {
      width: 35%;
      right: 3%;
      top: 3%;
    }

    &.magnifying-glass {
      width: 38%;
      left: 0;
    }

    &.title {
      width: 700px;
      left: 130px;
      top: 2%;
    }
  }

  button {
    &.next-screen {
      width: 160px;
      height: 100px;
      background-position: 324px 312px;

      &:hover {
        background-position: 324px 212px;
      }
    }

    &.prev-screen {
      display: none;
    }
  }

  &.READY {
    img {
      opacity: 1;

      &.penguine-2,
      &.magnifying-glass,
      &.penguine-1 {
        animation-name: slideInDown;
      }

      &.title {
        animation-name: bounceInDown;
      }

    }

    &.COMPLETE {
      img {
        &.title {
          animation-name: tada;
        }
      }
    }
  }

  &.CLOSE {
    transform: translateX(0%);
  }
}

#info {
  img {
    position: absolute;

    &.penguin-megaphone {
      left: 0;
      bottom: 16%;
      width: 20%;
    }

    &.spotlight {
      top: 0;
      right: 10%;
      width: 50%;
    }

    &.speech-bubble,
    &.you {
      transform:scale(0);
      transition:transform 0.5s ease-in-out;
    }

    &.speech-bubble {
      top: 15%;
      left: 14%;
      width: 35%;
    }

    &.you {
      opacity: 0;
      bottom: 20%;
      right: 15%;
      width: 40%;
    }
  }



  &.READY.OPEN {
    img {
      &.penguin-megaphone,
      &.spotlight {
        opacity: 1;
        animation-name: slideInRight;
      }

      &.speech-bubble {
        transform:scale(1);
        transform-origin: 0 100%;
        transition-delay: 3.5s;
      }

      &.you {
        opacity: 1;
        animation-name: bounceInDown;
        animation-delay: 4s;
      }

      &.COMPLETE {
        &.you {
          animation-name: tada;
          animation-delay: 2s;
        }
      }
    }
  }

}

#drag-n-drop-passionate {
  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame {
      position: absolute;

      &.banner {
        width: 80%;
        left: 9%;
        top: 2%;
      }

      &.penguin {
        width: 18%;
        left: 0;
        top: 4%;
      }
    }

    .frame {
      background: url(../media/assets/_images/Frames/Frame_11_GreyRectangle.png);
      background-size: 100% 100%;
      width: 45%;
      height: 69%;
      left: 11%;
      bottom:12%;
    }

    .dropzone-reveal {
      ul > * {
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame3_leftbuttons-01.png);
        background-size: 1015px 394px;
        width: 13%;
        height: 22%;

        &:nth-child(1) {
          background-position: 633px 117px;
          top: 22%;
          left: 13%;
        }

        &:nth-child(2) {
          background-position: 506px 117px;
          top: 22%;
          left: 27%;
        }

        &:nth-child(3) {
          background-position: 253px 117px;
          top: 22%;
          left: 41%;
        }

        &:nth-child(4) {
          background-position: 380px 117px;
          top: 44%;
          left: 13%;
        }

        &:nth-child(5) {
          background-position: -1px 117px;
          top: 44%;
          left: 27%;
        }

        &:nth-child(6) {
          background-position: 759px 117px;
          top: 44%;
          left: 41%;
        }

        &:nth-child(7) {
          background-position: 127px 117px;
          top: 66%;
          left: 19.5%;
        }

        &:nth-child(8) {
          background-position: 887px 117px;
          top: 66%;
          left: 33.5%;
        }
      }

      .draggable-list-item {
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame3_leftbuttons-01.png);
        background-size: 1060px 411px;
        width: 100%;
        height: 100%;

        &.friends {
          background-position: 658px -12px;
        }

        &.world-peace {
          background-position: 526px -12px;
        }

        &.sports {
          background-position: 261px -12px;
        }

        &.playing-games {
          background-position: 395px -12px;
        }

        &.looking-cool {
          background-position: -3px -12px;
        }

        &.school {
          background-position: 790px -12px;
        }

        &.celebrities {
          background-position: 131px -12px;
        }

        &.environment {
          background-position: 923px -12px;
        }

        &.DRAGGING {
          z-index: 1;
          background-size: 995px 386px;

          &.friends {
            background-position: 622px 245px;
          }

          &.world-peace {
            background-position: 498px 243px;
          }

          &.sports {
            background-position: 249px 243px;
          }

          &.playing-games {
            background-position: 373px 243px;
          }

          &.looking-cool {
            background-position: 0 243px;
          }

          &.school {
            background-position: 746px 243px;
          }

          &.celebrities {
            background-position: 125px 243px;
          }

          &.environment {
            background-position: 870px 244px;
          }
        }

        &.CORRECT {
          background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame3_passion.png);
          background-size: 1000px 141px;

          &.friends {
            background-position: 135px -14px;
          }

          &.world-peace {
            background-position: 256px -14px;
          }

          &.sports {
            background-position: 378px -14px;
          }

          &.playing-games {
            background-position: 500px -14px;
          }

          &.looking-cool {
            background-position: 623px -14px;
          }

          &.school {
            background-position: 748px -14px;
          }

          &.celebrities {
            background-position: 866px -14px;
          }

          &.environment {
            background-position: 990px -10px;
          }
        }
      }

      div {
        .dropzone {
          position: absolute;
          background: url(../media/assets/_images/_SpriteSheet/spritesheet%20right%20numbers-01.png);
          background-size: 1150px 130px;
          width: 13%;
          height: 22%;

          &:nth-child(1) {
            background-position: -13px -6px;
            top: 22%;
            left: 57%;
          }

          &:nth-child(2) {
            background-position: 996px -6px;
            top: 22%;
            left: 70%;
          }

          &:nth-child(3) {
            background-position: 852px -6px;
            top: 22%;
            left: 83%;
          }

          &:nth-child(4) {
            background-position: 562px -6px;
            top: 44%;
            left: 57%;
          }

          &:nth-child(5) {
            background-position: 562px -6px;
            top: 44%;
            left: 70%;
          }

          &:nth-child(6) {
            background-position: 421px -6px;
            top: 44%;
            left: 83%;
          }

          &:nth-child(7) {
            background-position: 276px -6px;
            top: 66%;
            left: 62%;
          }

          &:nth-child(8) {
            background-position: 135px -6px;
            top: 66%;
            left: 75%;
          }
        }
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 130px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#drag-n-drop-issues {
  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame {
      position: absolute;

      &.banner {
        width: 80%;
        left: 9%;
        top: 2%;
      }

      &.penguin {
        width: 15%;
        left: 0;
        top: 0;
      }
    }

    .frame {
      background: url(../media/assets/_images/Frames/Frame_11_GreyRectangle.png);
      background-size: 100% 100%;
      width: 45%;
      height: 69%;
      left: 11%;
      bottom:12%;
    }

    .dropzone-reveal {
      ul > * {
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame4_leftbuttons-01-01.png);
        background-size: 1015px 394px;
        width: 13%;
        height: 22%;

        &:nth-child(1) {
          background-position: -2px 117px;
          top: 22%;
          left: 13%;
        }

        &:nth-child(2) {
          background-position: 886px 117px;
          top: 22%;
          left: 27%;
        }

        &:nth-child(3) {
          background-position: 759px 117px;
          top: 22%;
          left: 41%;
        }

        &:nth-child(4) {
          background-position: 634px 118px;
          top: 44%;
          left: 13%;
        }

        &:nth-child(5) {
          background-position: 506px 119px;
          top: 44%;
          left: 27%;
        }

        &:nth-child(6) {
          background-position: 379px 119px;
          top: 44%;
          left: 41%;
        }

        &:nth-child(7) {
          background-position: 253px 119px;
          top: 66%;
          left: 19.5%;
        }

        &:nth-child(8) {
          background-position: 125px 121px;
          top: 66%;
          left: 33.5%;
        }
      }

      .draggable-list-item {
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame4_leftbuttons-01-01.png);
        background-size: 1060px 411px;
        width: 100%;
        height: 100%;

        &.cyberbullying {
          background-position: -2px -12px;
        }

        &.endangered-animals {
          background-position: 926px -12px;
        }

        &.literacy {
          background-position: 794px -12px;
        }

        &.climate-change {
          background-position: 662px -12px;
        }

        &.poverty {
          background-position: 530px -12px;
        }

        &.health-problems {
          background-position: 395px -12px;
        }

        &.homelessness {
          background-position: 264px -12px;
        }

        &.war-and-terrorism {
          background-position: 131px -12px;
        }

        &.DRAGGING {
          z-index: 1;
          background-size: 995px 386px;

          &.cyberbullying {
            background-position: 0 243px;
          }

          &.endangered-animals {
            background-position: 871px 243px;
          }

          &.literacy {
            background-position: 747px 243px;
          }

          &.climate-change {
            background-position: 622px 243px;
          }

          &.poverty {
            background-position: 498px 243px;
          }

          &.health-problems {
            background-position: 373px 243px;
          }

          &.homelessness {
            background-position: 249px 242px;
          }

          &.war-and-terrorism {
            background-position: 124px 243px;
          }
        }

        &.CORRECT {
          background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame3_worldissues-01.png);
          background-size: 1000px 141px;

          &.cyberbullying {
            background-position: -4px -14px;
          }

          &.endangered-animals {
            background-position: 869px -14px;
          }

          &.literacy {
            background-position: 750px -14px;
          }

          &.climate-change {
            background-position: 624px -14px;
          }

          &.poverty {
            background-position: 496px -14px;
          }

          &.health-problems {
            background-position: 371px -14px;
          }

          &.homelessness {
            background-position: 246px -14px;
          }

          &.war-and-terrorism {
            background-position: 123px -10px;
          }
        }
      }

      div {
        .dropzone {
          position: absolute;
          background: url(../media/assets/_images/_SpriteSheet/spritesheet%20right%20numbers-01.png);
          background-size: 1150px 130px;
          width: 13%;
          height: 22%;

          &:nth-child(1) {
            background-position: -13px -6px;
            top: 22%;
            left: 57%;
          }

          &:nth-child(2) {
            background-position: 996px -6px;
            top: 22%;
            left: 70%;
          }

          &:nth-child(3) {
            background-position: 852px -6px;
            top: 22%;
            left: 83%;
          }

          &:nth-child(4) {
            background-position: 562px -6px;
            top: 44%;
            left: 57%;
          }

          &:nth-child(5) {
            background-position: 562px -6px;
            top: 44%;
            left: 70%;
          }

          &:nth-child(6) {
            background-position: 421px -6px;
            top: 44%;
            left: 83%;
          }

          &:nth-child(7) {
            background-position: 276px -6px;
            top: 66%;
            left: 62%;
          }

          &:nth-child(8) {
            background-position: 135px -6px;
            top: 66%;
            left: 75%;
          }
        }
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 252px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#pick-one-powerful {
  img {
  }

  &.READY.OPEN {
    img,
    .meter {
      position: absolute;

      &.banner {
        width: 94%;
        left: 3%;
        top: 9%;
      }
    }

    .selectable-reveal {
      ul.selectable > * {
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/Srn5spritesheets-frame5-emotions.png);
        background-size: 1250px 625px;
        width: 200px;
        height: 200px;

        &:nth-child(1) {
          background-position: -58px -58px;
          top: 41%;
          left: 5%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: -58px 250px;
          }
        }

        &:nth-child(2) {
          background-position: 881px -58px;
          top: 41%;
          left: 28%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 881px 250px;

          }
        }

        &:nth-child(3) {
          background-position: 563px -58px;
          top: 41%;
          right: 28%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 563px 257px;
          }
        }

        &:nth-child(4) {
          background-position: 257px -58px;
          top: 41%;
          right: 5%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 256px 254px;
          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 374px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#qualities-buckets {
  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame {
      position: absolute;

      &.penguin {
        width: 27%;
        left: 2%;
        top: 4%;
      }
    }

    .frame {
      background: url(../media/assets/_images/Frames/mostpowerfulleastpowerful-01.png);
      background-size: 100% 100%;
      width: 70%;
      height: 85%;
      left: 23%;
      bottom:14%;
    }

    .dropzone-reveal {
      .draggable-list-item {
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame6-01.png);
        background-size: 1200px 300px;
        width: 15%;
        height: 27%;

        &.CORRECT {
          display: none;
        }

        &.sharing {
          background-position: -8px -11px;
          top: 8%;
          left: 30%;
        }

        &.kindness {
          background-position: -151px -11px;
          top: 8%;
          left: 45%;
        }

        &.rudeness {
          background-position: 901px -11px;
          top: 8%;
          left: 60%;
        }

        &.being-a-bully {
          background-position: 744px -11px;
          top: 8%;
          left: 75%;
        }

        &.compassion {
          background-position: 597px 1px;
          top: 35%;
          left: 30%;
        }

        &.greediness {
          background-position: 448px 2px;
          top: 35%;
          left: 45%;
        }

        &.being-angry {
          background-position: 299px -5px;
          top: 35%;
          left: 60%;
        }

        &.friendliness {
          background-position: 142px -2px;
          top: 35%;
          left: 75%;
        }

        &.DRAGGING {
          z-index: 1;

          &.sharing {
            background-position: -2px 136px;
          }

          &.kindness {
            background-position: -154px 138px;
          }

          &.rudeness {
            background-position: 901px 136px;
          }

          &.being-a-bully {
            background-position: 742px 136px;
          }

          &.compassion {
            background-position: 598px 149px;
          }

          &.greediness {
            background-position: 449px 153px;
          }

          &.being-angry {
            background-position: 296px 145px;
          }

          &.friendliness {
            background-position: 140px 148px;
          }
        }
      }

      div {
        .dropzone {
          position: absolute;
          background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame6_bucket.png);
          background-size: 600px 392px;
          width: 15%;
          height: 22%;

          &:nth-child(1) {
            background-position: -74px -48px;
            left: 34%;
            bottom: 10%;

            // &.sharing,
            // &.kindness,
            // &.rudeness,
            // &.being-a-bully,
            // &.compassion,
            // &.greediness,
            // &.being-angry,
            // &.friendliness
            &:hover,
            &:focus {
              // animation: hover 2s;
              // animation-iteration-count: infinite;
              // transition: background-position .25s ease-in-out;
              background-position: -72px 146px;
            }

            // @keyframes hover {
            //   0% {
            //     opacity: 1;
            //   }
            //   5% {
            //     opacity: 0;
            //   }
            //   50% {
            //     // background-position: -74px 144px;
            //     opacity: 0;
            //   }
            //   95% {
            //     opacity: 0;
            //   }
            //   100% {
            //     // background-position: -74px -48px;
            //     opacity: 1;
            //   }
            // }
          }

          &:nth-child(2) {
            background-position: 812px -48px;
            bottom: 10%;
            left: 54%;

            // &.sharing,
            // &.kindness,
            // &.rudeness,
            // &.being-a-bully,
            // &.compassion,
            // &.greediness,
            // &.being-angry,
            // &.friendliness
            &:hover,
            &:focus {
              background-position: 814px 146px;
            }
          }
        }
      }
    }


    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 496px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#emoji-bullying {
  background: url(../media/assets/_images/_BKG/BKG_2.png) bottom center no-repeat;
  background-size: cover;

  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame,
    .sub-frame {
      position: absolute;

      &.penguins {
        width: 40%;
        left: 2%;
        top: 3%;
      }

      &.penguins-bullying {
        width: 38%;
        right: 13%;
        top: 13%;
      }
    }

    .frame {
      background: url(../media/assets/_images/S_7/img-s7-bigger-frame.png);
      background-size: 100% 100%;
      width: 53%;
      height: 81%;
      right: 6%;
      top:3%;
    }

    .sub-frame {
      background: url(../media/assets/_images/S_7/img-s7-smaller-frame.png);
      background-size: 100% 100%;
      width: 47%;
      height: 45%;
      right: 9%;
      top:7%;
    }

    .selectable-reveal {
      ul.selectable > * {
        animation-name: fadeIn;
        animation-delay: 7s;
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/Spritesheet_frame07_PolarBear.png);
        background-size: 440px 270px;
        width: 143px;
        height: 133px;

        &:nth-child(1) {
          background-position: -6px 129px;
          bottom: 22%;
          left: 45%;

          &:hover,
          &:active,
          &:focus {
            background-position: -7px 265px;
          }
        }

        &:nth-child(2) {
          background-position: 289px 130px;
          bottom: 22%;
          left: 60%;

          &:hover,
          &:active,
          &:focus {
            background-position: 288px 265px;

          }
        }

        &:nth-child(3) {
          background-position: 584px 129px;
          bottom: 22%;
          left: 75%;

          &:hover,
          &:active,
          &:focus {
            background-position: 585px 266px;
          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 624px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#emoji-compassion {
  background: url(../media/assets/_images/_BKG/BKG_2.png) bottom center no-repeat;
  background-size: cover;

  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame,
    .sub-frame {
      position: absolute;

      &.penguins {
        width: 40%;
        left: 2%;
        top: 3%;
      }

      &.penguins-compassion {
        width: 35%;
        right: 15%;
        top: -3%;
      }
    }

    .frame {
      background: url(../media/assets/_images/S_8/img-s8-bigger-frame.png);
      background-size: 100% 100%;
      width: 53%;
      height: 81%;
      right: 6%;
      top:3%;
    }

    .sub-frame {
      background: url(../media/assets/_images/S_8/img-s8-smaller-frame.png);
      background-size: 100% 100%;
      width: 47%;
      height: 43%;
      right: 9%;
      top:7%;
    }

    .selectable-reveal {
      ul.selectable > * {
        animation-name: fadeIn;
        animation-delay: 7s;
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/Spritesheet_Frame08_PolarBear.png);
        background-size: 440px 270px;
        width: 142px;
        height: 133px;

        &:nth-child(1) {
          background-position: -6px 134px;
          bottom: 22%;
          left: 45%;

          &:hover,
          &:active,
          &:focus {
            background-position: 292px 267px;
          }
        }

        &:nth-child(2) {
          background-position: 289px 135px;
          bottom: 22%;
          left: 60%;

          &:hover,
          &:active,
          &:focus {
            background-position: -10px 269px;

          }
        }

        &:nth-child(3) {
          background-position: 584px 134px;
          bottom: 22%;
          left: 75%;

          &:hover,
          &:active,
          &:focus {
            background-position: 585px 268px;
          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 746px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#emoji-angry {
  background: url(../media/assets/_images/_BKG/BKG_2.png) bottom center no-repeat;
  background-size: cover;

  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame,
    .sub-frame {
      position: absolute;

      &.penguins {
        width: 40%;
        left: 2%;
        top: 22%;
      }

      &.banner {
        width: 38%;
        left: 2%;
        top: 2%;
      }

      &.penguins-angry {
        width: 22%;
        right: 24%;
        top: 2%;
      }

      &.text-angry {
        width:25%;
        right: 20%;
        top: 44%;
      }
    }

    .frame {
      background: url(../media/assets/_images/S_09/Frame_09_GreyRectangle.png);
      background-size: 100% 100%;
      width: 53%;
      height: 81%;
      right: 6%;
      top:3%;
    }

    .selectable-reveal {
      ul.selectable > * {
        animation-name: fadeIn;
        animation-delay: 6s;
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/S_09/IMG_09_PolarBears_SpriteSheet-02.png);
        background-size: 440px 270px;
        width: 143px;
        height: 133px;

        &:nth-child(1) {
          background-position: -12px 129px;
          bottom: 19%;
          left: 45%;

          &:hover,
          &:active,
          &:focus {
            background-position: -12px 264px;
          }
        }

        &:nth-child(2) {
          background-position: 283px 130px;
          bottom: 19%;
          left: 60%;

          &:hover,
          &:active,
          &:focus {
            background-position: 282px 264px;

          }
        }

        &:nth-child(3) {
          background-position: 578px 132px;
          bottom: 19%;
          left: 75%;

          &:hover,
          &:active,
          &:focus {
            background-position: 579px 268px;
          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 868px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}


#emoji-friendliness {
  background: url(../media/assets/_images/_BKG/BKG_2.png) bottom center no-repeat;
  background-size: cover;

  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame,
    .sub-frame {
      position: absolute;

      &.penguins {
        width: 40%;
        left: 2%;
        top: 22%;
      }

      &.banner {
        width: 41%;
        left: 1%;
        top: 1%;
      }

      &.penguins-friendly {
        width: 37%;
        right: 13%;
        top: 7%;
      }

      &.text-friendly {
        width:25%;
        right: 20%;
        top: 44%;
      }
    }

    .frame {
      background: url(../media/assets/_images/S_09/Frame_09_GreyRectangle.png);
      background-size: 100% 100%;
      width: 53%;
      height: 81%;
      right: 6%;
      top:3%;
    }

    .selectable-reveal {
      ul.selectable > * {
        animation-name: fadeIn;
        animation-delay: 6s;
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/S_10/IMG_10_Polarbear_SpriteSheet-02.png);
        background-size: 440px 270px;
        width: 135px;
        height: 132px;

        &:nth-child(1) {
          background-position: -16px 129px;
          bottom: 19%;
          left: 45%;

          &:hover,
          &:active,
          &:focus {
            background-position: -17px 267px;
          }
        }

        &:nth-child(2) {
          background-position: 283px 132px;
          bottom: 19%;
          left: 60%;

          &:hover,
          &:active,
          &:focus {
            background-position: 281px 266px;

          }
        }

        &:nth-child(3) {
          background-position: 578px 134px;
          bottom: 19%;
          left: 75%;

          &:hover,
          &:active,
          &:focus {
            background-position: 577px 269px;
          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 992px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#pick-one-bullied {
  img {
  }

  &.READY.OPEN {
    img,
    .frame,
    .meter {
      position: absolute;

      &.penguin {
        width: 32%;
        left: 2%;
        top: 28%;
      }

      &.banner {
        width: 52%;
        left: 1%;
        top: 3%;
      }
    }

    .frame {
      background: url(../media/assets/_images/S_11/Frame_11_GreyRectangle.png);
      background-size: 100% 100%;
      width: 47%;
      height: 47%;
      right: 15%;
      top:34%;
    }

    .selectable-reveal {
      ul.selectable > * {
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/Spritesheet_frame11_YesOrNo-01.png);
        background-size: 400px 344px;
        width: 181px;
        height: 166px;

        &:nth-child(1) {
          background-position: -11px 172px;
          top: 42%;
          left: 41%;

          &:hover,
          &:active,
          &:focus {
            background-position: -7px 341px;
          }
        }

        &:nth-child(2) {
          background-position: 197px 172px;
          top: 42%;
          left: 63%;

          &:hover,
          &:active,
          &:focus {
            background-position: 192px 341px;

          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 1114px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#what-did-you-do {
  img {
  }

  &.READY.OPEN {
    img,
    .meter {
      position: absolute;

      &.penguin {
        width: 21%;
        left: 9%;
        top: 30%;
      }

      &.banner {
        width: 46%;
        left: 5%;
        top: 3%;
      }
    }

    .selectable-reveal {
      ul.selectable > * {
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/S_12/spritesheet_frame12-01.png);
        background-size: 1750px 174px;
        width: 339px;
        height: 86px;

        &:nth-child(1) {
          background-position: -15px 0px;
          top: 3%;
          left: 53%;

          &:hover,
          &:active,
          &:focus,
          &.HIGHLIGHTED {
            background-position: -15px 88px;
          }
        }

        &:nth-child(2) {
          background-position: 1385px 0px;
          top: 20%;
          left: 53%;

          &:hover,
          &:active,
          &:focus,
          &.HIGHLIGHTED {
            background-position: 1385px 88px;

          }
        }

        &:nth-child(3) {
          background-position: 1034px 1px;
          top: 37%;
          left: 53%;

          &:hover,
          &:active,
          &:focus,
          &.HIGHLIGHTED {
            background-position: 1035px 88px;

          }
        }

        &:nth-child(4) {
          background-position: 683px 1px;
          top: 54%;
          left: 53%;

          &:hover,
          &:active,
          &:focus,
          &.HIGHLIGHTED {
            background-position: 684px 88px;

          }
        }

        &:nth-child(5) {
          background-position: 339px -2px;
          top: 71%;
          left: 53%;

          &:hover,
          &:active,
          &:focus,
          &.HIGHLIGHTED {
            background-position: 339px 85px;

          }
        }
      }

      .reveal {
        display: none;
      }
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#how-much-env {
  img {
  }

  &.READY.OPEN {
    img,
    .frame,
    .sub-frame,
    .meter {
      position: absolute;

      &.penguin {
        width: 16%;
        left: 0%;
        top: 17%;
      }

      &.banner {
        width: 36%;
        left: 10%;
        top: 8%;
      }

      &.text-environment {
        width: 50%;
        right: 14%;
        top: 37%;
      }

      &.icon {
        width: 15%;
        left: 28.5%;
        top: 52.5%;
      }
    }

    .frame {
      background: url(../media/assets/_images/S_13/Frame_13_Grey.png);
      background-size: 100% 100%;
      width: 75%;
      height: 46%;
      left: 24%;
      top:34%;
    }

    .sub-frame {
      background: url(../media/assets/_images/S_13/IMG_13_Rectangle.png);
      background-size: 100% 100%;
      width: 70%;
      height: 29%;
      left: 26.75%;
      top:50%;
    }

    .selectable-reveal {
      ul.selectable > * {
        animation-name: fadeIn;
        animation-delay: 4s;
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/S_13/spritesheet_frame13-polarbear.png);
        background-size: 500px 260px;
        width: 142px;
        height: 128px;

        &:nth-child(1) {
          background-position: -12px 1px;
          top: 52%;
          left: 46%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: -12px 129px;
          }
        }

        &:nth-child(2) {
          background-position: 320px 0px;
          top: 52%;
          left: 62%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 320px 388px;

          }
        }

        &:nth-child(3) {
          background-position: 153px 2px;
          top: 52%;
          left: 78%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 153px 130px;

          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 1360px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}


#how-much-species {
  img {
  }

  &.READY.OPEN {
    img,
    .frame,
    .sub-frame,
    .meter {
      position: absolute;

      &.penguin {
        width: 16%;
        left: 0%;
        top: 17%;
      }

      &.banner {
        width: 36%;
        left: 10%;
        top: 8%;
      }

      &.text-species {
        width: 50%;
        right: 14%;
        top: 37%;
      }

      &.icon {
        width: 15%;
        left: 28.5%;
        top: 52.5%;
      }
    }

    .frame {
      background: url(../media/assets/_images/S_13/Frame_13_Grey.png);
      background-size: 100% 100%;
      width: 75%;
      height: 46%;
      left: 24%;
      top:34%;
    }

    .sub-frame {
      background: url(../media/assets/_images/S_13/IMG_13_Rectangle.png);
      background-size: 100% 100%;
      width: 70%;
      height: 29%;
      left: 26.75%;
      top:50%;
    }

    .selectable-reveal {
      ul.selectable > * {
        animation-name: fadeIn;
        animation-delay: 4s;
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/S_13/spritesheet_frame13-polarbear.png);
        background-size: 500px 260px;
        width: 142px;
        height: 128px;

        &:nth-child(1) {
          background-position: -12px 1px;
          top: 52%;
          left: 46%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: -12px 129px;
          }
        }

        &:nth-child(2) {
          background-position: 320px 0px;
          top: 52%;
          left: 62%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 320px 388px;

          }
        }

        &:nth-child(3) {
          background-position: 153px 2px;
          top: 52%;
          left: 78%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 153px 130px;

          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 1482px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}


#how-much-water {
  img {
  }

  &.READY.OPEN {
    img,
    .frame,
    .sub-frame,
    .meter {
      position: absolute;

      &.penguin {
        width: 16%;
        left: 0%;
        top: 17%;
      }

      &.banner {
        width: 36%;
        left: 10%;
        top: 8%;
      }

      &.text-water {
        width: 50%;
        right: 14%;
        top: 37%;
      }

      &.icon {
        width: 15%;
        left: 28.5%;
        top: 52.5%;
      }
    }

    .frame {
      background: url(../media/assets/_images/S_13/Frame_13_Grey.png);
      background-size: 100% 100%;
      width: 75%;
      height: 46%;
      left: 24%;
      top:34%;
    }

    .sub-frame {
      background: url(../media/assets/_images/S_13/IMG_13_Rectangle.png);
      background-size: 100% 100%;
      width: 70%;
      height: 29%;
      left: 26.75%;
      top:50%;
    }

    .selectable-reveal {
      ul.selectable > * {
        animation-name: fadeIn;
        animation-delay: 4s;
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/S_13/spritesheet_frame13-polarbear.png);
        background-size: 500px 260px;
        width: 142px;
        height: 128px;

        &:nth-child(1) {
          background-position: -12px 1px;
          top: 52%;
          left: 46%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: -12px 129px;
          }
        }

        &:nth-child(2) {
          background-position: 320px 0px;
          top: 52%;
          left: 62%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 320px 388px;

          }
        }

        &:nth-child(3) {
          background-position: 153px 2px;
          top: 52%;
          left: 78%;

          &:hover,
          &:active,
          &:focus,
          &.SELECTED {
            background-position: 153px 130px;

          }
        }
      }

      .reveal {
        display: none;
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 1606px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#drag-n-drop-interests {
  img {
  }

  &.READY.OPEN {
    img,
    .meter,
    .frame {
      position: absolute;

      &.banner {
        width: 80%;
        left: 11%;
        top: 2%;
      }

      &.penguin {
        width: 18%;
        left: 0;
        top: 0;
      }
    }

    .frame {
      background: url(../media/assets/_images/Frames/Frame_11_GreyRectangle.png);
      background-size: 100% 100%;
      width: 45%;
      height: 69%;
      left: 11%;
      bottom:12%;
    }

    .dropzone-reveal {
      ul > * {
        display: inline-block;
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame16-01.png);
        background-size: 1015px 394px;
        width: 13%;
        height: 22%;

        &:nth-child(1) {
          background-position: -2px 118px;
          top: 22%;
          left: 13%;
        }

        &:nth-child(2) {
          background-position: 887px 117px;
          top: 22%;
          left: 27%;
        }

        &:nth-child(3) {
          background-position: 757px 115px;
          top: 22%;
          left: 41%;
        }

        &:nth-child(4) {
          background-position: 634px 118px;
          top: 44%;
          left: 13%;
        }

        &:nth-child(5) {
          background-position: 506px 118px;
          top: 44%;
          left: 27%;
        }

        &:nth-child(6) {
          background-position: 380px 118px;
          top: 44%;
          left: 41%;
        }

        &:nth-child(7) {
          background-position: 254px 118px;
          top: 66%;
          left: 19.5%;
        }

        &:nth-child(8) {
          background-position: 126px 118px;
          top: 66%;
          left: 33.5%;
        }
      }

      .draggable-list-item {
        position: absolute;
        background: url(../media/assets/_images/_SpriteSheet/spritesheet_frame16-01.png);
        background-size: 1020px 395px;
        width: 100%;
        height: 100%;
        top: -1px;
        left: 0px;

        &.space {
          background-position: -1px -11px;
        }

        &.animals {
          background-position: 893px -12px;
        }

        &.recycling {
          background-position: 765px -12px;
        }

        &.money {
          background-position: 639px -11px;
        }

        &.printing {
          background-position: 512px -11px;
        }

        &.coding {
          background-position: 384px -12px;
        }

        &.art {
          background-position: 257px -11px;
        }

        &.robotics {
          background-position: 128px -12px;
        }

        &.DRAGGING {
          z-index: 1;
          background-size: 995px 386px;

          &.space {
            background-position: 1px 245px;
          }

          &.animals {
            background-position: 871px 245px;
          }

          &.recycling {
            background-position: 745px 245px;
          }

          &.money {
            background-position: 622px 245px;
          }

          &.printing {
            background-position: 496px 245px;
          }

          &.coding {
            background-position: 373px 245px;
          }

          &.art {
            background-position: 249px 245px;
          }

          &.robotics {
            background-position: 124px 245px;
          }
        }

        &.CORRECT {
          background: url(../media/assets/_images/_SpriteSheet/spritesheet-icons-frame16-01.png);
          background-size: 1000px 141px;

          &.space {
            background-position: -3px -14px;
          }

          &.animals {
            background-position: 869px -14px;
          }

          &.recycling {
            background-position: 750px -14px;
          }

          &.money {
            background-position: 624px -14px;
          }

          &.printing {
            background-position: 495px -14px;
          }

          &.coding {
            background-position: 371px -14px;
          }

          &.art {
            background-position: 246px -14px;
          }

          &.robotics {
            background-position: 121px -10px;
          }
        }
      }

      div {
        .dropzone {
          position: absolute;
          background: url(../media/assets/_images/_SpriteSheet/spritesheet%20right%20numbers-01.png);
          background-size: 1150px 130px;
          width: 13%;
          height: 22%;

          &:nth-child(1) {
            background-position: -13px -6px;
            top: 22%;
            left: 57%;
          }

          &:nth-child(2) {
            background-position: 996px -6px;
            top: 22%;
            left: 70%;
          }

          &:nth-child(3) {
            background-position: 852px -6px;
            top: 22%;
            left: 83%;
          }

          &:nth-child(4) {
            background-position: 562px -6px;
            top: 44%;
            left: 57%;
          }

          &:nth-child(5) {
            background-position: 562px -6px;
            top: 44%;
            left: 70%;
          }

          &:nth-child(6) {
            background-position: 421px -6px;
            top: 44%;
            left: 83%;
          }

          &:nth-child(7) {
            background-position: 276px -6px;
            top: 66%;
            left: 62%;
          }

          &:nth-child(8) {
            background-position: 135px -6px;
            top: 66%;
            left: 75%;
          }
        }
      }
    }

    .meter {
      background: url(../media/assets/_images/_SpriteSheet/Spritesheet_progressionmeter-01.png);
      background-size: cover;
      background-position: 0 1732px;
      width: 50%;
      height: 25%;
      left: 25%;
      bottom:-5%;
    }
  }

  &.COMPLETE {
    img {
    }
  }
}

#flip {
  img {
    opacity: 0;
    position: absolute;
  }

  &.READY {
    &.OPEN {
      img {
        opacity: 1;

        &.frame {
          width: 88%;
          left: 6%;
          top: 2%;
        }

        &.banner {
          width: 66%;
          top: 29%;
          left: 18%;
        }

        &.confetti {
          width: 100%;
        }

        &.you {
          width: 64%;
          top: 52%;
          left: 18%;
        }

        &.frame,
        &.banner,
        &.confetti {
          animation-name: slideInDown;
        }

        &.you {
          animation-name: bounceInDown;
          animation-delay: 4s;
        }
      }

      &.COMPLETE {
        img {
          &.you {
            animation-name: tada;
          }
        }
      }
    }
  }
}

#quit {
  margin-top: 60px;
  transform: translateX(-100%);
  transition: transform .25s;

  .frame {
    text-align: center;

    h2 {
      margin: 0;
    }

    button {
      margin: 20px 10px;
    }
  }

  &.OPEN {
    transform: translateX(0%);
  }
}
