@import 'variables';

#bunch-of-problems {
    .screen-content {
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 500px;
            height: 300px;
            background-image: url($media-server + 'SpritesAnimations/sprite.closeupminion.png');
            background-repeat: no-repeat;
            background-size: 2200px;
            background-position: -1470px 0;
        }
    }

    .balloon {
        position: absolute;
        left: 80px;
        top: 60px;
        width: 840px;
        z-index: -1;
    }

    .words {
        position: absolute;
        left: 160px;
        top: 180px;
        color: $dark-green;
        font-size: 60px;
    }
}
