@import 'variables';

#flip {
    font-family: "Source Sans Pro";

    .printer {
        position: absolute;
        left: 270px;
        top: 110px;
        width: 400px;
    }

    .earned-flip {
        display: none;
        position: absolute;
        left: 10px;
        top: 140px;
        width: 200px;

        &.show {
            display: block;
        }
    }

    .static-flip {
        position: absolute;
        left: 470px;
        bottom: 270px;
        width: 80px;
        height: 0px;
        transition: height .25s, left 1s linear, bottom 1s cubic-bezier(.69,.05,.96,.53), transform 1s;
        z-index: 1;
        background-image: url($media-server-base + 'Flips/3D%20world/3DW-%20Static%20Image%20Flip/3DW.EarnedFlip.png');
        background-size: 80px;
        background-position: left bottom;

        &.layer1 {
            height: 40px;
        }

        &.layer2 {
            height: 80px;
        }

        &.move {
            left: 60px;
            bottom: 70px;
            transform: scale(2);
        }

        &.hide {
            display: none;
        }
    }

    .minion {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 350px;
    }

    span {
        color: $green;
        font-weight: bold;
        text-decoration: underline;

        + span {
            text-decoration: none;
        }
    }

    p {
        position: absolute;
    }

    .now {
        left: 280px;
        top: 80px;
    }

    .lets {
        font-size: 54px;
        font-weight: bold;
        text-align: right;
        left: 300px;
        top: 320px;
    }
}
