@import 'variables';

#flip {
  font-family: "Source Sans Pro";

  span {
    color: $green;
    font-weight: bold;
    text-decoration: underline;

    + span {
      text-decoration: none;
    }
  }

  p {
    position: absolute;
  }

  .now {
    left: 280px;
    top: 80px;
  }

  .lets {
    font-size: 54px;
    font-weight: bold;
    text-align: right;
    left: 300px;
    top: 320px;
  }
}
