@import 'variables';
@import 'mixins';
@import 'keyframes';

#imagine {
    .question,
    .answer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: none;

        &.show {
            display: block;
        }
    }

    .right {
        position: absolute;
        right: 0;
        top: 70px;
        background-image: url($media-server + 'ImageAssets/intro.speech.balloon.png');
        background-repeat: no-repeat;
        background-size: 300px;
    }

    .words {
        position: absolute;
        width: 320px;
        margin-top: 70px;
        color: $imagine-green;
        font-size: 18px;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-family: "Molot";
        opacity: 0;
        transition: opacity .5s;

        &.imagine {
            $widths: 215 222 164;
            @include typing($widths);
        }

        &.exists {
            $widths: 220 214;
            @include typing($widths);
        }

        &.start {
            opacity: 1;
        }
    }

    .text {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .minion {
        background-image: url($media-server + 'SpritesAnimations/sprite.minion.png');
        background-position: -120px -240px;
        background-size: 3000px;
        margin-top: 140px;
        width: 320px;
        height: 320px;
    }
}
