@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: default;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  color: $text-color;
}

body, body > div, .skoash-game {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 20px;
  background: url(../media/_backgrounds/title-.jpg) bottom center no-repeat;
  background-size: cover;


  .game-background {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

    &.bkg-02 {
      background-image: url(../media/_backgrounds/bg-02.jpg);
    }
    &.bkg-03 {
      background-image: url(../media/_backgrounds/bg-03-game1-congratulations.jpg);
    }
    &.bkg-04 {
      background-image: url(../media/_backgrounds/bg-04-game2-.jpg);
    }
  }

  &.SCREEN-2 {
    .game-background.bkg-02 {
      opacity: 1;
    }
  }
}

.skoash-game {
  width: 960px;
  height: 540px;
}

// preload assets
#asset-bin {
  display: none;
}

img {
  &.hidden {
    display: none;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  background-image: url(../media/_Sprites/spritesheet-mainbtns-.png);
  background-size: 1020px;
  background-position: left top;

  &.close {
    width: 165px;
    height: 45px;
    background-position: -340px -5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    &:hover {
      background-position: -340px -60px;
    }
  }

  &.next-screen,
  &.prev-screen {
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 2;
    width: 150px;
    height: 45px;
  }

  &.next-screen {
    right: 0;
    opacity: 0;
    pointer-events: none;
    background-position: -180px -5px;

    &:hover {
      background-position: -180px -60px;
    }
  }

  &.prev-screen {
    display: none;
    background-position: -340px -5px;

    &:hover {
      background-position: -340px -60px;
    }
  }

  &.quit-yes {
    width: 170px;
    height: 90px;
    background-size: auto 400px;
    background-position: 387px 344px;

    &:hover {
      background-position: 387px 144px;
    }
  }

  &.quit-no {
    width: 170px;
    height: 90px;
    background-size: auto 400px;
    background-position: 187px 344px;

    &:hover {
      background-position: 187px 144px;
    }
  }

  &.close-reveal {
    width: 30px;
    height: 30px;
    background-position: -660px 240px;
    transition: opacity 1s;

    &:hover {
      background-position: -660px 390px;
    }
  }
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 36px;
  margin: 0;
}

.canvas-src { display: none; }

.screen {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%);

  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.screen.last {}

.screen.OPEN {
  opacity: 1;
  transform: translateX(0);
}

.screen.READY {
  display: block;
}

.screen.LEAVE {
  opacity: 1;
  transform: translateX(-100%);
}

  .skoash-game.VOICE-OVER:not(.DEMO) .close-reveal,
  .screen.GATED .next-screen {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s;
    cursor: default;
  }

  .skoash-game.MENU-quit .screen {
    &:not(#quit) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .skoash-game.DEMO .screen .next-screen,
  .screen.COMPLETE .next-screen,
  .screen.REPLAY .next-screen {
    opacity: 1;
    pointer-events: auto;
    transform: rotate(0deg);
    cursor: pointer;
    transition: opacity 1s, transform 1s;
  }

  .screen .next-screen:hover {

  }

  .screen .prev-screen {
    margin-left: 5px;
    left: 0;

  }

  .screen .prev-screen:hover {

  }

.screen {
  &.no-frame {
    color: #fff;

    .frame {
      text-align: center;
    }
  }
}

// the following css is specific to this game

.frame {
  position: relative;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#title {
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .prev-screen {
    display: none;
  }

  .next-screen {
    width: 165px;
    background-position: 0px -5px;

    &:hover {
      background-position: 0px -60px;
    }
  }
}

#imagine {
  .question,
  .answer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
  }

  .question {

  }

  .answer {
    opacity: 0;
  }

  .right {
    position: absolute;
    right: 0;
    top: 0;
  }

  .words {
    position: relative;
    background-image: url(../media/03-05/img-speechballoon.png);
    background-repeat: no-repeat;
    background-size: 300px;
    width: 320px;
    height: 160px;
    margin-top: 60px;
  }

  .text {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .minion {
    background-image: url(../media/_sprites/spritesheet-minion-characters_.png);
    background-position: -120px -240px;
    background-size: 3000px;
    width: 320px;
    height: 320px;
  }

  &.OPEN {
    .question {
      display: block;
    }
  }
}

#flip {
  .frame {

    > div {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }

    p {
      font-size: 36px;
      line-height: 1.3;
    }

    .flip {
      display: block;
      width: 304px;
      margin: 20px auto 0;
      opacity: 0;

      div {
        // background-image: url(../media/S_22/img_22.1.png);
        background-size: 330px;
        float: left;
        height: 130px;
        width: 76px;

        @for $item from 1 through 4 {
          &:nth-child(#{$item}) {
            background-position: 62-(76*$item)+px center;
          }
        }
      }

      &.animated {
        opacity: 1;
        animation-name: shake;
        animation-delay: 2s;
        animation-iteration-count: 2;

        div {
          animation-name: fadeInRightBig;

          @for $item from 1 through 4 {
            &:nth-child(#{$item}) {
              animation-delay: .2*$item+s;
            }
          }
        }
      }
    }
  }
}

#quit {

  .frame {
    width: 720px;
    height: 440px;
    text-align: center;
    padding: 70px 80px;
    // background-image: url(../media/_Frame/Fr_1.png);

    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    h2 {
      margin: 0;
      font-size: 40px;
    }

    h3 {
      margin: 20px 0 10px;
      font-size: 30px;
    }

    button {
      margin: 20px 10px;
    }
  }
}
