@import 'variables';
@import 'mixins';

@font-face {
  font-family: 'Molot';
  src: url('../media/' + 'Fonts/Molot.eot'); /* IE9 Compat Modes */
  src: url('../media/' + 'Fonts/Molot.woff') format('woff'), /* Modern Browsers */
       url('../media/' + 'Fonts/Molot.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: default;
}

html {
  font-family: "Molot", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  color: $text-color;
}

body, body > div, .skoash-game {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 20px;
  background: url(../media/_backgrounds/title-.jpg) bottom center no-repeat;
  background-size: cover;


  .game-background {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

    &.bkg-02 {
      background-image: url(../media/_backgrounds/bg-02.jpg);
    }
    &.bkg-03 {
      background-image: url(../media/_backgrounds/bg-03-game1-congratulations.jpg);
    }
    &.bkg-04 {
      background-image: url(../media/_backgrounds/bg-04-game2-.jpg);
    }
  }

  &.SCREEN-2 {
    .game-background.bkg-02 {
      opacity: 1;
    }
  }
}

.skoash-game {
  width: 960px;
  height: 540px;
}

// preload assets
#asset-bin {
  display: none;
}

img {
  &.hidden {
    display: none;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  background-image: url(../media/_Sprites/spritesheet-mainbtns-.png);
  background-size: 1020px;
  background-position: left top;

  &.close {
    width: 165px;
    height: 45px;
    background-position: -340px -5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    &:hover {
      background-position: -340px -60px;
    }
  }

  &.next-screen,
  &.prev-screen {
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 2;
    width: 150px;
    height: 45px;
  }

  &.next-screen {
    right: 0;
    opacity: 0;
    pointer-events: none;
    background-position: -180px -5px;

    &:hover {
      background-position: -180px -60px;
    }
  }

  &.prev-screen {
    display: none;
    background-position: -340px -5px;

    &:hover {
      background-position: -340px -60px;
    }
  }

  &.quit-yes {
    width: 170px;
    height: 90px;
    background-size: auto 400px;
    background-position: 387px 344px;

    &:hover {
      background-position: 387px 144px;
    }
  }

  &.quit-no {
    width: 170px;
    height: 90px;
    background-size: auto 400px;
    background-position: 187px 344px;

    &:hover {
      background-position: 187px 144px;
    }
  }

  &.close-reveal {
    width: 30px;
    height: 30px;
    background-position: -660px 240px;
    transition: opacity 1s;

    &:hover {
      background-position: -660px 390px;
    }
  }
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 36px;
  margin: 0;
}

.canvas-src { display: none; }

.screen {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%);

  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.screen.last {}

.screen.OPEN {
  opacity: 1;
  transform: translateX(0);
}

.screen.READY {
  display: block;
}

.screen.LEAVE {
  opacity: 1;
  transform: translateX(-100%);
}

  .skoash-game.VOICE-OVER:not(.DEMO) .close-reveal,
  .screen.GATED .next-screen {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s;
    cursor: default;
  }

  .skoash-game.MENU-quit .screen {
    &:not(#quit) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .skoash-game.DEMO .screen .next-screen,
  .screen.COMPLETE .next-screen,
  .screen.REPLAY .next-screen {
    opacity: 1;
    pointer-events: auto;
    transform: rotate(0deg);
    cursor: pointer;
    transition: opacity 1s, transform 1s;
  }

  .screen .next-screen:hover {

  }

  .screen .prev-screen {
    margin-left: 5px;
    left: 0;

  }

  .screen .prev-screen:hover {

  }

.screen {
  &.no-frame {
    color: #fff;

    .frame {
      text-align: center;
    }
  }
}

// the following css is specific to this game

.frame {
  position: relative;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#title {
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .prev-screen {
    display: none;
  }

  .next-screen {
    width: 165px;
    background-position: 0px -5px;

    &:hover {
      background-position: 0px -60px;
    }
  }
}

#imagine {
  .question,
  .answer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;

    &.show {
      display: block;
    }
  }

  .right {
    position: absolute;
    right: 0;
    top: 70px;
    background-image: url(../media/03-05/img-speechballoon.png);
    background-repeat: no-repeat;
    background-size: 300px;
  }

  .words {
    position: absolute;
    width: 320px;
    margin-top: 70px;
    color: #006d05;
    font-size: 18px;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: "Molot";
    opacity: 0;
    transition: opacity .5s;

    &.show {
      opacity: 1;
    }
  }

  .text {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .minion {
    background-image: url(../media/_sprites/spritesheet-minion-characters_.png);
    background-position: -120px -240px;
    background-size: 3000px;
    margin-top: 140px;
    width: 320px;
    height: 320px;
  }
}

#lets-learn {
  .balloon {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 900px;
  }

  .words {
    position: absolute;
    color: $green;
    font-size: 52px;
    text-transform: uppercase;
    font-family: "Molot";
    left: 165px;
    top: 130px;
  }

  .screen-content {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 500px;
      height: 410px;
      display: block;
      background-image: url($media-server + 'SpritesAnimations/sprite.closeupminion.png');
      background-repeat: no-repeat;
      background-size: 2200px;
    }
  }
}

#video {
  .screen-content {
    > div {
      background-image: url($media-server + 'ImageAssets/vid.scrn.png');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 100px 100px 40px 100px;
    }
  }
}

#many-materials {
  color: $green;

  .balloon {
    position: absolute;
    left: 0;
    top: 0;
    width: 960px;
  }

  .words {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 36px;
    width: 100%;
    transform: translateX(-47.5%) translateY(-25%);
  }

  .screen-content {
    &:after {
      content: '';
      position: absolute;
      left: 210px;
      top: 0;
      width: 600px;
      height: 410px;
      display: block;
      background-image: url($media-server + 'SpritesAnimations/sprite.closeupminion.png');
      background-repeat: no-repeat;
      background-size: 2200px;
      background-position: -730px 0;
    }
  }
}

#sort-game {
  .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 540px;

    .score {
      position: relative;
      width: 100%;
      height: 400px;
      margin-top: 50px;

      &:after {
        content: '';
        background-color: #7e7e7e;
        position: absolute;
        width: 10px;
        height: 330px;
        border-radius: 10px;
        bottom: 25px;
        left: 25px;
        opacity: .6;
      }

      div {
        position: relative;
        width: 50px;
        margin: 0 auto;

        &:before {
          content: '';
          display: block;
          background-color: #424242;
          border: 6px solid #fff;
          border-radius: 50px;
          height: 360px;
          width: 40px;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 6px;
          left: 6px;
          border-radius: 50px;
          background-color: $green;
          height: 0px;
          width: 40px;
          -webkit-transition: height .5s cubic-bezier(.53,0,.63,1);
          transition: height .5s cubic-bezier(.53,-0.56,.63,1.74);
        }
      }

      @for $i from 0 through 10 {
        &.score-#{$i * 10} {
          div:after {
            height: #{$i * 36}px;
          }
        }
      }
    }
  }

  .timer {
    font-size: 14px;
    font-weight: normal;

    span {
      display: block;
      font-size: 28px;
    }
  }

  .main {
    background-color: #4c6c7a;
    position: absolute;
    left: 100px;
    top: 20px;
    width: 760px;
    height: 520px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
  }

  .dropper {
    left: 305px;
    width: 150px;
    height: 100px;

    .el {
      background-image: url($media-server + 'SpritesAnimations/sprite.game1.printer.png');
      background-size: 150px;
    }

    .left,
    .right {
      position: absolute;
      display: flex;
      width: 80px;
      height: 50px;
      top: 20px;

      div {
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin: 6px;
        transition: border .5s;
      }
    }

    .left {
      left: -40px;
      flex-direction: row-reverse;

      div {
        border-right: 10px solid black;
      }
    }

    .right {
      left: 95px;

      div {
        border-left: 10px solid black;
      }
    }

    &.right {
      .right {
        div {
          border-left-color: #10ce0e;
        }

        @for $i from 1 through 3 {
          div:nth-of-type(#{$i}) {
            animation: arrow-blink .75s #{$i * .25}s infinite;
          }
        }
      }
    }

    &.left {
      .left {
        div {
          border-right-color: #10ce0e;
        }

        @for $i from 1 through 3 {
          div:nth-of-type(#{$i}) {
            animation: arrow-blink .75s #{$i * .25}s infinite;
          }
        }
      }
    }

    .catchable {
      transition: top 1s, height .25s;
      top: 60px;
      left: 20px;
      width: 100px;
      height: 0px;
      background-image: url($media-server + 'SpritesAnimations/sprite.game1.png');
      background-size: 1200px;

      &.starting {
        height: 40px;
      }

      &.ready {
        height: 50px;
      }

      &.set {
        height: 100px;
      }

      &.go {
        top: 550px;
        height: 100px;
      }

      $catchables: milk shoes cup box glasses whistle car lego silver slinky gears nails;
      @for $i from 1 through 12 {
        &.#{nth($catchables, $i)} {
          background-position: #{($i - 1) * -100}px 0;
        }
      }
    }
  }

  .catch {
    div {
      position: absolute;
      top: 392px;
      width: 170px;
      height: 130px;
      background-image: url($media-server + 'SpritesAnimations/sprite.game1.bins.png');
      background-repeat: no-repeat;
      background-size: 600px;

      &:before {
        display: block;
        position: absolute;
        left: 30px;
        top: 0;
        width: 100px;
        height: 100px;
        z-index: 1;
        font-size: 32px;
        @include text-stroke(1, #0f3b1d);
      }

      &.correct,
      &.incorrect {
        &:before {
          animation: bin-points 1s forwards linear;
        }
      }

      &.correct {
        &:before {
          content: '+10';
          background-image: url($media-server + 'ImageAssets/plus.png');
          background-size: contain;
        }
      }

      &.incorrect {
        &:before {
          content: '-10';
        }
      }
    }

    $bins: plastic metal other;
    $lefts: 40 300 560;
    $background-lefts: 0 215 430;

    @for $i from 1 through 3 {
      .#{nth($bins, $i)} {
        left: #{nth($lefts, $i)}px;
        background-position: -#{nth($background-lefts, $i)}px 0;
      }
    }
  }

  .reveal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity .5s, z-index 0s .5s;

    &.OPEN {
      z-index: 1;
      transition: opacity .5s, z-index 0s;
    }

    ul {
      list-style: none;
      margin: 0;
    }

    li {
      display: none;
      position: absolute;
      left: 80px;
      top: 20px;

      &.OPEN {
        display: block;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: -15px;
        bottom: 0;
        width: 250px;
        height: 445px;
        background-image: url($media-server + 'SpritesAnimations/sprite.minion.png');
        background-size: 2400px;
        background-position: -600px 0;
        background-repeat: no-repeat;
      }

      .line {
        background-image: url($media-server + 'ImageAssets/thick.border.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      &[data-ref="in-this"] {
        width: 800px;
        height: 500px;

        .frame {
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }

        .balloon {
          position: absolute;
          left: 30px;
          top: 50px;
          width: 600px;
        }

        .bins {
          position: absolute;
          left: 180px;
          top: 270px;
          width: 370px;
        }

        .words {
          position: absolute;
          left: 100px;
          top: 180px;
          color: $green;
          font-size: 28px;
          opacity: 0;
          transition: opacity .5s;
          transform: translateY(-50%);

          &.show {
            opacity: 1;
          }

          &.be-sure {
            button {
              background-image: url($media-server + 'SpritesAnimations/sprite.nav.png');
              background-position: 0 0;
              width: 250px;
              height: 60px;
              margin-top: 10px;

              &:hover {
                background-position: 0 60px;
              }
            }
          }
        }

        .line {
          width: 110%;
          margin-left: -5%;
          height: 10px;
        }
      }
    }

    .close-reveal {

    }
  }
}

#flip {
  .frame {

    > div {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }

    p {
      font-size: 36px;
      line-height: 1.3;
    }

    .flip {
      display: block;
      width: 304px;
      margin: 20px auto 0;
      opacity: 0;

      div {
        // background-image: url(../media/S_22/img_22.1.png);
        background-size: 330px;
        float: left;
        height: 130px;
        width: 76px;

        @for $item from 1 through 4 {
          &:nth-child(#{$item}) {
            background-position: 62-(76*$item)+px center;
          }
        }
      }

      &.animated {
        opacity: 1;
        animation-name: shake;
        animation-delay: 2s;
        animation-iteration-count: 2;

        div {
          animation-name: fadeInRightBig;

          @for $item from 1 through 4 {
            &:nth-child(#{$item}) {
              animation-delay: .2*$item+s;
            }
          }
        }
      }
    }
  }
}

#quit {

  .frame {
    width: 720px;
    height: 440px;
    text-align: center;
    padding: 70px 80px;
    // background-image: url(../media/_Frame/Fr_1.png);

    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    h2 {
      margin: 0;
      font-size: 40px;
    }

    h3 {
      margin: 20px 0 10px;
      font-size: 30px;
    }

    button {
      margin: 20px 10px;
    }
  }
}
