@import 'variables';
@import 'mixins';

#lets-learn {
    .balloon {
        position: absolute;
        left: 50px;
        top: 50px;
        width: 900px;
    }

    .words {
        position: absolute;
        color: $dark-green;
        font-size: 52px;
        text-transform: uppercase;
        font-family: "Molot";
        left: 165px;
        top: 130px;

        $widths: 580 530 401;
        @include typing($widths);
    }

    .screen-content {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 500px;
            height: 410px;
            display: block;
            background-image: url($media-server + 'SpritesAnimations/sprite.closeupminion.png');
            background-repeat: no-repeat;
            background-size: 2200px;
        }
    }
}
