@import 'variables';

#list {
    .arrows {
        position: absolute;
        left: 495px;
        top: 140px;
        width: 80px;
    }

    .draggable {
        position: absolute;
        width: 130px;
        height: 105px;
        z-index: 1;
        background-image: url($media-server + 'SpritesAnimations/sprite.game3.png');
        background-repeat: no-repeat;
        background-size: 1800px;

        &.DRAGGING {
            z-index: 2;
        }

        &.RETURN {
            transition: transform .5s, z-index 0s .5s;
        }

        $draggables: shoe lego dice ball crown bunny chess helmet bowling cup controller headphones guitar;
        $lefts:                10     10     10     10     130     120     120        250         240 230                360                350        350;
        $tops:                 10    110    210    310        80     200     300         10         120 230                 80                160        270;
        $bkg-lefts:         0        4        5     10         1         7        11            2             8     6                    3                    9         12;
        $transx:            770    660    560    580     460     480     700        430         520 415                370                430        340;
        $transy:            150    160        5    -40        80     130     -90        320         200 -15                130                105     -110;
        @for $i from 1 through 13 {
            &[data-message=#{nth($draggables, $i)}] {
                left: #{nth($lefts, $i)}px;
                top: #{nth($tops, $i)}px;
                background-position: -#{nth($bkg-lefts, $i) * 140}px 0;

                &.CORRECT {
                    background-position: -#{nth($bkg-lefts, $i) * 140}px -150px;
                    width: 95px;
                    height: 55px;
                    transform: translateX(#{nth($transx, $i)}px) translateY(#{nth($transy, $i)}px) !important;
                }
            }
        }
    }

    .dropzones {
        position: absolute;
        left: 570px;
        top: 60px;
        width: 370px;
        height: 400px;
        background-image: url($media-server + 'ImageAssets/img.notepad.png');
        background-repeat: no-repeat;
        background-size: contain;
        padding: 55px 65px;

        div {
            height: 100%;

            span {
                display: inline-block;
                color: $purple;
                font-size: 30px;
            }
        }
    }

    .words {
        font-family: 'Source Sans Pro';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 400px;
        padding: 30px 0;

        span {
            color: $green;
            text-transform: uppercase;
            text-decoration: underline;
            font-weight: bold;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 405px;
        bottom: 0;
        width: 150px;
        height: 200px;
        background-image: url($media-server + 'SpritesAnimations/sprite.minion.png');
        background-size: 2200px;
        background-position: -1905px -180px;
    }
}
