@import 'variables';

#now-that-you-learned {
  font-family: 'Source Sans Pro';
  font-size: 46px;

  .screen-content div {
    padding-top: 60px;
  }

  span {
    color: $green;
    font-weight: bold;
  }

  .next-screen {
    width: 200px;
    height: 60px;
    right: 380px;
    bottom: 170px;
    background-image: url($media-server + 'SpritesAnimations/sprite.nav.png');
    background-position: -285px 0;

    &:hover {
      background-position: -285px -60px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 405px;
    bottom: 0;
    width: 150px;
    height: 200px;
    background-image: url($media-server + 'SpritesAnimations/sprite.minion.png');
    background-size: 2200px;
    background-position: -1905px -180px;
  }
}
