@import 'variables';

#video {
    .screen-content {
        > div {
            background-image: url($media-server + 'ImageAssets/vid.scrn.png');
            background-size: 78% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 100px 100px 40px 100px;
        }
    }

    video {
        width: 94%;
    }
}
