
@{
    ViewBag.Title = "AI9";
}



<style type="text/css">

    .bkg-image {
    background-image: url('@Url.Content("~/Content/images/BKG_3.png")');
    background-repeat:no-repeat;
    background-size:616px 400px;
        height:400px;
        width:616px;
       margin-left:15px;
    }


  .flip-off img {
    position: absolute;
    -webkit-transition: opacity 0s ease-in-out;
    -moz-transition: opacity 0s ease-in-out;
    -o-transition: opacity 0s ease-in-out;
    transition: opacity 0s ease-in-out;
   }

  .flip-off img:hover {
    position: absolute;
    opacity: 0;
   }


ul {
    position: absolute;
    z-index: 3;
    font-size: 26px;
    font-family: source sans pro;
    margin-left: 268px;
    font-weight: 800;
    margin-top: 110px;
}



h1 {
    position: absolute;
    z-index: 2;
    color: black;
    text-align: center;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 94px;
    line-height: 37px;
    font-weight: 800;
    font-family: source sans pro;
}


    .here{position:absolute;z-index:2;}
    .step8{position:absolute;z-index:2;}
    .art{position:absolute;z-index:1;}
    .step9{position:absolute;z-index:2;}
    .hint{position:absolute;z-index:2;}
    .hint2{position:absolute;z-index:2;}
    .hint3{position:absolute;z-index:2;}
</style>


<script type="text/javascript">
    $(document).ready(function () {

        me5.load();
        me5.play();


        $('#headline2 img').hide();
        $('#headline2 h1').hide();
        $('.forward2').hide();
        $('.back2').hide();

        $('#headline3 img').hide();
        $('#headline3 h1').hide();
        $('.forward3').hide();
        $('.back3').hide();

        $('#headline4 img').hide();
        $('#headline4 h1').hide();
        $('.forward4').hide();
        $('.back4').hide();

        $('#headline5 img').hide();
        $('#headline5 h1').hide();
        $('.forward5').hide();
        $('.back5').hide();


        $('.hint').hide();
        $('.hint2').hide();
        $('.hint3').hide();
        $('.forward21').hide();
        $('.forward31').hide();
        $('.forward41').hide();


        $('.forward').click(function () {
            $('#headline1 img').fadeOut(1000);
            $('#headline1 h1').fadeOut(1000);
            $('#headline2 img').fadeIn(2000);
            $('#headline2 h1').fadeIn(2000);
            $('.step8').addClass('bounce');
            $('.forward').hide();
            $('.forward21').show();
            $('.back').hide();
            $('.back2').show();
            steps.play();
        });


        $('.forward21').click(function () {
            $('.hint').fadeIn(2000);
            $('.forward21').hide();
            $('.forward2').show();
            hinty.play();
        });

        $('.forward2').click(function () {
            $('#headline2 img').fadeOut(1000);
            $('#headline2 h1').fadeOut(1000);
            $('#headline3 img').fadeIn(2000);
            $('#headline3 h1').fadeIn(2000);
            $('.art').addClass('bounceInRight');
            $('.forward2').hide();
            $('.forward31').show();
            $('.back2').hide();
            $('.back3').show();
            $('.hint').hide();
        });

        $('.forward3').click(function () {
            $('#headline3 img').fadeOut(1000);
            $('#headline3 h1').fadeOut(1000);
            $('#headline4 img').fadeIn(2000);
            $('#headline4 h1').fadeIn(2000);
            $('.step9').addClass('bounce');
            $('.hint1').addClass('lightSpeedIn');
            $('.forward3').hide();
            $('.forward41').show();
            $('.back3').hide();
            $('.back4').show();
            $('.hint2').hide();
        });

        $('.forward31').click(function () {
            $('.hint2').fadeIn(2000);
            $('.forward31').hide();
            $('.forward3').show();
            hinty.play();
        });



        $('.forward4').click(function () {
            $('#headline4 img').fadeOut(1000);
            $('#headline4 h1').fadeOut(1000);
            $('#headline5 img').fadeIn(2000);
            $('#headline5 h1').fadeIn(2000);
            $('.forward4').hide();
            $('.forward5').show();
            $('.back4').hide();
            $('.back5').show();
            $('.hint3').hide();
        });


        $('.forward41').click(function () {
            $('.hint3').fadeIn(2000);
            $('.forward41').hide();
            $('.forward4').show();
            hinty.play();
        });






        $('.forward5').click(function () {
            $('.forward2').delay(1000).delay(1000, function () {
                document.location.href = "@Url.Content("~/ActionItem/AI10")";
            });
            nex.play();
        });



        $('.back').click(function () {
            $('.back').delay(1000).delay(1000, function () {
                document.location.href = "@Url.Content("~/ActionItem/AI8")";
            });
            nex.play();
        });



        $('.back2').click(function () {
            $('#headline1 img').fadeIn(3000);
            $('#headline1 h1').fadeIn(3000);
            $('#headline2 img').fadeOut(1000);
            $('#headline2 h1').fadeOut(1000);
            $('.forward21').hide();
            $('.forward2').hide();
            $('.forward').show();
            $('.back2').hide();
            $('.back').show();
            $('.hint').hide();
        });

        $('.back3').click(function () {
            $('#headline2 img').fadeIn(3000);
            $('#headline2 h1').fadeIn(3000);
            $('#headline3 img').fadeOut(1000);
            $('#headline3 h1').fadeOut(1000);
            $('.forward3').hide();
            $('.forward31').hide();
            $('.forward21').show();
            $('.back3').hide();
            $('.back2').show();
            $('.hint2').hide();
        });


        $('.back4').click(function () {
            $('#headline3 img').fadeIn(3000);
            $('#headline3 h1').fadeIn(3000);
            $('#headline4 img').fadeOut(1000);
            $('#headline4 h1').fadeOut(1000);
            $('.forward4').hide();
            $('.forward41').hide();
            $('.forward31').show();
            $('.back4').hide();
            $('.back3').show();
            $('.hint3').hide();
        });


        $('.back5').click(function () {
            $('#headline4 img').fadeIn(3000);
            $('#headline4 h1').fadeIn(3000);
            $('#headline5 img').fadeOut(1000);
            $('#headline5 h1').fadeOut(1000);
            $('.forward5').hide();
            $('.forward4').show();
            $('.back5').hide();
            $('.back4').show();
        });

    });
</script>




<div class="container body-content">
    <div class="col-md-12">
        <div class="row">


            <div class="close-Btn">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_exit_on.png" style="width:50px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_exit.png" style="width:50px;margin-top: -52px;" /></div>
            </div>


            <img src="~/Content/images/image_left_drop.png" style="width: 451px;margin-top: 1px;margin-left: 0px;position:absolute;z-index: 1;" />

            <div id="headline1">
                <h1 style="margin-top: 48px;">
                    Now you have your tag<br /> and are ready to<br /> decorate it!
                </h1> 
                <h1 style=" margin-top: 193px;">
                    Be sure to layer old<br /> newspapers on your<br /> work-space so you don’t<br /> make a mess!
                </h1>
                
                <div class="here animated bounce">
                    <img src="~/Content/images/image_explanation.png" style="width: 176px; margin-top: 45px; margin-left: 389px;position: absolute; z-index: 2;" />
               </div>
            </div>





            <div id="headline2">
                <div class="step8 animated">
                <img src="~/Content/images/header_step_8.png" style="width: 238px;margin-top: 0px;margin-left: 327px;position:absolute;z-index: 4; " />
                </div>
                <h1 style="margin-top:132px;">First, write your<br /> <strong style="font-family: source sans pro; font-weight: 900;">SAVE WATER</strong> message <br /> with a marker.</h1>
                <img src="~/Content/images/image_step_8.png" style="width: 312px; margin-top: 109px; margin-left: 323px; position: absolute; z-index: 3; display: block;" />
            </div>

            <div class="hint animated">
                <img src="~/Content/images/header_plan_out_spacing.png" style="width: 616px; margin-top: 331px; position: absolute; z-index: 2;" />
            </div>



            <div id="headline3">
                <h1 style="margin-top:132px;">Select your<br /> nail polish, markers or <br />acrylic paint.</h1>
                
               <div class="art animated">
                 <img src="~/Content/images/image_supply_4.png" style="width: 265px; margin-top: 0px; margin-left: 352px; position: absolute; z-index: 1;" />
            </div>
                </div>

            <div class="hint2 animated">
            <img src="~/Content/images/header_be_creative.png" style="width: 616px; margin-top: 331px; position: absolute; z-index: 2;" />
            </div>
            
           
            
            
            
            
            
               <div id="headline4">
                <div class="step9 animated">
                <img src="~/Content/images/header_step_9.png" style="width: 238px;margin-top: 0px;margin-left: 327px;position:absolute;z-index: 4; " />
                </div>

                <h1 style="margin-top: 81px;">Go over to your guide<br /> with nail polish,<br /> paint or markers.</h1>
                <h1 style="margin-top: 228px; margin-left: 80px;">Add fun designs!</h1>
                
              
                
                <img src="~/Content/images/image_step_9.png" style="width: 275px; margin-top: 63px; margin-left: 338px; position: absolute; z-index: 3;" />
            </div>

            <div class="hint3 animated">
                <img src="~/Content/images/header_apply_layers.png" style="width: 616px; margin-top: 331px; position: absolute; z-index: 2;" />
            </div>
            
            
            
            
              <div id="headline5">
                <h1 style="margin-top: 108px;margin-left: 34px;">When all layers<br /> of paint have dried,<br /> you are ready to<br /> place on the faucet</h1>
                <img src="~/Content/images/image_tag_on_faucet.png" style="width: 320px; margin-top: 33px; margin-left: 299px; position: absolute; z-index: 1;" />
            </div>



           
            
            
            
            
             <div class="back">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_back_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: -3px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_back.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: -3px;" /></div>
            </div>



            <div class="forward">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: 550px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: 550px;" /></div>
            </div>


            <div class="back2">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_back_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: -3px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_back.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: -3px;" /></div>
            </div>



            <div class="forward2">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: 550px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: 550px;" /></div>
            </div>


            <div class="forward21">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: 550px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: 550px;" /></div>
            </div>


            <div class="back3">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_back_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: -3px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_back.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: -3px;" /></div>
            </div>



            <div class="forward3">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: 550px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: 550px;" /></div>
            </div>


            <div class="forward31">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: 550px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: 550px;" /></div>
            </div>


            <div class="back4">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_back_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: -3px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_back.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: -3px;" /></div>
            </div>



            <div class="forward4">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: 550px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: 550px;" /></div>
            </div>

            <div class="forward41">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: 550px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: 550px;" /></div>
            </div>

            <div class="back5">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_back_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: -3px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_back.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: -3px;" /></div>
            </div>



            <div class="forward5">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_next_on.png" style="width: 73px;position:absolute;z-index: 2;margin-top: 321px;margin-left: 550px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_next.png" style="width: 73px;margin-top: 321px;position:absolute;z-index: 2;margin-left: 550px;" /></div>
            </div>







        </div>
    </div>
</div><!--end container body-content-->