* {
    margin:0;
    padding:0;
}

body {
    background-color:#bdbdbd;
}

.container {
    width:100%; /* is optional to remove */
    height:100%;
    margin-left:0;
}

.game-box {
    width:100%;
    background-color:#7829bb;
    padding:3px;
}

#game {
    width:100%;
    margin-top:13%;
}

.flip {
    height:48%;
    width:100%;
    position:relative !important;
    top:3px;
}

.flip-img {
    height:100%;
    width:13%;
    background:url(../content/images/flips/temp_flip.png) no-repeat;
    background-size:95%;
    margin-left: 3px;
    margin-right: 2%;
    float:left;
}

.flip p{
    font-family: 'cmwn';
    color: #fff;
    font-size: 9vw;
}

.quit {
    width:100%;
    height:7%;
    margin-top:4%;
    position:absolute;
}

.quit-img {
    width:5%;
    height:100%;
    background:url(../content/images/buttons/quit.png) no-repeat;
    background-size:100%;
    float:right;
    margin-right:5%;
}

.logo {
    width:100%;
    height:52%;
    margin-top:10%;
    position:absolute;
}

.logo-img {
    width:53%;
    height:100%;
    background:url(../content/images/background/logo.png) no-repeat;
    background-size:80%;
    background-position: 54%;
    margin-left:auto;
    margin-right:auto;
}

.play {
    width:100%;
    height:9%;
    margin-top:50%;
    position:absolute;
}

.play-img {
    width:20%;
    height:100%;
    background:url(../content/images/buttons/play_hover.png) no-repeat;
    background-size: 100%;
    margin-left:auto;
    margin-right:auto;
}



