
@{
    ViewBag.Title = "AI5";
}









<script type="text/javascript">
    $(document).ready(function () {


        $('.play').click(function () {
            $('.play').delay(1000).delay(1000, function () {
                document.location.href = "@Url.Content("~/ActionItem/AI6")";
            });
            try {
                click.play();
            }
            catch (err) {
                //no sound - log error
            }
        });
    });
</script>



<div class="container body-content">
    <div class="col-md-12">
        <div class="row">


            <div class="close-Btn">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_exit_on.png" style="width:50px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_exit.png" style="width:50px;margin-top: -52px;" /></div>
            </div>

            <h3 style="position:absolute;z-index: 5;font-family: Source Sans Pro;font-weight:600;margin-top: 134px;text-align: center;font-size: 27px;letter-spacing: 0px;margin-left: 118px;font-weight: 900;">You can download the recipes for<br /> the salads in the game<br /> and make them yourself. </h3>
            <img src="~/Content/images/header_28.png" style="width: 332px;position: absolute;z-index: 1;margin-left: 139px;" />
            <img src="~/Content/images/frame_3.png" style="width: 469px;position: absolute;z-index: 2;margin-top: 73px;margin-left: 75px;" />


            <div class="play">
                <div class="flip-on" style="z-index:10;"><img src="~/Content/images/btn_download_on.png" style="width: 210px;position:absolute;z-index: 2;margin-top: 262px;margin-left: 210px;" /></div>
                <div class="flip-off" style="z-index:9;"><img src="~/Content/images/btn_download.png" style="width: 210px;margin-top: 262px;position:absolute;z-index: 2;margin-left: 210px;" /></div>
            </div>
        </div>
    </div>
</div><!--end container body-content-->
