.runner-component {
  width: 960px;
  height: 540px;
}
  
  .runner-component [pl-id=player] {
    transition: transform 0.5s cubic-bezier(0, 1.14, 1, 1);
    transform: translate3d(0,0,0);
  }

  .runner-component [pl-id=player].GRAVITY {
    transition-timing-function: ease-out;
    transform: translateY(160px);
  }

  .runner-component .board {
    width: auto;
    height: 300px;
  }

  .runner-component .bin {
    display: none;
  }
  
  .runner-component canvas {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
