html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body {
	position: relative;
	width: 960px;
	margin: auto;
	font-size: 36px;
	background: url(../media/_BKG/BKG_1.png) bottom center no-repeat;
	background-size: cover;
}

button {
	margin: 0;
	padding: 0;
	border: none;

	font-family: inherit;
	font-size: inherit;
	color: transparent;
	background-color: transparent;
	outline: none;
	cursor: pointer;

	background-image: url(../media/_Buttons/BU_1.png);
	background-size: auto 500px;
	background-position: left top;

	&.close {
		width: 35px;
		height: 35px;
		background-position: -310px 410px;
		position: absolute;
		right: 0;
		top: 0;
		margin: 5px;
		z-index: 2;

		&:hover {
			background-position: -310px 165px;
		}
	}

	&.next-screen,
	&.prev-screen {
		width: 80px;
		height: 60px;
	}

	&.next-screen {
		background-position: -120px 420px;

		&:hover {
			background-position: -120px 676px;
		}
	}

	&.prev-screen {
		background-position: -15px 420px;

		&:hover {
			background-position: -15px 676px;
		}
	}

	&.close-reveal {
		width: 55px;
		height: 50px;
		background-position: -225px 420px;

		&:hover {
			background-position: -225px 676px;
		}
	}

	&.quit-yes {
		width: 230px;
		height: 130px;
		background-position: -1820px 450px;

		&:hover {
			background-position: -1820px 193px;
		}
	}

	&.quit-no {
		width: 230px;
		height: 130px;
		background-position: -2080px 450px;

		&:hover {
			background-position: -2080px 193px;
		}
	}
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
	margin: 0;
}

p {
	font-size: 28px;
	margin: 0;
}

.spinner {
	position: relative;
	width: 60%; height: 60%;
	animation: pulse 0.5s infinite;
	background: rgba(0,0,0,0.5);
	border-radius: 50px;

}

.spinner > .spinner {
	position: absolute;
	top: 20%; left: 20%;
}

.spinner > .spinner > .spinner {

}

#loader {
	transition: opacity 0.5s;
	opacity: 0;
}

#loader.OPEN {
	opacity: 1;
}

#loader .group > .spinner {
	width: 80px; height: 80px;
	margin: auto;
}

.canvas-src { display: none; }

.screen {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	opacity: 0;
	display: none;
	transition: opacity 1s, transform 0.5s;
	transform: translateX(100%);
}

.screen.last {}

.screen.OPEN {
	opacity: 1;
	transform: translateX(0);
}

.screen.READY {
	display: block;
}

.screen.LEAVE {
	opacity: 1;
	transform: translateX(-100%);
}

	.screen .next-screen,
	.screen .prev-screen {
		position: absolute;
		display: block;
		bottom: 1%;

		z-index: 2;
	}

	.screen .next-screen {
		margin-right: 5px;
		right: 0;
		opacity: 0;
		transform: rotate(-180deg);
		transition: opacity 1s, transform 1s;
	}

	.screen.GATED .next-screen {
		opacity: 0;
		cursor: default;
	}

	.screen.COMPLETE .next-screen {
		opacity: 1;
		transform: rotate(0deg);
		cursor: pointer;
	}

	.screen .next-screen:hover {
		
	}

	.screen .prev-screen {
		margin-left: 5px;
		left: 0;
		
	}
	
	.screen .prev-screen:hover {
		
	}

.screen {
	&.no-frame {
		color: #fff;

		.frame {
			text-align: center;
		}
	}
}

// the following css is specific to this game

.reveal-component {
	position: static;

	.items {
		position: static;

		li {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: -1;
			transition: opacity .5s, z-index 0s .6s;

			div {
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				height: 240px;
				margin-top: -120px;
				background-image: url(../media/_Frames/FR_1.png);
				background-size: 100% 100%;

				span {
					position: absolute;
					display: block;
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
					text-align: center;
				}

				.close-reveal {
					position: absolute;
					right: 5px;
					bottom: 10px;
				}
			}

			&.OPEN {
				opacity: 1;
				z-index: 1;
				transition: opacity .5s;
			}
		}
	}
}

#title {
	img {
		position: absolute;

		&.bulb {
			width: 400px;
			left: 280px;
			top: 20px;
		}

		&.presents {
			width: 200px;
			left: 140px;
			top: 210px;
		}

		&.title {
			width: 700px;
			left: 130px;
			top: 300px;
		}
	}

	.prev-screen {
		display: none;
	}
}

.screen.why {
	img.title {
		display: block;
		width: 800px;
		margin: 30px auto 0;
	}

	.selectable-reveal-component {
		margin-top: -30px;

		.selectable-component {

			.items {
				height: 300px;
				width: 800px;
				margin: 20px auto;

				li {
					background-position: 0 0;
					background-size: auto 100%;
					cursor: pointer;

					&:hover {
						-webkit-animation-name: bounce;
						animation-name: bounce;
					}

					&.HIGHLIGHTED {
						background-position: 204px 0;
					}

					&:nth-of-type(1) {
						background-image: url(../media/S_3/img_3.2.png);
					}

					&:nth-of-type(2) {
						background-image: url(../media/S_3/img_3.3.png);
					}

					&:nth-of-type(3) {
						background-image: url(../media/S_3/img_3.4.png);
					}

					&:nth-of-type(4) {
						background-image: url(../media/S_3/img_3.5.png);
					}
				}
			}
		}
	}
}

.screen.pig {
	img {
		display: block;
		width: 640px;
		margin: 40px auto 0;
	}

	.multiple-choice-component {
		ul {
			list-style: none;
			padding: 0;
			margin: -20px auto 0;
			display: block;
			width: 730px;

			li {
				display: inline-block;
				height: 380px;
				cursor: pointer;
				background-repeat: no-repeat;

				&.pig {
					width: 500px;
					background-image: url(../media/S_4/img_4.2.png);
					background-size: auto 100%;

					&:hover {
						background-position: -497px 0;
					}

					&.SELECTED {
						background-position: -993px 0;
					}
				}

				&.bulb {
					width: 230px;
					background-image: url(../media/S_4/img_4.3.png);
					background-size: auto 100%;

					&:hover {
						background-position: -246px 0;
					}

					&.SELECTED {
						background-position: 0 0;
					}
				}
			}
		}
	}
}

.screen.what {
	img.title {
		display: block;
		width: 800px;
		margin: 30px auto 0;
	}

	.selectable-reveal-component {
		margin-top: -30px;

		.selectable-component {

			.items {
				position: relative;
				height: 300px;
				width: 800px;
				margin: 20px auto;

				li {
					background-position: 0 0;
					background-size: auto 100%;
					cursor: pointer;
					position: absolute;
					width: 200px;
					height: 200px;
					top: 0;

					&:hover {
						-webkit-animation-name: bounce;
						animation-name: bounce;
					}

					&.HIGHLIGHTED {
						background-position: -194px 0;
					}

					&:nth-of-type(1) {
						background-image: url(../media/S_5/img_5.2.png);
						left: 0;
					}

					&:nth-of-type(2) {
						background-image: url(../media/S_5/img_5.3.png);
						left: 150px;
						top: 200px;
					}

					&:nth-of-type(3) {
						background-image: url(../media/S_5/img_5.4.png);
						left: 300px;
					}

					&:nth-of-type(4) {
						background-image: url(../media/S_5/img_5.5.png);
						left: 450px;
						top: 200px;
					}

					&:nth-of-type(5) {
						background-image: url(../media/S_5/img_5.6.png);
						left: 600px;
					}
				}
			}
		}
	}
}

.screen.lets-learn {
	img {
		position: absolute;
		top: 140px;
		left: 130px;
		width: 700px;
		margin: 0;
	}
}

.screen.flip {
	h2 {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		margin: -80px 0 0;
		text-align: center;
		color: #fff;
		font-weight: normal;

		.inline {
			position: relative;
			height: 100px;
			vertical-align: middle;
			margin-top: -60px;
			top: 50px;
		}
	}
}

#quit {

	.frame {
		text-align: center;

		h2 {
			margin: 0;
		}

		button {
			margin: 20px 10px;
		}
	}
}
