#bulbs {
    img.title {
        display: block;
        width: 800px;
        margin: 30px auto 0;
    }

    .selectable-reveal {
        margin-top: -30px;

        .selectable {
            height: 300px;
            width: 800px;
            margin: 20px auto;
            opacity: 0;
            transition: opacity 1s 1s;

            li {
                cursor: auto;
                opacity: .5;
                transition: opacity 1s;
                background-image: url(../media/S_3/img_3.2.png);
                background-size: 450px;
                background-repeat: no-repeat;
                pointer-events: none;

                &:first-of-type:not(.HIGHLIGHTED) {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;

                    &:hover {
                        animation-name: bounce;
                    }
                }

                &.HIGHLIGHTED {
                    opacity: 1;
                }

                &.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;

                    &:hover {
                        animation-name: bounce;
                    }
                }

                @for $i from 1 through 4 {
                    &:nth-of-type(#{$i}) {
                        background-position: -12px 310-325*$i+ px;

                        &.HIGHLIGHTED,
                        &:hover {
                            background-position: -237px 310-325*$i+ px;
                        }
                    }
                }
            }
        }
    }

    &.READY.OPEN {
        img.title {
            animation-name: zoomInDown;
        }

        .selectable-reveal {

            .selectable {
                opacity: 1;
            }
        }
    }
}

.pl-game.VOICE-OVER #bulbs {
    .selectable {
        li {
            pointer-events: none;

            &:first-of-type:not(.HIGHLIGHTED) {
                pointer-events: none;
            }
        }
    }
}
