@keyframes reload {
    0% {
        opacity: 0;
    }

    67% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cannon {
    position: relative;
    text-align: center;
    background-image: url(../media/cannon-bears/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    width: 535px;
    display: inline-block;
    margin-top: 2px;
    overflow: hidden;

    &.FIRE {
        .ball {
            /**
             *    Normaly I would define the transition on the default rule but this way
             *    the animation will not play when the 'LAUNCHED' flag is removed.
             */
            transition: transform .5s cubic-bezier(0, 0, .2, 1);
            transform: translateY(-100px) scale(.3);
        }
    }

    &.RELOAD {
        .ball {
            animation: reload 3s;
        }
    }

    .ball {
        width: 90px;
        cursor: pointer;
        transform: translateY(100px);
    }
}
