#dropzone {
    font-size: 20px;

    .dropzone {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 2px solid red;

        &.COMPLETE {
            border-color: black;
        }
    }

    .draggable {
        display: inline-block;
        border: 2px solid blue;
    }
}
