$red: #f00;
$black: #000;
$blue: #00f;

#dropzone {
    font-size: 20px;

    .dropzone {
        display: inline-block;
        border: 2px solid $red;
        width: 100px;
        height: 100px;

        &.COMPLETE {
            border-color: $black;
        }
    }

    .draggable {
        display: inline-block;
        border: 2px solid $blue;
    }
}
