#flip {
    h2 {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: -80px 0 0;
        text-align: center;
        color: #fff;
        font-weight: normal;

        .inline {
            position: relative;
            height: 100px;
            vertical-align: middle;
            margin-top: -60px;
            top: 50px;
        }
    }

    .stamp {
        position: relative;
        width: 800px;
        display: block;
        margin: 0 auto;
        z-index: 1;
        opacity: 0;
    }

    &.READY.OPEN {
        .inline {
            animation-name: flipInX;
            animation-duration: 3s;
        }

        .stamp {
            opacity: 1;
            animation-name: stamp;
            animation-delay: 4s;
            animation-duration: 1s;
        }
    }
}
