#game-screen {
    iframe {
        width: 800px;
        height: 600px;
        transform: scale(.8);
        transform-origin: 0 0;
    }

    .d-pad {
        position: absolute;
        right: 50px;
        bottom: 150px;
        width: 150px;
        height: 100px;

        div {
            position: absolute;
            width: 46px;
            height: 46px;
            border: 2px solid black;
            text-align: center;
            color: black;
        }

        $buttons: up left down right;
        $lefts:     50        0     50     100;
        $tops:         0     50     50        50;
        $content:'^'    '<'    'v'     '>';
        @for $i from 1 through length($buttons) {
            .#{nth($buttons, $i)} {
                left: #{nth($lefts, $i)}px;
                top: #{nth($tops, $i)}px;

                &:before {
                    content: nth($content, $i);
                }
            }
        }
    }
}
