#selectable-all {
    overflow: hidden;
    display: block;

    .reveal-component ul {
        position: static;

        li {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            div {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 400px;
                height: 133px;
                transform: translateX(-50%) translateY(-50%);
                background: url(../media/jellyfish/reveal.png) no-repeat center center;
                background-size: 400px;
                padding: 40px 10px;
                box-sizing: border-box;
                text-align: center;
                font-size: 30px;
            }

            .close {
                position: absolute;
                right: 10px;
                top: 0;
                width: 30px;
                margin: 0;
                opacity: 0;
                cursor: default;
                transition: opacity 0.5s;
            }
        }
    }

    &.OPEN {
        .reveal-component ul {
            li {
                &.SELECTED {
                    z-index: 1;

                    &:before {
                        content: "";
                        position: fixed;
                        left: -1000%;
                        top: -1000%;
                        width: 3000%;
                        height: 3000%;
                        z-index: -1;
                    }
                }
            }
        }
    }

    .reveal-component:not(.VOICE-OVER) button.close {
        opacity: 1;
        cursor: pointer;
    }
}

.DEMO #jellyfish {
    .reveal-component button.close {
        opacity: 1;
        cursor: pointer;
    }
}

@keyframes swim {
    100% {
        background-position: -3080px 0;
    }
}

.selectable-all {}

.selectable-all .bin {
        display: none;
}

.selectable-all .viewport {
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        padding: 0;
}

.selectable-all ul {
        text-align: center;
}

.selectable-all li {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 200px;
        top: 600px;
        margin: 0 40px;
        cursor: pointer;
}

.selectable-all li {
        div:nth-of-type(1),
        div:nth-of-type(2) {
                background-size: 3000px;
                background-position: -50px 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%; height: 100%;
                animation: swim 1s steps(13) infinite;
                transition: opacity .5s;
        }

        div:nth-of-type(1) {
                background-image: url(../media/jellyfish/jellyfish.png);
                opacity: 1;
        }

        div:nth-of-type(2) {
                background-image: url(../media/jellyfish/jellyfish-hover.png);
                opacity: 0;
        }
}

.selectable-all li:hover,
.selectable-all li.HIGHLIGHTED {
        div:nth-of-type(1) {
                opacity: 0;
        }

        div:nth-of-type(2) {
                opacity: 1;
        }
}

.selectable-all li.LAUNCHED {
        top: -200px;

        &.a {
                /* Id rather do a transform but this works better with click events. I may want to do my own hit testing. */
                transition: top cubic-bezier(1, 0.1, 1, 1) 5s;
        }

        &.b {
                transition: top cubic-bezier(1, 0.1, 1, 1) 6s;
        }

        &.c {
                transition: top cubic-bezier(1, 0.1, 1, 1) 7s;
        }

        &.d {
                transition: top cubic-bezier(1, 0.1, 1, 1) 4s;
        }

        &.e {
                transition: top cubic-bezier(1, 0.1, 1, 1) 3s;
        }

        &.f {
                transition: top cubic-bezier(1, 0.1, 1, 1) 2s;
        }
}

