#labyrinth-screen {
    .labyrinth {
        .image {
            width: 500px;
        }
    }

    .d-pad {
        width: 200px;
        height: 200px;

        div {
            position: absolute;
            border: 2px solid black;
            width: 50px;
            height: 50px;
        }

        .up {
            left: 50px;
            top: 50px;
        }
        .left {
            left: 0;
            top: 100px;
        }
        .down {
            left: 50px;
            top: 100px;
        }
        .right {
            left: 100px;
            top: 100px;
        }
    }

    .player {
        width: 15px;
        height: 15px;
        background-color: blue;
    }

    [class*='item-'] {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: green;
        opacity: 1;
        transition: opacity .5s;

        &.CAUGHT {
            opacity: 0;
        }
    }

    $lefts: 200 300 400;
    $tops: 200 300 300;

    @for $i from 1 through 3 {
        .item-#{$i} {
            left: #{nth($lefts, $i)}px;
            top: #{nth($tops, $i)}px;
        }
    }

    [class*='enemy-'] {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: red;
        opacity: 0;
        transition: opacity .5s;

        &.ENABLED {
            opacity: 1;
        }

        &.HIT {
            animation: enemyHit .25s infinite;
        }
    }

    $lefts: 100 130 400;
    $tops: 200 300 200;

    @for $i from 1 through 3 {
        .enemy-#{$i} {
            left: #{nth($lefts, $i)}px;
            top: #{nth($tops, $i)}px;
        }
    }
}
