.labyrinth {
    position: relative;
    display: inline-block;
    clear: both;

    .map {
        display: none;
    }

    .image {
        float: left;
    }

    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .player {
        position: absolute;
        display: inline-block;
    }
}
