#pig {
    img {
        display: block;
        width: 640px;
        margin: 40px auto 0;
    }

    .selectable {
        list-style: none;
        padding: 0;
        margin: -20px auto 0;
        display: block;
        width: 730px;

        li {
            display: inline-block;
            height: 380px;
            cursor: auto;
            background-repeat: no-repeat;

            &.pig {
                width: 500px;
                background-image: url(../media/S_4/img_4.2.png);
                background-size: auto 100%;

                &:hover {
                    background-position: -497px 0;
                }

                &.SELECTED {
                    background-position: -993px 0;
                }
            }

            &.bulb {
                width: 230px;
                background-image: url(../media/S_4/img_4.3.png);
                background-size: auto 100%;

                &:hover {
                    background-position: -246px 0;
                }

                &.SELECTED {
                    background-position: 0 0;
                }
            }
        }

        &.COMPLETE {
            pointer-events: none;

            li.pig {
                transition: opacity 1s;
                opacity: .5;
            }
        }
    }

    &.READY.OPEN {
        img {
            animation-name: zoomInDown;
        }

        .pig {
            animation-name: shake;
            animation-duration: 3s;
        }

        .bulb {
            animation-name: bounce;
            animation-duration: 3s;
        }
    }
}

.VOICE-OVER #pig {
    li {
        pointer-events: none;
    }
}
