#quit {
    transform: translateX(-100%);
    transition: transform .25s;
    margin-top: 60px;

    .frame {
        text-align: center;

        h2 {
            margin: 0;
        }

        button {
            margin: 20px 10px;
        }
    }

    &.OPEN {
        transform: translateX(0%);
    }
}
