$black: #000;
$transparent-black: rgba(0, 0, 0, .4);

#roles {
    position: relative;
    top: 50%;
    margin-top: -270px;
    background-image: url('../media/_BKG/BKG_3.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 960px;
    height: 540px;
    overflow: hidden;

    canvas {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .selectable-canvas {
        margin: 0;
        padding: 0;
        width: 960px;
        height: 540px;
        list-style: none;

        li {

            &:nth-of-type(1) img {
                bottom: 0;
                left: 0;
                width: 240px;
            }

            &:nth-of-type(2) img {
                bottom: 9px;
                left: 174px;
                width: 183px;
            }

            &:nth-of-type(3) img {
                bottom: 165px;
                left: 65px;
                width: 332px;
            }

            &:nth-of-type(4) img {
                bottom: -24px;
                left: 314px;
                width: 285px;
            }

            &:nth-of-type(5) img {
                bottom: -5px;
                left: 523px;
                width: 215px;
            }

            &:nth-of-type(6) img {
                bottom: -4px;
                left: 692px;
                width: 255px;
            }

            img {
                position: absolute;
                transition: opacity .5s;
                opacity: 0;
                z-index: 1;
            }

            &.HIGHLIGHTED img {
                opacity: 1;
            }

            &.ACTIVE {

                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    background-color: $transparent-black;
                    width: 100%;
                    height: 100%;
                    content: '';
                }

                img {
                    z-index: 2;
                }
            }
        }
    }

    .reveal {
        position: absolute;
        top: 0;
        left: 0;

        .close-reveal {
            bottom: 100px;
            z-index: 2;
        }

        div {
            position: static;
            background: none;
        }

        ul {
            position: static;
            margin: 0;

            li {
                position: absolute;
                top: 0;
                transition: z-index 0s .5s;
                opacity: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 30px;
                font-size: 24px;

                span {
                    color: $black;
                }

                div {
                    position: absolute;
                    top: 0;
                }

                img:not(.background) {
                    display: block;
                    margin: 0 auto;
                    height: 70px;
                }

                .background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                }

                &.OPEN {
                    transition: z-index 0s;
                    opacity: 1;
                    z-index: 2;
                }

                &:nth-of-type(1) div {
                    margin: 10px 110px;
                    padding: 50px 70px 70px 130px;
                    width: 640px;
                    height: 280px;

                    button {
                        top: 35px;
                        right: 40px;
                    }
                }

                &:nth-of-type(2) div {
                    margin: 0 160px;
                    padding: 22px 30px 70px;
                    width: 540px;
                    height: 320px;

                    button {
                        top: 38px;
                        right: 30px;
                    }
                }

                &:nth-of-type(3) div {
                    margin: 190px 100px;
                    padding: 35px 40px 70px 30px;
                    width: 580px;
                    height: 280px;

                    button {
                        top: 70px;
                        right: 40px;
                    }
                }

                &:nth-of-type(4) div {
                    margin: 20px 0;
                    padding: 45px 70px 70px 40px;
                    width: 460px;
                    height: 340px;

                    button {
                        top: 30px;
                        right: 60px;
                    }
                }

                &:nth-of-type(5) div {
                    margin: 0 30px;
                    padding: 50px 40px 70px;
                    width: 580px;
                    height: 310px;

                    button {
                        top: 35px;
                        right: 37px;
                    }
                }

                &:nth-of-type(6) div {
                    margin: 0 200px;
                    padding: 55px 100px 70px 40px;
                    width: 580px;
                    height: 290px;

                    button {
                        top: 35px;
                        right: 92px;
                    }
                }

                &:nth-of-type(7) {
                    background: none;
                    line-height: 48px;
                    font-size: 40px;

                    div {
                        margin: 100px 120px;
                        padding: 120px;
                        width: 720px;
                        height: 340px;
                    }
                }
            }
        }
    }

    .reveal-close {
        transition: opacity .5s;
        opacity: 0;
        cursor: auto;
    }

    .OPEN {
        .reveal-close {
            opacity: 1;
            cursor: pointer;
        }
    }

    &.VOICE-OVER {
        .reveal-close {
            opacity: 0;
            cursor: auto;
        }
    }
}
