#switches {
    img.title {
        display: block;
        margin: 30px auto 0;
        width: 800px;
    }

    .selectable-reveal {
        margin-top: -30px;

        .selectable {
            position: relative;
            transition: opacity 1s 1s;
            opacity: 0;
            margin: 20px auto;
            width: 800px;
            height: 300px;

            li {
                position: absolute;
                top: 0;
                transition: opacity 1s;
                opacity: .5;
                background-image: url('../media/S_5/img_5.2.png');
                background-repeat: no-repeat;
                background-size: 400px;
                cursor: auto;
                width: 200px;
                height: 200px;
                pointer-events: none;

                &:first-of-type:not(.HIGHLIGHTED) {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;

                    &:hover {
                        animation-name: bounce;
                    }
                }

                &.HIGHLIGHTED {
                    opacity: 1;
                }

                &.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;

                    &:hover {
                        animation-name: bounce;
                    }
                }

                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {
                        top: 200 - 200 * ($i % 2) + px;
                        left: -150 + 150 * $i + px;
                        background-position: 0 200 - 200 * $i + px;

                        &.HIGHLIGHTED,
                        &:hover {
                            background-position: -200px 200 - 200 * $i + px;
                        }
                    }
                }
            }
        }
    }

    &.READY.OPEN {
        img.title {
            animation-name: zoomInDown;
        }

        .selectable-reveal {
            .selectable {
                opacity: 1;
            }
        }
    }
}
