#switches {
    img.title {
        display: block;
        width: 800px;
        margin: 30px auto 0;
    }

    .selectable-reveal {
        margin-top: -30px;

        .selectable {
            position: relative;
            height: 300px;
            width: 800px;
            margin: 20px auto;
            opacity: 0;
            transition: opacity 1s 1s;

            li {
                cursor: auto;
                position: absolute;
                width: 200px;
                height: 200px;
                top: 0;
                opacity: 0.5;
                transition: opacity 1s;
                background-image: url(../media/S_5/img_5.2.png);
                background-size: 400px;
                background-repeat: no-repeat;
                pointer-events: none;

                &:first-of-type:not(.HIGHLIGHTED) {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;

                    &:hover {
                        animation-name: bounce;
                    }
                }

                &.HIGHLIGHTED {
                    opacity: 1;
                }

                &.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;

                    &:hover {
                        animation-name: bounce;
                    }
                }

                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {
                        background-position: 0px 200-200*$i+px;
                        left: -150+150*$i+px;
                        top: 200-200*($i%2)+px;

                        &.HIGHLIGHTED,
                        &:hover {
                            background-position: -200px 200-200*$i+px;
                        }
                    }
                }
            }
        }
    }

    &.READY.OPEN {
        img.title {
            animation-name: zoomInDown;
        }

        .selectable-reveal {
            .selectable {
                opacity: 1;
            }
        }
    }
}
