#fly-across {
    > .center > div {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    img.hidden {
        display: none;
    }

    [pl-id=player] {
        animation: butterfly .75s steps(1) infinite;
        background-image: url('../media/_Images/S_FlyAcross/SP_4.1.png');
        background-repeat: no-repeat;
        background-size: 1809px;
        width: 200px;
        height: 170px;
    }

    .board {
        cursor: pointer;
    }
}
