@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    user-select: none;
    cursor: default;
}

html {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    color: $text-color;
    font-size: $medium;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../media/_Images/_BKG/BKG_1.png) bottom center no-repeat;
    background-size: cover;

}

// preload assets
#asset-bin {
    display: none;
}

.hidden {
    display: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;

    font-family: inherit;
    font-size: inherit;
    color: transparent;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    background-image: url(../media/_Images/_Buttons/MON_BU_1.png);
    background-size: 1485px;
    background-position: left top;

    &.close {
        width: 36px;
        height: 36px;
        background-position: -608px -22px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 5px;
        z-index: 2;

        &:hover {
            background-position: -606px -192px;
        }
    }

    &.next-screen,
    &.prev-screen {
        width: 102px;
        height: 82px;
    }

    &.next-screen {
        background-position: -449px -17px;

        &:hover {
            background-position: -452px -181px;
        }
    }

    &.prev-screen {
        background-position: -265px -15px;

        &:hover {
            background-position: -265px -190px;
        }
    }

    &.quit-yes {
        width: 240px;
        height: 130px;
        background-size: auto 400px;
        background-position: 807px -10px;

        &:hover {
            background-position: 807px -190px;
        }
    }

    &.quit-no {
        width: 240px;
        height: 130px;
        background-size: auto 400px;
        background-position: 507px -12px;

        &:hover {
            background-position: 506px -190px;
        }
    }

    &.reveal-close {
        width: 60px;
        height: 55px;
        background-position: -1310px -30px;
        transition: opacity 1s;

        &:hover {
            background-position: -1310px -205px;
        }
    }
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 36px;
    margin: 0;
}

.canvas-src { display: none; }

.screen {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    opacity: 0;
    display: none;
    transition: opacity 1s, transform 0.5s;
    transform: translateX(100%);
}

.screen.last {}

.screen.OPEN {
    opacity: 1;
    transform: translateX(0);
}

.screen.READY {
    display: block;
}

.screen.LEAVE {
    opacity: 1;
    transform: translateX(-100%);
}

    .screen .next-screen,
    .screen .prev-screen {
        position: absolute;
        display: block;
        bottom: 1%;
        margin-bottom: 5px;
        z-index: 2;
    }

    .screen .next-screen {
        margin-right: 5px;
        right: 0;
        opacity: 0;
        transform: rotate(-180deg);
        transition: opacity 1s, transform 1s;
    }

    .pl-game:not(.DEMO) .screen.SFX .reveal-close,
    .pl-game:not(.DEMO) .screen.VOICE-OVER .reveal-close,
    .screen.GATED .next-screen {
        opacity: 0;
        cursor: default;
        transition: none;
    }


    .pl-game.DEMO .screen .next-screen,
    .screen.COMPLETE .next-screen {
        opacity: 1;
        transform: rotate(0deg);
        cursor: pointer;
        transition: opacity .5s;
    }

    .screen .next-screen:hover {

    }

    .screen .prev-screen {
        margin-left: 5px;
        left: 0;

    }

    .screen .prev-screen:hover {

    }

.screen {
    &.no-frame {
        color: #fff;

        .frame {
            text-align: center;
        }
    }
}

// the following css is specific to this game

#title {
    text-align: center;

    .group {
        width: 960px;
        height: 540px;

        &:before {
            content: "";
            display: block;
            height: 540px;
            background-image: radial-gradient(circle 900px at 50% 70%, white, yellow, lightyellow, aqua);
            opacity: 0;
        }
    }

    button {

        &.next-screen {
            width: 155px;
            height: 145px;
            right: 10px;
            bottom: 10px;
            background-position: -15px -10px;

            &:hover {
                background-position: -15px -198px;
            }
        }
    }

    img {
        position: absolute;
    }

    .branch {
        left: 0;
        top: 0;
        width: 960px;
    }

    .monarch {
        left: -60px;
        top: -50px;
        width: 560px;
    }

    .pupa {
        left: 320px;
        top: 250px;
        width: 200px;

        &.SHAKE {
            transform-origin: 50% 80px;
            animation-name: swing;
        }
    }

    .caterpillar {
        left: 560px;
        top: 80px;
        width: 400px;
    }

    .title {
        left: 160px;
        top: 200px;
        width: 640px;
    }

    &.OPEN {
        .group:before {
            animation: sun 4s infinite;
        }
    }
}

#video-mon {
    .video-component {
        padding: 18px 20px 12px 18px;
        background-size: 100% 100%;
    }
}

#land-on {
    img {
        position: absolute;
    }

    .copy {
        left: 80px;
        top: 120px;
        width: 800px;
    }

    .flowers {
        left: 60px;
        bottom: 0;
        width: 860px;
    }
}

#catch-milkweed {
    .copy {
        position: absolute;
        left: 80px;
        top: 180px;
        width: 800px;
    }

    .milkweed {
        position: absolute;
        animation: cross 6s infinite;

        &:before {
            content: "";
            display: block;
            width: 200px;
            height: 200px;
            background-image: url(../media/_Images/S_CatchMilkweed/IMG_5.2.png);
            background-size: 875px;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            animation: milkweed .4s steps(1) infinite;
        }
    }
}

#floating-weed {
    .selectable-component {
        .items {
            position: relative;
            display: block;
            margin: 0;
            width: 960px;
            height: 540px;
        }

        li {
            position: absolute;
            background-image: url(../media/_Images/S_FloatingWeed/IMG_6.1.png);
            background-size: 100%;
            width: 100px;
            height: 100px;
            animation-name: float;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            cursor: pointer;

            $lefts:        150 250 300 350 450 550 650 700;
            $tops:         100 150 50 150 100 150 100 150;
            $delays:         0     3     0     6     3     6     4     4;
            $durations: 12    10    11    10    12    12    11    12;

            @for $i from 1 through 8 {
                &:nth-of-type(#{$i}) {
                    left: nth($lefts,$i)+px;
                    top: -1*nth($tops,$i)+px;
                    animation-duration: nth($durations,$i)+s;
                    animation-delay: nth($delays,$i)+s;
                }
            }
        }
    }

    &.COMPLETE {
        .selectable-component {
            .items {
                pointer-events: none;
            }
        }
    }
}

.modal-component {
    position: absolute;
    left: 130px;
    top: 0;
    width: 700px;
    height: 460px;
    opacity: 0;
    z-index: -1;
    transition: opacity .5s, z-index 0s .5s;

    &.SELECTED {
        opacity: 1;
        z-index: 1;
        transition: opacity .5s, z-index 0s;
    }

    .items {
        margin: 0;
        position: static;
    }

    li {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        transition: none;

        &.SELECTED {
            opacity: 1;
        }
    }

    .reveal-close {
        position: absolute;
        right: 120px;
        top: 80px;
    }
}

#fly-3000-miles {
    img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 540px;
    }

    p {
        position: absolute;
        text-align: center;
        width: 600px;
        left: 300px;
        top: 110px;
    }
}

#migration-vid {
    img {
        position: absolute;
        width: 700px;
        left: 130px;
        top: 10px;
    }

    .video-component {
        margin-top: 50px;
        padding: 18px 20px 12px 18px;
        background-size: 100% 100%;
    }
}

#four-generations {
    img {
        position: absolute;
        width: 800px;
        left: 80px;
        top: 10px;
    }

    .reveal-component {
        margin-left: 25px;
        margin-top: 80px;
        width: 800px;
        height: 380px;

        .items {
            margin: 0;
            height: 330px;
        }

        li {
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            transition: none;

            &.SELECTED {
                opacity: 1;
            }
        }
    }

    .selectable-component {
        .items {
            margin: -60px auto 0;
            width: 680px;
            justify-content: space-between;
            align-items: center;
            height: 140px;
            padding: 0 34px 30px 30px;
        }

        li {
            background-image: url(../media/_Images/S_4Generations/IMG_9.3.png);
            background-repeat: no-repeat;
            background-size: 580px;
            height: 70px;
            width: 60px;
            cursor: pointer;
            pointer-events: none;

            $background-lefts: 0 170 346 522;

            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}) {
                    background-position: -1*nth($background-lefts,$i)+px 0px;

                    &.HIGHLIGHTED,
                    &:hover {
                        background-position: #{-1*nth($background-lefts,$i)+px} -115px;
                    }
                }
            }
        }

        li:nth-of-type(1),
        li.HIGHLIGHTED + li {
            pointer-events: auto;
        }
    }

    &.VOICE-OVER {
        .selectable-component {
            li:nth-of-type(1),
            li.HIGHLIGHTED + li {
                pointer-events: none;
            }
        }
    }
}

#flip {

    p {
        text-align: center;
    }

    .flip-container {
        position: relative;
        text-align: center;
        margin-top: -20px;
    }

    .flip {
        width: 400px;
    }

    .monarch {
        position: absolute;
        width: 100px;
        left: 40px;
        top: 0;
    }

    .pupa {
        position: absolute;
        width: 70px;
        left: 310px;
        top: 132px;
        z-index: -1;

        &.SHAKE {
            transform-origin: 50% 10px;
            animation-name: swing;
        }
    }

    &.OPEN {
        .flip-container {
            animation-name: flip-container;
            animation-duration: 6s;
            animation-iteration-count: forwards;
        }
    }
}

#quit {

    .frame {
        width: 720px;
        height: 440px;
        text-align: center;
        padding: 70px 80px;

        .background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        h2 {
            margin: 0;
            font-size: 40px;
        }

        h3 {
            margin: 20px 0 10px;
            font-size: 30px;
        }

        button {
            margin: 20px 10px;
        }
    }
}
