@keyframes milkweed {
	0% {background-position: 0px 0px;}
	25% {background-position: -150px 0px;}
	50% {background-position: -322px 0px;}
	75% {background-position: -545px 0px;}
	100% {background-position: -720px 0px;}
}

@keyframes cross {
	0% {left:150px;top:-100px;opacity:0;}
	2% {left:150px;top:-100px;opacity:1;}
	98% {left:750px;top:600px;opacity:1;}
	100% {left:750px;top:600px;opacity:0;}
}

@keyframes float {
	0% {
		transform: translateX(0) translateY(0);
		opacity:0;
	}
	2% {
		transform: translateX(0) translateY(0);
		opacity:1;
	}
	20% {
		transform: translateX(20px) translateY(140px) rotate(30deg);
	}
	40% {
		transform: translateX(0) translateY(280px);
	}
	60% {
		transform: translateX(20px) translateY(420px) rotate(30deg);
	}
	80% {
		transform: translateX(0) translateY(560px);
	}
	98% {
		transform: translateX(0) translateY(700px);
		opacity:1;
	}
	100% {
		transform: translateX(0) translateY(700px);
		opacity:0;
	}
}
