body{
	margin: 0px auto;
	text-align: center;
}


.wrapper {
  width: 60%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 64.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
  /* let's see it! */
  color: white;
  background-image: url("images/bg.png");
  background-size: cover;
  padding-top: 30%;
  font-size: 1.5em;
}