@import 'keyframes';
@import 'mixins';

html, body, body > div, body > div > div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: auto;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body > div > div {
  position: relative;
  margin: auto;
  width: 960px;
  height: 540px;
  font-size: 36px;
  color: #fff;
  background: transparent;

  .background {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

    &.bkg-1 {
      background-image: url(../media/_BKG/BKG_1.png);
    }

    &.bkg-2 {
      background-image: url(../media/_images/bkg02.png);
    }
  }

  .background.bkg-1,
  &[class*='SCREEN-labyrinth'] .background.bkg-2 {
    opacity: 1;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  background-image: url(../media/_Buttons/BU_1.png);
  background-size: auto 500px;
  background-position: left top;

  &.close {
    width: 35px;
    height: 35px;
    background-position: -310px 410px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    z-index: 2;

    &:hover {
      background-position: -310px 165px;
    }
  }

  &.next-screen,
  &.prev-screen {
    width: 80px;
    height: 60px;
  }

  &.next-screen {
    background-position: -120px 420px;

    &:hover {
      background-position: -120px 676px;
    }
  }

  &.prev-screen {
    background-position: -15px 420px;

    &:hover {
      background-position: -15px 676px;
    }
  }

  &.close-reveal {
    width: 55px;
    height: 50px;
    background-position: -225px 420px;

    &.ENABLED:hover {
      background-position: -225px 676px;
    }
  }

  &.quit-yes {
    width: 230px;
    height: 230px;
    background-position: -1830px 495px;

    &:hover {
      background-position: -1830px 251px;
    }
  }

  &.quit-no {
    width: 230px;
    height: 230px;
    background-position: -2080px 495px;

    &:hover {
      background-position: -2080px 251px;
    }
  }
}

body.DEMO .reveal-component .items li div .close-reveal {
  opacity: 1;
  cursor: pointer;

  &:hover {
    background-position: -225px 676px;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 28px;
  margin: 0;
}

// preload game assets
#asset-bin {
  display: none;
}

.canvas-src { display: none; }

.screen {
  position: absolute;
  top: 50%;
  left: 0;
  width: 960px;
  height: 540px;
  margin-top: -270px;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%);

  &:not(.COMPLETE) {
    button {
      &.next-screen {
        cursor: auto;
      }
    }
  }
}

.screen.last {}

.screen.OPEN {
  opacity: 1;
  transform: translateX(0);
}

.screen.READY {
  display: block;
}

.screen.LEAVE {
  opacity: 1;
  transform: translateX(-100%);
}

  .screen .next-screen,
  .screen .prev-screen {
    position: absolute;
    display: block;
    bottom: 1%;

    z-index: 2;
  }

  .screen .next-screen {
    margin-right: 5px;
    right: 0;
    opacity: 0;
    transform: rotate(-180deg);
    transition: opacity 1s, transform 1s;
  }

  .screen.GATED .next-screen {
    opacity: 0;
    cursor: auto;
    z-index: -1;
  }

  .pl-game.DEMO .screen .next-screen,
  .screen.COMPLETE .next-screen {
    opacity: 1;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
  }

  .screen .next-screen:hover {

  }

  .screen .prev-screen {
    margin-left: 5px;
    left: 0;

  }

  .screen .prev-screen:hover {

  }

// the following css is specific to this game

.reveal-screen .reveal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s, z-index 0s .6s;

  div {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 240px;
    margin-top: -120px;
    background-image: url(../media/_Frames/FR_1.png);
    background-size: 100% 100%;
  }

  ul {
    margin: 0;
    height: 100%;

    li {
      margin: 0;
      height: 100%;

      p {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #000;
      }

    }
  }

  .close-reveal {
    position: absolute;
    right: 5px;
    bottom: 10px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 1s;
  }

  &.OPEN {
    opacity: 1;
    z-index: 1;
    transition: opacity .5s;
  }
}

.pl-game.VOICE-OVER {
  .reveal {
    .close-reveal {
      opacity: .5;
      pointer-events: none;
    }
  }
}

.video {
  background: url(../media/_Frames/FR_2.png) center center no-repeat;
  background-size: 100% 100%;

  video {
    margin: 15px 15px 34px;
  }
}

#title {
  img {
    position: absolute;

    &.bulb {
      width: 400px;
      left: 280px;
      top: 20px;
    }

    &.presents {
      width: 200px;
      left: 140px;
      top: 210px;
    }

    &.title {
      width: 700px;
      left: 130px;
      top: 300px;
    }
  }

  .prev-screen {
    display: none;
  }

  &.READY {
    img {
      opacity: 1;

      &.bulb {
        animation-name: bounceInUp;
      }

      &.presents {
        animation-name: bounceInLeft;
        animation-delay: 1s;
      }

      &.title {
        animation-name: bounceInUp;
        animation-delay: 2s;
      }
    }

    &.COMPLETE {
      img {
        animation-name: flicker;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-iteration-count: 3;
      }
    }
  }

  &.CLOSE {
    transform: translateX(0%);
  }
}

#bulbs {
  img.title {
    display: block;
    width: 800px;
    margin: 30px auto 0;
  }

  .selectable-reveal {
    margin-top: -30px;

    .selectable {
      height: 300px;
      width: 800px;
      margin: 20px auto;
      opacity: 0;
      transition: opacity 1s 1s;

      li {
        cursor: auto;
        opacity: 0.5;
        transition: opacity 1s;
        background-image: url(../media/S_3/img_3.2.png);
        background-size: 450px;
        background-repeat: no-repeat;
        pointer-events: none;

        &:first-of-type:not(.HIGHLIGHTED) {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;

          &:hover {
            animation-name: bounce;
          }
        }

        &.HIGHLIGHTED {
          opacity: 1;
        }

        &.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;

          &:hover {
            animation-name: bounce;
          }
        }

        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            background-position: -12px 310-325*$i+px;

            &.HIGHLIGHTED,
            &:hover {
              background-position: -237px 310-325*$i+px;
            }
          }
        }
      }
    }
  }

  &.READY.OPEN {
    img.title {
      animation-name: zoomInDown;
    }

    .selectable-reveal {

      .selectable {
        opacity: 1;
      }
    }
  }
}

.pl-game.VOICE-OVER #bulbs {
  .selectable {
    li {
      pointer-events: none;

      &:first-of-type:not(.HIGHLIGHTED) {
        pointer-events: none;
      }
    }
  }
}

#pig {
  img {
    display: block;
    width: 640px;
    margin: 40px auto 0;
  }

  .selectable {
    list-style: none;
    padding: 0;
    margin: -20px auto 0;
    display: block;
    width: 730px;

    li {
      display: inline-block;
      height: 380px;
      cursor: auto;
      background-repeat: no-repeat;

      &.pig {
        width: 500px;
        background-image: url(../media/S_4/img_4.2.png);
        background-size: auto 100%;

        &:hover {
          background-position: -497px 0;
        }

        &.SELECTED {
          background-position: -993px 0;
        }
      }

      &.bulb {
        width: 230px;
        background-image: url(../media/S_4/img_4.3.png);
        background-size: auto 100%;

        &:hover {
          background-position: -246px 0;
        }

        &.SELECTED {
          background-position: 0 0;
        }
      }
    }
  }

  &.COMPLETE:not(.REPLAY) {
    .selectable {
      pointer-events: none;

      li.pig {
        transition: opacity 1s;
        opacity: 0.5;
      }
    }
  }

  &.READY.OPEN {
    img {
      animation-name: zoomInDown;
    }

    .pig {
      animation-name: shake;
      animation-duration: 3s;
    }

    .bulb {
      animation-name: bounce;
      animation-duration: 3s;
    }
  }

  .VOICE-OVER & {
    li {
      pointer-events: none;
    }
  }
}


#switches {
  img.title {
    display: block;
    width: 800px;
    margin: 30px auto 0;
  }

  .selectable-reveal {
    margin-top: -30px;

    .selectable {
      position: relative;
      height: 300px;
      width: 800px;
      margin: 20px auto;
      opacity: 0;
      transition: opacity 1s 1s;

      li {
        cursor: auto;
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        opacity: 0.5;
        transition: opacity 1s;
        background-image: url(../media/S_5/img_5.2.png);
        background-size: 400px;
        background-repeat: no-repeat;
        pointer-events: none;

        &:first-of-type:not(.HIGHLIGHTED) {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;

          &:hover {
            animation-name: bounce;
          }
        }

        &.HIGHLIGHTED {
          opacity: 1;
        }

        &.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;

          &:hover {
            animation-name: bounce;
          }
        }

        @for $i from 1 through 5 {
          &:nth-of-type(#{$i}) {
            background-position: 0px 200-200*$i+px;
            left: -150+150*$i+px;
            top: 200-200*($i%2)+px;

            &.HIGHLIGHTED,
            &:hover {
              background-position: -200px 200-200*$i+px;
            }
          }
        }
      }
    }
  }

  &.READY.OPEN {
    img.title {
      animation-name: zoomInDown;
    }

    .selectable-reveal {
      .selectable {
        opacity: 1;
      }
    }
  }
}

#info-lets-learn {
  img {
    position: absolute;
    top: 140px;
    left: 130px;
    width: 700px;
    margin: 0;
  }

  &.READY.OPEN {
    img {
      animation-name: zoomInDown;
    }
  }
}

.labyrinth-frame {
  position: relative;
  background-image: url(../media/_images/frame.specialannouncement.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 840px;
  height: 420px;
  margin: 60px auto;

  .eco {
    width: 300px;
    position: absolute;
    bottom: 9px;
    left: -5px;
  }
}

$stroke: 4;
$yellow: rgb(244, 234, 43);
$green: #105e31;

#special-announcement-screen {
  .copy {
    position: absolute;
    left: 300px;
    padding-top: 20px;
    font-size: 68px;
    line-height: 0.955;
    font-weight: bold;
    color: $yellow;

    div {
      position: relative;

      $margin-lefts: 0 40 80 20;
      @for $i from 1 through 4 {
        &:nth-of-type(#{$i * 2}) {
          margin-left: #{nth($margin-lefts, $i) - 10}px;
        }

        &:nth-of-type(#{$i * 2 - 1}) {
          margin-left: #{nth($margin-lefts, $i)}px;
        }
      }

      &:nth-of-type(2n-1) {
        z-index: 1;
        @include text-stroke($stroke, $green);
      }

      &:nth-of-type(2n) {
        margin-top: -56px;
        color: #8ebbcd;
        text-shadow: none;
      }

      &:nth-of-type(2n+5) {
        color: $green;
        @include text-stroke($stroke, $yellow);
      }
    }
  }
}

#labyrinth-level-one-screen {
  .avatar {
    width: 143px;
  }

  .score {
    width: 100px;
    height: 400px;
    background-image: url(../media/_sprites/sprites.meter.png);
    background-repeat: no-repeat;
    background-size: 380px;
    margin-left: 22px;

    @for $i from 1 through 4 {
      &.score-#{$i * 10} {
        background-position: -#{($i - 1) * 93}px 0;
      }
    }

    &:before {
      content: 'score';
      display: block;
      color: $green;
      @include text-stroke($stroke, $yellow);
    }

    span {
      color: $yellow;
      @include text-stroke($stroke, $green);
    }
  }

  .labyrinth {
    position: absolute;
    left: 180px;
    top: 40px;
    width: 500px;

    .player {
      width: 20px;
      height: 20px;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 80px;
        height: 80px;
        left: -30px;
        top: -30px;
        background-image: url(../media/_sprites/sprites.game2elem.png);
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: -20px -20px;
      }
    }

    .interactive-item {
      position: absolute;
      width: 50px;
      height: 50px;

      &:before {
        content: '';
        position: absolute;
        background-image: url(../media/_sprites/sprites.game2elem.png);
        background-repeat: no-repeat;
        background-size: 400px;
      }

      &[class*='item-'] {
        &:before {
          background-position: -285px -10px;
          width: 100px;
          height: 100px;
          left: -25px;
          top: -25px;
        }

        &.COMPLETE {
          &:before {
            background-position: -285px -135px;
          }
        }
      }

      $item-lefts: 100 280  75 430;
      $item-tops:  100 230 380 315;
      @for $i from 1 through 4 {
        &.item-#{$i} {
          left: #{nth($item-lefts, $i)}px;
          top: #{nth($item-tops, $i)}px;
        }
      }

      &[class*='enemy-'] {
        &:before {
          background-position: -150px -10px;
          width: 100px;
          height: 100px;
          left: -25px;
          top: -25px;
          opacity: 1;
          transition: opacity .5s;
        }

        &:not(.ENABLED) {
          &:before {
            animation: enemy-disapear .5s;
            opacity: 0;
          }
        }
      }

      $enemy-lefts: 70 230  55;
      $enemy-tops: 160 260 340;
      @for $i from 1 through 3 {
        &.enemy-#{$i} {
          left: #{nth($enemy-lefts, $i)}px;
          top: #{nth($enemy-tops, $i)}px;
        }
      }
    }
  }

  .level-container {
    position: absolute;
    left: 700px;
    top: 0;

    .level {
      width: 170px;
      margin-bottom: -25px;

      & + span {
        font-size: 78px;
      }
    }

    span {
      font-weight: bold;
      color: $yellow;
      @include text-stroke($stroke, $green);
    }

    > span {
      margin-top: -30px;
    }

    .timer {
      font-weight: bold;
      text-shadow: 1px 6px 8px #000;

      span {
        margin-left: 10px;
        &:before {
          content: '0:';
        }
      }
    }

    h3 {
      text-shadow: 1px 6px 8px #000;
    }

    h3,
    p {
      text-align: center;
    }
  }

  .d-pad {
    position: absolute;
    left: 720px;
    top: 320px;
    width: 200px;
    height: 140px;

    div {
      position: absolute;
      background-image: url(../media/_sprites/sprites.arrowkeys.png);
      background-size: 500px;
      width: 72px;
      height: 72px;

      $left-position: 151 28 406 276;
      $lefts: 1 0 1 2;
      $tops: 0 1 1 1;

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          background-position: -#{nth($left-position, $i)}px -18px;
          left: #{nth($lefts, $i) * 68}px;
          top: #{nth($tops, $i) * 68}px;

          &:hover {
            background-position: -#{nth($left-position, $i)}px -126px;
          }
        }
      }
    }
  }

  .labyrinth-frame {
    background-image: url(../media/_images/frame.yellow.png);
    color: #000;

    p {
      padding: 60px 0 40px 200px;
      text-align: center;
      font-size: 48px;
      line-height: 44px;
    }

    .reveal-arrows {
      position: relative;
      margin-left: 430px;
      height: 110px;

      div {
        position: absolute;
        background-image: url(../media/_sprites/sprites.arrowkeys.png);
        background-size: 400px;
        width: 54px;
        height: 54px;

        $left-position: 23 123 223 327;
        $lefts: 0 1 2 1;
        $tops: 1 0 1 1;

        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            background-position: -#{nth($left-position, $i)}px -17px;
            left: #{nth($lefts, $i) * 55}px;
            top: #{nth($tops, $i) * 54}px;
          }
        }
      }
    }
  }

  .reveal {
    position: absolute;
    left: 0;
    top: 0;
    width: 960px;
    height: 540px;

    ul {
      margin: 0;
      position: absolute;
      width: 960px;
      height: 540px;
    }

    li {
      display: none;
      transition: display 0s 1s;

      &.OPEN {
        display: block;
      }
    }
  }

  .close-reveal {
    position: absolute;
    bottom: 75px;
    right: 100px;
    width: 190px;
    height: 100px;
    background-image: url(../media/_sprites/sprites.btns.png);
    background-size: 3375px;
    background-position: -1220px -80px;

    &:hover {
      background-position: -1220px -355px;
    }
  }
}

#flip {
  h2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: -80px 0 0;
    text-align: center;
    color: #fff;
    font-weight: normal;

    .inline {
      position: relative;
      height: 100px;
      vertical-align: middle;
      margin-top: -60px;
      top: 50px;
    }
  }

  .stamp {
    position: relative;
    width: 800px;
    display: block;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
  }

  &.READY.OPEN {
    .inline {
      animation-name: flipInX;
      animation-duration: 3s;
    }

    .stamp {
      opacity: 1;
      animation-name: stamp;
      animation-delay: 4s;
      animation-duration: 1s;
    }
  }
}

#quit {
  transform: translateX(-100%);
  transition: transform .25s;

  .frame {
    text-align: center;

    h2 {
      margin: 0;
    }

    button {
      margin: 20px 10px;
    }
  }

  &.OPEN {
    transform: translateX(0%);
  }
}
