.canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  left: 140px;
  top: 140px;
  width: 640px;
  height: 360px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
