.draggable {
    position: relative;
    cursor: grab;
    cursor: -moz-grab;
    border: 2px solid blue;

    &.DRAGGING {
        cursor: grabbing;
        cursor: -moz-grabbing;
    }

    &.RETURN {
        transition: transform .5s;
    }
}
