.editable-asset {
  list-style: none;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  transform-origin: 50% 50%;
  cursor: pointer;

  .buttons {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
  }

  button {
    display: block;
    position: absolute;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform-origin: 10px 10px;
    margin: -10px 0 0 -10px;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        top: 0;
        left: 0;
        @if $i > 2 {
          top: 100%;
        }
        @if ($i % 2) == 0 {
          left: 100%;
        }
      }
    }
  }

  &.ACTIVE {
    cursor: grab;
    cursor: -moz-grab;

    .buttons {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.DRAGGING {
    cursor: grabbing;
    cursor: -moz-grabbing;
  }

  &.INVALID {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(250, 25, 25, 0.6);
    }
  }
}
