@keyframes flicker {
  0% {opacity:1;}
  10% {opacity:1;}
  12% {opacity:0;}
  14% {opacity:1;}
  16% {opacity:0;}
  18% {opacity:1;}
  44% {opacity:1;}
  46% {opacity:0;}
  48% {opacity:1;}
  50% {opacity:0;}
  52% {opacity:1;}
  82% {opacity:1;}
  84% {opacity:0;}
  86% {opacity:1;}
  88% {opacity:0;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  10% {
    opacity: 1;
  }
  60% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
}

* {
  box-sizing: border-box;
}

html, body, body > div, body > div > div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: auto;

  [class^=background-] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: opacity .5s;
    opacity: 0;
  }

  .background-1 {
    background-image: url(../media/_Background/SK_BKG_1.png);
  }

  .background-2 {
    background-image: url(../media/_Background/SK_BKG_2.png);
  }

  .background-3 {
    background-image: url(../media/_Background/SK_BKG_3.png);
  }

  .background-4 {
    background-image: url(../media/_Background/SK_BKG_4.png);
  }

  &.SCREEN-1,
  &.SCREEN-canvas,
  &.SCREEN-item-drawer {
    .background-1 {
      opacity: 1;
    }
  }

  &.SCREEN-friend {
    .background-2 {
      opacity: 1;
    }
  }

  &.SCREEN-inbox {
    .background-3 {
      opacity: 1;
    }
  }

  &.SCREEN-sent {
    .background-4 {
      opacity: 1;
    }
  }
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body > div > div {
  position: relative;
  margin: auto;
  width: 960px;
  height: 540px;
  font-size: 36px;
  color: #000;
  // background: url(../media/_BKG/BKG_1.png) bottom center no-repeat;
  background-size: cover;
}

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  background-image: url(../media/_Buttons/SK_btn_rounded.png);
  background-size: 1000px;
  background-position: left top;

  &.make {
    width: 225px;
    height: 105px;
    background-position: 0px 0px;

    &:hover {
      background-position: -250px 0px;
    }
  }

  &.read {
    width: 225px;
    height: 105px;
    background-position: 0px -120px;

    &:hover {
      background-position: -250px -120px;
    }
  }

  &.select {
    width: 180px;
    height: 90px;
    background-position: -498px -370px;

    &:hover {
      background-position: -748px -370px;
    }
  }

  &.cancel {
    width: 180px;
    height: 90px;
    background-position: -498px -495px;

    &:hover {
      background-position: -748px -495px;
    }
  }

  &.next-screen,
  &.prev-screen {
    width: 80px;
    height: 60px;
  }

  &.next-screen {
    background-position: -120px 420px;

    &:hover {
      background-position: -120px 676px;
    }
  }

  &.prev-screen {
    background-position: -15px 420px;

    &:hover {
      background-position: -15px 676px;
    }
  }

  &.close-reveal {
    width: 55px;
    height: 50px;
    background-position: -225px 420px;

    &.ENABLED:hover {
      background-position: -225px 676px;
    }
  }

  &.quit-yes {
    width: 110px;
    height: 50px;
    background-position: 0px -500px;

    &:hover {
      background-position: -250px -500px;
    }
  }

  &.quit-no {
    width: 110px;
    height: 50px;
    background-position: 0px -624px;

    &:hover {
      background-position: -250px -624px;
    }
  }
}

.game-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  button {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;

    background-image: url(../media/_Buttons/SK_btn_topnav.png);
    background-size: 250px;

    $classes: save create inbox help close;

    @for $i from 1 through 5 {
      &.#{nth($classes, $i)} {
        $left: 45 - (50 * $i);

        background-position: ($left+px) -5px;

        &:hover {
          background-position: ($left+px) -55px;
        }
      }
    }
  }
}

body.DEMO .reveal-component .items li div .close-reveal {
  opacity: 1;
  cursor: pointer;

  &:hover {
    background-position: -225px 676px;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 28px;
  margin: 0;
}

// preload game assets
#asset-bin {
  display: none;
}

.canvas-src { display: none; }

.screen {
  position: absolute;
  top: 50%;
  left: 0;
  width: 960px;
  height: 540px;
  margin-top: -270px;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%);

  &:not(.COMPLETE) {
    button {
      &.next-screen {
        cursor: auto;
      }
    }
  }
}

.screen.last {}

.screen.OPEN {
  opacity: 1;
  transform: translateX(0);
}

.screen.READY {
  display: block;
}

.screen.LEAVE {
  opacity: 1;
  transform: translateX(-100%);
}

  .screen .next-screen,
  .screen .prev-screen {
    position: absolute;
    display: block;
    bottom: 1%;

    z-index: 2;
  }

  .screen .next-screen {
    margin-right: 5px;
    right: 0;
    opacity: 0;
    transform: rotate(-180deg);
    transition: opacity 1s, transform 1s;
  }

  .screen.GATED .next-screen {
    opacity: 0;
    cursor: auto;
    z-index: -1;
  }

  .pl-game.DEMO .screen .next-screen,
  .screen.COMPLETE .next-screen {
    opacity: 1;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
  }

  .screen .next-screen:hover {
    
  }

  .screen .prev-screen {
    margin-left: 5px;
    left: 0;
    
  }
  
  .screen .prev-screen:hover {
    
  }

// the following css is specific to this game

.header {
  background-image: url(../media/_Headers/SK_headers.png);
  background-size: 1900px;
  height: 70px;
  width: 450px;
  margin: 0 auto;
}

#sample {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
  }

  button {
    color: #000;
  }
}

#canvas {
  button {
    color: #000;
  }

  .editable-asset {
    button {
      color: #fff;
    }
  }
}

#friends {
  button {
    display: block;
    color: #000;
  }
}

#menu {
  .buttons {
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  button {
    display: block;
    color: #000;
  }
}

#item-drawer {
  .buttons {
    display: inline-block;
    vertical-align: middle;
  }

  button {
    display: block;
    color: #000;
  }
}

#inbox {
  button {
    display: block;
    color: #000;
  }

  .selectable-reveal {
    background-image: url(../media/_Frames/SK_frames_general.png);
    background-size: 3900px;
    background-position: -1940px 0px;
    width: 740px;
    height: 480px;
  }

  .selectable {
    margin: 0;
    padding: 0 0 0 50px;
    list-style: none;
    display: flex;
    height: 45px;

    li {
      width: 75px;
      margin-right: 5px;
      background-image: url(../media/_Buttons/SK_btn_inbox.png);
      background-size: 375px;
      background-position: 0px -44px;

      @for $i from 1 through 5 {
        $left: 75 - 75 * $i;

        &:nth-of-type(#{$i}) {
          background-position: ($left + px) -44px;

          &.SELECTED {
            background-position: ($left + px) 0px;
          }
        }
      }
    }
  }

  .reveal {
    margin: 0;
    padding: 20px;
    list-style: none;
    width: 100%;
    height: 425px;

    > div,
    li > div {
      height: 100%;
    }

    ul {
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    .close-reveal {
      display: none;
    }
  }

  .item-drawer {
    flex-direction: column;
    justify-content: flex-start;

    li {
      position: relative;
      height: 80px;
      opacity: 1;
      background-color: transparent;
      background-image: url(../media/_Buttons/SK_btn_messages.png);
      background-size: 1440px;
      background-position: -15px -232px;
      margin: 0;

      &.SELECTED {
        border-color: transparent;
      }

      &:hover {
        background-position: -735px -232px;
      }

      &.UNREAD {
        background-position: -15px -20px;

        &:hover {
          background-position: -735px -20px;
        }
      }

      &.SENT {
        background-position: -15px -127px;

        &:hover {
          background-position: -735px -127px;
        }
      }

      &.DRAFT {
        background-image: none;
        width: 200px;
        height: 140px;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: auto;
          left: 0;
          top: 0;
        }

        .timestamp {
          width: 100%;
          left: 0;
          bottom: 0;
          top: auto;
          right: auto;
          display: flex;
          justify-content: space-between;

          .date,
          .time {
            display: inline-block;
            font-size: 20px;
          }
        }
      }
    }

    &.SAVED {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    img {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 91px;
      top: 9px;
    }

    span {
      position: absolute;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      text-shadow: 3px 3px 1px rgba(0, 0, 0, .6);

      &.username {
        left: 150px;
        top: 50%;
        margin-top: -20px;
        font-size: 32px;
        line-height: 32px;
      }

      &.timestamp {
        right: 20px;
        top: 50%;
        margin-top: -23px;
        display: inline-block;
      }

      &.date,
      &.time {
        position: relative;
        display: block;
        text-align: center;
      }
    }
  }
}

#flip {
  h2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: -80px 0 0;
    text-align: center;
    color: #fff;
    font-weight: normal;
  }
}

#quit {
  margin-top: 60px;
  transform: translateX(-100%);
  transition: transform .25s;

  .frame {
    text-align: center;

    h2 {
      margin: 0;
    }

    button {
      margin: 20px 10px;
    }
  }

  &.OPEN {
    transform: translateX(0%);
  }
}

.pl-game.PAUSED {
  &:before,
  &:after {
    display: none !important;
  }
}
