@import 'variables';

.item-drawer-component {
    button.select {
        opacity: .7;
        pointer-events: none;
        transition: opacity .5s;
    }

    &.ANSWERED {
        button.select {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.item-drawer-container {
    display: inline-block;
    background-image: url(../media/_Frames/SK_frames_general.png);
    background-repeat: no-repeat;
    background-size: 6500px;
    background-position: -1640px 0;
    vertical-align: middle;
    width: 1065px;
    height: 836px;
    margin: 20px 0 20px 120px;
    padding: 25px;

    h2 {
        text-transform: uppercase;
        color: $white;
        text-align: center;
        font-size: 90px;
        margin: 0;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    }
}

.item-drawer {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
        position: relative;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url(../media/_Frames/SK_frames_Image.png);
        background-size: 350px;
        background-position: -30px -370px;
        width: 300px;
        height: 300px;
        padding: 0 30px;
        font-size: 28px;
        text-align: center;
        border: 2px solid transparent;
        transition: border .5s;
        margin: 0 10px 20px;

        img {
            max-width: 100%;

            &:only-child {
                height: 100%;
                max-width: 120%;
                margin-left: -10%;
            }
        }

        .name {
            font-size: 46px;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-image: url(../media/_Frames/SK_frames_Image.png);
            background-size: 350px;
            background-position: -30px -20px;
            opacity: 0;
            transition: opacity .5s;
        }

        &:hover,
        &.SELECTED {
            &::before {
                opacity: 1;
            }
        }
    }

    &.messages {
        li {
            width: 100%;
            height: 80px;
            background-image: url(../media/_Frames/SK_frames_message.png);
            background-size: 3000px;
            background-repeat: no-repeat;
            background-position: -1000px -5px;
            text-align: left;

            &.white {
                background-position: -2000px -5px;
            }

            &::before {
                display: none;
            }

            &:hover,
            &.SELECTED {
                background-position: 0 -5px;
            }

            img {
                max-width: 100%;
                max-height: 82%;
                height: 82%;
                margin: 5px 0;
            }
        }
    }

    &.backgrounds {
        li {
            width: 480px;
            height: 330px;
            background-image: url(../media/_Frames/SK_frames_Background.png);
            background-size: 560px;
            background-repeat: no-repeat;
            background-position: 0 -370px;
            margin: 0;

            &::before {
                background-image: url(../media/_Frames/SK_frames_Background.png);
                background-size: 560px;
                background-repeat: no-repeat;
                background-position: 0 -7px;
            }

            img {
                max-width: 107%;
                margin: 1% 0 0 -5%;
                height: 79%;

                &:only-child {
                    max-width: 110%;
                    margin-left: -6%;
                }
            }
        }
    }
}
