.menu {
  padding: 140px 0 0 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  height: 540px;
  max-height: 540px;
  transition: max-height .5s, padding .5s;
  box-sizing: border-box;

  > li {
    list-style: none;
    display: block;
    margin-left: -130px;
    max-height: 70px;
    overflow: hidden;
    transition: margin .5s, max-height .5s;

    span {
      position: relative;
      display: block;
      width: 200px;
      height: 70px;
      line-height: 70px;
      border-radius: 0 30px 30px 0;
      background-image: url(../media/_Buttons/SK_btn_slidenav.png);
      background-size: 1350px;
      z-index: 2;
    }

    &.SELECTED,
    &:hover {
      margin-left: -2px;
    }

    $classes: messages images sounds effects;
    $left:         226    226    226     226;
    $top:            5     80    155     230;

    @for $i from 1 through 4 {
      &.#{nth($classes, $i)} span {
        background-position: ((-1 * nth($left, $i))+px) ((-1 * nth($top, $i))+px);
      }
    }

    &.messages {
      .menu {
        background-position: 0px -500px;
        height: 240px;
      }
    }

    &.images {
      .menu {
        background-position: -850px -500px;
      }

      &.SELECTED {
        margin-top: -40px;
      }
    }
  }

  .menu {
    padding-top: 0;
    position: relative;
    max-height: 0;
    bottom: auto;
    width: 170px;
    margin: -10px 10px 10px;
    z-index: 1;
    background-image: url(../media/_Frames/SK_frames_canvas.png);
    background-size: 2550px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      margin: 0;

      &:nth-of-type(1) {
        margin: 15px 0 0;
      }

      &:last-of-type {
        margin: 0 0 22px;
      }

      span {
        display: block;
        width: 140px;
        height: 42px;
        line-height: 40px;
        border-radius: 0;
        margin-left: 17px;
        font-size: 20px;
        text-align: center;
        background-size: 1050px;
        background-image: url(../media/_Buttons/SK_btn_catergorymenu.png);
      }

      $classes: backgrounds word-bubbles animals discover emoji fantasy greetings kudos challenges statements;
      $left:              8            8       8        8     8     308       758   758        758        758;
      $top:               5           55     105      155   205       5         5    55        105        155;

      @for $i from 1 through 10 {
        &.#{nth($classes, $i)} span {
          background-position: ((-1 * nth($left, $i))+px) ((-1 * nth($top, $i))+px);
        }
      }
    }
  }

  &.ACTIVE {

    > li {
      max-height: 0px;

      &.SELECTED {
        max-height: 440px;

        .menu {
          max-height: 370px;
        }
      }
    }
  }
}
