.menu {
  padding: 40px 0 0 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 2;
  height: 340px;
  max-height: 540px;
  transition: max-height .5s, padding .5s;
  box-sizing: border-box;

  > li {
    list-style: none;
    display: block;
    margin-left: -130px;
    max-height: 70px;
    transition: margin .5s, max-height .5s;

    span {
      display: block;
      width: 200px;
      height: 70px;
      line-height: 70px;
      border-radius: 0 30px 30px 0;
      background-image: url(../media/_Buttons/SK_btn_slidenav.png);
      background-size: 1350px;
    }

    &.SELECTED,
    &:hover {
      margin-left: -2px;
    }

    $classes: messages images sounds effects;
    $left:         226    226    226     226;
    $top:            5     80    155     230;

    @for $i from 1 through 4 {
      &.#{nth($classes, $i)} span {
        background-position: ((-1 * nth($left, $i))+px) ((-1 * nth($top, $i))+px);
      }
    }


  }

  .menu {
    padding-top: 0;
    position: relative;
    max-height: 0;
    bottom: auto;

    li {
      margin-left: 0;

      span {
        display: block;
        width: 140px;
        height: 42px;
        line-height: 40px;
        border-radius: 0;
        margin-left: 20px;
        font-size: 20px;
        text-align: center;
        background-size: 1050px;
        background-image: url(../media/_Buttons/SK_btn_catergorymenu.png);
      }

      $classes: backgrounds word-bubbles animals discover emoji fantasy greetings kudos challenges statements;
      $left:              8            8       8        8     8     308       758   758        758        758;
      $top:               5           55     105      155   205       5         5    55        105        155;

      @for $i from 1 through 10 {
        &.#{nth($classes, $i)} span {
          background-position: ((-1 * nth($left, $i))+px) ((-1 * nth($top, $i))+px);
        }
      }
    }
  }

  &.ACTIVE {
    padding-top: 0;

    > li {
      max-height: 0px;

      &.SELECTED {
        max-height: 540px;

        .menu {
          max-height: 540px;
        }
      }
    }
  }
}
