@import 'variables';
@import 'mixins';

.menu {
    padding: 140px 0 0 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 900px;
    max-height: 900px;
    transition: max-height .5s, padding .5s;
    box-sizing: border-box;

    * {
        z-index: 2;
    }

    > li {
        list-style: none;
        display: block;
        margin-left: -260px;
        max-height: 140px;
        overflow: hidden;
        transition: margin .5s, max-height .5s;

        span {
            position: relative;
            display: block;
            width: 410px;
            height: 140px;
            line-height: 70px;
            border-radius: 0 30px 30px 0;
            background-image: url(../media/_Buttons/SK_btn_slidenav.png);
            background-size: 2700px;
            z-index: 2;
            color: transparent;
            font-size: 0;
        }

        &.SELECTED,
        &:hover {
            margin-left: -2px;
        }

        $classes: messages images sounds effects send preview edit edit-right inbox reply;
        $left:                 452        452        452         452 2250        2250 1350             2250    1350    2250;
        $top:                     10        160        310         460        0         155        0                305     155     455;

        @for $i from 1 through 10 {
            &.#{nth($classes, $i)} span {
                background-position: ((-1 * nth($left, $i))+px) ((-1 * nth($top, $i))+px);
            }
        }

        &.messages {
            .menu {
                background-position: 0px -1000px;
                height: 480px;
            }
        }

        &.images {
            .menu {
                background-position: -1700px -1000px;
            }

            &.SELECTED {
                margin-top: -80px;
            }
        }
    }

    .menu {
        padding-top: 0;
        position: relative;
        max-height: 0;
        bottom: auto;
        width: 340px;
        margin: -20px 20px 20px;
        background-image: url(../media/_Frames/SK_frames_canvas.png);
        background-size: 5100px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            margin: 0;

            &:nth-of-type(1) {
                margin: 30px 0 0;
            }

            &:last-of-type {
                margin: 0 0 44px;
            }

            span {
                display: block;
                width: 280px;
                height: 84px;
                line-height: 80px;
                border-radius: 0;
                margin-left: 34px;
                font-size: 40px;
                text-align: center;
                background-size: 600px;
                background-repeat: no-repeat;
                background-image: url(../media/_Buttons/SK_btn_catergorymenu.png);
                background-position: -10px -10px;
                color: $black;
                font-size: 40px;
                text-transform: uppercase;
            }

            &:hover span {
                background-position: -310px -10px;
                color: $white;
            }
        }
    }

    &.ACTIVE {
        z-index: 3;

        > li {
            max-height: 0px;

            &.SELECTED {
                max-height: 880px;

                .menu {
                    max-height: 740px;
                }
            }
        }
    }

    &.recipient {
        padding-top: 30px;
        height: auto;
        z-index: 3;

        li {
            position: relative;
            margin-left: -370px;

            &:hover {
                margin-left: -2px;
            }

            span {
                color: $white;
                font-size: 36px;
            }

            > span {
                height: 80px;
                width: 465px;
                background-size: 1000px;
                background-image: url(../media/_Buttons/SK_btn_friend.png);
                background-position: -500px -10px;

                &:empty {
                    background-position: 0px -120px;
                }
            }

            .name {
                float: right;
                height: auto;
                width: auto;
                margin: 10px 100px 0 0;
                background: none;
                color: $white;
            }

            .profile-image {
                position: absolute;
                right: 34px;
                top: 17px;
                width: 50px;
                height: 50px;
                background-color: $white;
            }
        }
    }

    &.right-menu {
        top: 50%;
        left: 1445px;
        height: auto;
        padding: 0;
        transform: translateY(-50%);
        overflow: visible;
        z-index: 2;

        > li {
            margin-left: 0px;
            max-height: 150px;

            &.SELECTED {
                margin-left: 0px;
            }

            &:hover {
                margin-left: -250px;
            }

            span {
                border-radius: 30px 0 0 30px;
                height: 150px;
            }
        }
    }
}
