.reveal {
    ul {
        position: relative;
        padding: 0;
        margin: 0;
    }

    li {
        position: absolute;
        width: 100%;
        height: 100%;
        list-style: none;
        opacity: 0;
        transition: opacity 0.5s;
        z-index: 0;

        &.OPEN {
            opacity: 1;
            z-index: 1;
        }
    }
}
