.scroll-area {
    position: relative;
    padding-right: 30px;
    cursor: auto;
    border: 0;
    height: 100%;

    .area {
        height: 100%;
        overflow: auto;
    }

    .scrollbar {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 30px;

        &::before {
            content: '';
            display: block;
            height: 100%;
            width: 10px;
            position: absolute;
            left: -4px;
            top: 0;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, .7);
        }
    }

    .scroller {
        position: absolute;
        left: -37px;
        top: 0;
        display: block;
        width: 80px;
        height: 100px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
